<!-- Layout footer -->
<nav class="layout-footer footer bg-footer-theme">
    <div class="container-fluid d-flex flex-wrap justify-content-between  container-p-x pb-3">
        <div class="pt-3">
            Разработка сайта by
            <img src="~/img/raynovgroup-logo.ico" class="ui-w-20" />
            <a href="https://www.raynovgroup.com" target="_blank" class="footer-text font-weight-bolder text-decoration-hover">RaynovGroup</a> ©
        </div>
        <div class="pt-3">
            <a href="javascript:void(0)" class="footer-link">О продукте</a>
            @*<a asp-area="Help" asp-controller="Center" asp-action="Index" class="footer-link pt-3 ml-4">Help-center</a>*@
            @*<a href="javascript:void(0)" class="footer-link pt-3 ml-4">Contact</a>*@
            <a asp-area="" asp-controller="Feedback" asp-action="Create" class="footer-link ml-4">
                @*<i class="sidenav-icon pe-7s-display1"></i>*@
                Обратная связь
            </a>
        </div>
    </div>
    <div class="container-fluid d-flex flex-wrap justify-content-between container-p-x pb-3">
        <div class="pt-1">
            <a href="~/documents/personal_data_processing_policy.pdf" target="_blank" class="footer-link mr-4">Политика конфиденциальности</a>
            <a href="~/documents/terms_of_use.pdf" target="_blank" class="footer-link mr-4">Пользовательское соглашение</a>
        </div>
        <div class="pt-1">© 2020 Управление финансами Budgetto.org</div>
    </div>
</nav>
<!-- / Layout footer -->
@*<nav class="footer bg-white pt-2">
        <div class="container pt-5">
            <div class="row">

                <div class="col-lg-3 pr-lg-4 pb-5">
                    <a href="#" class="footer-text d-block text-large font-weight-bolder mb-3">Brand</a>

                    <a href="#" class="footer-link d-block pb-2">About Us</a>
                    <a href="#" class="footer-link d-block pb-2">Help</a>
                    <a href="#" class="footer-link d-block pb-2">Contact</a>
                    <a href="#" class="footer-link d-block pb-4">Terms &amp; Conditions</a>

                    <a class="text-twitter" href="#">
                        <i class="ion ion-logo-twitter"></i>
                    </a>
                    &nbsp; &nbsp;
                    <a class="text-facebook" href="#">
                        <i class="ion ion-logo-facebook"></i>
                    </a>
                    &nbsp; &nbsp;
                    <a class="text-instagram" href="#">
                        <i class="ion ion-logo-instagram"></i>
                    </a>
                </div>

                <div class="col-lg pb-4 pl-lg-4">
                    <div class="footer-text small font-weight-bold mb-3">LATEST IMAGES</div>

                    <div class="clearfix">
                        <a href="#" class="d-block float-left ui-w-60 pr-2 pb-2">
                            <span class="d-block ui-square ui-bg-cover" style="background-image: url('/products/appwork/v152/assets_/img/bg/1.jpg');"></span>
                        </a>
                        <a href="#" class="d-block float-left ui-w-60 pr-2 pb-2">
                            <span class="d-block ui-square ui-bg-cover" style="background-image: url('/products/appwork/v152/assets_/img/bg/2.jpg');"></span>
                        </a>
                        <a href="#" class="d-block float-left ui-w-60 pr-2 pb-2">
                            <span class="d-block ui-square ui-bg-cover" style="background-image: url('/products/appwork/v152/assets_/img/bg/3.jpg');"></span>
                        </a>
                        <a href="#" class="d-block float-left ui-w-60 pr-2 pb-2">
                            <span class="d-block ui-square ui-bg-cover" style="background-image: url('/products/appwork/v152/assets_/img/bg/4.jpg');"></span>
                        </a>
                        <a href="#" class="d-block float-left ui-w-60 pr-2 pb-2">
                            <span class="d-block ui-square ui-bg-cover" style="background-image: url('/products/appwork/v152/assets_/img/bg/5.jpg');"></span>
                        </a>
                        <a href="#" class="d-block float-left ui-w-60 pr-2 pb-2">
                            <span class="d-block ui-square ui-bg-cover" style="background-image: url('/products/appwork/v152/assets_/img/bg/6.jpg');"></span>
                        </a>
                        <a href="#" class="d-block float-left ui-w-60 pr-2 pb-2">
                            <span class="d-block ui-square ui-bg-cover" style="background-image: url('/products/appwork/v152/assets_/img/bg/7.jpg');"></span>
                        </a>
                        <a href="#" class="d-block float-left ui-w-60 pr-2 pb-2">
                            <span class="d-block ui-square ui-bg-cover" style="background-image: url('/products/appwork/v152/assets_/img/bg/8.jpg');"></span>
                        </a>
                        <a href="#" class="d-block float-left ui-w-60 pr-2 pb-2">
                            <span class="d-block ui-square ui-bg-cover" style="background-image: url('/products/appwork/v152/assets_/img/bg/9.jpg');"></span>
                        </a>
                        <a href="#" class="d-block float-left ui-w-60 pr-2 pb-2">
                            <span class="d-block ui-square ui-bg-cover" style="background-image: url('/products/appwork/v152/assets_/img/bg/10.jpg');"></span>
                        </a>
                        <a href="#" class="d-block float-left ui-w-60 pr-2 pb-2">
                            <span class="d-block ui-square ui-bg-cover" style="background-image: url('/products/appwork/v152/assets_/img/bg/11.jpg');"></span>
                        </a>
                        <a href="#" class="d-block float-left ui-w-60 pr-2 pb-2">
                            <span class="d-block ui-square ui-bg-cover" style="background-image: url('/products/appwork/v152/assets_/img/bg/12.jpg');"></span>
                        </a>
                        <a href="#" class="d-block float-left ui-w-60 pr-2 pb-2">
                            <span class="d-block ui-square ui-bg-cover" style="background-image: url('/products/appwork/v152/assets_/img/bg/13.jpg');"></span>
                        </a>
                        <a href="#" class="d-block float-left ui-w-60 pr-2 pb-2">
                            <span class="d-block ui-square ui-bg-cover" style="background-image: url('/products/appwork/v152/assets_/img/bg/14.jpg');"></span>
                        </a>
                        <a href="#" class="d-block float-left ui-w-60 pr-2 pb-2">
                            <span class="d-block ui-square ui-bg-cover" style="background-image: url('/products/appwork/v152/assets_/img/bg/15.jpg');"></span>
                        </a>
                        <a href="#" class="d-block float-left ui-w-60 pr-2 pb-2">
                            <span class="d-block ui-square ui-bg-cover" style="background-image: url('/products/appwork/v152/assets_/img/bg/16.jpg');"></span>
                        </a>

                    </div>
                </div>

                <div class="col-lg pb-4 pl-lg-4">
                    <div class="footer-text small font-weight-bold mb-3">LATEST POSTS</div>

                    <div class="media mb-3">
                        <div class="ui-w-40">
                            <div class="ui-square ui-bg-cover" style="background-image: url('/products/appwork/v152/assets_/img/bg/5.jpg');"></div>
                        </div>
                        <div class="media-body ml-3">
                            <h6 class="mb-2"><a href="#" class="footer-text">Comment On The Importance Of Human Life</a></h6>
                            <div class="small">May 21, 2017</div>
                        </div>
                    </div>
                    <div class="media mb-3">
                        <div class="ui-w-40">
                            <div class="ui-square ui-bg-cover" style="background-image: url('/products/appwork/v152/assets_/img/bg/6.jpg');"></div>
                        </div>
                        <div class="media-body ml-3">
                            <h6 class="mb-2"><a href="#" class="footer-text">Enlightenment Is Not Just One State</a></h6>
                            <div class="small">May 21, 2017</div>
                        </div>
                    </div>
                    <div class="media">
                        <div class="ui-w-40">
                            <div class="ui-square ui-bg-cover" style="background-image: url('/products/appwork/v152/assets_/img/bg/7.jpg');"></div>
                        </div>
                        <div class="media-body ml-3">
                            <h6 class="mb-2"><a href="#" class="footer-text">Always Look On The Bright Side Of Life</a></h6>
                            <div class="small">May 21, 2017</div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="bg-light mt-4">
            <div class="container py-3">
                <div>© 2018. All rights reserved</div>
            </div>
        </div>
    </nav>*@
