@{bool isHorizontal = ViewData["LayoutSidenavHorizontal"] != null && ViewData["LayoutSidenavHorizontal"].ToString() == "True";}
@{string currentPage = ViewContext.RouteData.Values["Controller"].ToString() + "/" + ViewContext.RouteData.Values["Action"].ToString();}
@{var currentUser = MyProfile.Identity.UserInfo.Current; }

<div id="layout-sidenav"
     class="layout-sidenav sidenav sidenav-vertical bg-sidenav-theme">
    @if (!isHorizontal)
    {

        <div class="app-brand demo">
            <span class="app-brand-logo demo bg-primary">
                <svg viewBox="0 0 148 80" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><linearGradient id="a" x1="46.49" x2="62.46" y1="53.39" y2="48.2" gradientUnits="userSpaceOnUse"><stop stop-opacity=".25" offset="0"></stop><stop stop-opacity=".1" offset=".3"></stop><stop stop-opacity="0" offset=".9"></stop></linearGradient><linearGradient id="e" x1="76.9" x2="92.64" y1="26.38" y2="31.49" xlink:href="#a"></linearGradient><linearGradient id="d" x1="107.12" x2="122.74" y1="53.41" y2="48.33" xlink:href="#a"></linearGradient></defs><path style="fill: #fff;" transform="translate(-.1)" d="M121.36,0,104.42,45.08,88.71,3.28A5.09,5.09,0,0,0,83.93,0H64.27A5.09,5.09,0,0,0,59.5,3.28L43.79,45.08,26.85,0H.1L29.43,76.74A5.09,5.09,0,0,0,34.19,80H53.39a5.09,5.09,0,0,0,4.77-3.26L74.1,35l16,41.74A5.09,5.09,0,0,0,94.82,80h18.95a5.09,5.09,0,0,0,4.76-3.24L148.1,0Z"></path><path transform="translate(-.1)" d="M52.19,22.73l-8.4,22.35L56.51,78.94a5,5,0,0,0,1.64-2.19l7.34-19.2Z" fill="url(#a)"></path><path transform="translate(-.1)" d="M95.73,22l-7-18.69a5,5,0,0,0-1.64-2.21L74.1,35l8.33,21.79Z" fill="url(#e)"></path><path transform="translate(-.1)" d="M112.73,23l-8.31,22.12,12.66,33.7a5,5,0,0,0,1.45-2l7.3-18.93Z" fill="url(#d)"></path></svg>
            </span>
            <a asp-area="" asp-controller="Dashboards" asp-action="Dashboard1" class="app-brand-text demo sidenav-text font-weight-normal ml-2">Appwork</a>
            <a href="javascript:void(0)" class="layout-sidenav-toggle sidenav-link text-large ml-auto">
                <i class="ion ion-md-menu align-middle"></i>
            </a>
        </div>

        <div class="sidenav-divider mt-0"></div>
    }

    <!-- Links -->
<ul class="sidenav-inner@(!isHorizontal ? " py-1" : "")">

    <li class="sidenav-item@(currentPage == "Budget/Month" ? " active" : "")">
        <a asp-area="" asp-controller="Budget" asp-action="Month" class="sidenav-link">
            <i class="sidenav-icon pe-7s-display1"></i>
            <div>Финансы на месяц</div>
        </a>
    </li>
    <li class="sidenav-item@(currentPage == "Budget/Year" ? " active" : "")">
        <a asp-area="" asp-controller="Budget" asp-action="Year" class="sidenav-link">
            <i class="sidenav-icon pe-7s-display1"></i>
            <div>Финансы на год</div>
        </a>
    </li>

    <li class="sidenav-divider mb-1"></li>
    @*<li class="sidenav-header small font-weight-semibold">ELEMENTS</li>*@

    <li class="sidenav-item@(currentPage == "Limit/List" ? " active" : "")" data-toggle="tooltip" data-delay='{"show":"1000", "hide":"0"}' data-placement="right"
        title="Лимиты позволяют контролировать траты по выбранным категориям. В одном лимите можно совмещать несколько категорий.
           Например, поставьте себе лимит на фастфуд или продукты и отслеживайте его на страницах 'Финансы на месяц' и 'Финансы на год'.">
        <a asp-area="" asp-controller="Limit" asp-action="List" class="sidenav-link"><i class="sidenav-icon lnr lnr-frame-expand"></i><div>Лимиты</div></a>
    </li>

    <li class="sidenav-item@(currentPage == "Goal/List" ? " active" : "")" data-toggle="tooltip" data-delay='{"show":"1000", "hide":"0"}' data-placement="right"
        title="На этой странице можно создавать финансовые цели.
           Отслеживать прогресс по цели можно на страницах 'Финансы на месяц' и 'Финансы на год'.">
        <a asp-area="" asp-controller="Goal" asp-action="List" class="sidenav-link"><i class="sidenav-icon lnr lnr-rocket"></i><div>Цели</div></a>
    </li>

    <li class="sidenav-item@(currentPage == "ToDoList/List" ? " active" : "")">
        <a asp-area="" asp-controller="ToDoList" asp-action="List" class="sidenav-link"><i class="sidenav-icon lnr lnr lnr-list"></i><div>Списки</div></a>
    </li>

    <li class="sidenav-item@(currentPage == "Chart/List" ? " active" : "")" data-toggle="tooltip" data-delay='{"show":"1000", "hide":"0"}' data-placement="right"
        title="Аналитику по категориям можно формировать в виде графиков. Создавайте графики здесь и размещайте
           их на страницах 'Финансы на месяц' и 'Финансы на год'.">
        <a asp-area="" asp-controller="Chart" asp-action="List" class="sidenav-link"><i class="sidenav-icon lnr lnr-pie-chart"></i><div>Графики</div></a>
    </li>

    <li class="sidenav-item@(currentPage == "Template/List" ? " active" : "")" data-toggle="tooltip" data-delay='{"show":"1000", "hide":"0"}' data-placement="right"
        title="На этой странице вы можете создавать шаблоны для таблиц, которые отображаются на страницах «Финансы на месяц» и «Финансы на год».
           Шаблон со звёздочкой является шаблоном по умолчанию.">
        <a asp-area="" asp-controller="Template" asp-action="List" class="sidenav-link"><i class="sidenav-icon lnr lnr-layers"></i><div>Шаблоны</div></a>
    </li>

    <li class="sidenav-item@(currentPage == "Subscription/List" ? " active" : "")" data-toggle="tooltip" data-delay='{"show":"1000", "hide":"0"}' data-placement="right"
        title="">
        <a asp-area="" asp-controller="Subscription" asp-action="List" class="sidenav-link"><i class="sidenav-icon ion ion-ios-pricetags"></i><div>Подписки</div></a>@*lnr lnr-tag*@
    </li>


    <li class="sidenav-divider mb-1"></li>
    @*<li class="sidenav-header small font-weight-semibold">ELEMENTS</li>*@

    <li class="sidenav-item@(currentPage == "Section/Edit" ? " active" : "")" data-toggle="tooltip" data-delay='{"show":"1000", "hide":"0"}' data-placement="right"
        title="На этой странице вы можете создавать категории трат и объединять их в группы для вашего удобства.
Если вы хотите создать новую группу, введите её название в поисковой строке и нажмите «Создать группу категорий».">
        <a asp-area="" asp-controller="Section" asp-action="Edit" class="sidenav-link"><i class="sidenav-icon pe-7s-albums"></i><div>Категории</div></a>
    </li>

    <li class="sidenav-item@(currentPage == "Budget/TimeLine" ? " active" : "")" data-toggle="tooltip" data-delay='{"show":"1000", "hide":"0"}' data-placement="right"
        title="В календаре отображаются все совершенные вами финансовые операции за выбранный год.
При наведении на интересующую дату вы можете увидеть сумму трат за день или количество внесённых операций.">
        <a asp-area="" asp-controller="Budget" asp-action="TimeLine" class="sidenav-link"><i class="sidenav-icon lnr lnr-calendar-full"></i><div>Календарь</div></a>
    </li>

    <li class="sidenav-item@(currentPage == "History/Records" ? " active" : "")" data-toggle="tooltip" data-delay='{"show":"1000", "hide":"0"}' data-placement="right"
        title="В истории отображаются все совершенные вами финансовые операции за выбранный период.">
        <a asp-area="" asp-controller="History" asp-action="Records" class="sidenav-link"><i class="sidenav-icon lnr lnr-history"></i><div>История</div></a>
    </li>

    @if (currentUser.UserTypeID == (int)MyProfile.Entity.Model.UserTypeEnum.Admin)
    {
        <li class="sidenav-item ">
            <a href="javascript:void(0)" class="sidenav-link sidenav-toggle">
                <i class="sidenav-icon lnr lnr-cog"></i>
                <div>Admins</div>
            </a>

            <ul class="sidenav-menu @(currentPage == "Admin/SchedulerTask/List" ? " active" : "")">
                <li class="sidenav-item">
                    <a asp-area="Admin" asp-controller="SchedulerTask" asp-action="List" class="sidenav-link">
                        <div>Task</div>
                    </a>
                </li>
            </ul>
            <ul class="sidenav-menu @(currentPage == "Admin/UserActions/List" ? " active" : "")">
                <li class="sidenav-item">
                    <a asp-area="Admin" asp-controller="UserActions" asp-action="List" class="sidenav-link">
                        <div>User actions</div>
                    </a>
                </li>
            </ul>
            <ul class="sidenav-menu @(currentPage == "Admin/UserActions/List" ? " active" : "")">
                <li class="sidenav-item">
                    <a asp-area="Admin" asp-controller="UserSessions" asp-action="List" class="sidenav-link">
                        <div>User Sessions</div>
                    </a>
                </li>
            </ul>
        </li>
    }

    <li class="sidenav-item margin-top-auto @(currentPage == "Help/Center/Index" ? " active" : "")">
        <a asp-area="Help" asp-controller="Center" asp-action="Index" class="sidenav-link"><i class="sidenav-icon lnr lnr-question-circle"></i><div>Help center/Помощь</div></a>
    </li>

    @*<li class="sidenav-header small font-weight-semibold">ELEMENTS</li>*@
</ul>
</div>
