<!-- Layout footer -->
<nav class="layout-footer footer bg-footer-theme">
    <div class="container-fluid d-flex flex-wrap justify-content-between text-center container-p-x pb-3">
        <div class="pt-3">© 2020 Управление финансами Budgetto.ru</div>
        <div class="pt-3">
            <a href="javascript:void(0)" class="footer-link">О продукте</a>
            @*<a asp-area="Help" asp-controller="Center" asp-action="Index" class="footer-link pt-3 ml-4">Help-center</a>*@
            @*<a href="javascript:void(0)" class="footer-link pt-3 ml-4">Contact</a>*@
            <a asp-area="" asp-controller="Feedback" asp-action="Create" class="footer-link ml-4">
                @*<i class="sidenav-icon pe-7s-display1"></i>*@
                Обратная связь
            </a>
        </div>
        <div class="pt-3">
            Разработка сайта by
            <img src="~/img/raynovgroup-logo.ico" class="ui-w-20" />
            <a href="https://www.raynovgroup.com" target="_blank" class="footer-text font-weight-bolder text-decoration-hover">RaynovGroup</a> ©
        </div>
        <div class="pt-1">
            <a href="~/documents/personal_data_processing_policy.pdf" target="_blank" class="footer-link mr-4">Политика обработки персональных данных</a>
            <a href="~/documents/terms_of_use.pdf" target="_blank" class="footer-link mr-4">Пользовательское соглашение</a>
        </div>
    </div>
</nav>
<!-- / Layout footer -->
