<div class="modal fade" id="modal-area">
	<div class="modal-dialog">
		<form class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">
					Payment <span class="font-weight-light">Budget Area</span><br>
				</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
			</div>
			<div class="modal-body">
				<div class="form-row">
					<div class="form-group col">
						<label class="form-label">Name</label>
						<input type="text" class="form-control" placeholder="Name" v-model="area.name">
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col mb-0">
						<label class="form-label">Description</label>
						<textarea class="form-control" v-model="area.description" placeholder="Description"></textarea>
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col mb-0">
						<label class="form-label">Included area</label>
						<select id="collectiveArea" multiple class="form-control">
							<option v-for="_area in areas"
									v-if="!_area.canEdit"
									v-bind:value="_area.id">
								{{ _area.name }}
							</option>
							<option v-for="_area in area.collectiveAreas"
									v-if="!_area.canEdit"
									v-bind:value="_area.id"
									selected>
								{{ _area.name }}
							</option>
						</select>
					</div>

				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary" v-on:click="save">Save</button>
			</div>
		</form>
	</div>
</div>