@{
    ViewData["Title"] = "Категории";
}

@section Styles {
    @*<link href="~/vendor/libs/colorPick-custom/colorPick.css" rel="stylesheet" />*@
    <link href="~/vendor/libs/select2/select2.css" rel="stylesheet" />
    <style>
        .updated-item {
            float: right;
            margin-top: -20px;
            margin-right: -32px;
            color: var(--green);
        }

        .picker {
            border-radius: 5px;
            /*width: 40px;*/
            width: 100%;
            height: 20px;
            cursor: pointer;
            transition: all linear .2s;
            border: thin solid #ccc;
        }


        #cssIcon > div.form-group {
            height: 200px;
            overflow-x: auto;
            width: 103%;
        }

        .icon-box {
            opacity: .8;
            cursor: pointer;
            margin: 5px 5px 5px;
            display: inline-block;
        }

            .icon-box:hover {
                opacity: 1;
            }

            .icon-box i {
                font-size: large;
            }
    </style>

}

@section Scripts {
    @*<script src="~/vendor/libs/colorPick-custom/colorPick.js"></script>*@
    <script src="~/js/section-list.js"></script>

    @*<script src="~/js/vue-components/vue-select2-component.js"></script>*@
    <script src="~/vendor/libs/select2/select2.js"></script>
}



<h4 class="d-flex flex-wrap w-100 font-weight-bold pt-2 mb-4">
    <span class="pe-7s-albums display-4 text-primary mr-2"></span>
    <span class="px-0 pb-2 pt-2">
        Категории
    </span>
</h4>

<div class="row">
    <div class="col-md-6 col-sm-12" id="area-vue" v-cloak>

        @*<vue-select2-component data-id="collectiveSectionIDs"
            url=''
            selected-property-name="id"
            v-bind:minimum-input-length="0"
            v-bind:metadata="[
                     {text: 'Название категории',
                     isOption: true,
                     isPlaceholder: true,
                     propertyName: 'SectionName'},
                     {text: 'Название области',
                     isOption: true,
                     isPlaceholder: true,
                     propertyName: 'AreaName'}]"></vue-select2-component>*@
        <div class="card mb-3">

            <h6 class="card-header with-elements">
                <div class="card-header-title">Области</div>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Поиск области" v-model="searchText">
                    <div class="input-group-append">
                        <button type="button" class="btn btn-primary" v-on:click="create">Добавить</button>
                    </div>
                </div>
            </h6>

            <div class="card-body">

                <div class="card ui-bordered mt-3 area-item custom-card-hover"
                     v-for="area in areas"
                     v-show="area.isShow_Filtered"
                     v-bind:class="area.isShowOnSite ? 'border-primary' : 'border-secondary'">
                    <div class="d-flex flex-wrap justify-content-between align-items-center p-3">
                        <div>
                            <strong>{{ area.name }}</strong> &nbsp;
                            <a href="javascript:void(0)" class="small" v-on:click="selectArea(area, $event)">Показать категории</a><br>
                            <small class="text-muted">{{ area.description }}</small>
                        </div>
                    </div>
                    <div class="cards">
                        <div class="card-section" v-for="section in area.sections">
                            <div class="card border-0 text-body"
                                 v-bind:style="'background-color:' + section.cssBackground">
                                <div class="card-body d-flex  align-items-center p-2" v-bind:style="'color:'+section.cssColor">
                                    <i class="text-xlarge opacity-75" v-bind:class="section.cssIcon"></i><div class="ml-2">
                                        <div class="">{{section.name}}</div>
                                        <div class="small opacity-75" style="margin-top: -5px;">
                                            {{ area.name }}
                                            <div class="ml-2" style="display: inline-block;" v-show="section.collectiveSections.length > 0">
                                                <i class="oi oi-layers d-block1"></i> +{{section.collectiveSections.length}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr class="m-0">
                    <div class="p-3">
                        <button class="btn btn-primary btn-sm" v-on:click="edit(area)">
                            <i class="far fa-edit pr-2"></i>Редактировать
                        </button>
                        <button title="Удалить" class="btn icon-btn btn-sm btn-outline-secondary" v-on:click="remove(area)"
                                v-if="area.sections == undefined || area.sections.length == 0">
                            <span class="ion ion-md-trash"></span>
                        </button>
                        <div class="d-inline-flex align-items-center align-middle float-right ml-1">
                            <span class="px-1 ml-2 ml-lg-0">
                                <span class="fas fa-eye text-primary" title="Показывать везде на сайте" v-show="area.isShowOnSite"></span>
                                <span class="fas fa-eye-slash text-secondary" title="Скрывать везде на сайте" v-show="area.isShowOnSite == false"></span>
                                @*<span class="fas fa-users text-primary" title="Эту область выдят все" v-show="area.isShowInCollective"></span>
                                    <span class="fas fa-users-slash text-secondary" title="Эту область выдите только вы" v-show="area.isShowInCollective == false"> </span>*@
                            </span>
                        </div>
                    </div>
                </div>
                <div class="collapse table-responsive" id="order-4153148974123">

                </div>

            </div>
        </div>
        @Html.Partial("_ModelArea")
    </div>
    <div class="col-md-6 col-sm-12" id="section-vue">
        <div class="card mb-3">
            <h6 class="card-header with-elements">
                <div class="card-header-title">
                    Категории {{areaName ? ' для '+  areaName : '' }}
                </div>
                <div class="input-group" v-show="areaID != null">
                    <input type="text" class="form-control" placeholder="Поиск категори" v-model="searchText">
                    <div class="input-group-append">
                        <button type="button" class="btn btn-primary" v-on:click="create">Добавить</button>
                    </div>
                </div>
            </h6>
            <div class="card-body">

                <div class="card ui-bordered mt-3 custom-card-hover"
                     v-for="section in sections"
                     v-show="section.isShow_Filtered"
                     v-bind:class="section.isShowOnSite ? 'border-primary' : 'border-secondary'">
                    <div class="p-3">
                        <i class="text-xlarge opacity-75" v-bind:class="section.cssIcon"></i>
                        <div class="float-right">
                            <a href="javascript:void(0)" class="badge badge-success " v-show="section.sectionTypeID == 1">Доходы</a>
                            <a href="javascript:void(0)" class="badge badge-danger " v-show="section.sectionTypeID == 2">Расходы</a>
                        </div>
                        <div class="display-inline ml-2">
                            <strong>{{ section.name }}</strong>
                            <br>
                            <small class="text-muted">{{ section.description }}</small>
                        </div>

                    </div>
                    <hr class="m-0">
                    <div class="p-3">
                        <button class="btn btn-primary btn-sm" v-on:click="edit(section)">
                            <i class="far fa-edit pr-2"></i>Редактировать
                        </button>
                        <button title="Удалить" class="btn icon-btn btn-sm btn-outline-secondary" v-on:click="remove(section)" v-if="section.hasRecords == false">
                            <span class="ion ion-md-trash"></span>
                        </button>
                        <div class="d-inline-flex align-items-center align-middle float-right ml-1">
                            <span class="px-1 ml-2 ml-lg-0">
                                <span class="fas fa-eye text-primary" title="Показывать везде на сайте" v-show="section.isShowOnSite"></span>
                                <span class="fas fa-eye-slash text-secondary" title="Скрывать везде на сайте" v-show="section.isShowOnSite == false"></span>
                                @*<span class="fas fa-users text-primary" title="Эту категорию выдят все" v-show="section.isShowInCollective"></span>
                                    <span class="fas fa-users-slash text-secondary" title="Эту категорию выдите только вы" v-show="section.isShowInCollective == false"> </span>*@
                            </span>
                        </div>
                    </div>
                </div>
                <div class="collapse table-responsive" id="order-4153148974123">
                </div>

            </div>
        </div>
        @Html.Partial("_ModelSection")
    </div>
</div>

@*<div class="" style="display: inline-block;">
        <div class="card bg-warning border-0 text-body mb-4">
            <div class="card-body d-flex  align-items-center p-2">
                <i class="ion ion-md-time text-xlarge opacity-25"></i><div class="ml-2">
                    <div class="">Расходы (продукты)</div>
                    <div class="small opacity-50" style="margin-top: -5px;">
                        Основные раходы
                        <div class="ml-2" style="display: inline-block;">
                            <i class="oi oi-layers d-block1"></i> +7
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@

@* https://codepen.io/chrishutchinson/pen/nafEp *@

<style>
    .cont {
        display: grid;
    }

    .cards {
        display: flex;
        flex-wrap: wrap;
        margin-left: 44px;
        margin-right: 68px;
    }

    .card-section {
        margin-right: -5rem;
        margin-bottom: 10px;
        box-shadow: 6px 2px 8px 3px rgba(0,0,0, 0.25);
        transition: 0.5s;
        /*        border: 1px solid gray;*/
        border-radius: 7px;
    }

        .card-section:not(:first-child) {
            margin-right: -4rem;
        }

        .card-section:hover {
            transform: translateY(-1rem);
            z-index: 10;
        }
</style>
<div class="row" style="display: none;">
    <div class="cal-4">

        <div class="cards">
            <div class="card-section">
                <div class="card border-0 text-body" style="background-color: rgb(229, 233, 235);">
                    <div class="card-body d-flex  align-items-center p-2">
                        <i class="text-xlarge opacity-25"></i><div class="ml-2">
                            <div>Зарплата</div> <div class="small opacity-50" style="margin-top: -5px;">
                                Доходы
                                <div class="ml-2" style="display: none;">
                                    <i class="oi oi-layers d-block1"></i> +0
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-section ">
                <div class="card border-0 text-body" style="background-color: rgb(229, 233, 235);">
                    <div class="card-body d-flex  align-items-center p-2">
                        <i class="text-xlarge opacity-25"></i><div class="ml-2">
                            <div>Другие доходы</div> <div class="small opacity-50" style="margin-top: -5px;">
                                Доходы
                                <div class="ml-2" style="display: none;">
                                    <i class="oi oi-layers d-block1"></i> +0
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-section ">
                <div class="card border-0 text-body" style="background-color: rgb(229, 233, 235);">
                    <div class="card-body d-flex  align-items-center p-2">
                        <i class="text-xlarge opacity-25"></i><div class="ml-2">
                            <div>Выплаты</div> <div class="small opacity-50" style="margin-top: -5px;">
                                Доходы
                                <div class="ml-2" style="display: none;">
                                    <i class="oi oi-layers d-block1"></i> +0
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-section ">
                <div class="card border-0 text-body" style="background-color: rgb(229, 233, 235);">
                    <div class="card-body d-flex  align-items-center p-2">
                        <i class="text-xlarge opacity-25"></i><div class="ml-2">
                            <div>CashBack</div> <div class="small opacity-50" style="margin-top: -5px;">
                                Доходы
                                <div class="ml-2" style="display: none;">
                                    <i class="oi oi-layers d-block1"></i> +0
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-section ">
                <div class="card border-0 text-body" style="background-color: rgb(229, 233, 235);">
                    <div class="card-body d-flex  align-items-center p-2">
                        <i class="text-xlarge opacity-25"></i><div class="ml-2">
                            <div>CashBack</div> <div class="small opacity-50" style="margin-top: -5px;">
                                Доходы
                                <div class="ml-2" style="display: none;">
                                    <i class="oi oi-layers d-block1"></i> +0
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="cal-8">
    </div>
</div>

@*<style>

        .cards {
            cursor: pointer;
        }

            .cards .card-section {
                border-radius: 10px;
                position: absolute;
                left: 0px;
                box-shadow: 1px 2px 2px 0 #aaa;
                -webkit-transition: all 0.4s cubic-bezier(0.63, 0.15, 0.03, 1.12);
                transition: all 0.4s cubic-bezier(0.63, 0.15, 0.03, 1.12);
            }

                .cards .card-section.card-1 {
                    z-index: 10;
                    -webkit-transform: rotateZ(-2deg);
                    transform: rotateZ(-2deg);
                }

                .cards .card-section.card-2 {
                    z-index: 9;
                    -webkit-transform: rotateZ(-7deg);
                    transform: rotateZ(-7deg);
                    -webkit-transition-delay: 0.05s;
                    transition-delay: 0.05s;
                }

                .cards .card-section.card-3 {
                    z-index: 8;
                    -webkit-transform: rotateZ(5deg);
                    transform: rotateZ(5deg);
                    -webkit-transition-delay: 0.1s;
                    transition-delay: 0.1s;
                }

            .cards.transition .card-section {
                -webkit-transform: rotateZ(0deg);
                transform: rotateZ(0deg);
            }

                .cards.transition .card-section.card-3 {
                    left: 240px;
                }

                .cards.transition .card-section.card-2 {
                    left: 120px;
                }
    </style>*@
<script>
    jQuery(document).ready(function ($) {
        $('.cards').on('click', function () {
            $(this).toggleClass('transition');
        });

        //$(".inline-spacing").on("click", function () {
        //    //$(this).find(".card-section").each(function (index, el) {
        //    //    $(el).toggleClass("transition");
        //    //});
        //    //$(this).find(".card-section").each(function (index, el) {
        //    //    if (index == 0) {
        //    //        $(el).attr("style", "    position: relative;z-index: " + index);
        //    //    } else {
        //    //        $(el).attr("style", "z-index: " + index + ";top: 24px;position: absolute;left: " + (index * 10 + 34) + "px;");
        //    //    }
        //    //});
        //});
    });
</script>

<style>
    /*    js Animated Card Stacks*/
    /*    https://www.youtube.com/watch?v=NXtz59SJYfM*/
    /*    https://css-tricks.com/*/
    .cont {
        display: grid;
    }

    .cards {
        display: flex;
        flex-wrap: wrap;
        margin-left: 44px;
    }

    ._card {
        background: white;
        border-radius: 1rem;
        padding: 2rem;
        margin-left: -2rem;
        box-shadow: 4px 4px 12px 2px rgba(0,0,0, 0.75);
    }

        ._card:not(:first-child) {
            margin-left: -4rem;
        }

        ._card:hover {
            transform: translateY(-1rem);
        }
</style>
<div class="row" style="display: none;">
    <div class="col-3 cont">
        <div class="cards">
            <div class="_card">
                <h2>Title</h2>
                <p>Description</p>
            </div>
            <div class="_card">
                <h2>Title</h2>
                <p>Description</p>
            </div>
            <div class="_card">
                <h2>Title</h2>
                <p>Description</p>
            </div>
            <div class="_card">
                <h2>Title</h2>
                <p>Description</p>
            </div>
        </div>
    </div>
    <div class="col-9"></div>
</div>
