@{
    ViewData["Title"] = "Категории";
}

@section Styles {
    @*<link href="~/vendor/libs/colorPick-custom/colorPick.css" rel="stylesheet" />*@
    <link href="~/vendor/libs/select2/select2.css" rel="stylesheet" />
    <style>
        .updated-item {
            float: right;
            margin-top: -20px;
            margin-right: -32px;
            color: var(--green);
        }

        .picker {
            border-radius: 5px;
            /*width: 40px;*/
            width: 100%;
            height: 20px;
            cursor: pointer;
            transition: all linear .2s;
            border: thin solid #ccc;
        }


        #cssIcon > div.form-group {
            height: 200px;
            overflow-x: auto;
            width: 103%;
        }

        .icon-box {
            opacity: .8;
            cursor: pointer;
            margin: 5px 5px 5px;
            display: inline-block;
        }

            .icon-box:hover {
                opacity: 1;
            }

            .icon-box i {
                font-size: large;
            }
    </style>
    <style>
        .card-colors {
            display: flex;
            flex-wrap: wrap;
            margin-left: 44px;
            margin-right: 68px;
        }

        .card-color-section {
            margin-right: -5rem;
            margin-bottom: 10px;
            box-shadow: 6px 2px 8px 3px rgba(0,0,0, 0.25);
            transition: 0.5s;
            border-radius: 7px;
            border: 1px solid gray;
        }

            .card-color .card {
                border-radius: 7px;
            }

            .card-color-section .card-body {
                border: 1px solid gray;
                border-radius: 7px;
            }

            .card-color-section:not(:first-child) {
                margin-right: -4rem;
            }

            .card-color-section:hover {
                transform: translateY(-1rem);
                z-index: 10;
            }
        .card-color-section-selected {
            z-index: 10;
            border: 1px solid black;
        }
    </style>
}

@section Scripts {
    @*<script src="~/vendor/libs/colorPick-custom/colorPick.js"></script>*@
    <script src="~/pages/section/section-list.js"></script>

    @*<script src="~/vue-components/vue-select2-component.js"></script>*@
    <script src="~/vendor/libs/select2/select2.js"></script>
}
<h4 class="d-flex flex-wrap w-100 font-weight-bold pt-2 mb-4">
    <span class="pe-7s-albums display-4 text-primary mr-2"></span>
    <span class="px-0 pb-2 pt-2">
        Категории
    </span>
</h4>

<div class="row">
    <div class="col-md-6 col-sm-12" id="area-vue" v-cloak>
        <div class="card mb-3">

            <h6 class="card-header with-elements">
                <div class="card-header-title">Папки</div>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Поиск области" v-model="searchText">
                    <div class="input-group-append">
                        <button type="button" class="btn btn-primary" v-on:click="create">Добавить</button>
                    </div>
                </div>
            </h6>

            <div class="card-body">

                <div class="card ui-bordered mt-3 area-item custom-card-hover"
                     v-for="area in areas"
                     v-show="area.isShow_Filtered"
                     v-bind:data-area-id="area.id"
                     v-bind:class="area.isShowOnSite ? 'border-primary' : 'border-secondary'">
                    <div class="d-flex flex-wrap justify-content-between align-items-center p-3">
                        <div>
                            <strong>{{ area.name }}</strong> &nbsp;
                            <a href="javascript:void(0)" class="small" v-on:click="selectArea(area.id)">Показать категории</a><br>
                            <small class="text-muted">{{ area.description }}</small>
                        </div>
                    </div>
                    <vue-section-component data-class="cards-medium"
                                           data-records-style="margin-left: 15px;"
                                           v-bind:data-id="'areaid_'+area.id"
                                           v-bind:is-show-filter="false"
                                           v-bind:data-items="area.sections"
                                           v-on:onchoose="onChooseSection"></vue-section-component>
                    <hr class="m-0">
                    <div class="p-3">
                        <button class="btn btn-primary btn-sm" v-on:click="edit(area)">
                            <i class="far fa-edit pr-2"></i>Редактировать
                        </button>
                        <button title="Удалить" class="btn icon-btn btn-sm btn-outline-secondary" v-on:click="remove(area)"
                                v-if="area.sections == undefined || area.sections.length == 0">
                            <span class="ion ion-md-trash"></span>
                        </button>
                        <div class="d-inline-flex align-items-center align-middle float-right ml-1">
                            <span class="px-1 ml-2 ml-lg-0">
                                @*<span class="fas fa-eye text-primary" title="Показывать везде на сайте" v-show="area.isShowOnSite"></span>
                                <span class="fas fa-eye-slash text-secondary" title="Скрывать везде на сайте" v-show="area.isShowOnSite == false"></span>*@
                                @*<span class="fas fa-users text-primary" title="Эту область выдят все" v-show="area.isShowInCollective"></span>
                                    <span class="fas fa-users-slash text-secondary" title="Эту область выдите только вы" v-show="area.isShowInCollective == false"> </span>*@
                            </span>
                        </div>
                    </div>
                </div>
                <div class="collapse table-responsive" id="order-4153148974123">

                </div>

            </div>
        </div>
        @Html.Partial("_ModelArea")
    </div>
    <div class="col-md-6 col-sm-12" id="section-vue">
        <div class="card mb-3">
            <h6 class="card-header with-elements">
                <div class="card-header-title">
                    Категории {{areaName ? ' для "'+  areaName + '"' : '' }}
                </div>
                <div class="input-group" v-show="areaID != null">
                    <input type="text" class="form-control" placeholder="Поиск категори" v-model="searchText">
                    <div class="input-group-append">
                        <button type="button" class="btn btn-primary" v-on:click="create">Добавить</button>
                    </div>
                </div>
            </h6>
            <div class="card-body">

                <div class="card ui-bordered mt-3 custom-card-hover"
                     v-for="section in sections"
                     v-show="section.isShow_Filtered"
                     v-bind:class="section.isShowOnSite ? 'border-primary' : 'border-secondary'">
                    <div class="p-3">
                        <i class="text-xlarge opacity-75" v-bind:class="section.cssIcon"></i>
                        <div class="float-right">
                            <a href="javascript:void(0)" class="badge badge-success " v-show="section.sectionTypeID == 1">Доходы</a>
                            <a href="javascript:void(0)" class="badge badge-danger " v-show="section.sectionTypeID == 2">Расходы</a>
                            <a href="javascript:void(0)" class="badge badge-secondary " v-show="section.sectionTypeID == 3">Инвестиции</a>
                        </div>
                        <div class="display-inline ml-2">
                            <strong>{{ section.name }}</strong>
                            <br>
                            <small class="text-muted">{{ section.description }}</small>
                        </div>

                    </div>
                    <hr class="m-0">
                    <div class="p-3">
                        <button class="btn btn-primary btn-sm" v-on:click="edit(section)">
                            <i class="far fa-edit pr-2"></i>Редактировать
                        </button>
                        <button title="Удалить" class="btn icon-btn btn-sm btn-outline-secondary" v-on:click="remove(section)" v-if="section.hasRecords == false">
                            <span class="ion ion-md-trash"></span>
                        </button>
                        <div class="d-inline-flex align-items-center align-middle float-right ml-1">
                            <span class="px-1 ml-2 ml-lg-0">
                                @*<span class="fas fa-eye text-primary" title="Показывать везде на сайте" v-show="section.isShowOnSite"></span>
                                <span class="fas fa-eye-slash text-secondary" title="Скрывать везде на сайте" v-show="section.isShowOnSite == false"></span>*@
                                @*<span class="fas fa-users text-primary" title="Эту категорию выдят все" v-show="section.isShowInCollective"></span>
                                    <span class="fas fa-users-slash text-secondary" title="Эту категорию выдите только вы" v-show="section.isShowInCollective == false"> </span>*@
                            </span>
                        </div>
                    </div>
                </div>
                <div class="collapse table-responsive" id="order-4153148974123">
                </div>

            </div>
        </div>
        @Html.Partial("_ModelSection")
    </div>
</div>
