@{
	ViewData["Title"] = "Edit";
}

@section Styles {
	<link href="~/vendor/libs/colorPick-custom/colorPick.css" rel="stylesheet" />

	<style>
		.active-section {
			border-left: 3px solid var(--blue) !important;
			background: #D6EAF8;
		}

		.updated-item {
			float: right;
			margin-top: -20px;
			margin-right: -32px;
			color: var(--green);
		}

		.picker {
			border-radius: 5px;
			/*width: 40px;*/
			width: 100%;
			height: 20px;
			cursor: pointer;
			transition: all linear .2s;
			border: thin solid #ccc;
		}


		#cssIcon > div.form-group {
			height: 200px;
			overflow-x: auto;
			width: 103%;
		}

		.icon-box {
			opacity: .8;
			cursor: pointer;
			margin: 5px 5px 5px;
			display: inline-block;
		}

			.icon-box:hover {
				opacity: 1;
			}

			.icon-box i {
				font-size: large;
			}
	</style>
}

@section Scripts {
	<script src="~/vendor/libs/colorPick-custom/colorPick.js"></script>
	<script src="~/app_js/section-list.js"></script>

	<script src="~/app_js/vue-components/vue-select2-component.js"></script>
}


<div class="row">
	<div class="col-6" id="area-vue">
		<!-- Latest events -->
		<div class="card mb-4">
			<h6 class="card-header with-elements">
				<div class="card-header-title">Budget area</div>
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Search" v-model="searchText">
					<div class="input-group-append">
						<button type="button" class="btn btn-primary" v-on:click="create">Add</button>
					</div>
				</div>
			</h6>
			<ul class="list-group list-group-flush">
				<li class="list-group-item py-3 cursor-pointer " v-for="area in areas" v-on:click="selectArea(area, $event)" v-show="area.isShow">
					<i class="fa fa-circle updated-item" aria-hidden="true" v-show="area.isUpdated"></i>
					<span class="float-right">
						<i class="fa fa-project-diagram " style="color: var(--gray-dark);"></i>
						{{ area.sections.length }}
					</span>
					<div class="font-weight-semibold">{{ area.name }}</div>
					<small class="text-muted">{{ area.description }}</small>
					<br />
					<div class="inline-spacing">
						<div class="badge badge-pill badge-outline-secondary mr-1 mb-1" v-for="section in area.sections" v-bind:style="'box-shadow: 0 0 0 1px '+ section.cssColor +' inset; color: '+ section.cssColor">
							<i v-bind:class="section.cssIcon"></i>
							<span class="ml-1">{{section.name}}</span>
						</div>
					</div>
					<span>
						<i class="fa fa-user" v-show="area.canEdit" title="Создали вы" style="color: var(--blue);"></i>
						<i class="fa fa-user" v-show="!area.canEdit" v-bind:title="'Созданная пользователем : ' + area.owner" style="color: var(--red);"></i>
						{{ area.owner }}
					</span>

					<div class="float-right">
						<button type="button" class="btn btn-sm btn-outline-warning" v-if="area.canEdit" v-on:click="include(area)">Include</button>
						<button type="button" class="btn btn-sm btn-outline-success" v-if="area.canEdit" v-on:click="edit(area)">Edit</button>
						<button type="button" class="btn btn-sm btn-outline-danger" v-if="area.canEdit && (area.sections == undefined || area.sections.length == 0)" v-on:click="remove(area)">Remove</button>
					</div>
				</li>
			</ul>
		</div>

		<!-- Modal template -->
		<div class="modal fade" id="modal-area">
			<div class="modal-dialog">
				<form class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">
							Payment <span class="font-weight-light">Budget Area</span><br>
						</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
					</div>
					<div class="modal-body">
						<div class="form-row">
							<div class="form-group col">
								<label class="form-label">Name</label>
								<input type="text" class="form-control" placeholder="Name" v-model="area.name">
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col mb-0">
								<label class="form-label">Description</label>
								<textarea class="form-control" v-model="area.description" placeholder="Description"></textarea>
							</div>
						</div>
						@*<div class="form-row">
								<div class="form-group col mb-0">
									<label class="form-label">Icon</label>
									<input type="text" class="form-control" placeholder="DD / MM">
								</div>
							</div>*@
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<button type="button" class="btn btn-primary" v-on:click="save">Save</button>
					</div>
				</form>
			</div>
		</div>

		<!-- Modal include area -->
		<div class="modal fade" id="modal-area-include">
			<div class="modal-dialog">
				<form class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">
							Payment <span class="font-weight-light">Budget Area</span><br>
						</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
					</div>
					<div class="modal-body">
						<div class="form-row">
							<div class="form-group col">
								<label class="form-label">Name</label>
								<input type="text" class="form-control" placeholder="Name" v-model="area.name">
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col mb-0">
								<label class="form-label">Included area</label>
								<select multiple class="form-control" v-model="includedAreas">
									<option v-for="_area in areas" v-if="!_area.canEdit" v-bind:value="_area.id">{{ _area.name }}</option>
								</select>
							</div>
						</div>

					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<button type="button" class="btn btn-primary" v-on:click="saveInclude">Save</button>
					</div>
				</form>
			</div>
		</div>

	</div>
	<div class="col-6" id="section-vue">
		<!-- Latest events -->
		<div class="card mb-4">
			<h6 class="card-header with-elements">
				<div class="card-header-title">Budget sections</div>

				<div class="card-header-elements ml-auto">
					<button type="button" class="btn btn-primary btn-xs md-btn-flat" v-on:click="create" v-show="areaID != null && areaCanEdit">Add</button>
				</div>
			</h6>
			<ul class="list-group list-group-flush">
				<li class="list-group-item py-3" v-for="section in sections" v-bind:style="'border-left: 3px solid '+ section.cssColor +';'">
					<ul class="float-right list-unstyled">
						<li>{{ getMoney(section.moneyThisMonth) }} ₽, в этом месяце</li>
						<li>{{ getMoney(section.moneyThisYear) }} ₽, в этом году</li>
						<li>{{ getMoney(section.money) }} ₽, всего</li>
					</ul>
					<span class="font-weight-semibold">{{ section.name }}</span>
					<span class="badge badge-pill badge-outline-secondary" v-bind:style="'box-shadow: 0 0 0 1px '+ section.cssColor +' inset; color: '+ section.cssColor">
						<i v-bind:class="section.cssIcon"></i>
						<span class="ml-1">{{section.name}}</span>
					</span>
					<br />
					<small class="text-muted">{{ section.description }}</small>
					<br /><br /><br />
					<span>
						<i class="fa fa-user" v-show="section.canEdit" title="Создали вы" style="color: var(--blue);"></i>
						<i class="fa fa-user" v-show="!section.canEdit" v-bind:title="'Созданная пользователем : ' + section.owner" style="color: var(--red);"></i>
						{{ section.owner }}
					</span>
					<div class="float-right">
						<button type="button" class="btn btn-sm btn-outline-success" v-if="section.canEdit" v-on:click="edit(section)">Edit</button>
						<button type="button" class="btn btn-sm btn-outline-danger" v-if="section.canEdit" v-on:click="remove(section)">Remove</button>
					</div>
				</li>
			</ul>
		</div>

		<!-- Modal template -->
		<div class="modal fade" id="modal-section">
			<div class="modal-dialog">
				<form class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">
							Payment <span class="font-weight-light">Budget Area</span><br>
						</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
					</div>
					<div class="modal-body">
						<div class="form-row">
							<div class="form-group col">
								<label class="form-label">Name</label>
								<input type="text" class="form-control" placeholder="Name" v-model="section.name">
							</div>
						</div>

						<div class="form-row">
							<div class="form-group col mb-0">
								<label class="form-label">Description</label>
								<textarea class="form-control" v-model="section.description" placeholder="Description"></textarea>
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col mb-0">
								<label class="form-label">Area</label>
								<select class="form-control" v-on:change="changeArea($event)">
									<option v-for="area in areas" v-bind:value="area.id" v-bind:selected="area.id == section.areaID">{{ area.name }}</option>
								</select>
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col mb-0">
								<label class="form-label">Color</label>
								<div class="picker" id="cssColor"></div>
								@*<input type="text" class="form-control" placeholder="DD / MM">*@
							</div>
						</div>
						<br />
						<div class="btn-group btn-group-toggle" data-toggle="buttons">
							<label class="btn btn-primary active">
								<input type="radio" name="btn-radio" checked> Расходы
							</label>
							<label class="btn btn-primary">
								<input type="radio" name="btn-radio"> Доходы
							</label>
							<label class="btn btn-primary">
								<input type="radio" name="btn-radio"> Сбережения
							</label>
						</div>

						<div class="form-row">
							<div class="alert alert-info alert-dismissible fade show">
								<button type="button" class="close" data-dismiss="alert">×</button>
								text
							</div>
							<div class="form-group col-md-6">
								<label class="form-label">Лимиты</label>
								<input type="text" class="form-control" value="0">
							</div>
							<div class="form-group col-md-4">
								<select class="custom-select">
									<option>Выбрать</option>
									<option>Месяц</option>
									<option>Год</option>
								</select>
							</div>
							<div class="form-group col-md-2">
								<button type="button">Добавить</button>
							</div>
						</div>

						<div class="input-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><i v-bind:class="section.cssIcon" aria-hidden="true" style="font-size:large"></i></span>
							</div>
							<input type="text" class="form-control" placeholder="Icon" v-model="section.cssIcon">
						</div>
						<br />
						<div class="form-row" id="cssIcon">
							<div class="input-group input-group-sm">
								<input type="text" placeholder="Search" class="form-control" style="margin-left: 50%;" v-model="searchIcon">
								<span class="form-group-btn">
									<button type="button" class="btn btn-sm btn-white" v-on:click="searchIcon = '' " v-show="searchIcon != null && searchIcon != ''"> <i class="fa fa-times"></i></button>
								</span>
							</div>
							<div class="form-group col mb-0">
								<br />
								<div class="infont col-md-5 col-sm-6 icon-box" v-for="icon in icons" v-show="icon.isShow" v-on:click="selectIcon(icon)">
									<span>
										<i v-bind:class="icon.nameClass" aria-hidden="true"></i> {{ icon.name }}
									</span>
								</div>
								@*<input type="text" class="form-control" placeholder="DD / MM">*@
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<button type="button" class="btn btn-primary" v-on:click="save">Save</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
