@{
    ViewData["Title"] = "Финансы на месяц";
}

@section Styles {
    <link rel="stylesheet" asp-append-version="true" href="~/vendor/libs/datatables/datatables.css">
    <link href="~/vendor/libs/flatpickr/plugins/monthSelect.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/vendor/libs/select2/select2.css" rel="stylesheet" asp-append-version="true" />
}

@section Scripts {
    <script src="~/vendor/libs/chartjs/chartjs.js" asp-append-version="true"></script>
    <script src="~/vendor/libs/datatables/datatables.js" asp-append-version="true"></script>
    <script src="~/vendor/libs/select2/select2.js" asp-append-version="true"></script>

    <environment names="Development">
        <script src="~/vendor/libs/flatpickr/plugins/monthSelect.js" asp-append-version="true"></script>

        <script src="~/pages/budget/_budget-month.js" asp-append-version="true"></script>
        <script src="~/pages/budget/budget.js" asp-append-version="true"></script>
    </environment>
    <script>
        $(function () {
            var chart = new Chart(document.getElementById('statistics-chart-14').getContext("2d"), {
                type: 'line',
                data: {
                    datasets: [{
                        data: ['24', '92', '77', '90', '91', '78', '28', '49', '23', '81', '15', '97', '94', '16', '99', '61',
                            '38', '34', '48', '3', '5', '21', '27', '4', '33', '40', '46', '47', '48', '18'],
                        borderWidth: 1,
                        backgroundColor: 'rgba(206, 221, 54, 0.2)',
                        borderColor: '#cedd36',
                        pointBorderColor: 'rgba(0,0,0,0)',
                        pointRadius: 1,
                        lineTension: 0
                    }],
                    labels: ['', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '']
                },

                options: {
                    scales: { xAxes: [{ display: false, }], yAxes: [{ display: false }] },
                    legend: { display: false },
                    tooltips: { enabled: false },
                    responsive: true,
                    maintainAspectRatio: false
                }
            });

            // In RTL mode charts aren't resized properly
            //

            if ($('html').attr('dir') === 'rtl') {
                window.addEventListener('resize', function () {
                    chart.resize();
                });
            }
        });

                                                               // $('#modal-record1').modal('show');
    </script>
}

<div id="budget-vue" style="margin-top: -12px;">
    <input type="hidden" id="templateID_hidden" value="-1" />
    <input type="hidden" id="budgetDate_hidden" value="2021/01/01" />
    <div class="row">
        <div class="col-md-4 px-1">
            <div class="input-group budget-date">
                <span class="input-group-prepend" style="width: 50px;height: 26px;">
                    <button type="button" title="Минус 1 день" class="btn btn-sm btn-default modal-record-date-button"><i aria-hidden="true" class="fa fa-angle-left font-size-large"></i></button>
                </span>
                <input type="text" id="budget-date" class="form-control text-center flatpickr-input form-control-sm" value="2021/01/01">
                <span class="input-group-append" style="width: 50px;height: 26px;">
                    <button type="button" title="Плюс 1 день" class="btn btn-sm btn-default modal-record-date-button"><i aria-hidden="true" class="fa fa-angle-right font-size-large"></i></button>
                </span>
            </div>
        </div>
    </div>

    <div class="mt-2 row">
        <div class="col-md-12 px-1">
            <div class="card mb-4">
                <div class="row no-gutters row-bordered">
                    <div class="col-lg-4">

                        <div class="card-body pb-0">
                            <div class="text-muted small">Всего на всех счетах</div>
                            <div class="row">
                                <div class="col-md-4 text-xlarge" style="display: inline-block">
                                    24 182 ₽<small><sup class="text-success">+11.25%</sup></small>
                                </div>
                                @*<div class="col-md-8" style="display:inline-block; width: 60%; height: 50px;">
                                        <canvas id="statistics-chart-14"></canvas>
                                    </div>*@
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-4">

                        <div class="card-body pb-0">
                            <div class="text-muted small">Денежный поток ( доходы - расходы )</div>
                            <div class="row">
                                <div class="col-md-4 text-xlarge" style="display: inline-block">
                                    3 182 ₽<small><sup class="text-success">+11.25%</sup></small>
                                </div>
                                <div class="col-md-8" style="display:inline-block; width: 60%; height: 50px;">
                                    <canvas id="statistics-chart-14"></canvas>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-4">
                        <div class="card-body row">
                            <div class="col-lg-6 text-muted small ">Рабочих часов в месяц</div><div class="col-lg-6">178</div>
                            <div class="col-lg-6 text-muted small ">Доходы в час</div><div class="col-lg-6 text-success">900 ₽</div>
                            <div class="col-lg-6 text-muted small ">Расходы в день</div><div class="col-lg-6 text-success">1 200 ₽</div>
                            <div class="col-lg-6 text-muted small ">Обязательств в месяц</div><div class="col-lg-6 text-danger">12 000 ₽</div>
                        </div>

                    </div>
                </div>
                <div class="row no-gutters row-bordered" style=" border-top: 1px solid lightgray;">
                    @*<div class="col-lg-3">

                            <div class="card-body d-flex align-items-center py-3">
                                <span class="ui-icon ui-statistics-icon ion ion-ios-cash text-primary"></span>
                                <div class="ml-3">
                                    <div class="text-xlarge">10 332 ₽</div>
                                    <div class="text-muted small">Кеш</div>
                                </div>
                                <button type="button" data-toggle="dropdown" aria-expanded="false" class="btn btn-sm btn-default icon-btn borderless rounded-pill md-btn-flat dropdown-toggle hide-arrow" style="position: absolute;right: 10px;top: 5px;"><i class="ion ion-ios-more"></i></button>
                            </div>

                        </div>*@
                    <div class="col-lg-3">

                        <div class="card-body d-flex align-items-center py-3">
                            <img src="~/resources/banks/alfa-logo.svg" alt="" class="ui-w-40 rounded-circle">
                            <div class="ml-3">
                                <div class="text-xlarge">12 000 ₽</div>
                                <div class="text-muted small">Альфа банк</div>
                            </div>
                            <button type="button" data-toggle="dropdown" aria-expanded="false" class="btn btn-sm btn-default icon-btn borderless rounded-pill md-btn-flat dropdown-toggle hide-arrow" style="position: absolute;right: 10px;top: 5px;"><i class="ion ion-ios-more"></i></button>
                        </div>
                        <div class="card-footer small">
                            <span class="float-right text-success">230  ₽</span>
                            Кешбек
                        </div>

                    </div>
                    <div class="col-lg-3">

                        <div class="card-body d-flex align-items-center py-3">
                            <img src="~/resources/banks/tinkoff-bank.png" alt="" class="ui-w-40 rounded-circle">
                            <div class="ml-3">
                                <div class="text-xlarge">12 000 ₽</div>
                                <div class="text-muted small">Тинькофф банк</div>
                            </div>
                            <button type="button" data-toggle="dropdown" aria-expanded="false" class="btn btn-sm btn-default icon-btn borderless rounded-pill md-btn-flat dropdown-toggle hide-arrow" style="position: absolute;right: 10px;top: 5px;"><i class="ion ion-ios-more"></i></button>
                        </div>
                        <div class="card-footer small">
                            <span class="float-right">0  ₽</span>
                            Кешбек
                        </div>
                    </div>
                    <div class="col-lg-3">

                        <div class="card-body d-flex align-items-center py-3">
                            <img src="~/resources/banks/tinkoff-bank.png" alt="" class="ui-w-40 rounded-circle">
                            <div class="ml-3">
                                <div class="text-muted small">Тинькофф банк</div>
                            </div>
                            <button type="button" data-toggle="dropdown" aria-expanded="false" class="btn btn-sm btn-default icon-btn borderless rounded-pill md-btn-flat dropdown-toggle hide-arrow" style="position: absolute;right: 10px;top: 5px;"><i class="ion ion-ios-more"></i></button>
                        </div>
                        <div class="card-footer small">
                            <div>
                                <span class="float-right text-success">15 000 ₽</span>
                                Доходы
                            </div>
                            <div>
                                <span class="float-right text-danger">-54 000 ₽</span>
                                Расходы
                            </div>
                            <div>
                                <span class="float-right">0  ₽</span>
                                Инвестиции
                            </div>
                            <div>
                                <span class="float-right text-success">150  ₽</span>
                                Кешбек
                            </div>
                            <div class="text-danger small float-right">Сумма с этой карты за данный период</div>
                        </div>
                    </div>
                    @*<div class="col-lg-3">

                            <div class="card-body d-flex align-items-center py-3">
                                <img src="~/resources/banks/tinkoff-bank.png" alt="" class="ui-w-40 rounded-circle">
                                <div class="ml-3">
                                    <div class="text-xlarge">12 000 ₽</div>
                                    <div class="text-muted small">Тинькофф банк</div>
                                    <div class="text-danger small">Расходы с этой карты за данный период</div>
                                </div>
                                <button type="button" data-toggle="dropdown" aria-expanded="false" class="btn btn-sm btn-default icon-btn borderless rounded-pill md-btn-flat dropdown-toggle hide-arrow" style="position: absolute;right: 10px;top: 5px;"><i class="ion ion-ios-more"></i></button>
                            </div>
                            <div class="card-footer small">
                                <div>
                                    <span class="float-right text-success">15 000 ₽</span>
                                    Доходы
                                </div>
                                <div>
                                    <span class="float-right">0  ₽</span>
                                    Инвестиции
                                </div>
                                <div>
                                    <span class="float-right text-success">150  ₽</span>
                                    Кешбек
                                </div>
                            </div>
                        </div>*@
                    <div class="col-lg-1">

                        <div class="card-body d-flex align-items-center py-3">
                            <img src="~/resources/banks/alfa-logo.svg" alt="" class="ui-w-40 rounded-circle">
                            <button type="button" data-toggle="dropdown" aria-expanded="false" class="btn btn-sm btn-default icon-btn borderless rounded-pill md-btn-flat dropdown-toggle hide-arrow" style="position: absolute;right: 10px;top: 5px;"><i class="ion ion-ios-more"></i></button>
                        </div>

                    </div>
                    <div class="col-lg-2">

                        <div class="card-body d-flex justify-content-center align-items-center">
                            <span class="ui-icon ui-statistics-icon ion ion-md-add text-primary"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>

    </div>

    <div class="row total-view my-0">
        <div class="col-sm-6 col-xl-4 px-1" style="">
            <div class="card mb-2 green-bottom-line  custom-card-hover">
                <div class="card-body row" style="height: 98px;">
                    <div class="col-md-6">
                        <div class="text-muted small">Доходы <i data-oggle="tooltip" data-html="true" data-original-title="<ul class='my-1 pl-3'><li>Кэшбэки</li><li>Доп. доходы</li><li>Зарплата</li><li>324</li><li>345</li><li>525</li><li>525</li></ul>" class="fas fa-info-circle cursor-help"></i></div> <strong class="text-large font-weight-normal">
                            98 000 ₽
                        </strong> <sup class="text-success small" style="display: none;">+ 0%</sup> <sup class="text-danger small" style="display: none;">- 0%</sup>
                    </div>
                    <div class="col-md-6" style="height: 65px;">
                        <canvas id="earningChart" width="191" height="81" style="display: block; height: 65px; width: 153px;"></canvas>
                    </div>
                </div>
                <div class="card-footer small">
                    <div class="float-right text-success">
                        <small class="ion ion-md-arrow-round-up"></small> 900  ₽
                    </div>
                    Доходы в час
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-4 px-1" style="">
            <div class="card mb-2 red-bottom-line  custom-card-hover">
                <div class="card-body row" style="height: 98px;">
                    <div class="col-md-6">
                        <div class="text-muted small">Расходы <i data-toggle="tooltip" data-html="true" data-original-title="<ul class='my-1 pl-3'><li>Одежда</li><li>Крупная бытовая тех.</li><li>Налоги</li><li>12</li><li>Посещение врача</li><li>Стоматология</li><li>Бензин</li><li>Путешествия</li><li>Рестораны</li><li>Общ. транспорт</li><li>Фастфуд</li><li>Красота</li><li>Ремонт</li><li>Все для дома</li><li>Ремонт авто</li><li>Подарки1</li><li>За квартиру</li><li>Интернет</li><li>Страховка</li><li>Связь</li><li>Аптеки</li><li>Электричество</li><li>Развлечения</li><li>Книги</li><li>обои</li><li>Бензин</li><li>Еда</li><li>Клей</li><li>фотообои</li><li>12345</li><li>324</li><li>444</li><li>525</li><li>525</li><li>5251</li><li>tttt</li><li>test1</li></ul>" class="fas fa-info-circle cursor-help"></i></div> <strong class="text-large font-weight-normal">
                            2&nbsp;618 ₽
                        </strong> <sup class="text-danger small" style="display: none;">+ 0%</sup> <sup class="text-success small" style="display: none;">- 0%</sup>
                    </div>
                    <div class="col-md-6">
                        <div style="height: 70px;">
                            <canvas id="spendingChart" width="191" height="87" style="display: block; height: 70px; width: 153px;"></canvas>
                        </div>
                    </div>
                </div>
                <div class="card-footer small">
                    <div class="float-right text-success">
                        <small class="ion ion-md-arrow-round-down"></small> 1 200 ₽
                    </div>
                    Расходы в день
                </div>
            </div>
        </div> <div class="col-sm-6 col-xl-4 px-1" style="">
            <div class="card mb-2 gray-bottom-line  custom-card-hover">
                <div class="card-body row" style="height: 98px;">
                    <div class="col-md-6">
                        <div class="text-muted small">
                            Инвестиции <i data-toggle="tooltip" data-html="true" data-original-title="<ul class='my-1 pl-3'><li>Дивиденды</li><li>Инвестиции</li><li>Комиссия брокера</li><li>525</li><li>525</li><li>525</li></ul>" class="fas fa-info-circle cursor-help"></i>

                        </div> <strong class="text-large font-weight-normal">35 000 ₽</strong> <sup class="text-danger small" style="display: none;">- 0%</sup> <sup class="text-success small" style="display: none;">+ 0%</sup>
                    </div>
                    <div class="col-md-6">
                        <div style="height: 70px;">
                            <canvas id="investmentsChart" width="191" height="87" style="display: block; height: 70px; width: 153px;"></canvas>
                        </div>
                    </div>
                </div>
                <div class="card-footer small">
                    <div class="float-right text-success">
                        <small class="ion ion-md-arrow-round-up"></small> 5 000  ₽
                    </div>
                    Дивиденды в месяц
                </div>
            </div>
        </div>
    </div>

    <div class="row my-0">
        <div class="col-md-4 px-1">
            <div class="card mb-4">
                <div class="card-header">Напоминания</div>
                <div class="card-body">

                    <div class="media pb-1 mb-3">
                        <div class="ui-icon ui-activity-icon pe-7s-home text-large"></div>
                        <div class="media-body ml-3">
                            Оплатить ЖКХ
                            <div class="text-muted small">15.01.2020</div>
                        </div>
                    </div>

                    <div class="media pb-1 mb-3">
                        <div class="ui-icon ui-activity-icon pe-7s-call cell-reminder-icons text-large"></div>
                        <div class="media-body ml-3">
                            Оплатить мобильную связь
                            <div class="text-muted small">17.01.2020</div>
                        </div>
                    </div>

                    <div class="media pb-1 mb-3">
                        <div class="ui-icon ui-activity-icon pe-7s-gift cell-reminder-icons text-large"></div>
                        <div class="media-body ml-3">
                            День рождения у Олега
                            <div class="text-muted small">22.01.2020</div>
                        </div>
                    </div>

                    <div class="media">
                        <div class="ui-icon ui-activity-icon lnr lnr-heart-pulse cell-reminder-icons text-large"></div>
                        <div class="media-body ml-3">
                            Запись к терапевту
                            <div class="text-muted small">31.01.2020</div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>


<div class="row my-0">
    <div class="form-group col-12 col-sm-12 col-md-6">
        <div>
            <div class="cursor-pointer">
                <i class="ion ion-md-apps text-large text-primary"></i>
                <i class="ion ion-ios-list text-large"></i>
                <input type="search" name="sectionSearch" class="form-control form-control-sm mb-1">
            </div>
            <div class=" ps ps--active-y" style="max-height: 200px; overflow-x: overlay;">
                <div class="d-flex flex-wrap justify-content-between align-items-center ui-bordered1">
                    <div class="d-flex flex-wrap align-items-center">
                        <a data-toggle="collapse" href="#order-4153148974123" class="d-block ml-3 collapsed" aria-expanded="true">
                            <i class="collapse-icon" style=" display: inline-block;"></i>
                            <strong class="ml-4">Расходы</strong>
                        </a>

                    </div>
                </div>
                <div class="collapse cards cards-small show" id="order-4153148974123" style="">
                    <div title="Краткосрочные покупки в магазинах" class="card-section card selected-section cursor-pointer" style="color: rgba(24, 28, 33, 0.8); background-color: rgb(255, 235, 238);">
                        <span class="selected-section-count"></span> <div class="cards-container d-flex align-items-center ">
                            <i class="icon-large opacity-75 fas fa-shopping-cart"></i> <div class="card-section-text ml-2">
                                <div class="section-name">Продукты</div> <div class="area-name opacity-75" style="margin-top: -5px;">
                                    Краткосрочные покупки
                                    <div class="ml-2" style="display: none;">
                                        <i class="oi oi-layers"></i> +0
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-section card selected-section cursor-pointer" style="color: rgba(24, 28, 33, 0.8); background-color: rgb(255, 235, 238);">
                        <span class="selected-section-count"></span> <div class="cards-container d-flex align-items-center ">
                            <i class="icon-large opacity-75 fas fa-bus"></i> <div class="card-section-text ml-2">
                                <div class="section-name">Общ. транспорт</div> <div class="area-name opacity-75" style="margin-top: -5px;">
                                    Краткосрочные покупки
                                    <div class="ml-2" style="display: none;">
                                        <i class="oi oi-layers"></i> +0
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-wrap justify-content-between align-items-center ui-bordered1">
                    <div class="d-flex flex-wrap align-items-center">
                        <a data-toggle="collapse" href="#order-4153148974129" class="d-block ml-3 collapsed" aria-expanded="false"><i class="collapse-icon"></i></a>
                        <strong class="ml-4">Folder</strong>
                    </div>
                </div>
                <div class="collapse cards cards-small show" id="order-4153148974129" style="">
                    <div class="card-section card selected-section cursor-pointer" style="color: rgba(24, 28, 33, 0.8); background-color: rgb(255, 183, 77);">
                        <span class="selected-section-count"></span> <div class="cards-container d-flex align-items-center ">
                            <i class="icon-large opacity-75 fas fa-paint-roller"></i> <div class="card-section-text ml-2">
                                <div class="section-name">Ремонт</div> <div class="area-name opacity-75" style="margin-top: -5px;">
                                    Долгосрочные расходы
                                    <div class="ml-2" style="display: none;">
                                        <i class="oi oi-layers"></i> +0
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div title="Books" class="card-section card selected-section cursor-pointer" style="color: rgba(24, 28, 33, 0.8); background-color: rgb(255, 205, 210);">
                        <span class="selected-section-count"></span> <div class="cards-container d-flex align-items-center ">
                            <i class="icon-large opacity-75 fas fa-book"></i> <div class="card-section-text ml-2">
                                <div class="section-name">Книги</div> <div class="area-name opacity-75" style="margin-top: -5px;">
                                    Общие расходы
                                    <div class="ml-2" style="display: none;">
                                        <i class="oi oi-layers"></i> +0
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div title="Прием врача, консультация, массаж" class="card-section card selected-section cursor-pointer" style="color: rgba(24, 28, 33, 0.8); background-color: rgb(224, 224, 224);">
                        <span class="selected-section-count"></span> <div class="cards-container d-flex align-items-center ">
                            <i class="icon-large opacity-75 fas fa-user-md"></i> <div class="card-section-text ml-2">
                                <div class="section-name">Посещение врача</div> <div class="area-name opacity-75" style="margin-top: -5px;">
                                    Медицина
                                    <div class="ml-2" style="display: none;">
                                        <i class="oi oi-layers"></i> +0
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-wrap justify-content-between align-items-center ui-bordered1">
                    <div class="d-flex flex-wrap align-items-center">
                        <a data-toggle="collapse" href="#order-4153148974127" class="d-block ml-3 collapsed" aria-expanded="false"><i class="collapse-icon"></i></a>
                        <strong class="ml-4">Folder 45</strong>
                    </div>
                </div>
                <div class="collapse cards cards-small show" id="order-4153148974127" style="">
                    <div class="card-section card selected-section cursor-pointer" style="color: rgba(24, 28, 33, 0.8); background-color: rgb(238, 238, 238);">
                        <span class="selected-section-count"></span> <div class="cards-container d-flex align-items-center ">
                            <i class="icon-large opacity-75 fas fa-phone"></i> <div class="card-section-text ml-2">
                                <div class="section-name">Связь</div> <div class="area-name opacity-75" style="margin-top: -5px;">
                                    Регулярные платежи
                                    <div class="ml-2" style="display: none;">
                                        <i class="oi oi-layers"></i> +0
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-section card selected-section cursor-pointer" style="color: rgb(255, 255, 255); background-color: rgb(158, 158, 158);">
                        <span class="selected-section-count"></span> <div class="cards-container d-flex align-items-center ">
                            <i class="icon-large opacity-75 fas fa-donate"></i> <div class="card-section-text ml-2">
                                <div class="section-name">Инвестиции</div> <div class="area-name opacity-75" style="margin-top: -5px;">
                                    Инвестиции
                                    <div class="ml-2" style="display: none;">
                                        <i class="oi oi-layers"></i> +0
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-wrap justify-content-between align-items-center ui-bordered1">
                    <div class="d-flex flex-wrap align-items-center">
                        <a data-toggle="collapse" href="#order-41531489741271" class="d-block ml-3 collapsed" aria-expanded="false"><i class="collapse-icon"></i></a>
                        <strong class="ml-4">Folder 45</strong>
                    </div>
                </div>
                <div class="collapse cards cards-small show" id="order-41531489741271" style="">
                    <div class="card-section card selected-section cursor-pointer" style="color: rgba(24, 28, 33, 0.8); background-color: rgb(238, 238, 238);">
                        <span class="selected-section-count"></span> <div class="cards-container d-flex align-items-center ">
                            <i class="icon-large opacity-75 fas fa-phone"></i> <div class="card-section-text ml-2">
                                <div class="section-name">Связь</div> <div class="area-name opacity-75" style="margin-top: -5px;">
                                    Регулярные платежи
                                    <div class="ml-2" style="display: none;">
                                        <i class="oi oi-layers"></i> +0
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-section card selected-section cursor-pointer" style="color: rgb(255, 255, 255); background-color: rgb(158, 158, 158);">
                        <span class="selected-section-count"></span> <div class="cards-container d-flex align-items-center ">
                            <i class="icon-large opacity-75 fas fa-donate"></i> <div class="card-section-text ml-2">
                                <div class="section-name">Инвестиции</div> <div class="area-name opacity-75" style="margin-top: -5px;">
                                    Инвестиции
                                    <div class="ml-2" style="display: none;">
                                        <i class="oi oi-layers"></i> +0
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-wrap justify-content-between align-items-center ui-bordered1">
                    <div class="d-flex flex-wrap align-items-center">
                        <a data-toggle="collapse" href="#order-41531489741272" class="d-block ml-3 collapsed" aria-expanded="false"><i class="collapse-icon"></i></a>
                        <strong class="ml-4">Folder 45</strong>
                    </div>
                </div>
                <div class="collapse cards cards-small show" id="order-41531489741272" style="">
                    <div class="card-section card selected-section cursor-pointer" style="color: rgba(24, 28, 33, 0.8); background-color: rgb(238, 238, 238);">
                        <span class="selected-section-count"></span> <div class="cards-container d-flex align-items-center ">
                            <i class="icon-large opacity-75 fas fa-phone"></i> <div class="card-section-text ml-2">
                                <div class="section-name">Связь</div> <div class="area-name opacity-75" style="margin-top: -5px;">
                                    Регулярные платежи
                                    <div class="ml-2" style="display: none;">
                                        <i class="oi oi-layers"></i> +0
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-section card selected-section cursor-pointer" style="color: rgb(255, 255, 255); background-color: rgb(158, 158, 158);">
                        <span class="selected-section-count"></span> <div class="cards-container d-flex align-items-center ">
                            <i class="icon-large opacity-75 fas fa-donate"></i> <div class="card-section-text ml-2">
                                <div class="section-name">Инвестиции</div> <div class="area-name opacity-75" style="margin-top: -5px;">
                                    Инвестиции
                                    <div class="ml-2" style="display: none;">
                                        <i class="oi oi-layers"></i> +0
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <div class="form-group col-12 col-sm-12 col-md-6">
        <div>
            <input type="search" name="sectionSearch" class="form-control form-control-sm mb-1"> <div class="cards cards-small ps ps--active-y" style="max-height: 200px; overflow-x: overlay;">
                <div title="Краткосрочные покупки в магазинах" class="card-section card selected-section cursor-pointer" style="color: rgba(24, 28, 33, 0.8); background-color: rgb(255, 235, 238);">
                    <span class="selected-section-count"></span> <div class="cards-container d-flex align-items-center ">
                        <i class="icon-large opacity-75 fas fa-shopping-cart"></i> <div class="card-section-text ml-2">
                            <div class="section-name">Продукты</div> <div class="area-name opacity-75" style="margin-top: -5px;">
                                Краткосрочные покупки
                                <div class="ml-2" style="display: none;">
                                    <i class="oi oi-layers"></i> +0
                                </div>
                            </div>
                        </div>
                    </div>
                </div><div class="card-section card selected-section cursor-pointer" style="color: rgba(24, 28, 33, 0.8); background-color: rgb(255, 205, 210);">
                    <span class="selected-section-count"></span> <div class="cards-container d-flex align-items-center ">
                        <i class="icon-large opacity-75 fas fa-trash-alt"></i> <div class="card-section-text ml-2">
                            <div class="section-name">Другие расходы</div> <div class="area-name opacity-75" style="margin-top: -5px;">
                                Общие расходы
                                <div class="ml-2" style="display: none;">
                                    <i class="oi oi-layers"></i> +0
                                </div>
                            </div>
                        </div>
                    </div>
                </div><div class="card-section card selected-section cursor-pointer" style="color: rgba(24, 28, 33, 0.8); background-color: rgb(185, 246, 202);">
                    <span class="selected-section-count"></span> <div class="cards-container d-flex align-items-center ">
                        <i class="icon-large opacity-75 fas fa-wallet"></i> <div class="card-section-text ml-2">
                            <div class="section-name">Зарплата</div> <div class="area-name opacity-75" style="margin-top: -5px;">
                                Доходы
                                <div class="ml-2" style="display: none;">
                                    <i class="oi oi-layers"></i> +0
                                </div>
                            </div>
                        </div>
                    </div>
                </div><div class="card-section card selected-section cursor-pointer" style="color: rgba(24, 28, 33, 0.8); background-color: rgb(255, 235, 238);">
                    <span class="selected-section-count"></span> <div class="cards-container d-flex align-items-center ">
                        <i class="icon-large opacity-75 fas fa-baby"></i> <div class="card-section-text ml-2">
                            <div class="section-name">Траты на ребенка</div> <div class="area-name opacity-75" style="margin-top: -5px;">
                                Ребенок
                                <div class="ml-2" style="display: none;">
                                    <i class="oi oi-layers"></i> +0
                                </div>
                            </div>
                        </div>
                    </div>
                </div><div class="card-section card selected-section cursor-pointer" style="color: rgba(24, 28, 33, 0.8); background-color: rgb(185, 246, 202);">
                    <span class="selected-section-count"></span> <div class="cards-container d-flex align-items-center ">
                        <i class="icon-large opacity-75 fas fa-ruble-sign"></i> <div class="card-section-text ml-2">
                            <div class="section-name">Кэшбэки</div> <div class="area-name opacity-75" style="margin-top: -5px;">
                                Доходы
                                <div class="ml-2" style="display: none;">
                                    <i class="oi oi-layers"></i> +0
                                </div>
                            </div>
                        </div>
                    </div>
                </div><div class="card-section card selected-section cursor-pointer" style="color: rgba(24, 28, 33, 0.8); background-color: rgb(255, 235, 238);">
                    <span class="selected-section-count"></span> <div class="cards-container d-flex align-items-center ">
                        <i class="icon-large opacity-75 fas fa-bus"></i> <div class="card-section-text ml-2">
                            <div class="section-name">Общ. транспорт</div> <div class="area-name opacity-75" style="margin-top: -5px;">
                                Краткосрочные покупки
                                <div class="ml-2" style="display: none;">
                                    <i class="oi oi-layers"></i> +0
                                </div>
                            </div>
                        </div>
                    </div>
                </div><div class="card-section card selected-section cursor-pointer" style="color: rgba(24, 28, 33, 0.8); background-color: rgb(238, 238, 238);">
                    <span class="selected-section-count"></span> <div class="cards-container d-flex align-items-center ">
                        <i class="icon-large opacity-75 fas fa-phone"></i> <div class="card-section-text ml-2">
                            <div class="section-name">Связь</div> <div class="area-name opacity-75" style="margin-top: -5px;">
                                Регулярные платежи
                                <div class="ml-2" style="display: none;">
                                    <i class="oi oi-layers"></i> +0
                                </div>
                            </div>
                        </div>
                    </div>
                </div><div class="card-section card selected-section cursor-pointer" style="color: rgba(24, 28, 33, 0.8); background-color: rgb(238, 238, 238);">
                    <span class="selected-section-count"></span> <div class="cards-container d-flex align-items-center ">
                        <i class="icon-large opacity-75 far fa-building"></i> <div class="card-section-text ml-2">
                            <div class="section-name">За квартиру</div> <div class="area-name opacity-75" style="margin-top: -5px;">
                                Регулярные платежи
                                <div class="ml-2" style="display: none;">
                                    <i class="oi oi-layers"></i> +0
                                </div>
                            </div>
                        </div>
                    </div>
                </div><div class="card-section card selected-section cursor-pointer" style="color: rgba(24, 28, 33, 0.8); background-color: rgb(185, 246, 202);">
                    <span class="selected-section-count"></span> <div class="cards-container d-flex align-items-center ">
                        <i class="icon-large opacity-75 far fa-money-bill-alt"></i> <div class="card-section-text ml-2">
                            <div class="section-name">Доп. доходы</div> <div class="area-name opacity-75" style="margin-top: -5px;">
                                Доходы
                                <div class="ml-2" style="display: none;">
                                    <i class="oi oi-layers"></i> +0
                                </div>
                            </div>
                        </div>
                    </div>
                </div><div class="card-section card selected-section cursor-pointer" style="color: rgba(24, 28, 33, 0.8); background-color: rgb(238, 238, 238);">
                    <span class="selected-section-count"></span> <div class="cards-container d-flex align-items-center ">
                        <i class="icon-large opacity-75 fas fa-plug"></i> <div class="card-section-text ml-2">
                            <div class="section-name">Электричество</div> <div class="area-name opacity-75" style="margin-top: -5px;">
                                Регулярные платежи
                                <div class="ml-2" style="display: none;">
                                    <i class="oi oi-layers"></i> +0
                                </div>
                            </div>
                        </div>
                    </div>
                </div><div class="card-section card selected-section cursor-pointer" style="color: rgba(24, 28, 33, 0.8); background-color: rgb(224, 224, 224);">
                    <span class="selected-section-count"></span> <div class="cards-container d-flex align-items-center ">
                        <i class="icon-large opacity-75 fas fa-hand-holding-medical"></i> <div class="card-section-text ml-2">
                            <div class="section-name">Аптека</div> <div class="area-name opacity-75" style="margin-top: -5px;">
                                Медицина
                                <div class="ml-2" style="display: none;">
                                    <i class="oi oi-layers"></i> +0
                                </div>
                            </div>
                        </div>
                    </div>
                </div><div class="card-section card selected-section cursor-pointer" style="color: rgb(255, 255, 255); background-color: rgb(158, 158, 158);">
                    <span class="selected-section-count"></span> <div class="cards-container d-flex align-items-center ">
                        <i class="icon-large opacity-75 fas fa-file-invoice-dollar"></i> <div class="card-section-text ml-2">
                            <div class="section-name">Дивиденды</div> <div class="area-name opacity-75" style="margin-top: -5px;">
                                Инвестиции
                                <div class="ml-2" style="display: none;">
                                    <i class="oi oi-layers"></i> +0
                                </div>
                            </div>
                        </div>
                    </div>
                </div><div class="card-section card selected-section cursor-pointer" style="color: rgba(24, 28, 33, 0.8); background-color: rgb(255, 235, 238);">
                    <span class="selected-section-count"></span> <div class="cards-container d-flex align-items-center ">
                        <i class="icon-large opacity-75 fas fa-hamburger"></i> <div class="card-section-text ml-2">
                            <div class="section-name">Фастфуд</div> <div class="area-name opacity-75" style="margin-top: -5px;">
                                Краткосрочные покупки
                                <div class="ml-2" style="display: none;">
                                    <i class="oi oi-layers"></i> +0
                                </div>
                            </div>
                        </div>
                    </div>
                </div><div class="card-section card selected-section cursor-pointer" style="color: rgba(24, 28, 33, 0.8); background-color: rgb(238, 238, 238);">
                    <span class="selected-section-count"></span> <div class="cards-container d-flex align-items-center ">
                        <i class="icon-large opacity-75 fas fa-hand-holding-water"></i> <div class="card-section-text ml-2">
                            <div class="section-name">Вода</div> <div class="area-name opacity-75" style="margin-top: -5px;">
                                Регулярные платежи
                                <div class="ml-2" style="display: none;">
                                    <i class="oi oi-layers"></i> +0
                                </div>
                            </div>
                        </div>
                    </div>
                </div><div class="card-section card selected-section cursor-pointer" style="color: rgb(255, 255, 255); background-color: rgb(158, 158, 158);">
                    <span class="selected-section-count"></span> <div class="cards-container d-flex align-items-center ">
                        <i class="icon-large opacity-75 fas fa-donate"></i> <div class="card-section-text ml-2">
                            <div class="section-name">Инвестиции</div> <div class="area-name opacity-75" style="margin-top: -5px;">
                                Инвестиции
                                <div class="ml-2" style="display: none;">
                                    <i class="oi oi-layers"></i> +0
                                </div>
                            </div>
                        </div>
                    </div>
                </div><div class="card-section card selected-section cursor-pointer" style="color: rgba(24, 28, 33, 0.8); background-color: rgb(255, 183, 77);">
                    <span class="selected-section-count"></span> <div class="cards-container d-flex align-items-center ">
                        <i class="icon-large opacity-75 fas fa-paint-roller"></i> <div class="card-section-text ml-2">
                            <div class="section-name">Ремонт</div> <div class="area-name opacity-75" style="margin-top: -5px;">
                                Долгосрочные расходы
                                <div class="ml-2" style="display: none;">
                                    <i class="oi oi-layers"></i> +0
                                </div>
                            </div>
                        </div>
                    </div>
                </div><div class="card-section card selected-section cursor-pointer" style="color: rgba(24, 28, 33, 0.8); background-color: rgb(238, 238, 238);">
                    <span class="selected-section-count"></span> <div class="cards-container d-flex align-items-center ">
                        <i class="icon-large opacity-75 fas fa-wifi"></i> <div class="card-section-text ml-2">
                            <div class="section-name">Интернет</div> <div class="area-name opacity-75" style="margin-top: -5px;">
                                Регулярные платежи
                                <div class="ml-2" style="display: none;">
                                    <i class="oi oi-layers"></i> +0
                                </div>
                            </div>
                        </div>
                    </div>
                </div><div class="card-section card selected-section cursor-pointer" style="color: rgb(255, 255, 255); background-color: rgb(158, 158, 158);">
                    <span class="selected-section-count"></span> <div class="cards-container d-flex align-items-center ">
                        <i class="icon-large opacity-75 fas fa-landmark"></i> <div class="card-section-text ml-2">
                            <div class="section-name">Комиссия брокера</div> <div class="area-name opacity-75" style="margin-top: -5px;">
                                Инвестиции
                                <div class="ml-2" style="display: none;">
                                    <i class="oi oi-layers"></i> +0
                                </div>
                            </div>
                        </div>
                    </div>
                </div><div class="card-section card selected-section cursor-pointer" style="color: rgba(24, 28, 33, 0.8); background-color: rgb(238, 238, 238);">
                    <span class="selected-section-count"></span> <div class="cards-container d-flex align-items-center ">
                        <i class="icon-large opacity-75 fas fa-landmark"></i> <div class="card-section-text ml-2">
                            <div class="section-name">Банкинг</div> <div class="area-name opacity-75" style="margin-top: -5px;">
                                Регулярные платежи
                                <div class="ml-2" style="display: none;">
                                    <i class="oi oi-layers"></i> +0
                                </div>
                            </div>
                        </div>
                    </div>
                </div><div class="card-section card selected-section cursor-pointer" style="color: rgb(255, 255, 255); background-color: rgb(158, 158, 158);">
                    <span class="selected-section-count"></span> <div class="cards-container d-flex align-items-center ">
                        <i class="icon-large opacity-75 fas fa-landmark"></i> <div class="card-section-text ml-2">
                            <div class="section-name">Вклад</div> <div class="area-name opacity-75" style="margin-top: -5px;">
                                Инвестиции
                                <div class="ml-2" style="display: none;">
                                    <i class="oi oi-layers"></i> +0
                                </div>
                            </div>
                        </div>
                    </div>
                </div><div title="Youtube" class="card-section card selected-section cursor-pointer" style="color: rgba(24, 28, 33, 0.8); background-color: rgb(238, 238, 238);">
                    <span class="selected-section-count"></span> <div class="cards-container d-flex align-items-center ">
                        <i class="icon-large opacity-75 fab fa-youtube"></i> <div class="card-section-text ml-2">
                            <div class="section-name">Подписки</div> <div class="area-name opacity-75" style="margin-top: -5px;">
                                Регулярные платежи
                                <div class="ml-2" style="display: none;">
                                    <i class="oi oi-layers"></i> +0
                                </div>
                            </div>
                        </div>
                    </div>
                </div><div title="Телевизор, пылесос, стиральная машинка и тд." class="card-section card selected-section cursor-pointer" style="color: rgba(24, 28, 33, 0.8); background-color: rgb(255, 183, 77);">
                    <span class="selected-section-count"></span> <div class="cards-container d-flex align-items-center ">
                        <i class="icon-large opacity-75 fas fa-tv"></i> <div class="card-section-text ml-2">
                            <div class="section-name">Гаджеты и бытовая тех.</div> <div class="area-name opacity-75" style="margin-top: -5px;">
                                Долгосрочные расходы
                                <div class="ml-2" style="display: none;">
                                    <i class="oi oi-layers"></i> +0
                                </div>
                            </div>
                        </div>
                    </div>
                </div><div class="card-section card selected-section cursor-pointer" style="color: rgba(24, 28, 33, 0.8); background-color: rgb(187, 222, 251);">
                    <span class="selected-section-count"></span> <div class="cards-container d-flex align-items-center ">
                        <i class="icon-large opacity-75 fas fa-baby-carriage"></i> <div class="card-section-text ml-2">
                            <div class="section-name">Проект Budget</div> <div class="area-name opacity-75" style="margin-top: -5px;">
                                Проекты
                                <div class="ml-2" style="display: none;">
                                    <i class="oi oi-layers"></i> +0
                                </div>
                            </div>
                        </div>
                    </div>
                </div><div class="card-section card selected-section cursor-pointer" style="color: rgba(24, 28, 33, 0.8); background-color: rgb(255, 205, 210);">
                    <span class="selected-section-count"></span> <div class="cards-container d-flex align-items-center ">
                        <i class="icon-large opacity-75 fas fa-landmark"></i> <div class="card-section-text ml-2">
                            <div class="section-name">Налоги</div> <div class="area-name opacity-75" style="margin-top: -5px;">
                                Общие расходы
                                <div class="ml-2" style="display: none;">
                                    <i class="oi oi-layers"></i> +0
                                </div>
                            </div>
                        </div>
                    </div>
                </div><div class="card-section card selected-section cursor-pointer" style="color: rgba(24, 28, 33, 0.8); background-color: rgb(255, 205, 210);">
                    <span class="selected-section-count"></span> <div class="cards-container d-flex align-items-center ">
                        <i class="icon-large opacity-75 fas fa-cocktail"></i> <div class="card-section-text ml-2">
                            <div class="section-name">Красота</div> <div class="area-name opacity-75" style="margin-top: -5px;">
                                Общие расходы
                                <div class="ml-2" style="display: none;">
                                    <i class="oi oi-layers"></i> +0
                                </div>
                            </div>
                        </div>
                    </div>
                </div><div title="Краткосрочные покупки в магазинах" class="card-section card selected-section cursor-pointer" style="color: rgba(24, 28, 33, 0.8); background-color: rgb(224, 224, 224);">
                    <span class="selected-section-count"></span> <div class="cards-container d-flex align-items-center ">
                        <i class="icon-large opacity-75 fas fa-tooth"></i> <div class="card-section-text ml-2">
                            <div class="section-name">Стоматология</div> <div class="area-name opacity-75" style="margin-top: -5px;">
                                Медицина
                                <div class="ml-2" style="display: none;">
                                    <i class="oi oi-layers"></i> +0
                                </div>
                            </div>
                        </div>
                    </div>
                </div><div class="card-section card selected-section cursor-pointer" style="color: rgba(24, 28, 33, 0.8); background-color: rgb(187, 222, 251);">
                    <span class="selected-section-count"></span> <div class="cards-container d-flex align-items-center ">
                        <i class="icon-large opacity-75 fas fa-hammer"></i> <div class="card-section-text ml-2">
                            <div class="section-name">Тестировщик</div> <div class="area-name opacity-75" style="margin-top: -5px;">
                                Проекты
                                <div class="ml-2" style="display: none;">
                                    <i class="oi oi-layers"></i> +0
                                </div>
                            </div>
                        </div>
                    </div>
                </div><div class="card-section card selected-section cursor-pointer" style="color: rgba(24, 28, 33, 0.8); background-color: rgb(255, 235, 238);">
                    <span class="selected-section-count"></span> <div class="cards-container d-flex align-items-center ">
                        <i class="icon-large opacity-75 fas fa-glass-cheers"></i> <div class="card-section-text ml-2">
                            <div class="section-name">Рестораны</div> <div class="area-name opacity-75" style="margin-top: -5px;">
                                Краткосрочные покупки
                                <div class="ml-2" style="display: none;">
                                    <i class="oi oi-layers"></i> +0
                                </div>
                            </div>
                        </div>
                    </div>
                </div><div class="card-section card selected-section cursor-pointer" style="color: rgba(24, 28, 33, 0.8); background-color: rgb(255, 205, 210);">
                    <span class="selected-section-count"></span> <div class="cards-container d-flex align-items-center ">
                        <i class="icon-large opacity-75 fas fa-tshirt"></i> <div class="card-section-text ml-2">
                            <div class="section-name">Одежда</div> <div class="area-name opacity-75" style="margin-top: -5px;">
                                Общие расходы
                                <div class="ml-2" style="display: none;">
                                    <i class="oi oi-layers"></i> +0
                                </div>
                            </div>
                        </div>
                    </div>
                </div><div title="Books" class="card-section card selected-section cursor-pointer" style="color: rgba(24, 28, 33, 0.8); background-color: rgb(255, 205, 210);">
                    <span class="selected-section-count"></span> <div class="cards-container d-flex align-items-center ">
                        <i class="icon-large opacity-75 fas fa-book"></i> <div class="card-section-text ml-2">
                            <div class="section-name">Книги</div> <div class="area-name opacity-75" style="margin-top: -5px;">
                                Общие расходы
                                <div class="ml-2" style="display: none;">
                                    <i class="oi oi-layers"></i> +0
                                </div>
                            </div>
                        </div>
                    </div>
                </div><div title="Прием врача, консультация, массаж" class="card-section card selected-section cursor-pointer" style="color: rgba(24, 28, 33, 0.8); background-color: rgb(224, 224, 224);">
                    <span class="selected-section-count"></span> <div class="cards-container d-flex align-items-center ">
                        <i class="icon-large opacity-75 fas fa-user-md"></i> <div class="card-section-text ml-2">
                            <div class="section-name">Посещение врача</div> <div class="area-name opacity-75" style="margin-top: -5px;">
                                Медицина
                                <div class="ml-2" style="display: none;">
                                    <i class="oi oi-layers"></i> +0
                                </div>
                            </div>
                        </div>
                    </div>
                </div><div class="card-section card selected-section cursor-pointer" style="color: rgba(24, 28, 33, 0.8); background-color: rgb(255, 205, 210);">
                    <span class="selected-section-count"></span> <div class="cards-container d-flex align-items-center ">
                        <i class="icon-large opacity-75 fas fa-biking"></i> <div class="card-section-text ml-2">
                            <div class="section-name">Развлечения</div> <div class="area-name opacity-75" style="margin-top: -5px;">
                                Общие расходы
                                <div class="ml-2" style="display: none;">
                                    <i class="oi oi-layers"></i> +0
                                </div>
                            </div>
                        </div>
                    </div>
                </div><div class="card-section card selected-section cursor-pointer" style="color: rgba(24, 28, 33, 0.8); background-color: rgb(255, 205, 210);">
                    <span class="selected-section-count"></span> <div class="cards-container d-flex align-items-center ">
                        <i class="icon-large opacity-75 fas fa-glass-cheers"></i> <div class="card-section-text ml-2">
                            <div class="section-name">Цветы</div> <div class="area-name opacity-75" style="margin-top: -5px;">
                                Общие расходы
                                <div class="ml-2" style="display: none;">
                                    <i class="oi oi-layers"></i> +0
                                </div>
                            </div>
                        </div>
                    </div>
                </div><div class="card-section card selected-section cursor-pointer" style="color: rgba(24, 28, 33, 0.8); background-color: rgb(224, 224, 224);">
                    <span class="selected-section-count"></span> <div class="cards-container d-flex align-items-center ">
                        <i class="icon-large opacity-75 fas fa-prescription-bottle-alt"></i> <div class="card-section-text ml-2">
                            <div class="section-name">Анализы</div> <div class="area-name opacity-75" style="margin-top: -5px;">
                                Медицина
                                <div class="ml-2" style="display: none;">
                                    <i class="oi oi-layers"></i> +0
                                </div>
                            </div>
                        </div>
                    </div>
                </div><div class="card-section card selected-section cursor-pointer" style="color: rgba(24, 28, 33, 0.8); background-color: rgb(255, 205, 210);">
                    <span class="selected-section-count"></span> <div class="cards-container d-flex align-items-center ">
                        <i class="icon-large opacity-75 fas fa-birthday-cake"></i> <div class="card-section-text ml-2">
                            <div class="section-name">Подарки</div> <div class="area-name opacity-75" style="margin-top: -5px;">
                                Общие расходы
                                <div class="ml-2" style="display: none;">
                                    <i class="oi oi-layers"></i> +0
                                </div>
                            </div>
                        </div>
                    </div>
                </div><div class="card-section card selected-section cursor-pointer" style="color: rgb(255, 255, 255); background-color: rgb(158, 158, 158);">
                    <span class="selected-section-count"></span> <div class="cards-container d-flex align-items-center ">
                        <i class="icon-large opacity-75 fas fa-landmark"></i> <div class="card-section-text ml-2">
                            <div class="section-name">Налоги по инвестициям</div> <div class="area-name opacity-75" style="margin-top: -5px;">
                                Инвестиции
                                <div class="ml-2" style="display: none;">
                                    <i class="oi oi-layers"></i> +0
                                </div>
                            </div>
                        </div>
                    </div>
                </div><div class="card-section card selected-section cursor-pointer" style="color: rgba(24, 28, 33, 0.8); background-color: rgb(255, 205, 210);">
                    <span class="selected-section-count"></span> <div class="cards-container d-flex align-items-center ">
                        <i class="icon-large opacity-75 fas fa-brain"></i> <div class="card-section-text ml-2">
                            <div class="section-name">Обучение</div> <div class="area-name opacity-75" style="margin-top: -5px;">
                                Общие расходы
                                <div class="ml-2" style="display: none;">
                                    <i class="oi oi-layers"></i> +0
                                </div>
                            </div>
                        </div>
                    </div>
                </div><div class="card-section card selected-section cursor-pointer" style="color: rgba(24, 28, 33, 0.8); background-color: rgb(255, 205, 210);">
                    <span class="selected-section-count"></span> <div class="cards-container d-flex align-items-center ">
                        <i class="icon-large opacity-75 fas fa-baby"></i> <div class="card-section-text ml-2">
                            <div class="section-name">Детский садик</div> <div class="area-name opacity-75" style="margin-top: -5px;">
                                Ребенок
                                <div class="ml-2" style="display: none;">
                                    <i class="oi oi-layers"></i> +0
                                </div>
                            </div>
                        </div>
                    </div>
                </div><div class="card-section card selected-section cursor-pointer" style="color: rgb(255, 255, 255); background-color: rgb(158, 158, 158);">
                    <span class="selected-section-count"></span> <div class="cards-container d-flex align-items-center ">
                        <i class="icon-large opacity-75 far fa-money-bill-alt"></i> <div class="card-section-text ml-2">
                            <div class="section-name">Вывод средств с БС</div> <div class="area-name opacity-75" style="margin-top: -5px;">
                                Инвестиции
                                <div class="ml-2" style="display: none;">
                                    <i class="oi oi-layers"></i> +0
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <button type="button" class="btn btn-default card-section text-big" style="box-shadow: none; display: none;">+38</button><div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; right: 0px; height: 200px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 84px;"></div></div>
            </div>
        </div>
    </div>
</div>

@*<div id="modal-record1" class="modal modal-top fade" style="display: block; padding-right: 16px;" aria-modal="true">
        <div class="modal-dialog modal-lg">
            <article class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        Перевод средств
                    </h5> <button type="button" data-dismiss="modal" aria-label="Close" class="close">×</button>
                </div>
                <div class="modal-body">
                    <div class="input-group" style=" margin-bottom: -15px;">
                        <label class="form-label">1 счет</label>
                        <select class="form-control" style="visibility:hidden;">
                            <option value="1" selected>
                                Наличные
                            </option>
                        </select>
                        <span class="input-group-append" style="visibility:hidden;">
                            <span class=" btn btn-secondary ion ion-md-arrow-round-forward"></span>
                        </span>
                        <label class="form-label">2 счет</label>
                        <select class="form-control" style="visibility:hidden;">
                            <option value="1">
                                Наличные
                            </option>
                            <option value="2">
                                Тинькофф банк
                            </option>
                        </select>
                    </div>
                    <div class="input-group">
                        <select class="form-control">
                            <option value="1" selected>
                                Наличные
                            </option>
                            <option value="2">
                                Тинькофф банк
                            </option>
                        </select>
                        <span class="input-group-append">
                            <span class=" btn btn-secondary ion ion-md-arrow-round-forward"></span>
                        </span>
                        <select class="form-control">
                            <option value="1">
                                Наличные
                            </option>
                            <option value="2" selected>
                                Тинькофф банк
                            </option>
                        </select>
                    </div>
                    <div class="form-row mt-2">
                        <div class="col-md-4">
                            <label class="form-label">Баланс 1 счета</label>
                            <div class="input-group">
                                <input type="number" class="form-control" required value="20000" disabled />
                                <span class="input-group-append">
                                    <span class="input-group-text" style="background: #f5f5f5;">₽</span>
                                </span>
                            </div>
                            <small class="form-text text-muted">
                                Новое значение: 19 000,00 ₽
                            </small>
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">Сумма для перевода</label>
                            <input type="number" class="form-control" required value="1000" placeholder="Введите сумму для перевода" />
                        </div>

                        <div class="col-md-4">
                            <label class="form-label">Баланс 2 счета</label>
                            <div class="input-group">
                                <input type="number" class="form-control" required value="5000" disabled />
                                <span class="input-group-append">
                                    <span class="input-group-text" style="background: #f5f5f5;">₽</span>
                                </span>
                            </div>
                            <small class="form-text text-muted float-right">
                                Новое значение: 6 000,00 ₽
                            </small>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" disabled="disabled" class="btn btn-default button-add-record">
                        <span role="status" aria-hidden="true" class="spinner-border" style="display: none;"></span>
                        Сохранить
                    </button>
                    <button type="button" data-dismiss="modal" class="btn btn-default button-close-record">Закрыть</button>
                </div>
            </article>
        </div>
    </div>*@