@{
    ViewData["Title"] = "Финансы на месяц";
}

@section Styles {
    <link rel="stylesheet" asp-append-version="true" href="~/vendor/libs/datatables/datatables.css">
    <link href="~/vendor/libs/flatpickr/plugins/monthSelect.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/vendor/libs/select2/select2.css" rel="stylesheet" asp-append-version="true" />
}

@section Scripts {
    <script src="~/vendor/libs/chartjs/chartjs.js" asp-append-version="true"></script>
    <script src="~/vendor/libs/datatables/datatables.js" asp-append-version="true"></script>
    <script src="~/vendor/libs/select2/select2.js" asp-append-version="true"></script>

    <environment names="Development">
        <script src="~/vendor/libs/flatpickr/plugins/monthSelect.js" asp-append-version="true"></script>

        <script src="~/pages/budget/_budget-month.js" asp-append-version="true"></script>
        <script src="~/pages/budget/budget.js" asp-append-version="true"></script>
    </environment>
    <script>
        var Progress = [];

        $(function () {
            var chart = new Chart(document.getElementById('statistics-chart-14').getContext("2d"), {
                type: 'line',
                data: {
                    datasets: [{
                        data: ['24', '92', '77', '90', '91', '78', '28', '49', '23', '81', '15', '97', '94', '16', '99', '61',
                            '38', '34', '48', '3', '5', '21', '27', '4', '33', '40', '46', '47', '48', '18'],
                        borderWidth: 1,
                        backgroundColor: 'rgba(206, 221, 54, 0.2)',
                        borderColor: '#cedd36',
                        pointBorderColor: 'rgba(0,0,0,0)',
                        pointRadius: 1,
                        lineTension: 0
                    }],
                    labels: ['', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '']
                },

                options: {
                    scales: { xAxes: [{ display: false, }], yAxes: [{ display: false }] },
                    legend: { display: false },
                    tooltips: { enabled: false },
                    responsive: true,
                    maintainAspectRatio: false
                }
            });

            // In RTL mode charts aren't resized properly
            //

            if ($('html').attr('dir') === 'rtl') {
                window.addEventListener('resize', function () {
                    chart.resize();
                });
            }

            $.ajax({
                type: "GET",
                url: "/Common/GetProgress",
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function (result) {
                    if (result.isOk == true) {
                        Progress = result.data;
                    }
                    return true;
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        });

        // $('#modal-record1').modal('show');
    </script>
}

<div id="budget-vue" style="margin-top: -12px;">
    <input type="hidden" id="templateID_hidden" value="-1" />
    <input type="hidden" id="budgetDate_hidden" value="2021/01/01" />
    <div class="row">
        <div class="col-md-4 px-1">
            <div class="input-group budget-date">
                <span class="input-group-prepend" style="width: 50px;height: 26px;">
                    <button type="button" title="Минус 1 день" class="btn btn-sm btn-default modal-record-date-button"><i aria-hidden="true" class="fa fa-angle-left font-size-large"></i></button>
                </span>
                <input type="text" id="budget-date" class="form-control text-center flatpickr-input form-control-sm" value="2021/01/01">
                <span class="input-group-append" style="width: 50px;height: 26px;">
                    <button type="button" title="Плюс 1 день" class="btn btn-sm btn-default modal-record-date-button"><i aria-hidden="true" class="fa fa-angle-right font-size-large"></i></button>
                </span>
            </div>
        </div>
    </div>

    <div class="mt-2 row">
        <div class="col-md-12 px-1">
            <div class="card mb-4">
                <div class="row no-gutters row-bordered">
                    <div class="col-lg-4">

                        <div class="card-body pb-0">
                            <div class="text-muted small">Всего на всех счетах</div>
                            <div class="row">
                                <div class="col-md-4 text-xlarge" style="display: inline-block">
                                    24 182 ₽<small><sup class="text-success">+11.25%</sup></small>
                                </div>
                                @*<div class="col-md-8" style="display:inline-block; width: 60%; height: 50px;">
                                        <canvas id="statistics-chart-14"></canvas>
                                    </div>*@
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-4">

                        <div class="card-body pb-0">
                            <div class="text-muted small">Денежный поток ( доходы - расходы )</div>
                            <div class="row">
                                <div class="col-md-4 text-xlarge" style="display: inline-block">
                                    3 182 ₽<small><sup class="text-success">+11.25%</sup></small>
                                </div>
                                <div class="col-md-8" style="display:inline-block; width: 60%; height: 50px;">
                                    <canvas id="statistics-chart-14"></canvas>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-4">
                        <div class="card-body row">
                            <div class="col-lg-6 text-muted small ">Рабочих часов в месяц</div><div class="col-lg-6">178</div>
                            <div class="col-lg-6 text-muted small ">Доходы в час</div><div class="col-lg-6 text-success">900 ₽</div>
                            <div class="col-lg-6 text-muted small ">Расходы в день</div><div class="col-lg-6 text-success">1 200 ₽</div>
                            <div class="col-lg-6 text-muted small ">Обязательств в месяц</div><div class="col-lg-6 text-danger">12 000 ₽</div>
                        </div>

                    </div>
                </div>
                <div class="row no-gutters row-bordered" style=" border-top: 1px solid lightgray;">
                    @*<div class="col-lg-3">

                            <div class="card-body d-flex align-items-center py-3">
                                <span class="ui-icon ui-statistics-icon ion ion-ios-cash text-primary"></span>
                                <div class="ml-3">
                                    <div class="text-xlarge">10 332 ₽</div>
                                    <div class="text-muted small">Кеш</div>
                                </div>
                                <button type="button" data-toggle="dropdown" aria-expanded="false" class="btn btn-sm btn-default icon-btn borderless rounded-pill md-btn-flat dropdown-toggle hide-arrow" style="position: absolute;right: 10px;top: 5px;"><i class="ion ion-ios-more"></i></button>
                            </div>

                        </div>*@
                    <div class="col-lg-3">

                        <div class="card-body d-flex align-items-center py-3">
                            <img src="~/resources/banks/alfa-logo.svg" alt="" class="ui-w-40 rounded-circle">
                            <div class="ml-3">
                                <div class="text-xlarge">12 000 ₽</div>
                                <div class="text-muted small">Альфа банк</div>
                            </div>
                            <button type="button" data-toggle="dropdown" aria-expanded="false" class="btn btn-sm btn-default icon-btn borderless rounded-pill md-btn-flat dropdown-toggle hide-arrow" style="position: absolute;right: 10px;top: 5px;"><i class="ion ion-ios-more"></i></button>
                        </div>
                        <div class="card-footer small">
                            <span class="float-right text-success">230  ₽</span>
                            Кешбек
                        </div>

                    </div>
                    <div class="col-lg-3">

                        <div class="card-body d-flex align-items-center py-3">
                            <img src="~/resources/banks/tinkoff-bank.png" alt="" class="ui-w-40 rounded-circle">
                            <div class="ml-3">
                                <div class="text-xlarge">12 000 ₽</div>
                                <div class="text-muted small">Тинькофф банк</div>
                            </div>
                            <button type="button" data-toggle="dropdown" aria-expanded="false" class="btn btn-sm btn-default icon-btn borderless rounded-pill md-btn-flat dropdown-toggle hide-arrow" style="position: absolute;right: 10px;top: 5px;"><i class="ion ion-ios-more"></i></button>
                        </div>
                        <div class="card-footer small">
                            <span class="float-right">0  ₽</span>
                            Кешбек
                        </div>
                    </div>
                    <div class="col-lg-3">

                        <div class="card-body d-flex align-items-center py-3">
                            <img src="~/resources/banks/tinkoff-bank.png" alt="" class="ui-w-40 rounded-circle">
                            <div class="ml-3">
                                <div class="text-muted small">Тинькофф банк</div>
                            </div>
                            <button type="button" data-toggle="dropdown" aria-expanded="false" class="btn btn-sm btn-default icon-btn borderless rounded-pill md-btn-flat dropdown-toggle hide-arrow" style="position: absolute;right: 10px;top: 5px;"><i class="ion ion-ios-more"></i></button>
                        </div>
                        <div class="card-footer small">
                            <div>
                                <span class="float-right text-success">15 000 ₽</span>
                                Доходы
                            </div>
                            <div>
                                <span class="float-right text-danger">-54 000 ₽</span>
                                Расходы
                            </div>
                            <div>
                                <span class="float-right">0  ₽</span>
                                Инвестиции
                            </div>
                            <div>
                                <span class="float-right text-success">150  ₽</span>
                                Кешбек
                            </div>
                            <div class="text-danger small float-right">Сумма с этой карты за данный период</div>
                        </div>
                    </div>
                    @*<div class="col-lg-3">

                            <div class="card-body d-flex align-items-center py-3">
                                <img src="~/resources/banks/tinkoff-bank.png" alt="" class="ui-w-40 rounded-circle">
                                <div class="ml-3">
                                    <div class="text-xlarge">12 000 ₽</div>
                                    <div class="text-muted small">Тинькофф банк</div>
                                    <div class="text-danger small">Расходы с этой карты за данный период</div>
                                </div>
                                <button type="button" data-toggle="dropdown" aria-expanded="false" class="btn btn-sm btn-default icon-btn borderless rounded-pill md-btn-flat dropdown-toggle hide-arrow" style="position: absolute;right: 10px;top: 5px;"><i class="ion ion-ios-more"></i></button>
                            </div>
                            <div class="card-footer small">
                                <div>
                                    <span class="float-right text-success">15 000 ₽</span>
                                    Доходы
                                </div>
                                <div>
                                    <span class="float-right">0  ₽</span>
                                    Инвестиции
                                </div>
                                <div>
                                    <span class="float-right text-success">150  ₽</span>
                                    Кешбек
                                </div>
                            </div>
                        </div>*@
                    <div class="col-lg-1">

                        <div class="card-body d-flex align-items-center py-3">
                            <img src="~/resources/banks/alfa-logo.svg" alt="" class="ui-w-40 rounded-circle">
                            <button type="button" data-toggle="dropdown" aria-expanded="false" class="btn btn-sm btn-default icon-btn borderless rounded-pill md-btn-flat dropdown-toggle hide-arrow" style="position: absolute;right: 10px;top: 5px;"><i class="ion ion-ios-more"></i></button>
                        </div>

                    </div>
                    <div class="col-lg-2">

                        <div class="card-body d-flex justify-content-center align-items-center">
                            <span class="ui-icon ui-statistics-icon ion ion-md-add text-primary"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>

    </div>

    <div class="mt-2 row">
        <div class="col-md-4 px-1">
            <div class="card mb-4 border-primary">
                <div class="media align-items-center">
                    <img src="~/resources/banks/bm_bank_rectangle.gif" class="ui-w-120 mx-3" alt="">
                    <div class="media-body">
                        <a href="javascript:void(0)" class="d-block text-body text-large">Дом РФ Банк</a>
                        @*<small>
                                <span class="text-muted">Color:</span>
                                <span class="ui-product-color ui-product-color-sm align-text-bottom" style="background:#e81e2c;"></span> &nbsp;
                                <span class="text-muted">Size: </span> EU 37 &nbsp;
                                <span class="text-muted">Ships from: </span> China
                            </small>*@
                    </div>
                </div>
                <div class="px-3" style=" margin-top: -5px;">
                    <div class="card card-condenced mt-2 border-primary">
                        <div class="card-body media align-items-center px-3 py-2">
                            <div class="media-body ml-2">
                                <span data-toggle="tooltip" title=""
                                      class="ui-icon ui-feed-icon ion ion-md-star bg-success text-white" data-original-title="Счет по умолчанию"
                                      style="left: -.625rem;top: -8px;"></span>
                                <span class="text-muted small">Мой счет</span>
                                <span class="badge badge-primary">Дебетовый счет</span>
                                <br />
                                <div class="text-large display-inline">$1,534</div>
                                <span class="text-success ml-1">≈59,41 ₽</span>
                            </div>
                            <button type="button" data-toggle="dropdown" aria-expanded="false"
                                    class="btn btn-sm btn-default icon-btn borderless rounded-pill md-btn-flat dropdown-toggle hide-arrow"
                                    style="position: absolute; right: 10px; top: 5px;">
                                <i class="ion ion-ios-more"></i>
                            </button>
                            <div class="float-right text-success text-big pt-4"
                                 data-toggle="tooltip" data-original-title="Изменения за день или месяц/год ???">
                                <small><small class="ion ion-md-arrow-round-up"></small></small> 12%
                            </div>
                        </div>
                    </div>
                    <div class="card card-condenced mt-2 border-primary">
                        <div class="card-body media align-items-center px-3 py-2">
                            <div class="media-body ml-2">
                                <span class="text-muted small">Моя кредитка</span>
                                <span class="badge badge-primary">Кредитка</span>
                                <br />
                                <div class="text-large display-inline">$1,534</div>
                                <span class="text-success ml-1">≈59,41 ₽</span>
                                <span class="small text-muted float-right mt-3">$2,000</span>
                                <br />
                                <div class="progress mt-1" style="height: 4px;">
                                    <div class="progress-bar bg-warning" style="width: 56%; height: 3px;"></div>
                                </div>
                                <span class="small text-muted float-left mt-1">Нужно довнести $430</span>
                                <span class="small text-muted float-right mt-1">20.03.2021</span>
                            </div>
                            <button type="button" data-toggle="dropdown" aria-expanded="false"
                                    class="btn btn-sm btn-default icon-btn borderless rounded-pill md-btn-flat dropdown-toggle hide-arrow"
                                    style="position: absolute; right: 10px; top: 5px;">
                                <i class="ion ion-ios-more"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card card-condenced mt-2 border-primary">
                        <div class="card-body media align-items-center px-3 py-2">
                            <div class="media-body ml-2">
                                <span class="text-muted small">Мой вклад</span>
                                <span class="badge badge-primary">Вклад</span>
                                <span class="badge badge-success">+ 5%</span>
                                <br />
                                <div class="text-large display-inline">$5,000</div>
                                <span class="text-success ml-1">+140 ₽</span>
                                <span class="small text-muted float-right mt-3">$5,500</span>
                                <br />
                                <div class="progress mt-1" style="height: 4px;">
                                    <div class="progress-bar bg-success" style="width: 56%; height: 3px;"></div>
                                </div>
                                <span class="small text-muted float-left mt-1">20.03.2021</span>
                                <span class="small text-muted float-right mt-1">20.03.2022</span>
                            </div>
                            <button type="button" data-toggle="dropdown" aria-expanded="false"
                                    class="btn btn-sm btn-default icon-btn borderless rounded-pill md-btn-flat dropdown-toggle hide-arrow"
                                    style="position: absolute; right: 10px; top: 5px;">
                                <i class="ion ion-ios-more"></i>
                            </button>
                        </div>
                    </div>
                    <div class="text-center my-2">
                        <button type="button" class="btn btn-sm btn-outline-primary text-center">Добавить счет</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 px-1">
            <div class="card mb-4 border-primary">
                <div class="media align-items-center">
                    <img src="~/resources/banks/bm_bank_rectangle.gif" class="ui-w-120 mx-3" alt="">
                    <div class="media-body">
                        <a href="javascript:void(0)" class="d-block text-body text-large">Дом РФ Банк</a>
                        @*<small>
                                <span class="text-muted">Color:</span>
                                <span class="ui-product-color ui-product-color-sm align-text-bottom" style="background:#e81e2c;"></span> &nbsp;
                                <span class="text-muted">Size: </span> EU 37 &nbsp;
                                <span class="text-muted">Ships from: </span> China
                            </small>*@
                    </div>
                </div>
                <div class="px-3" style=" margin-top: -5px;">
                    <div class="card card-condenced mt-2 border-primary">
                        <div class="card-body media align-items-center px-3 py-2">
                            <div class="media-body ml-2">
                                <span data-toggle="tooltip" title=""
                                      class="ui-icon ui-feed-icon ion ion-md-star bg-success text-white" data-original-title="Счет по умолчанию"
                                      style="left: -.625rem;top: -8px;"></span>
                                <span class="text-muted small">Мой счет</span>
                                <span class="badge badge-primary">Дебетовый счет</span>
                                <br />
                                <div class="text-large display-inline">$1,534</div>
                                <span class="text-success ml-1">≈59,41 ₽</span>
                            </div>
                            <button type="button" data-toggle="dropdown" aria-expanded="false"
                                    class="btn btn-sm btn-default icon-btn borderless rounded-pill md-btn-flat dropdown-toggle hide-arrow"
                                    style="position: absolute; right: 10px; top: 5px;">
                                <i class="ion ion-ios-more"></i>
                            </button>
                            <div class="float-right text-success text-big pt-4"
                                 data-toggle="tooltip" data-original-title="Изменения за день или месяц/год ???">
                                <small><small class="ion ion-md-arrow-round-up"></small></small> 12%
                            </div>
                        </div>
                        <div class="card-footer small py-1 text-muted">
                            <div class="text-secondary">Итого с этого счета за данный период</div>
                            <div>
                                <span class="float-right text-success">15 000 ₽</span>
                                Доходы
                            </div> <div>
                                <span class="float-right text-danger">-54 000 ₽</span>
                                Расходы
                            </div> <div>
                                <span class="float-right text-success">150  ₽</span>
                                Кешбек
                            </div>
                        </div>
                    </div>
                    <div class="card card-condenced mt-2 border-primary">
                        <div class="card-body media align-items-center px-3 py-2">
                            <div class="media-body ml-2">
                                <span class="text-muted small">Моя кредитка</span>
                                <span class="badge badge-primary">Кредитка</span>
                                <br />
                                <div class="text-large display-inline">$1,534</div>
                                <span class="text-success ml-1">≈59,41 ₽</span>
                                <span class="small text-muted float-right mt-3">$2,000</span>
                                <br />
                                <div class="progress mt-1" style="height: 4px;">
                                    <div class="progress-bar bg-warning" style="width: 56%; height: 3px;"></div>
                                </div>
                                <span class="small text-muted float-left mt-1">Нужно довнести $430</span>
                                <span class="small text-muted float-right mt-1">20.03.2021</span>
                            </div>
                            <button type="button" data-toggle="dropdown" aria-expanded="false"
                                    class="btn btn-sm btn-default icon-btn borderless rounded-pill md-btn-flat dropdown-toggle hide-arrow"
                                    style="position: absolute; right: 10px; top: 5px;">
                                <i class="ion ion-ios-more"></i>
                            </button>
                        </div>
                        <div class="card-footer small py-1 text-muted">
                            <div class="text-secondary">Итого с этого счета за данный период</div>
                            <div>
                                <span class="float-right text-success">15 000 ₽</span>
                                Доходы
                            </div> <div>
                                <span class="float-right text-danger">-54 000 ₽</span>
                                Расходы
                            </div> <div>
                                <span class="float-right text-success">150  ₽</span>
                                Кешбек
                            </div>
                        </div>
                    </div>
                    <div class="card card-condenced mt-2 border-primary">
                        <div class="card-body media align-items-center px-3 py-2">
                            <div class="media-body ml-2">
                                <span class="text-muted small">Мой вклад</span>
                                <span class="badge badge-primary">Вклад</span>
                                <span class="badge badge-success">+ 5%</span>
                                <br />
                                <div class="text-large display-inline">$5,000</div>
                                <span class="text-success ml-1">+140 ₽</span>
                                <span class="small text-muted float-right mt-3">$5,500</span>
                                <br />
                                <div class="progress mt-1" style="height: 4px;">
                                    <div class="progress-bar bg-success" style="width: 56%; height: 3px;"></div>
                                </div>
                                <span class="small text-muted float-left mt-1">20.03.2021</span>
                                <span class="small text-muted float-right mt-1">20.03.2022</span>
                            </div>
                            <button type="button" data-toggle="dropdown" aria-expanded="false"
                                    class="btn btn-sm btn-default icon-btn borderless rounded-pill md-btn-flat dropdown-toggle hide-arrow"
                                    style="position: absolute; right: 10px; top: 5px;">
                                <i class="ion ion-ios-more"></i>
                            </button>
                        </div>
                        <div class="card-footer small py-1 text-muted">
                            <div class="text-secondary">Итого с этого счета за данный период</div>
                            <div>
                                <span class="float-right text-success">10 000 ₽</span>
                                Внесено
                            </div>
                            <div>
                                <span class="float-right text-success">+ 1 000 ₽</span>
                                Проценты
                            </div>

                        </div>
                    </div>
                    <div class="text-center my-2">
                        <button type="button" class="btn btn-sm btn-outline-primary text-center">Добавить счет</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 px-1">
            <div id="main_account_54" class="card mb-1 border-secondary">
                <div class="media align-items-center">
                    <img alt="тест" src="/resources/banks/bcs_rectangle.svg" class="ui-w-120 m-3">
                    <span class="text-primary text-xlarge m-3 pe-7s-culture" style="display: none;"></span>
                    <div class="media-body">
                        <span class="text-muted small">My name</span>
                        <div class="text-large font-weight-semibold">$32,223.44</div>
                        <span class="small">
                            <span class="text-muted">Банк: </span>БКС&nbsp;&nbsp;
                            <span class="text-muted">Скрытых: </span>2&nbsp;&nbsp;
                            <span class="text-muted">Суммируется: </span>2 из 3
                        </span>
                    </div>
                    <button type="button" data-toggle="dropdown" aria-expanded="false" class="btn btn-sm btn-default icon-btn borderless rounded-pill md-btn-flat dropdown-toggle hide-arrow" style="position: absolute; right: 10px; top: 5px;"><i class="ion ion-ios-more"></i></button> <i class="fa fa-undo pl-2 float-right text-success cursor-pointer" style="position: absolute; right: 13px; top: 13px; display: none;"></i> <div class="dropdown-menu dropdown-menu-right"><a href="javascript:void(0)" class="dropdown-item" style="display: none;">Добавить наличный счет</a> <a href="javascript:void(0)" class="dropdown-item">Добавить счет</a> <a href="javascript:void(0)" class="dropdown-item" style="display: none;">Редактировать папку наличных</a> <a href="javascript:void(0)" class="dropdown-item">Редактировать организацию</a> <a href="javascript:void(0)" class="dropdown-item text-danger" style="display: none;">Удалить папку наличных</a></div>
                </div>
                <article class="px-3 mb-2" style="margin-top: -5px;">
                    <section class="">
                        <div class="card card-condenced mt-2 border-secondary">
                            <div class="card-body media align-items-center px-3 py-2">
                                <div class="media-body ml-2">
                                    <img src="https://uxpowered.com/products/appwork/v160/assets_/img/payment/MasterCard-light.png" class="ui-payment-small mr-1" alt="">
                                    <span class="text-muted small">my first Broker</span>
                                    <span class="badge badge-outline-secondary ml-2">Брокерский счет</span>
                                    <br>
                                    <div class="text-large display-inline">
                                        10&nbsp;000 000&nbsp;₽
                                    </div>
                                    <span class="text-success ml-1" title="Внесено в этом месяце">+ 5 000 ₽</span>
                                </div>
                                <button type="button" data-toggle="dropdown" aria-expanded="false" class="btn btn-sm btn-default icon-btn borderless rounded-pill md-btn-flat dropdown-toggle hide-arrow" style="position: absolute; right: 10px; top: 5px;">
                                    <i class="ion ion-ios-more"></i>
                                </button>
                                <i class="fa fa-undo pl-2 float-right text-success cursor-pointer" style="position: absolute; right: 13px; top: 13px; display: none;"></i>
                                <div class="dropdown-menu dropdown-menu-right" style="">
                                    <a href="javascript:void(0)" class="dropdown-item">Редактировать счет</a>
                                    <a href="javascript:void(0)" class="dropdown-item">Перевести деньги</a>
                                    <a href="javascript:void(0)" class="dropdown-item">Скрыть счет</a>
                                    <a href="javascript:void(0)" class="dropdown-item text-danger">Удалить счет</a>
                                </div>
                            </div>
                            <div class="card-footer small py-1 text-muted" style="display: none;">
                                <div class="text-secondary">Итого с этого счета за данный период</div>
                            </div>
                        </div>
                    </section>
                    <section class="">
                        <div class="card card-condenced mt-2 border-secondary">
                            <div class="card-body media align-items-center px-3 py-2">
                                <div class="media-body ml-2">
                                    <img src="https://uxpowered.com/products/appwork/v160/assets_/img/payment/Visa-light.png" class="ui-payment-small mr-1" alt="">
                                    <span class="text-muted small">4879</span>
                                    <span class="badge badge-outline-secondary ml-2">Брокерский счет (ИИС)</span>
                                    <br>
                                    <div class="text-large display-inline">
                                        10&nbsp;000 000&nbsp;₽
                                    </div>
                                    <span class="text-success ml-1" title="Внесено в этом месяце">+ 5 000 ₽</span>
                                    <br />
                                    <div class="progress mt-1" style="height: 4px;">
                                        <div class="progress-bar bg-secondary" style="width: 56%; height: 3px;"></div>
                                    </div>
                                    <span class="small text-muted float-left mt-1">20.03.2021</span>
                                    <span class="small text-muted float-right mt-1">20.03.2022</span>
                                </div>
                                <button type="button" data-toggle="dropdown" aria-expanded="false" class="btn btn-sm btn-default icon-btn borderless rounded-pill md-btn-flat dropdown-toggle hide-arrow" style="position: absolute; right: 10px; top: 5px;">
                                    <i class="ion ion-ios-more"></i>
                                </button>
                                <i class="fa fa-undo pl-2 float-right text-success cursor-pointer" style="position: absolute; right: 13px; top: 13px; display: none;"></i>
                                <div class="dropdown-menu dropdown-menu-right" style="">
                                    <a href="javascript:void(0)" class="dropdown-item">Редактировать счет</a>
                                    <a href="javascript:void(0)" class="dropdown-item">Перевести деньги</a>
                                    <a href="javascript:void(0)" class="dropdown-item">Скрыть счет</a>
                                    <a href="javascript:void(0)" class="dropdown-item text-danger">Удалить счет</a>
                                </div>
                            </div>
                            <div class="card-footer small py-1 text-muted" style="display: none;">
                                <div class="text-secondary">Итого с этого счета за данный период</div>
                            </div>
                        </div>
                    </section>
                </article>
            </div>
        </div>
        <div class="col-md-4 px-1">
            <div class="card mb-4 border-primary">
                <div class="media align-items-center">
                    <img src="~/resources/banks/bm_bank_rectangle.gif" class="ui-w-120 mx-3" alt="">
                    <div class="media-body">
                        <a href="javascript:void(0)" class="d-block text-body text-large">Дом РФ Банк</a>
                        @*<small>
                                <span class="text-muted">Color:</span>
                                <span class="ui-product-color ui-product-color-sm align-text-bottom" style="background:#e81e2c;"></span> &nbsp;
                                <span class="text-muted">Size: </span> EU 37 &nbsp;
                                <span class="text-muted">Ships from: </span> China
                            </small>*@
                    </div>
                </div>
                <div class="px-3" style=" margin-top: -5px;">
                    <div class="card card-condenced mt-2 border-primary">
                        <div class="card-body media align-items-center px-3 py-2">
                            <div class="media-body ml-2">
                                <span data-toggle="tooltip" title=""
                                      class="ui-icon ui-feed-icon ion ion-md-star bg-success text-white" data-original-title="Счет по умолчанию"
                                      style="left: -.625rem;top: -8px;"></span>
                                <span class="text-muted small">Мой счет</span>
                                <span class="badge badge-primary">Дебетовый счет</span>
                                <br />
                                <div class="text-large display-inline">$1,534</div>
                                <span class="text-success ml-1">≈59,41 ₽</span>
                            </div>
                            <button type="button" data-toggle="dropdown" aria-expanded="false"
                                    class="btn btn-sm btn-default icon-btn borderless rounded-pill md-btn-flat dropdown-toggle hide-arrow"
                                    style="position: absolute; right: 10px; top: 5px;">
                                <i class="ion ion-ios-more"></i>
                            </button>
                            <span class="small text-muted float-right mt-1">20.03.2021</span>
                        </div>
                    </div>
                    <div class="card card-condenced mt-2 border-primary">
                        <div class="card-body media align-items-center px-3 py-2">
                            <div class="media-body ml-2">
                                <span class="text-muted small">Моя кредитка</span>
                                <span class="badge badge-primary">Кредитка</span>
                                <br />
                                <div class="text-large display-inline">$1,534</div>
                                <span class="text-success ml-1">≈59,41 ₽</span>
                                <span class="small text-muted float-right mt-3">$2,000</span>
                                <br />
                                <div class="progress mt-1" style="height: 4px;">
                                    <div class="progress-bar bg-warning" style="width: 56%; height: 3px;"></div>
                                </div>
                                <span class="small text-muted float-left mt-1">Нужно довнести $430</span>
                                <span class="small text-muted float-right mt-1">20.03.2021</span>
                            </div>
                            <button type="button" data-toggle="dropdown" aria-expanded="false"
                                    class="btn btn-sm btn-default icon-btn borderless rounded-pill md-btn-flat dropdown-toggle hide-arrow"
                                    style="position: absolute; right: 10px; top: 5px;">
                                <i class="ion ion-ios-more"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card card-condenced mt-2 border-primary">
                        <div class="card-body media align-items-center px-3 py-2">
                            <div class="media-body ml-2">
                                <span class="text-muted small">Мой вклад</span>
                                <span class="badge badge-primary">Вклад</span>
                                <span class="badge badge-success">+ 5%</span>
                                <br />
                                <div class="text-large display-inline">$5,000</div>
                                <span class="text-success ml-1">+140 ₽</span>
                                <span class="small text-muted float-right mt-3">$5,500</span>
                                <br />
                                <div class="progress mt-1" style="height: 4px;">
                                    <div class="progress-bar bg-success" style="width: 56%; height: 3px;"></div>
                                </div>
                                <span class="small text-muted float-left mt-1">20.03.2021</span>
                                <span class="small text-muted float-right mt-1">20.03.2022</span>
                            </div>
                            <button type="button" data-toggle="dropdown" aria-expanded="false"
                                    class="btn btn-sm btn-default icon-btn borderless rounded-pill md-btn-flat dropdown-toggle hide-arrow"
                                    style="position: absolute; right: 10px; top: 5px;">
                                <i class="ion ion-ios-more"></i>
                            </button>
                        </div>
                    </div>
                    <div class="text-center my-2">
                        <button type="button" class="btn btn-sm btn-outline-primary text-center">Добавить счет</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row total-view my-0">
        <div class="col-sm-6 col-xl-4 px-1" style="">
            <div class="card mb-2 green-bottom-line  custom-card-hover">
                <div class="card-body row" style="height: 98px;">
                    <div class="col-md-6">
                        <div class="text-muted small">Доходы <i data-oggle="tooltip" data-html="true" data-original-title="<ul class='my-1 pl-3'><li>Кэшбэки</li><li>Доп. доходы</li><li>Зарплата</li><li>324</li><li>345</li><li>525</li><li>525</li></ul>" class="fas fa-info-circle cursor-help"></i></div> <strong class="text-large font-weight-normal">
                            98 000 ₽
                        </strong> <sup class="text-success small" style="display: none;">+ 0%</sup> <sup class="text-danger small" style="display: none;">- 0%</sup>
                    </div>
                    <div class="col-md-6" style="height: 65px;">
                        <canvas id="earningChart" width="191" height="81" style="display: block; height: 65px; width: 153px;"></canvas>
                    </div>
                </div>
                <div class="card-footer small">
                    <div class="float-right text-success">
                        <small class="ion ion-md-arrow-round-up"></small> 900  ₽
                    </div>
                    Доходы в час
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-4 px-1" style="">
            <div class="card mb-2 red-bottom-line  custom-card-hover">
                <div class="card-body row" style="height: 98px;">
                    <div class="col-md-6">
                        <div class="text-muted small">Расходы <i data-toggle="tooltip" data-html="true" data-original-title="<ul class='my-1 pl-3'><li>Одежда</li><li>Крупная бытовая тех.</li><li>Налоги</li><li>12</li><li>Посещение врача</li><li>Стоматология</li><li>Бензин</li><li>Путешествия</li><li>Рестораны</li><li>Общ. транспорт</li><li>Фастфуд</li><li>Красота</li><li>Ремонт</li><li>Все для дома</li><li>Ремонт авто</li><li>Подарки1</li><li>За квартиру</li><li>Интернет</li><li>Страховка</li><li>Связь</li><li>Аптеки</li><li>Электричество</li><li>Развлечения</li><li>Книги</li><li>обои</li><li>Бензин</li><li>Еда</li><li>Клей</li><li>фотообои</li><li>12345</li><li>324</li><li>444</li><li>525</li><li>525</li><li>5251</li><li>tttt</li><li>test1</li></ul>" class="fas fa-info-circle cursor-help"></i></div> <strong class="text-large font-weight-normal">
                            2&nbsp;618 ₽
                        </strong>
                        <sup class="text-danger small" style="display: none;">+ 0%</sup>
                        <sup class="text-success small" style="display: none;">- 0%</sup>
                    </div>
                    <div class="col-md-6">
                        <div style="height: 70px;">
                            <canvas id="spendingChart" width="191" height="87" style="display: block; height: 70px; width: 153px;"></canvas>
                        </div>
                    </div>
                </div>
                <div class="card-footer small">
                    <div class="float-right text-success">
                        <small class="ion ion-md-arrow-round-down"></small> 1 200 ₽
                    </div>
                    Расходы в день
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-4 px-1" style="">
            <div class="card mb-2 gray-bottom-line  custom-card-hover">
                <div class="card-body row" style="height: 98px;">
                    <div class="col-md-6">
                        <div class="text-muted small">
                            Инвестиции <i data-toggle="tooltip" data-html="true" data-original-title="<ul class='my-1 pl-3'><li>Дивиденды</li><li>Инвестиции</li><li>Комиссия брокера</li><li>525</li><li>525</li><li>525</li></ul>" class="fas fa-info-circle cursor-help"></i>

                        </div> <strong class="text-large font-weight-normal">35 000 ₽</strong> <sup class="text-danger small" style="display: none;">- 0%</sup> <sup class="text-success small" style="display: none;">+ 0%</sup>
                    </div>
                    <div class="col-md-6">
                        <div style="height: 70px;">
                            <canvas id="investmentsChart" width="191" height="87" style="display: block; height: 70px; width: 153px;"></canvas>
                        </div>
                    </div>
                </div>
                <div class="card-footer small">
                    <div class="float-right text-success">
                        <small class="ion ion-md-arrow-round-up"></small> 5 000  ₽
                    </div>
                    Дивиденды в месяц
                </div>
            </div>
        </div>
    </div>

    <div class="row my-0">
        <div class="col-md-4 px-1">
            <div class="card mb-4">
                <div class="card-header">Напоминания</div>
                <div class="card-body">

                    <div class="media pb-1 mb-3">
                        <div class="ui-icon ui-activity-icon pe-7s-home text-large"></div>
                        <div class="media-body ml-3">
                            Оплатить ЖКХ
                            <div class="text-muted small">15.01.2020</div>
                        </div>
                    </div>

                    <div class="media pb-1 mb-3">
                        <div class="ui-icon ui-activity-icon pe-7s-call cell-reminder-icons text-large"></div>
                        <div class="media-body ml-3">
                            Оплатить мобильную связь
                            <div class="text-muted small">17.01.2020</div>
                        </div>
                    </div>

                    <div class="media pb-1 mb-3">
                        <div class="ui-icon ui-activity-icon pe-7s-gift cell-reminder-icons text-large"></div>
                        <div class="media-body ml-3">
                            День рождения у Олега
                            <div class="text-muted small">22.01.2020</div>
                        </div>
                    </div>

                    <div class="media">
                        <div class="ui-icon ui-activity-icon lnr lnr-heart-pulse cell-reminder-icons text-large"></div>
                        <div class="media-body ml-3">
                            Запись к терапевту
                            <div class="text-muted small">31.01.2020</div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-4 px-1">
            <div class="card mb-4">
                <div class="card-header">Напоминания</div>
                <div class="card-body">

                    <div class="demo-navbar-notifications nav-item dropdown mr-lg-3">
                        <a class="nav-link dropdown-toggle hide-arrow" href="#" data-toggle="dropdown" aria-expanded="false">
                            <i class="ion ion-md-notifications-outline navbar-icon align-middle"></i>
                            <span class="badge badge-primary badge-dot indicator"></span>
                            <span class="d-lg-none align-middle">&nbsp; Notifications</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <div class="bg-primary text-center text-white font-weight-bold p-3">
                                4 New Notifications
                            </div>
                            <div class="list-group list-group-flush">
                                <a href="javascript:void(0)" class="list-group-item list-group-item-action media d-flex align-items-center">
                                    <div class="ui-icon ui-icon-sm sidenav-icon lnr lnr-rocket bg-danger border-0 text-white"></div>
                                    <div class="media-body line-height-condenced ml-3">
                                        <div class="text-body">Лимит <span href="javascript:void(0)" class="badge badge-primary ml-2">New</span></div>
                                        <div class="text-light small mt-1">
                                            Лимит <b>"Продукты"</b>, план <b>25 000 руб.</b> , сейчас <b>26 000 руб.</b>
                                        </div>
                                        <div class="text-light small mt-1">04.03.2021 17:35</div>
                                    </div>
                                </a>

                                <a href="javascript:void(0)" class="list-group-item list-group-item-action media d-flex align-items-center">
                                    <div class="ui-icon ui-icon-sm sidenav-icon lnr lnr-rocket bg-danger border-0 text-white"></div>
                                    <div class="media-body line-height-condenced ml-3">
                                        <div class="text-body">Лимит <span href="javascript:void(0)" class="badge badge-primary ml-2">New</span></div>
                                        <div class="text-light small mt-1">
                                            Лимит <b>"Продукты"</b>, план <b>25 000 руб.</b> , сейчас <b>26 000 руб.</b>
                                        </div> <div class="text-light small mt-1">04.03.2021 17:35</div>
                                    </div>
                                </a>

                                <a href="javascript:void(0)" class="list-group-item list-group-item-action media d-flex align-items-center">
                                    <div class="ui-icon ui-icon-sm sidenav-icon ion ion-ios-alarm text-big bg-warning border-0 text-white"></div>
                                    <div class="media-body line-height-condenced ml-3">
                                        <div class="text-body">Напоминание <span href="javascript:void(0)" class="badge badge-primary ml-2">New</span></div>
                                        <div class="text-light small mt-1">
                                            Напоминание <b>Поздравить Олега 14.03.2013 </b>
                                        </div> <div class="text-light small mt-1">04.03.2021 17:35</div>
                                    </div>
                                </a>

                            </div>

                            <a href="javascript:void(0)" class="d-block text-center text-light small p-2 my-1">Show all notifications</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-4 px-1">
            <div class="card mb-4">
                <div class="card-header">Уведомления</div>
                <div class="card-body">
                    <div class="">
                        <div class="">

                            <div class="d-flex flex-wrap justify-content-between align-items-center ui-bordered py-3 px-4 mt-3">
                                <div>
                                    Уведомить меня<a href="javascript:void(0)" class="badge badge-primary ml-2">На сайте</a><a href="javascript:void(0)" class="badge badge-primary ml-2">Телеграме</a><br>
                                    <small class="text-muted">Когда цена достигнет: 50000 руб</small>
                                </div>
                                <div class="d-flex align-items-center">
                                    <a data-toggle="collapse" href="#order-4153148974124" class="d-block ml-3 collapsed" aria-expanded="false"><i class="collapse-icon"></i></a>
                                </div>
                            </div>
                            <div class="card collapse" id="order-4153148974124" style="border-color: rgb(238, 238, 238);">
                                <div class="card-body">
                                    <label class="custom-control custom-checkbox"><input type="checkbox" id="isShowOnDashboard" name="isShowOnDashboard" class="custom-control-input"> <span class="custom-control-label">На сайте</span></label><label class="custom-control custom-checkbox"><input type="checkbox" id="isShowOnDashboard" name="isShowOnDashboard" class="custom-control-input"> <span class="custom-control-label">Почта</span></label><label class="custom-control custom-checkbox"><input type="checkbox" id="isShowOnDashboard" name="isShowOnDashboard" class="custom-control-input"> <span class="custom-control-label">Телеграм</span></label>

                                    <div class="" style="">
                                        <div class="form-group">
                                            <label class="form-label">Когда цена достигнет</label>
                                            <input type="email" class="form-control" placeholder="Email">
                                        </div>
                                    </div><div class="form-group text-right">

                                        <button type="submit" class="btn btn-outline-danger btn-xs">Удалить</button>
                                    </div>
                                </div>
                            </div>

                            <div class="d-flex flex-wrap justify-content-between align-items-center ui-bordered py-3 px-4 mt-3">
                                <div>
                                    Уведомить меня<a href="javascript:void(0)" class="badge badge-primary ml-2">На сайте</a><a href="javascript:void(0)" class="badge badge-primary ml-2">Почта</a><br>
                                    <small class="text-muted">Когда цена достигнет: 50000 руб</small>
                                </div>
                                <div class="d-flex align-items-center">
                                    <a data-toggle="collapse" href="#order-4153148974125" class="d-block ml-3"><i class="collapse-icon"></i></a>
                                </div>
                            </div>
                            <div class="collapse table-responsive" id="order-4153148974125">
                                <table class="table table-bordered">
                                    <tbody>
                                        <tr>
                                            <td class="p-4">
                                                <div class="media align-items-center">
                                                    <img src="/products/appwork/v152/assets_/img/uikit/sunglasses.jpg" class="d-block ui-w-40 ui-bordered mr-4" alt="">
                                                    <div class="media-body">
                                                        <a href="#" class="d-block text-body">WALKING 400 BLUE CAT3</a>
                                                        <small>
                                                            <span class="text-muted">Ships from: </span> Germany
                                                        </small>
                                                        <div class="mt-2">
                                                            <button type="button" class="btn btn-default btn-sm">Leave review</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="align-middle p-4">
                                                x1
                                            </td>
                                            <td class="text-right font-weight-semibold align-middle p-4">
                                                $20.55
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th colspan="3" class="text-right px-4">
                                                <small class="text-muted">Total price:</small> <strong>$20.55</strong>
                                            </th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>

                        </div>
                        <button type="button" class="btn btn-xs btn-outline-primary">
                            <span class="ion ion-md-add"></span>Добавить уведомление
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-6 col-xl-4 px-1">
            <div class="card ui-bordered custom-card-hover mb-2">
                <div class="card-body d-flex justify-content-between align-items-start pb-1">
                    <div>
                        <div data-toggle="tooltip" data-html="true" data-original-title="" title="" class="mb-2 d-inline-flex align-items-center cursor-help"><i class="lnr lnr-list text-primary float-left" style="font-size: x-large;"></i> <strong class="pl-2">List</strong></div> <div class="text-muted small mt-1">5 завершенных из 13</div>
                    </div> <div class="btn-group project-actions"><button type="button" data-toggle="dropdown" class="btn btn-sm btn-default icon-btn borderless rounded-pill md-btn-flat dropdown-toggle hide-arrow"><i class="ion ion-ios-more"></i></button> <div class="dropdown-menu dropdown-menu-right"><a href="javascript:void(0)" class="dropdown-item">View</a> <a href="javascript:void(0)" class="dropdown-item">Edit</a> <a href="javascript:void(0)" class="dropdown-item">Remove</a></div></div>
                </div>
                <div class="progress rounded-0" style="height: 3px;">
                    <div class="progress-bar" style="width: 33%;"></div>
                </div>
                <div class="card-body small pt-1 pb-0"><strong>33%</strong> завершено</div> <div class="card-body">
                    <div class="custom-controls-stacked">
                        <label class="ui-todo-item custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input"> <span class="custom-control-label">Buy products</span> <span class="ui-todo-badge badge badge-outline-default font-weight-normal ml-2">58 mins left</span>
                        </label> <label class="ui-todo-item custom-control custom-checkbox"><input type="checkbox" class="custom-control-input"> <span class="custom-control-label">Reply to emails</span></label> <label class="ui-todo-item custom-control custom-checkbox"><input type="checkbox" class="custom-control-input"> <span class="custom-control-label">Write blog post</span> <span class="ui-todo-badge badge badge-outline-default font-weight-normal ml-2">20 hours left</span></label> <label class="ui-todo-item custom-control custom-checkbox"><input type="checkbox" checked="checked" class="custom-control-input"> <span class="custom-control-label">Wash my car</span></label>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="input-group">
                        <input type="text" placeholder="Type your task" class="form-control">
                        <div class="input-group-append"><button type="button" class="btn btn-primary">Add</button></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-6 col-xl-4 px-1">
            <div class="card card-condenced mb-4">
                <div class="card-body media align-items-center">
                    <img src="https://subme.ru/wp-content/uploads/2021/03/podpiska_vkcombo-300x300.jpg" alt="" class="d-block ui-w-140">
                    <div class="media-body ml-3">
                        <a href="javascript:void(0)" class="text-body font-weight-semibold mb-2">Mike Greene</a>
                        <div class="text-muted small">@@mgreene</div>
                    </div>
                    <a href="javascript:void(0)" class="btn btn-outline-primary rounded-pill btn-sm md-btn-flat d-block">Follow</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-6 col-xl-4 px-1">
            <div class="card">
                <div class="card-body">
                    <div class="media">
                        <div class="d-none d-sm-block col-sm-4 px-0">
                            <img src="https://subme.ru/wp-content/uploads/2021/03/podpiska_vkcombo-300x300.jpg" alt="" class="ui-bg-cover ui-w-120">
                        </div>
                        <div class="media-body col-sm-8 ">
                            <h5 class="mb-2">
                                <a href="javascript:void(0)" class="text-body">VK Combo</a>
                                <span class="badge badge-outline-primary ml-2 text-tiny">Экосистемы</span>
                            </h5>
                            <div>
                                <span class="badge badge-outline-default">Lite</span>
                                <span class="badge badge-outline-default">Оптима</span>
                                <span class="badge badge-outline-default">Prime</span>
                            </div>
                            <div class="media my-2">
                                <strong class="d-block text-right">500 ₽ - 2 618 ₽</strong>
                            </div>
                            <span></span>
                            <div class="card-footer p-1 pt-2">
                                <button class="btn btn-primary btn-sm" onclick="$('#modal-subscription').modal('show')">
                                    <i class="ion ion-md-add pr-2"></i>Добавить
                                </button>
                                <a href="javascript:void(0)" title="Открыть сайт" class="btn icon-btn btn-sm btn-outline-secondary">
                                    <span class="oi oi-external-link"></span>
                                </a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal modal-top fade" id="modal-subscription">
            <div class="modal-dialog model-lg">
                <form class="modal-content" method="post">
                    <div class="modal-header">
                        <h5 class="modal-title">
                            SubScription
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">×</button>
                    </div>
                    <div class="modal-body py-2">

                        <div class="row">
                            <div class="col-md-4 mb-4">
                                <a href="javascript:void(0)" class="d-block border-primary rounded ui-bordered text-primary p-3">
                                    <span>Lite</span>
                                    <br>
                                    <small class="text-muted">500 ₽ - 2 500 ₽</small>
                                </a>
                            </div>
                            <div class="col-md-4 mb-4">
                                <a href="javascript:void(0)" class="d-block rounded ui-bordered p-3 text-muted">
                                    <span>Оптима</span>
                                    <br>
                                    <small class="text-muted">1 500 ₽ - 3 000 ₽</small>
                                </a>
                            </div>
                            <div class="col-md-4 mb-4">
                                <a href="javascript:void(0)" class="d-block rounded ui-bordered p-3 text-muted">
                                    <span>Prime</span>
                                    <br>
                                    <small class="text-muted">2 500 ₽ - 4 00 ₽</small>
                                </a>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4 mb-4">
                                <a href="javascript:void(0)" class="d-block rounded ui-bordered p-3 text-muted">
                                    <span>1 месяц</span>
                                    <br>
                                    <small class="text-muted">500 ₽</small>
                                </a>
                            </div>
                            <div class="col-md-4 mb-4">
                                <a href="javascript:void(0)" class="d-block rounded ui-bordered  p-3 text-muted">
                                    <span>3 месяца</span>
                                    <br>
                                    <small class="text-muted">1 500 ₽</small>
                                </a>
                            </div>
                            <div class="col-md-4 mb-4">
                                <a href="javascript:void(0)" class="d-block rounded ui-bordered p-3 text-muted">
                                    <span>12 месяцев</span>
                                    <br>
                                    <small class="text-muted">2 500 ₽</small>
                                </a>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col">
                                <label class="form-label">Название</label>
                                <span class="text-danger">*</span>
                                <input id="account-name" type="text" class="form-control">
                                <small class="invalid-feedback">Обязательное поле</small>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col">
                                <label class="form-label">Цена подписки</label>
                                <span class="text-danger">*</span>
                                <input id="account-limit-balance" type="number" class="form-control" placeholder="">
                                <small class="invalid-feedback">Обязательное поле</small>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col">
                                <label class="form-label">Цена подписки за месяц</label>
                                <span class="text-danger">*</span>
                                <input id="account-limit-balance" type="number" class="form-control" placeholder="">
                                <small class="invalid-feedback">Обязательное поле</small>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" type="button">
                            Добавить/Сохранить
                        </button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>

<div class="ui-timeline ui-timeline-with-info">
    <div class="ui-timeline-separator text-big">
        <div class="ui-timeline-track-bg d-inline-block rounded small font-weight-semibold py-2 px-4">Сегодня</div>
    </div>
    <div class="mb-2" style="
    margin-top: -57px;
">
        <div class="row no-gutters align-items-center py-2">
            <div class="col-12 col-md-3 px-4 font-weight-semibold">
                Категория
            </div>
            <div class="col-4 col-md-3
            font-weight-semibold px-4">
                Комментарий
            </div>
            <div class="col-4 col-md-3 px-4 font-weight-semibold">Банк</div>
            <div class="col-4 col-md-3 px-4 font-weight-semibold text-center">
                Деньги

            </div>
        </div>
    </div>
    <div class="ui-timeline-item">
        <div class="ui-timeline-badge">
            <img src="/resources/companies/alyonka.png" class="d-block ui-w-50 rounded-circle" alt="">
        </div>
        <div class="card pb-3 mb-2">
            <div class="row no-gutters align-items-center">
                <div class="col-12 col-md-3 px-3 pt-3">
                    <a href="javascript:void(0)" class="text-body font-weight-semibold">Продукты</a><br>
                    <small class="text-muted">Краткосрочные покупки</small>
                </div>
                <div class="col-4 col-md-3 text-muted small px-3 pt-3">
                    <tag title="Пятерочка" class="tagify__tag tagify--noAnim" id="31">
                        <div>
                            <span class="tagify__tag-text">Пятерочка</span>
                        </div>
                    </tag>
                </div>
                <div class="col-4 col-md-3 text-muted small px-3 pt-3">
                    <div class="media">
                        <img src="https://app.budgetto.org/resources/cards/80712_small.png" class="ui-payment-small" alt="">
                        <div class="media-body ml-3">
                            Тинькофф кредитка<div class="text-muted small">
                                <span>
                                    <del>
                                        <span class=" pt-1">
                                            2000&nbsp;₽
                                        </span>
                                    </del>
                                    &nbsp; -&gt;&nbsp;
                                    <span class=" pt-1">
                                        1500&nbsp;₽
                                    </span>

                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4 col-md-3 px-3 pt-3 text-right">

                    <h5 class="">
                        <span class="text-muted1 small pt-1 text-success">
                            5,48&nbsp;₽
                        </span>
                        <a href="javascript:void(0)" class="font-weight-semibold">
                            548,00&nbsp;₽
                        </a> <i class="fas fa-edit pl-2 edit-record cursor-pointer"></i> <i class="fas fa-trash pl-2 edit-record text-danger cursor-pointer"></i>
                    </h5>
                </div>
            </div>
        </div>
    </div>

    <div class="ui-timeline-item">
        <div class="ui-timeline-badge ui-w-50">
            <div class="ui-square bg-success rounded-circle text-white">
                <div class="d-flex ui-square-content">
                    <div class="ion ion-md-list-box m-auto"></div>
                </div>
            </div>
        </div>
        <div class="card pb-4 mb-2">
            <div class="row no-gutters align-items-center">
                <div class="col-12 col-md-3 px-3 pt-3">
                    <a href="javascript:void(0)" class="text-body font-weight-semibold">Продукты</a><br>
                    <small class="text-muted">Краткосрочные покупки</small>
                </div>
                <div class="col-4 col-md-3 text-muted small px-3 pt-3">
                    Some comment here
                </div>
                <div class="col-4 col-md-3 text-muted small px-3 pt-3">
                    <div class="media">
                        <img src="https://app.budgetto.org/resources/cards/80712_small.png" class="ui-payment-small" alt="">
                        <div class="media-body ml-3">
                            Тинькофф кредитка<div class="text-muted small">
                                <span>
                                    <del>
                                        <span class=" pt-1">
                                            2000&nbsp;₽
                                        </span>
                                    </del>
                                    &nbsp; -&gt;&nbsp;
                                    <span class=" pt-1">
                                        1500&nbsp;₽
                                    </span>

                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4 col-md-3 px-3 pt-3 text-right">

                    <h5 class="">
                        <span class="text-muted1 small pt-1 text-success">
                            5,48&nbsp;₽
                        </span> <a href="javascript:void(0)" class="font-weight-semibold">
                            548,00&nbsp;₽
                        </a> <i class="fas fa-edit pl-2 edit-record cursor-pointer"></i> <i class="fas fa-trash pl-2 edit-record text-danger cursor-pointer"></i>
                    </h5>
                </div>
            </div>
        </div>
    </div>

    <div class="ui-timeline-separator text-big">
        <div class="ui-timeline-track-bg d-inline-block rounded small font-weight-semibold py-2 px-4">27.05.2021</div>
    </div>

    <div class="ui-timeline-item">
        <div class="ui-timeline-badge ui-w-50">
            <div class="ui-square rounded-circle text-white" style="background-color: rgb(244, 67, 54); ">
                <div class="d-flex ui-square-content" style="">
                    <div class="fas fa-bus m-auto"></div>
                </div>
            </div>
        </div>
        <div class="card pb-4 mb-2">
            <div class="row no-gutters align-items-center">
                <div class="col-12 col-md-3 px-3 pt-3">
                    <a href="javascript:void(0)" class="text-body font-weight-semibold">Транспорт</a><br>
                    <small class="text-muted">Краткосрочные покупки</small>
                </div>
                <div class="col-4 col-md-3 text-muted small px-3 pt-3">

                </div>
                <div class="col-4 col-md-3 text-muted small px-3 pt-3">
                    <div class="media">
                        <img src="https://app.budgetto.org/resources/cards/2615_small.png" class="ui-payment-small" alt="">
                        <div class="media-body ml-3">
                            Тинькофф кредитка<div class="text-muted small">
                                <span>
                                    <del>
                                        <span class=" pt-1">
                                            2000&nbsp;₽
                                        </span>
                                    </del>
                                    &nbsp; -&gt;&nbsp;
                                    <span class=" pt-1">
                                        1500&nbsp;₽
                                    </span>

                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4 col-md-3 px-3 pt-3 text-right">

                    <h5 class="">
                        <span class="text-muted1 small pt-1 text-success">
                            5,48&nbsp;₽
                        </span> <a href="javascript:void(0)" class="font-weight-semibold">
                            548,00&nbsp;₽
                        </a> <i class="fas fa-edit pl-2 edit-record cursor-pointer"></i> <i class="fas fa-trash pl-2 edit-record text-danger cursor-pointer"></i>
                    </h5>
                </div>
            </div>
        </div>

        <div class="ui-timeline-item">
            <div class="ui-timeline-badge ui-w-50">
                <div class="ui-square bg-success rounded-circle text-white">
                    <div class="d-flex ui-square-content">
                        <div class="ion ion-md-list-box m-auto"></div>
                    </div>
                </div>
            </div>
            <div class="card pb-4 mb-2">
                <div class="row no-gutters align-items-center">
                    <div class="col-12 col-md-3 px-3 pt-3">
                        <a href="javascript:void(0)" class="text-body font-weight-semibold">Продукты</a><br>
                        <small class="text-muted">Краткосрочные покупки</small>
                    </div>
                    <div class="col-4 col-md-3 text-muted small px-3 pt-3">

                    </div>
                    <div class="col-4 col-md-3 text-muted small px-3 pt-3">
                        <div class="media">
                            <img src="https://app.budgetto.org/resources/cards/2615_small.png" class="ui-payment-small" alt="">
                            <div class="media-body ml-3">
                                Тинькофф кредитка<div class="text-muted small">
                                    <span>
                                        <del>
                                            <span class=" pt-1">
                                                2000&nbsp;₽
                                            </span>
                                        </del>
                                        &nbsp; -&gt;&nbsp;
                                        <span class=" pt-1">
                                            1500&nbsp;₽
                                        </span>

                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 col-md-3 px-3 pt-3 text-right">

                        <h5 class="">
                            <span class="text-muted1 small pt-1 text-success">
                                5,48&nbsp;₽
                            </span> <a href="javascript:void(0)" class="font-weight-semibold">
                                548,00&nbsp;₽
                            </a> <i class="fas fa-edit pl-2 edit-record cursor-pointer"></i> <i class="fas fa-trash pl-2 edit-record text-danger cursor-pointer"></i>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ui-timeline ui-timeline-with-info">
    <div class="ui-timeline-separator text-big">
        <div class="ui-timeline-track-bg d-inline-block rounded small font-weight-semibold py-2 px-4">Сегодня</div>
    </div>
    <div class="mb-2" style="
    margin-top: -57px;
">
        <div class="row no-gutters align-items-center py-2">
            <div class="col-12 col-md-3 px-4 font-weight-semibold">
                Категория
            </div>
            <div class="col-4 col-md-3
            font-weight-semibold px-4">
                Комментарий
            </div>
            <div class="col-4 col-md-3 px-4 font-weight-semibold">Банк</div>
            <div class="col-4 col-md-3 px-4 font-weight-semibold text-center">
                Деньги

            </div>
        </div>
    </div>
    <div class="ui-timeline-item">
        <div class="ui-timeline-badge">
            <img src="/resources/companies/alyonka.png" class="d-block ui-w-50 rounded-circle" alt="">
        </div>
        <ul class="pagination">
            <li class="page-item disabled">
                <a class="page-link" href="javascript:void(0)">«</a>
            </li>
            <li class="page-item active">
                <a class="page-link" href="javascript:void(0)">1</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="javascript:void(0)">2</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="javascript:void(0)">3</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="javascript:void(0)">4</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="javascript:void(0)">5</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="javascript:void(0)">»</a>
            </li>
        </ul>

    </div>

    <div class="ui-timeline-item">
        <div class="ui-timeline-badge ui-w-50">
            <div class="ui-square bg-success rounded-circle text-white">
                <div class="d-flex ui-square-content">
                    <div class="ion ion-md-list-box m-auto"></div>
                </div>
            </div>
        </div>
        <div class="media-body container-p-x py-4">
            <div class="d-flex justify-content-between align-items-center mb-1">
                <div><strong class="text-primary text-large">67%</strong> completed</div>
                <div class="text-muted small">15 opened tasks, 29 tasks completed</div>
            </div>
            <div class="progress" style="height: 4px;">
                <div class="progress-bar" style="width: 67%;"></div>
            </div>
        </div>
    </div>

    <div class="ui-timeline-separator text-big">
        <div class="ui-timeline-track-bg d-inline-block rounded small font-weight-semibold py-2 px-4">27.05.2021</div>
    </div>

    <div class="ui-stars ml-3">
        <div class="ui-star filled">
            <i class="ion ion-md-star"></i>
            <i class="ion ion-md-star"></i>
        </div>
        <div class="ui-star filled">
            <i class="ion ion-md-star"></i>
            <i class="ion ion-md-star"></i>
        </div>
        <div class="ui-star filled">
            <i class="ion ion-md-star"></i>
            <i class="ion ion-md-star"></i>
        </div>
        <div class="ui-star filled">
            <i class="ion ion-md-star"></i>
            <i class="ion ion-md-star"></i>
        </div>
        <div class="ui-star filled">
            <i class="ion ion-md-star"></i>
            <i class="ion ion-md-star"></i>
        </div>
    </div>

    <div class="mb-5 pb-5">
        <div class="ui-stars ml-3">
            <div class="ui-star filled mr-5 test test-complite" style="width: 3.1em;">
                <div class="ui-square bg-primary rounded-circle text-white ">
                    <div class="d-flex ui-square-content text-big">
                        <div class="ion ion-md-add m-auto  text-big"></div>
                    </div>
                </div>
            </div>
            <div class="ui-star filled mr-5 test" style="width: 3.1em;">
                <div class="ui-square bg-primary rounded-circle text-white">
                    <div class="d-flex ui-square-content text-big">
                        <div class="lnr lnr-rocket m-auto text-big"></div>
                    </div>
                </div>
            </div>
            <div class="ui-star filled mr-5" style="width: 3.1em;">
                <div class="ui-square bg-light rounded-circle text-dark">
                    <div class="d-flex ui-square-content text-big">
                        <div class="lnr lnr-frame-expand m-auto text-big "></div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="card mb-3">
        <div class="card-body p-4">

            <div class=" ui-bordered py-3 px-4">
                <div>
                    <div class="ui-stars ml-3" style="height: 46px;">
                        <div class="ui-star filled mr-5 progress-item progress-complite" style="width: 3.1em;">
                            <div class="ui-square bg-primary rounded-circle text-white"
                                 data-toggle="tooltip" data-original-title="Добавить расходы/доходы">
                                <div class="d-flex ui-square-content text-big">
                                    <div class="ion ion-md-add m-auto  text-big"></div>
                                </div>
                            </div>
                        </div>
                        <div class="ui-star filled mr-5 progress-item" style="width: 3.1em;">
                            <div class="ui-square bg-primary rounded-circle text-white">
                                <div class="d-flex ui-square-content text-big">
                                    <div class="lnr lnr-rocket m-auto text-big"></div>
                                </div>
                            </div>
                        </div>
                        <div class="ui-star filled mr-5" style="width: 3.1em;">
                            <div class="ui-square bg-light rounded-circle text-dark">
                                <div class="d-flex ui-square-content text-big">
                                    <div class="lnr lnr-frame-expand m-auto text-big "></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a data-toggle="collapse" href="#order-4153148974123" class="d-block ml-3 float-right collapsed" aria-expanded="false"><i class="collapse-icon"></i></a>
                </div>
            </div>
            <div class="table-responsive collapse" id="order-4153148974123" style="">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <td class="p-4">
                                <div class="media align-items-center">
                                    <div style="width: 3.1em;">
                                        <div class="ui-square bg-primary rounded-circle text-white">
                                            <div class="d-flex ui-square-content text-big">
                                                <div class="ion ion-md-add m-auto  text-big"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="media-body ml-3">
                                        <a href="#" class="d-block text-body">Добавить расходы/доходы <span class="badge badge-success">Выполнено</span></a>
                                        <small>
                                            <span class="text-muted">Записи основной компонент ведения личных финансов</span>
                                        </small>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>


        </div>
    </div>
</div>


<div id="test" class="bs4-toast toast bg-success fade">
    <div class="toast-header">
        <img src="/products/appwork/v152/assets_/img/avatars/1.png" class="d-block ui-w-20 rounded mr-2" alt="">
        <div class="font-weight-bold mr-auto">Bootstrap</div>
        <div class="d-block small">11 mins ago</div>
        <button type="button" class="close d-block mb-1 ml-2" data-dismiss="toast">×</button>
    </div>
    <div class="toast-body">
        Hello, world! This is a toast message.
    </div>
</div>
