<div class="col-sm-6 col-md-4 col-lg-6 col-xl-4 px-1"
     v-for="mainAccount in accounts"
     v-show="mainAccount.isShow && mainAccount.isHideCurrentAccount == false">
    <div class="card mb-1"
         v-bind:id="'main_account_'+ mainAccount.id"
         v-bind:class="[mainAccount.isDeleted ? 'deleted-item': '', mainAccount.bankTypeID == 1 || mainAccount.bankTypeID == null ? 'hover-border-primary' : mainAccount.bankTypeID == 2 ? 'hover-border-secondary' : '' ]">
        <div class="media align-items-center"
             v-bind:class="mainAccount.isCash ? 'p-1 pl-2' : ''">
            <img class="ui-w-120" alt=""
                 v-bind:class="mainAccount.isSVG ? 'm-4' : 'mx-3'"
                 v-show="mainAccount.accountType != 1 && mainAccount.bankLogo"
                 v-bind:src="mainAccount.bankLogo"
                 v-bind:alt="mainAccount.name">
            <span class="text-primary text-xlarge m-3"
                  v-show="mainAccount.accountType == 1 || (mainAccount.accountType != 1 && !mainAccount.bankLogo)"
                  v-bind:class="mainAccount.accountIcon"></span>
            <div class="media-body">
                <span class="text-muted small">{{ mainAccount.name }}</span>
                <br />
                <span class="text-large font-weight-semibold">
                    {{ new Intl.NumberFormat(mainAccount.currency.specificCulture, { style: 'currency', currency: mainAccount.currency.codeName }).format(mainAccount.balance) }}
                </span>
                <i class="fas fa-info-circle cursor-help text-danger" data-toggle="tooltip" data-html="true"
                   v-show="mainAccount.convertError"
                   title="Не удалось конвертировать некоторые счета"></i>
                <br />
                <span class="small">
                    <span v-show="mainAccount.bankName != null && mainAccount.bankName != mainAccount.name">
                        <span class="text-muted">Банк: </span>{{ mainAccount.bankName }}&nbsp;&nbsp;
                    </span>
                    <span v-show="mainAccount.accounts.filter(x => x.isHideCurrentAccount).length">
                        <span class="text-muted">Скрытых: </span>{{ mainAccount.accounts.filter(x => x.isHideCurrentAccount).length }}&nbsp;&nbsp;
                    </span>
                    <span v-show="mainAccount.accounts.filter(x => x.isCountBalanceInMainAccount).length != mainAccount.accounts.length">
                        <span class="text-muted">Суммируется: </span>{{ mainAccount.accounts.filter(x => x.isCountBalanceInMainAccount).length }} из {{ mainAccount.accounts.length }}
                    </span>
                </span>
            </div>
            <button type="button" data-toggle="dropdown" aria-expanded="false"
                    class="btn btn-sm btn-default icon-btn borderless rounded-pill md-btn-flat dropdown-toggle hide-arrow"
                    style="position: absolute;right: 10px;top: 5px;"
                    v-show="!mainAccount.isDeleted">
                <i class="ion ion-ios-more"></i>
            </button>
            <i class="fa fa-undo pl-2 float-right text-success cursor-pointer"
               style="position: absolute;right: 13px;top: 13px;"
               v-show="mainAccount.isDeleted"
               v-on:click="removeOrRecoveryMainAccount(mainAccount)"></i>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="javascript:void(0)"
                   v-show="mainAccount.accountType == 1"
                   v-on:click="editAccount(null, mainAccount)">Добавить наличный счет</a>
                <a class="dropdown-item" href="javascript:void(0)"
                   v-show="mainAccount.accountType != 1"
                   v-on:click="editAccount(null, mainAccount)">Добавить счет</a>
                <a class="dropdown-item" href="javascript:void(0)"
                   v-show="mainAccount.accountType == 1"
                   v-on:click="editMainAccount(mainAccount)">Редактировать группу наличных</a>
                <a class="dropdown-item" href="javascript:void(0)"
                   v-show="mainAccount.accountType != 1"
                   v-on:click="editMainAccount(mainAccount)">Редактировать организацию</a>
                <a class="dropdown-item" href="javascript:void(0)"
                   v-show="mainAccount.accounts.some(x => x.isHideCurrentAccount)"
                   v-on:click="showHideAccounts(mainAccount, false)">Показать все счета</a>
                <a class="dropdown-item" href="javascript:void(0)"
                   v-show="mainAccount.accounts.some(x => x.isHideCurrentAccount == false)"
                   v-on:click="showHideAccounts(mainAccount, true)">Скрыть все счета</a>
                <a class="dropdown-item text-danger" href="javascript:void(0)"
                   v-show="mainAccount.accounts.length == 0"
                   v-on:click="removeOrRecoveryMainAccount(mainAccount)">Удалить группу наличных</a>
                @*<a class="dropdown-item" href="javascript:void(0)"
                    v-on:click="showHideAccount(account, true)">Скрыть счет</a>
                *@
            </div>
        </div>
        <article class="px-3 mb-2" style=" margin-top: -5px;">
            <section v-for="account in mainAccount.accounts"
                     v-bind:class="[account.isDeleted ? 'deleted-item': '' ]">
                @*cash*@
                <div class="card card-condenced mt-2"
                     v-if="account.accountType == 1"
                     v-show="account.isHideCurrentAccount == false">
                    <div class="card-body media align-items-center px-3 py-2">
                        <div class="media-body ml-2">
                            <span data-toggle="tooltip" title=""
                                  class="ui-icon ui-feed-icon ion ion-md-star bg-success text-white" data-original-title="Счет по умолчанию"
                                  style="left: -.625rem;top: -8px;"
                                  v-if="account.isDefault"></span>
                            <span class="text-muted small">{{ account.name }}</span>
                            <span class="badge badge-outline-primary ml-2">{{ account.accountTypeName }}</span>
                            <br />
                            <div class="text-large display-inline">
                                {{ new Intl.NumberFormat(account.currency.specificCulture, { style: 'currency', currency: account.currency.codeName }).format(account.balance) }}
                            </div>
                        </div>
                        <button type="button" data-toggle="dropdown" aria-expanded="false"
                                class="btn btn-sm btn-default icon-btn borderless rounded-pill md-btn-flat dropdown-toggle hide-arrow"
                                style="position: absolute;right: 10px;top: 5px;"
                                v-show="!account.isDeleted">
                            <i class="ion ion-ios-more"></i>
                        </button>
                        <i class="fa fa-undo pl-2 float-right text-success cursor-pointer"
                           style="position: absolute;right: 13px;top: 13px;"
                           v-show="account.isDeleted"
                           v-on:click="removeOrRecoveryAccount(account)"></i>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="javascript:void(0)"
                               v-on:click="editAccount(account)">Редактировать наличные</a>
                            <a class="dropdown-item" href="javascript:void(0)"
                               v-on:click="transferMoney(account.id)">Перевести деньги</a>
                            <a class="dropdown-item" href="javascript:void(0)"
                               v-on:click="showHideAccount(account, true)">Скрыть счет</a>
                            <a class="dropdown-item text-danger" href="javascript:void(0)"
                               v-on:click="removeOrRecoveryAccount(account)">Удалить счет</a>
                        </div>
                    </div>
                    <div class="card-footer small py-1 text-muted"
                         v-show="account.isPast">
                        <div class="text-secondary">Итого с этого счета за данный период</div>
                        <div>
                            <span class="float-right text-success">{{ new Intl.NumberFormat(account.currency.specificCulture, { style: 'currency', currency: account.currency.codeName }).format(account.balanceEarnings) }}</span>
                            Доходы
                        </div>
                        <div>
                            <span class="float-right text-danger">{{ new Intl.NumberFormat(account.currency.specificCulture, { style: 'currency', currency: account.currency.codeName }).format(account.balanceSpendings) }}</span>
                            Расходы
                        </div>
                    </div>
                </div>
                @*debet*@
                <section class="card card-condenced mt-2"
                         v-else-if="account.accountType == 2"
                         v-show="account.isHideCurrentAccount == false">
                    <div class="card-body media align-items-center px-3 py-2">
                        <div class="media-body ml-2">
                            <span data-toggle="tooltip" title=""
                                  class="ui-icon ui-feed-icon ion ion-md-star bg-success text-white" data-original-title="Счет по умолчанию"
                                  style="left: -.625rem;top: -8px;"
                                  v-if="account.isDefault"></span>
                            <img class="ui-payment-smaller mr-1" alt=""
                                 v-bind:src="account.paymentLogo">
                            <span class="text-muted small">{{ account.name }}</span>
                            <span class="badge badge-outline-primary ml-2">{{ account.accountTypeName }}</span>
                            <br />
                            <div class="text-large display-inline">
                                {{ new Intl.NumberFormat(account.currency.specificCulture, { style: 'currency', currency: account.currency.codeName }).format(account.balance) }}
                            </div>
                            <span class="text-success ml-1" v-show="account.isCachback">
                                ≈{{ new Intl.NumberFormat(account.currency.specificCulture, { style: 'currency', currency: account.currency.codeName }).format(account.cachBackBalance) }}
                            </span>
                        </div>
                        <button type="button" data-toggle="dropdown" aria-expanded="false"
                                class="btn btn-sm btn-default icon-btn borderless rounded-pill md-btn-flat dropdown-toggle hide-arrow"
                                style="position: absolute;right: 10px;top: 5px;"
                                v-show="!account.isDeleted">
                            <i class="ion ion-ios-more"></i>
                        </button>
                        <i class="fa fa-undo pl-2 float-right text-success cursor-pointer"
                           style="position: absolute;right: 13px;top: 13px;"
                           v-show="account.isDeleted"
                           v-on:click="removeOrRecoveryAccount(account)"></i>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="javascript:void(0)"
                               v-on:click="editAccount(account)">Редактировать счет</a>
                            <a class="dropdown-item" href="javascript:void(0)"
                               v-on:click="transferMoney(account.id)">Перевести деньги</a>
                            <a class="dropdown-item" href="javascript:void(0)"
                               v-on:click="showHideAccount(account, true)">Скрыть счет</a>
                            <a class="dropdown-item text-danger" href="javascript:void(0)"
                               v-on:click="removeOrRecoveryAccount(account)">Удалить счет</a>
                        </div>
                    </div>
                    <div class="card-footer small py-1 text-muted"
                         v-show="account.isPast">
                        <div class="text-secondary">Итого с этого счета за данный период</div>
                        <div>
                            <span class="float-right text-success">{{ new Intl.NumberFormat(account.currency.specificCulture, { style: 'currency', currency: account.currency.codeName }).format(account.balanceEarnings) }}</span>
                            Доходы
                        </div>
                        <div>
                            <span class="float-right text-danger">{{ new Intl.NumberFormat(account.currency.specificCulture, { style: 'currency', currency: account.currency.codeName }).format(account.balanceSpendings) }}</span>
                            Расходы
                        </div>
                        <div>
                            <span class="float-right text-success">{{ new Intl.NumberFormat(account.currency.specificCulture, { style: 'currency', currency: account.currency.codeName }).format(account.balancePastCachback) }}</span>
                            Кешбек
                        </div>
                    </div>
                </section>
                @*<div class="card card-condenced mt-2"
                         v-else-if="account.accountType == 3"
                         v-show="account.isHideCurrentAccount == false">
                        <div class="card-body media align-items-center px-3 py-2">
                            <div class="media-body ml-2">
                                <span class="text-muted small">Моя кредитка</span>
                                <span class="badge badge-outline-primary ml-2">Кредитка</span>
                                <br />
                                <div class="text-large display-inline">$1,534</div>
                                <span class="text-success ml-1">≈59,41 ₽</span>
                                <span class="small text-muted float-right mt-3">$2,000</span>
                                <br />
                                <div class="progress mt-1" style="height: 4px;">
                                    <div class="progress-bar bg-warning" style="width: 56%; height: 3px;"></div>
                                </div>
                                <span class="small text-muted float-left mt-1">Нужно довнести $430</span>
                                <span class="small text-muted float-right mt-1">20.03.2021</span>
                            </div>
                            <button type="button" data-toggle="dropdown" aria-expanded="false"
                                    class="btn btn-sm btn-default icon-btn borderless rounded-pill md-btn-flat dropdown-toggle hide-arrow"
                                    style="position: absolute; right: 10px; top: 5px;">
                                <i class="ion ion-ios-more"></i>
                            </button>
                        </div>
                        <div class="card-footer small py-1 text-muted">
                            <div class="text-secondary">Итого с этого счета за данный период</div>
                            <div>
                                <span class="float-right text-success">15 000 ₽</span>
                                Доходы
                            </div> <div>
                                <span class="float-right text-danger">-54 000 ₽</span>
                                Расходы
                            </div> <div>
                                <span class="float-right text-success">150  ₽</span>
                                Кешбек
                            </div>
                        </div>
                    </div>
                    <div class="card card-condenced mt-2"
                         v-else-if="account.accountType == 7"
                         v-show="account.isHideCurrentAccount == false">
                        <div class="card-body media align-items-center px-3 py-2">
                            <div class="media-body ml-2">
                                <span class="text-muted small">Мой вклад</span>
                                <span class="badge badge-outline-primary ml-2">Вклад</span>
                                <span class="badge badge-outline-success">+ 5%</span>
                                <br />
                                <div class="text-large display-inline">$5,000</div>
                                <span class="text-success ml-1">+140 ₽</span>
                                <span class="small text-muted float-right mt-3">$5,500</span>
                                <br />
                                <div class="progress mt-1" style="height: 4px;">
                                    <div class="progress-bar bg-success" style="width: 56%; height: 3px;"></div>
                                </div>
                                <span class="small text-muted float-left mt-1">20.03.2021</span>
                                <span class="small text-muted float-right mt-1">20.03.2022</span>
                            </div>
                            <button type="button" data-toggle="dropdown" aria-expanded="false"
                                    class="btn btn-sm btn-default icon-btn borderless rounded-pill md-btn-flat dropdown-toggle hide-arrow"
                                    style="position: absolute; right: 10px; top: 5px;">
                                <i class="ion ion-ios-more"></i>
                            </button>
                        </div>
                        <div class="card-footer small py-1 text-muted">
                            <div class="text-secondary">Итого с этого счета за данный период</div>
                            <div>
                                <span class="float-right text-success">10 000 ₽</span>
                                Внесено
                            </div> <div>
                                <span class="float-right text-success">+ 1 000 ₽</span>
                                Проценты
                            </div>

                        </div>
                    </div>*@
                @*Investing*@
                <div class="card card-condenced mt-2"
                     v-else-if="account.accountType == 6 || account.accountType == 8"
                     v-show="account.isHideCurrentAccount == false">
                    <div class="card-body media align-items-center px-3 py-2">
                        <div class="media-body ml-2">
                            <span class="text-muted small">{{ account.name }}</span>
                            <span class="badge badge-outline-secondary ml-2">{{ account.accountTypeName }}</span>
                            <br />
                            <div class="text-large display-inline">
                                {{ new Intl.NumberFormat(account.currency.specificCulture, { style: 'currency', currency: account.currency.codeName }).format(account.balance) }}
                            </div>
                            <span class="text-success ml-1" v-show="account.isCachback">
                                ≈{{ new Intl.NumberFormat(account.currency.specificCulture, { style: 'currency', currency: account.currency.codeName }).format(account.cachBackBalance) }}
                            </span>
                            <br />
                            <div class="progress mt-1" style="height: 4px;"
                                 v-show="account.percent">
                                <div class="progress-bar"
                                     v-bind:class="account.percent >= 95 ? 'bg-success': 'bg-secondary'"
                                     v-bind:style="'width: '+ account.percent +'%;'"
                                     style="height: 3px;"></div>
                            </div>
                            <span class="small text-muted float-left mt-1"
                                  v-show="account.percent">{{ getDateByFormat(account.dateStart, 'DD.MM.YYYY') }}</span>
                            <span class="small text-muted float-right mt-1"
                                  v-show="account.percent">{{ getDateByFormat(account.expirationDate, 'DD.MM.YYYY') }}</span>
                        </div>
                        <button type="button" data-toggle="dropdown" aria-expanded="false"
                                class="btn btn-sm btn-default icon-btn borderless rounded-pill md-btn-flat dropdown-toggle hide-arrow"
                                style="position: absolute;right: 10px;top: 5px;"
                                v-show="!account.isDeleted">
                            <i class="ion ion-ios-more"></i>
                        </button>
                        <i class="fa fa-undo pl-2 float-right text-success cursor-pointer"
                           style="position: absolute;right: 13px;top: 13px;"
                           v-show="account.isDeleted"
                           v-on:click="removeOrRecoveryAccount(account)"></i>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="javascript:void(0)"
                               v-on:click="editAccount(account)">Редактировать счет</a>
                            <a class="dropdown-item" href="javascript:void(0)"
                               v-on:click="transferMoney(account.id)">Перевести деньги</a>
                            <a class="dropdown-item" href="javascript:void(0)"
                               v-on:click="showHideAccount(account, true)">Скрыть счет</a>
                            <a class="dropdown-item text-danger" href="javascript:void(0)"
                               v-on:click="removeOrRecoveryAccount(account)">Удалить счет</a>
                        </div>
                    </div>
                    <div class="card-footer small py-1 text-muted"
                         v-show="account.isPast">
                        <div class="text-secondary">Итого с этого счета за данный период</div>
                        @*<div>
                                <span class="float-right text-success">{{ new Intl.NumberFormat(account.currency.specificCulture, { style: 'currency', currency: account.currency.codeName }).format(account.balanceEarnings) }}</span>
                                Доходы
                            </div>*@
                        <div>
                            <span class="float-right text-secondary">{{ new Intl.NumberFormat(account.currency.specificCulture, { style: 'currency', currency: account.currency.codeName }).format(account.input) }}</span>
                            Пополнений
                        </div>
                        <div>
                            <span class="float-right text-warning">{{ new Intl.NumberFormat(account.currency.specificCulture, { style: 'currency', currency: account.currency.codeName }).format(account.output) }}</span>
                            Выводы
                        </div>
                        <div>
                            <span class="float-right text-danger">{{ new Intl.NumberFormat(account.currency.specificCulture, { style: 'currency', currency: account.currency.codeName }).format(account.balanceSpendings) }}</span>
                            Расходы
                        </div>
                    </div>
                </div>
            </section>
            @*<div class="text-center my-2">
                    <button type="button" class="btn btn-sm btn-outline-primary text-center" title="Добавить счет"
                            v-on:click="editAccount(undefined)">
                        Добавить счет
                    </button>
                </div>*@
        </article>
    </div>
</div>