<div class="modal modal-slide fade" id="modalTimeLine">
    <div class="modal-dialog">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">×</button>
            <div class="modal-body" style="flex:auto">
                <section class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4 pt-2">
                                <h4 class="pt-3 pb-3 display-inline">История</h4>
                                <a href="javascript:void(0)" data-toggle="tooltip" data-placement="right"
                                   title="В этом диалоговом окне вы видите всю историю за выбраный период и по выбранными категориями"
                                   style="display: inline-block;"
                                   class="pr-4">
                                    <i class="pe-7s-info d-block text-primary"></i>
                                </a>
                                <a class="cursor-pointer" v-on:click="add">
                                    <i class="ion ion-md-add navbar-icon align-middle" style="color:var(--success);"></i>
                                    <span class="d-lg-none align-middle">&nbsp; Добавить запись на эту дату</span>
                                </a>
                            </div>
                            <div class="col-md-8">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text ion ion-ios-search"></div>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Поиск" v-model="searchText">
                                    <div class="with-elements">
                                        <div class="ml-md-auto pt-2">
                                            <a data-toggle="collapse" href="#historyCollapse" class="d-block ml-3" style="color: black">
                                                <i class="fas fa-filter"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="collapse" id="historyCollapse">
                            @*<div class="card-title">
                                    Фильтр
                                </div>*@
                            <div class="row my-3">
                                <div class="col-md-12">
                                    <div class="nav-tabs-top mb-4">
                                        <ul class="nav nav-tabs">
                                            <li class="nav-item">
                                                <a class="nav-link active" data-toggle="tab" href="#sale-stats" v-on:click="filter.isSection = true; search()">Категории</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" data-toggle="tab" href="#latest-sales" v-on:click="filter.isSection = false; search()">Теги</a>
                                            </li>
                                        </ul>
                                        <div class="tab-content">
                                            <div class="tab-pane fade active show p-2" id="sale-stats">
                                                <vue-section-component data-class="cards-medium"
                                                                       data-records-style="margin-left: 15px;"
                                                                       data-search-id="searchSection"
                                                                       v-bind:is-show-filter="false"
                                                                       v-bind:data-is-selection="true"
                                                                       v-bind:data-items="sections"
                                                                       v-on:onchoose="onChooseSection"></vue-section-component>
                                                <span class="float-right">
                                                    <span v-on:click="selectOnlyType(2)" class="text-muted m-b block cursor-pointer link-red-hover text-decoration">Выбрать только расходы </span>|
                                                    <span v-on:click="selectOnlyType(1)" class="text-muted m-b block cursor-pointer link-green-hover text-decoration">Выбрать только доходы </span>|
                                                    <span v-on:click="selectAll" class="text-muted m-b block cursor-pointer link-green-hover text-decoration">Выбрать все категории </span>|
                                                    <span v-on:click="unselectAll" class="text-muted m-b block cursor-pointer link-red-hover text-decoration">Очистить форму </span>
                                                </span>
                                            </div>
                                            <div class="tab-pane fade p-2" id="latest-sales">
                                                <input type="text" class="form-control" name="tags" placeholder="Начинайте вводить тег" />
                                                <section>
                                                    <span v-bind:title="tag.title" tabindex="-1" class="tagify__tag cursor-pointer"
                                                          v-for="tag in userTags"
                                                          v-show="tag.isShow"
                                                          v-on:click="selectedTag(tag)">
                                                        <div>
                                                            <span class="tagify__tag-text">{{ tag.title }}</span>
                                                        </div>
                                                    </span>
                                                </section>
                                                <span class="float-right">
                                                    <span v-on:click="selectAllTags" class="text-muted m-b block cursor-pointer link-green-hover text-decoration">Выбрать все теги </span>|
                                                    <span v-on:click="unselectAllTags" class="text-muted m-b block cursor-pointer link-red-hover text-decoration">Очистить поле </span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <span class="text-muted m-b block">С</span>
                                    <input type="date" id="dateHistoryStart" class="form-control" v-model="filter.startDate" />
                                </div>
                                <div class="col-md-6">
                                    <span class="text-muted m-b block">По</span>
                                    <input type="date" id="dateHistoryEnd" class="form-control" v-model="filter.endDate" />
                                </div>
                            </div>
                            <div class="mt-3 float-right">
                                <button type="submit" class="btn btn-primary" v-on:click="search">Поиск</button>
                            </div>
                        </div>
                    </div>
                </section>

                <div class=" card pl-0" style=" margin-bottom: 50px;">
                    <ul class="list-group list-group-flush records-timeline" style=" margin-left: -5px;">
                        @await Html.PartialAsync("_Records")
                    </ul>
                </div>
                <div class="card card-body mt-4" v-show="records && records.length > 0" id="history-footer"
                     style=" position: fixed; right: 43px; top: 84%;width: 90%;z-index: 1;">
                    <div class="text-right">
                        <div style="display:inline-block" v-show="spendingInvestingMoney != 0">
                            <label class="text-muted font-weight-normal m-0">Итого инвстиций</label>
                            <div class="text-large">
                                <strong>
                                    {{ new Intl.NumberFormat('ru-RU', { style: 'currency', currency: 'RUB' }).format(spendingInvestingMoney) }}
                                </strong>
                            </div>
                        </div>
                        <div class="mx-4" style="display:inline-block" v-show="spendingErningMoney != 0">
                            <label class="text-muted font-weight-normal m-0">Итого доходов</label>
                            <div class="text-large">
                                <strong>
                                    {{ new Intl.NumberFormat('ru-RU', { style: 'currency', currency: 'RUB' }).format(spendingErningMoney) }}
                                </strong>
                            </div>
                        </div>
                        <div style="display:inline-block" v-show="spendingTotalMoney != 0">
                            <label class="text-muted font-weight-normal m-0">Итого расходов</label>
                            <div class="text-large">
                                <strong>
                                    {{ new Intl.NumberFormat('ru-RU', { style: 'currency', currency: 'RUB' }).format(spendingTotalMoney) }}
                                </strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>