<div class="col-sm-6 col-md-4 col-lg-6 col-xl-4 px-1"
     v-for="limit in limitsChartsData"
     v-show="limit.isShow">
    <div class="card ui-bordered custom-card-hover mb-2"
         v-bind:id="'limit_'+limit.id"
         v-bind:class="limit.percent1 > 100 ? 'callout-danger' : ''">
        @*<h6 class="card-header with-elements border-0 pr-0 pb-0" style="margin-left: -7px;">
                <div class="card-header-title">{{ limit.name }}</div>
                <div class="card-header-elements ml-auto">
                    <div class="btn-group mr-3">
                        <button type="button" class="btn btn-sm btn-default icon-btn borderless rounded-pill md-btn-flat dropdown-toggle hide-arrow" data-toggle="dropdown">
                            <i class="ion ion-ios-more"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" id="new-users-dropdown-menu">
                            <a class="dropdown-item" href="javascript:void(0)">Редактировать</a>
                        </div>
                    </div>
                </div>
            </h6>*@
        <div class="media align-items-center p-3">
            @* style="padding-top: 0px !important;" *@
            <div class="media-body mr-3">
                <div class="mb-2 d-inline-flex align-items-center cursor-help" data-toggle="tooltip" data-html="true"
                     v-bind:title="getSectionsTitle(limit.sections)">
                    <i class="lnr lnr-frame-expand text-primary float-left" style="font-size: x-large;"></i>
                    <strong class="pl-2">{{ limit.name }}</strong>
                </div>
                <div class="card-header-elements ml-auto float-right" style="margin-top: -20px; margin-right: -31px;">
                    <div class="btn-group mr-3">
                        <button type="button" class="btn btn-sm btn-default icon-btn borderless rounded-pill md-btn-flat dropdown-toggle hide-arrow"
                                data-toggle="dropdown" aria-expanded="false" style="position: absolute; right: -70px; top: 5px;">
                            <i class="ion ion-ios-more"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" id="sales-dropdown-menu" style="">
                            <a class="dropdown-item" href="javascript:void(0)"
                               v-on:click="showLimitHistory(limit.id)">Посмотреть историю</a>
                            <a class="dropdown-item" href="javascript:void(0)"
                               v-on:click="hideLimit(limit.id)">Скрыть с этой страницы</a>
                        </div>
                    </div>
                </div>
                <div class="mb-1 ">{{ getCurrencyValue(limit.spendedMoney) }} / {{ getCurrencyValue(limit.limitMoney) }}</div>
                <div class="small text-muted">
                    {{ limit.text }} {{ getCurrencyValue(limit.leftMoneyInADay) }}
                    <i class="fas fa-info-circle cursor-help" data-toggle="tooltip" data-html="true"
                       v-show="limit.percent1 <= 100"
                       title="Высчитывается из расчета оставшихся дней в этом месяце.<br/> [Лимит] - [Сколько потратили] / [Количество дней, оставшихся в этом месяце]"></i>
                </div>
            </div>
            <div class="d-flex align-items-center position-relative " style="height:60px;width: 60px;">
                <div class="w-100 position-absolute" style="height:60px;top:0;">
                    <canvas v-bind:id="limit.chartID"></canvas>
                </div>
                <div class="w-100 text-center font-weight-bold">{{ limit.percent1 }}%</div>
            </div>
        </div>
    </div>

</div>