<li class="list-group-item py-4 record-item"
    v-for="record in records"
    v-bind:id="'record_'+record.id"
    v-show="record.isShowForFilter"
    v-bind:style="'border-left-color: '+record.cssBackground+' !important;'">
    <div v-if="record.isDeleted == false">
        <div class="row">
            <div class="col-md-6 col-sm-12 col-12">
                <i class="record-icon position-absolute" v-bind:class="record.cssIcon"></i>
                <div>
                    <h5 class="mb-0">
                        {{ record.areaName }} > {{ record.sectionName }}
                    </h5>
                    <span class="text-muted small pt-1">
                        <i class="ion ion-md-time text-primary"></i>
                        <span>{{ GetDateByFormat(record.dateTimeOfPayment, 'DD.MM.YYYY') }} </span>
                    </span>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-12 text-right">
                <h5>
                    <a href="javascript:void(0)" class="font-weight-semibold ml-3" v-on:click="edit(record)" v-if="record.isOwner">
                        {{ getCurrencyValue(record) }}
                    </a>
                    <i class="fas fa-edit pl-2 edit-record cursor-pointer" v-on:click="edit(record)" v-if="record.isOwner"></i>
                    <i class="fas fa-trash pl-2 edit-record text-danger cursor-pointer" v-on:click="remove(record)" v-if="record.isOwner"></i>
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1 col-1">

            </div>
            <div class="col-md-10 col-9"
                 v-html="descriptionBuilder(record)">
            </div>
            <div class="col-md-1 col-2">
                <div class="card-title with-elements">
                    <div class="card-title-elements ml-md-auto">
                        <a data-toggle="collapse" v-bind:href="'#collapse_info_' + record.id" class="d-block ml-3"><i class="collapse-icon"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-12">
                <div class="collapse" v-bind:id="'collapse_info_' + record.id">
                    <span class="badge badge-outline-default text-muted" v-show="record.isConsider" title="Семеный"><i class="fas fa-users"></i></span>
                    <br />
                    <span class="badge badge-outline-default text-muted"><i class="ion ion-md-time text-primary"></i>  Создан: {{ GetDateByFormat(record.dateTimeCreate, 'DD.MM.YYYY') }}</span>
                    <br />
                    <span class="badge badge-outline-default text-muted"><i class="ion ion-md-time text-primary"></i>  Отредактирован: {{ GetDateByFormat(record.dateTimeEdit, 'DD.MM.YYYY') }}</span>
                    <br />
                    <span class="badge badge-outline-default text-muted">
                        <i class="ion ion-md-create text-primary"></i>  Внесенная сумма: {{ record.rawData }}
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div v-else-if="record.isDeleted">
        <div class="row">
            <div class="col-md-5 col-sm-9 col-12">
                <h5 class="mb-0">
                    {{ record.areaName }} > {{ record.sectionName }}
                </h5>
                <span class="text-muted small pt-1">
                    <i class="ion ion-md-time text-primary"></i>
                    <span>{{ GetDateByFormat(record.dateTimeOfPayment, 'DD.MM.YYYY') }} </span>
                </span>
            </div>
            <div class="col-md-6 col-sm-12 col-12 text-right">
                <h5>
                    <a href="javascript:void(0)" class="font-weight-semibold ml-3" v-on:click="edit(record)" v-if="record.isOwner">
                        {{ getCurrencyValue(record) }}
                    </a>
                    <i class="fa fa-undo pl-2 float-right text-success cursor-pointer" v-on:click="recovery(record)"></i>
                </h5>
            </div>
        </div>
    </div>
</li>
