
<div class="col-md-12 px-1">
    <div class="card mb-2">
        <div id="summary-view" class="row no-gutters row-bordered"
             v-show="summary.isShow">
            <div class="col-lg-3">

                <div class="card-body pt-3 pb-1">
                    <div class="text-muted small">
                        Всего на всех счетах
                        <i class="fas fa-info-circle cursor-help text-danger" data-toggle="tooltip" data-html="true"
                           v-show="summary.allAccountsMoney.convertError"
                           title="Не удалось конвертировать некоторые счета"></i>
                    </div>
                    <div class="text-xlarge" style="display: inline-block"
                         v-if="summary.currencySpecificCulture">
                        {{ summary.allAccountsMoney.balanceString }}
                        @*<small><sup class="text-success">+11.25%</sup></small>*@
                    </div>
                    <div class="text-muted small"
                         v-show="summary.allAccountsMoney.countedAccounts != summary.allAccountsMoney.countAllAccounts">Суммируется {{ summary.allAccountsMoney.countedAccounts }} из {{ summary.allAccountsMoney.countAllAccounts }} счетов</div>
                    @*<div class="col-md-8" style="display:inline-block; width: 60%; height: 50px;">
                    <canvas id="statistics-chart-14"></canvas>
                </div>*@
                </div>

            </div>
            <div class="col-lg-3">

                <div class="card-body pt-3 pb-1">
                    <div class="row">
                        <div class="col-md-6" style="display: inline-block"
                             v-if="summary.currencySpecificCulture">
                            <div class="text-muted small">
                                Денежный поток
                                <i class="fas fa-info-circle cursor-help" data-toggle="tooltip" data-html="true"
                                   title="[Доходы] - [Расходы] <p>С помощью этого показателя вы можете определить, не выходите ли вы за рамки бюджета в данном месяце/году</p>"></i>
                            </div>
                            <span class=" text-xlarge"
                                  v-bind:class="summary.cashFlow.balance >= 0 ? 'text-success': 'text-danger'">
                                {{ summary.cashFlow.balanceString }}
                            </span>
                            @*<small><sup class="text-success">+11.25%</sup></small>*@
                        </div>
                        <div class="col-md-6 col-sm-1 col-xs-1" style="display:inline-block; width: 60%; height: 50px;">
                            <canvas id="chashFlowChart" width="100" height="50"></canvas>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-3">
                <div class="card-body row py-3">
                    <div class="col-lg-12">
                        <span class="text-muted small">
                            Оплата за подписки
                            <i class="fas fa-info-circle cursor-help" data-toggle="tooltip" data-html="true"
                               title="Сколько вы платите за подписки за выбранный период"></i>
                        </span>
                        <span class="float-right">
                            {{ summary.allSubScriptionPrice.balanceString }}
                        </span>
                    </div>
                </div>

            </div>
            <div class="col-lg-3">
                <div class="card-body row py-3">
                    <div class="col-lg-12">
                        <span class="text-muted small">
                            Рабочих часов / дней
                        </span>
                        <span class="float-right">
                            {{ summary.earningsPerHour.allWorkHours }} / {{ summary.earningsPerHour.allWorkDays }}
                        </span>
                    </div>
                    <div class="col-lg-12">
                        <span class="text-muted small">
                            Доходы в рабочий час / день
                            <i class="fas fa-info-circle cursor-help" data-toggle="tooltip" data-html="true"
                               title="Из расчета для часов: <br />[Доход] / [Количество рабочих часов] <br /> Из расчета для дней: <br />[Доход] / [Количество рабочих дней]"></i>
                        </span>
                        <span class="float-right"
                              v-bind:class="summary.earningsPerHour != undefined && summary.earningsPerHour.balancePerHour > 0 ? 'text-success' : ''"
                              v-if="summary.currencySpecificCulture">
                            {{ summary.earningsPerHour.balancePerHourString }} /
                            {{ summary.earningsPerHour.balancePerDayString }}
                        </span>
                    </div>

                    <div class="col-lg-12">
                        <span class="text-muted small">
                            Расходы в час / день
                            <i class="fas fa-info-circle cursor-help" data-toggle="tooltip" data-html="true"
                               title="Из расчета для часов: <br />[Расходы] / [Количество всех часов до сегодняшнего дня] <br /> Из расчета для дней: <br />[Расходы] / [Количество всех дней до сегодняшнего дня]"></i>
                        </span>
                        <span class="float-right text-danger"
                              v-if="summary.currencySpecificCulture">
                            {{ summary.expensesPerDay.balancePerHourString }} /
                            {{ summary.expensesPerDay.balancePerDayString }}
                        </span>
                    </div>
                    @*<div class="col-lg-6 text-muted small ">Обязательств в месяц</div><div class="col-lg-6 text-danger">12 000 ₽</div>*@
                </div>

            </div>
        </div>
        <div id="total-view" class="row no-gutters row-bordered total-view" style="overflow: inherit; border-top: 1px solid lightgray;">
            <div class="col-sm-6 col-xl-4 px-1" v-show="earningData.isShow">
                <div class="card-body row" style="height: 98px">
                    <div class="col-md-6">
                        <div class="text-muted small">
                            Доходы <i class="fas fa-info-circle cursor-help" data-toggle="tooltip" data-html="true"
                                      v-bind:data-original-title="getSectionsTitle(earningData.sections, earningData.sectionTypeEnum )"></i>
                        </div>
                        <strong class="text-large font-weight-normal">{{ earningData.total }}</strong>
                        <sup v-show="earningData.percent != 0 && earningData.isGood" class="text-success small">+ {{ earningData.percent }}%</sup>
                        <sup v-show="earningData.percent != 0 && !earningData.isGood" class="text-danger small">- {{ earningData.percent }}%</sup>
                    </div>
                    <div class="col-md-6" style="height: 65px;">
                        <canvas id="earningChart"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-4 px-1" v-show="spendingData.isShow">
                <div class="card-body row" style="height: 98px">
                    <div class="col-md-6">
                        <div class="text-muted small">
                            Расходы <i class="fas fa-info-circle cursor-help" data-toggle="tooltip" data-html="true"
                                       v-bind:data-original-title="getSectionsTitle(spendingData.sections, spendingData.sectionTypeEnum)"></i>
                        </div>
                        <strong class="text-large font-weight-normal">{{ spendingData.total }}</strong>
                        <sup v-show="spendingData.percent != 0 && !spendingData.isGood" class="text-danger small">+ {{ spendingData.percent }}%</sup>
                        <sup v-show="spendingData.percent != 0 && spendingData.isGood" class="text-success small">- {{ spendingData.percent }}%</sup>
                    </div>
                    <div class="col-md-6">
                        <div style="height: 70px;">
                            <canvas id="spendingChart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-4 px-1" v-show="investingData.isShow">
                <div class="card-body row" style="height: 98px">
                    <div class="col-md-6">
                        <div class="text-muted small">
                            Инвестиции <i class="fas fa-info-circle cursor-help" data-toggle="tooltip" data-html="true"
                                          v-bind:data-original-title="getSectionsTitle(investingData.sections, 3)"></i>
                        </div>
                        <strong class="text-large font-weight-normal">{{ investingData.total }}</strong>
                        <sup v-show="investingData.percent != 0 && !investingData.isGood" class="text-danger small">- {{ investingData.percent }}%</sup>
                        <sup v-show="investingData.percent != 0 && investingData.isGood" class="text-success small">+ {{ investingData.percent }}%</sup>
                    </div>
                    <div class="col-md-6">
                        <div style="height: 70px;">
                            <canvas id="investmentsChart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
