<div class="card-datatable table-responsive">
	<table class="datatables-demo table table-striped table-bordered"
		   id="table"
		   data-searching="true"
		   data-paging="false"
		   >
		<thead>
			<tr class="text-center">
				<th v-for="column in template.columns" v-html="column.name" v-show="column.isShow" ></th>
			</tr>
		</thead>
		<tbody>
			<tr v-for="row in rows" class="text-right">
				<td v-for="cell in row" v-show="cell.isShow" v-html="getCellValue(cell)">
				</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td v-for="cell in footerRow" v-show="cell.isShow" v-html="getCellValue(cell)">
				</td>
			</tr>
		</tfoot>
	</table>
</div>