       
<table id="table"
       class="table table-bordered dataTable table-hover"
       v-bind:class="pageViewSettings.isTableViewCompact ? 'compact' : ''"
       data-searching="false"
       data-paging="false"
       data-fixed-header="true"
       data-col-reorder="true"
       data-b-info="false">
    <thead>
        <tr class="text-center">
            <th data-toggle="tooltip" data-html="true"
                v-for="(column, columnIndex) in template.columns"
                v-html="column.name"
                v-show="column.isShow"
                v-bind:class="column.styleForTableView"
                v-bind:title="getTitle(column, template.id)"
                v-bind:data-column-order="column.order"
                v-bind:data-column-id="column.id"></th>
        </tr>
    </thead>
    <tbody>
        <tr v-for="(row, rowIndex) in rows"
            class="text-right">
            <td v-for="(cell, cellIndex) in row"
                v-show="cell.isShow"
                v-html="getCellContent(cell,cellIndex,rowIndex)"
                v-on:mouseenter="mouseenterCell($event)"
                v-on:mouseleave="mouseleaveCell($event)"
                class="cell-hover pb-0"
                v-bind:class="[template.columns && template.columns.length > 0 ? template.columns[cellIndex].styleForTableView : '', cell.isWeekend || cell.isHoliday ? 'table-active' : '' ]">
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr class="text-right">
            <td v-for="(cell, cellIndex) in footerRow"
                v-show="cell.isShow"
                v-html="getCellFooterContent(cell, cellIndex)"
                v-on:mouseenter="mouseenterCell($event)"
                v-on:mouseleave="mouseleaveCell($event)"
                class="cell-hover p-1">
            </td>
        </tr>
    </tfoot>
</table>

<div id="excel-table-container" style="display: none;"
     data-paging="false">
    <table id="excel-table">
        <thead>
            <tr class="text-center">
                <th v-for="column in template.columns">
                    {{ column.name }}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="row in rows">
                <td v-for="cell in row">
                    {{ cell.value }}    
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td v-for="cell in footerRow">
                    {{ cell.value }}
                </td>
            </tr>
        </tfoot>
    </table>
</div>