@{
	ViewData["Title"] = "DataTables - Tables";
}

@section Styles {
	<link rel="stylesheet" href="~/vendor/libs/datatables/datatables.css">

}

@section Scripts {
	<!-- Dependencies -->
	<script src="~/vendor/libs/datatables/datatables.js"></script>

	<script src="~/app_js/budget.js"></script>
}


<div class="card" id="budget-vue">
	<div class="card-datatable table-responsive">

		<input type="hidden" id="templateID" value="5" />
		@*<input type="hidden" id="templateID" value="@ViewBag.TemplateID" />*@
		<table class="datatables-demo table table-striped table-bordered"
			   id="table"
			   data-search="hello"
			   data-show-refresh="false"
			   data-show-columns="false"
			   data-show-export="false"
			   data-detail-view="false"
			   data-minimum-count-columns="5"
			   data-show-pagination-switch="false"
			   data-pagination="false"
			   data-show-footer="true">
			<thead>
				<tr>
					<th v-for="column in template.columns" v-html="column.name" v-show="column.isShow"></th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="row in rows">
					<td v-for="cell in row" v-show="cell.isShow" v-html="cell.value">
					</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td v-for="cell in footerRow" v-html="cell.value" v-show="cell.isShow"></td>
				</tr>
			</tfoot>
		</table>
	</div>
</div>

