@{
	ViewData["Title"] = "DataTables - Tables";
}

@section Styles {
	<link rel="stylesheet" href="~/vendor/libs/datatables/datatables.css">
	<link href="~/vendor/libs/flatpickr/plugins/monthSelect.css" rel="stylesheet" />

}

@section Scripts {
	<!-- Dependencies -->
	<script src="~/vendor/libs/datatables/datatables.js"></script>
	<script src="~/vendor/libs/flatpickr/plugins/monthSelect.js"></script>

	<script src="~/app_js/budget.js"></script>
}


<div class="card" id="budget-vue">
	<div class="form-row">
		<div class="form-group col">
			<label class="form-label">Date</label>
			<input type="text" class="form-control" id="budget-date" v-model="budgetDate">
		</div>
		<div class="form-group col">
			<label class="form-label">Date</label>
			<input type="text" class="form-control" id="budget-date" v-model="budgetDate">
		</div>
	</div>
	@await Html.PartialAsync("_TableView")
	
</div>

