@model MyProfile.Entity.ModelView.BudgetView.BudgetControllerModelView
@{
    ViewData["Title"] = "DataTables - Tables";
}

@section Styles {
    <link rel="stylesheet" href="~/vendor/libs/datatables/datatables.css">
    <link href="~/css/budget-page.css" rel="stylesheet" />
}

@section Scripts {
    <!-- Dependencies -->

    <script src="~/vendor/libs/chartjs/chartjs.js"></script>
    <script src="~/vendor/libs/datatables/datatables.js"></script>

    <script src="~/js/budget/_budget-year.js"></script>
    <script src="~/js/budget/budget.js"></script>
    <script src="~/js/budget/history-model.js"></script>
}

<div id="budget-vue">
    <input type="hidden" id="templateID_hidden" value="@Model.SelectedTemplateID" />
    <input type="hidden" id="budgetMonth_hidden" value="@Model.SelectedYear" />

    <!-- Head block -->
    <div class="container-m-nx container-m-ny bg-white container-p-x py-4 mb-0">

        <div class="d-flex justify-content-between align-items-center ">
            <div class="form-row">
                <div class="form-group col">
                    <label class="form-label">Date</label>
                    <select id="budget-year" v-model="budgetYear" v-on:change="refresh" class="form-control">
                        <option value="2016">2016</option>
                        <option value="2017">2017</option>
                        <option value="2018">2018</option>
                        <option value="2019">2019</option>
                        <option value="2020">2020</option>
                    </select>
                </div>
                <div class="form-group col">
                    <label class="form-label">Date</label>
                    <select class="form-control" data-style="btn-default" v-model="templateID" v-on:change="refresh">
                        @foreach (var template in Model.Templates)
                        {
                            <option value="@template.ID">@template.Name</option>

                        }
                    </select>
                </div>
            </div>
            <div>
                <h2 class="font-weight-light mb-2">Server Statistics</h2>
                <div class="badge badge-success font-weight-bold">RUNNING</div>
            </div>
            <button class="btn btn-lg btn-default">
                <i class="ion ion-md-power text-danger"></i>&nbsp;
                Shut Down
            </button>
        </div>
    </div>
    <!-- / Head block -->
    <hr class="container-m-nx border-light mt-0 mb-4">
    <div class="row">
        @await Html.PartialAsync("_TotalView", MyProfile.Entity.Model.PeriodTypesEnum.Year)
    </div>
    <div class="row">
        @await Html.PartialAsync("_LimitsView")
    </div>
    <div class="row">
        @await Html.PartialAsync("_GoalsView")
    </div>
    <div class="row">
        @await Html.PartialAsync("_BigChartView")
    </div>
    <div class="card">
        <div class="card-body" style="padding-bottom:5px;">
            <div class="card-title with-elements">
                <h5 class="m-0 mr-2">Table</h5>
                <div class="card-title-elements">
                </div>
                <div class="card-title-elements ml-md-auto">
                    <label class="switcher switcher-sm mr-0">
                        <input type="checkbox" class="switcher-input">
                        <span class="switcher-indicator">
                            <span class="switcher-yes"></span>
                            <span class="switcher-no"></span>
                        </span>
                    </label>
                    <a data-toggle="collapse" href="#collapseFilter" class="d-block ml-3"><i class="collapse-icon"></i></a>
                </div>
            </div>
            <div class="collapse table-responsive bg-light " id="collapseFilter">
                <div class="float-right">
                    <button type="button" class="btn icon-btn borderless my-2"
                            v-bind:class="pageViewSettings.isTableViewCompact ? 'btn-outline-default': 'btn-outline-primary'">
                        <i class="ion ion-md-menu" v-on:click="pageViewSettings.isTableViewCompact = false; savePageSettings();" title="Обычный вид таблицы"></i>
                    </button>
                    <button type="button" class="btn icon-btn borderless my-2 mr-2"
                            v-bind:class="pageViewSettings.isTableViewCompact ? 'btn-outline-primary': 'btn-outline-default'">
                        <i class="ion ion-md-reorder" v-on:click="pageViewSettings.isTableViewCompact = true; savePageSettings();" title="Компактный вид таблицы"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="card-datatable table-responsive" style="padding: 0px 12px 8px 11px;">
            @await Html.PartialAsync("_TableView")
        </div>
    </div>

</div>

<div id="history-vue">
    @await Html.PartialAsync("_TimeLineDialog")
</div>
@await Html.PartialAsync(@"../Settings/Settings.cshtml", "Budget/Year")

