@{
    if (ViewBag.TemplateID == null)
    {
        ViewData["Title"] = "Создание шаблона";
    }
    else
    {
        ViewData["Title"] = "Редактирование шаблона";
    }
}

@section Styles {
    <link rel="stylesheet" asp-append-version="true" href="~/vendor/libs/dragula/dragula.css">
    <link rel="stylesheet" asp-append-version="true" href="~/vendor/libs/bootstrap-select/bootstrap-select.css">
    <link href="~/vendor/libs/bootstrap-tagsinput/bootstrap-tagsinput.css" rel="stylesheet" asp-append-version="true" />

    <link href="~/css/template.css" rel="stylesheet" asp-append-version="true" />
}

@section Scripts {
    <!-- Dependencies -->
    <script src="~/vendor/libs/dragula/dragula.js" asp-append-version="true"></script>
    <script src="~/vendor/libs/bootstrap-select/bootstrap-select.js" asp-append-version="true"></script>
    <script src="~/vendor/libs/bootstrap-tagsinput/bootstrap-tagsinput.js" asp-append-version="true"></script>

    <script src="~/pages/template/template-edit.js" asp-append-version="true"></script>
}

<section id="template-columns" style="margin-bottom: 250px;" v-cloak>
    <input type="hidden" name="templateID" id="templateID" value="@ViewBag.TemplateID" />

    <h4 class="d-flex flex-wrap w-100 font-weight-bold">
        <div class="lnr lnr-layers display-4 text-primary mr-2"></div>
        <span class="px-0 pb-2 pt-2">
            {{ template.id == 0 ? 'Создание шаблона' : 'Редактирование шаблона' }}
        </span>
        <a href="javascript:void(0)" data-toggle="tooltip" data-placement="bottom" 
           title="На этой странице вы можете создавать/редактировать шаблон, по которому будет строиться таблица на страницах 'Финансы на месяц' и 'Финансы на год'.
           Колонки можно перемещать, над категориями в колонках можно совершать действия (* \ + -), а в настройках колонки менять вид итоговой суммы и видимость на главной странице. ">
            <i class="pe-7s-info d-block text-primary"></i>
        </a>
    </h4>
    <div class="card mb-4">
        <div class="card-body">
            <div class="row no-gutters">
                <div class="col-sm-3 col-md-4 col-lg-4 col-xl-4 pr-3">
                    <div class="form-group">
                        <label class="form-label">Название шаблона</label>
                        <span class="text-danger">*</span>
                        <input id="template-name" type="text" class="form-control" required placeholder="Название шаблона"
                               v-model="template.name">
                        <small class="invalid-feedback">Обязательное поле</small>
                    </div>
                </div>
                <div class="col-sm-3 col-md-4 col-lg-3 col-xl-3 mb-3">
                    <label class="form-label">Тип шаблона</label>
                    <span class="text-danger">*</span>
                    <div class="dropdown template-types">
                        <button type="button" class="btn btn-success btn-sm dropdown-toggle "
                                data-toggle="dropdown"
                                v-text="template.periodName"
                                v-bind:disabled="template.columns && template.columns.length > 0"></button>
                        <div class="dropdown-menu">
                            @foreach (MyProfile.Entity.Model.PeriodType periodType in ViewBag.PeriodTypes)
                            {
                                <a class="dropdown-item"
                                   v-on:click="template.periodTypeID = @periodType.ID; template.periodName = '@periodType.Name'; changeType();">@periodType.Name</a>
                            }
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-5 col-xl-5">

                    <!-- Dates -->
                    @*<div class="row no-gutters row-bordered row-border-light ui-bordered mb-4">
                            <div class="col py-1 px-3">
                                <div class="text-muted small">Created at</div>
                                <div class="font-weight-semibold">{{ GetDateByFormat(template.dateCreate, 'DD.MM.YYYY HH:mm') }}</div>
                            </div>
                            <div class="col py-1 px-3">
                                <div class="text-muted small">Last update</div>
                                <div class="font-weight-semibold">{{ GetDateByFormat(template.dateEdit, 'DD.MM.YYYY HH:mm') }} </div>
                            </div>
                        </div>*@

                </div>
            </div>
            <div class="form-group">
                <label class="form-label">Описание</label>
                <textarea class="form-control" v-model="template.description" rows="2" placeholder="Описание шаблона"></textarea>
            </div>
            <div class="form-group">
                <label class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" v-model="template.isDefault">
                    <span class="custom-control-label">Сделать шаблоном по умолчанию</span>
                </label>
            </div>
            <span class="text-danger">{{ errorMessage }}</span>
        </div>

        <div class="card-footer inline-spacing">
            <button type="button" class="btn btn-primary save-template"
                    v-on:click="saveTemplate(false)"
                    v-bind:disabled="isSavingTemplate || template.periodTypeID == 0">
                <span class="spinner-border" role="status" aria-hidden="true" v-show="isSavingTemplate"></span>
                <i class="ion ion-ios-save pr-2" v-show="!isSavingTemplate" style="font-size: large;"></i>
                Сохранить и остаться
            </button>
            <button type="button" class="btn btn-outline-primary"
                    v-on:click="saveTemplate(true)"
                    v-bind:disabled="isSavingTemplate"
                    v-show="template.id != 0">
                <span class="spinner-border" role="status" aria-hidden="true" v-show="isSavingTemplate"></span>
                <i class="ion ion-ios-save pr-2" v-show="!isSavingTemplate" style="font-size: large;"></i>
                Создать копию
            </button>

            <button type="button" class="btn btn-outline-primary"
                    v-on:click="saveAndGoToView"
                    v-show="template.id != 0"
                    v-bind:disabled="isSavingTemplate"
                    v-bind:class="isSavingTemplate ? 'disabled' : ''">
                <span class="spinner-border" role="status" aria-hidden="true" v-show="isSavingTemplate"></span>
                <i class="far fa-eye pr-2" style="font-size: large;"></i>Сохранить и вернуться на страницу финансы
            </button>

            <a href="/Template/Delete/@ViewBag.TemplateID" class="btn btn-outline-danger icon-btn borderless float-right"
               title="Удалить шаблон"
               v-show="template.id > 0"
               v-bind:class="template.id > 0 && isSavingTemplate ? 'disabled' : ''">
                <span class="ion ion-md-trash"></span>
            </a>
        </div>
        <div class="ml-4" style=" margin-top: -12px;" v-show="template.id">
            <span class="text-muted small">Последний раз редактировалось: {{ GetDateByFormat(template.dateEdit, 'DD.MM.YYYY') }} </span>
        </div>
    </div>

    <!--Columns-->
    <article class="card ui p-3">
        <div class="lists">
            <div class="list" v-for="(column, indexColumn) in template.columns" v-bind:columnid="column.id">
                <div class="card border-primary mb-3" v-if="isBudgetSection(column.templateColumnType)">
                    <div>
                        <ul class="nav nav-sm nav-tabs tabs-alt" style="overflow: hidden;">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" v-bind:href="'#general'+column.id">
                                    Основное
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" v-bind:href="'#settings'+column.id">
                                    Настройки колонки
                                </a>
                            </li>
                            <li style="padding-top: 14px; padding-left: 7px;">
                                <a class="text-lighter text-bigteam-actions ignore-dnd" href="javascript:void(0)" title="Удалить колонку"
                                   v-on:click="template.columns.splice(indexColumn, 1)">
                                    <span class="ion ion-md-trash"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div class="card-body tab-pane pb-0 pt-2 pr-2 pl-2 active" v-bind:id="'general'+column.id">
                            <div class="d-flex justify-content-between align-items-start ignore-dnd">
                                <input type="text" class="form-control ignore-dnd" placeholder="Название колонки" v-model="column.name">
                            </div>
                            <div class="mt-3">
                                @*Aliquam sem elit, semper sed ante ut, aliquam molestie risus.*@
                            </div>

                            <hr class="m-0" />
                            <div class="px-2 pt-2">
                                <div class="ui-bordered p-2 mb-2 badge-default" v-for="(templateBudgetSection, indexSection) in column.templateBudgetSections">
                                    <div class="kanban-board-actions btn-group float-right ml-2">
                                        <span class="ion ion-ios-close cursor-pointer remove-section-item"
                                              v-on:click="removeSectionInColumn(templateBudgetSection, indexSection, indexColumn)"></span>
                                    </div>
                                    {{ templateBudgetSection.sectionName }}
                                </div>

                            </div>
                            <div class="card-footer text-center py-2 add-section">
                                <a href="javascript:void(0)" v-on:click="addColumnOption_step1(column)"><i class="ion ion-md-add"></i>&nbsp; Добавить категорию</a>
                                <i class="kanban-box ion ion-ios-move float-right text-large" style="position: absolute;right: 13px; cursor:all-scroll"
                                   title="Изменить положение колонки"></i>
                            </div>
                        </div>
                        <div class="card-body tab-pane pb-0 pt-2 pr-2 pl-2" v-bind:id="'settings'+column.id">
                            <ul class="list-group list-group-flush" style="overflow-y: unset;">
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <div class="text-muted">Итоговая сумма</div>
                                    <div>
                                        <select class="form-control" data-style="btn-default" v-model="column.totalAction">
                                            <!--FooterActionTypeEnum.Undefined-->
                                            <option v-bind:value="0">
                                                Не выбрано
                                            </option>
                                            <!--FooterActionTypeEnum.Sum-->
                                            <option v-bind:value="1">
                                                Сумма
                                            </option>
                                            <!--FooterActionTypeEnum.Avr-->
                                            <option v-bind:value="2">
                                                Среднее
                                            </option>
                                            <!--FooterActionTypeEnum.Max-->
                                            <option v-bind:value="4">
                                                Максимальное
                                            </option>
                                            <!--FooterActionTypeEnum.Min-->
                                            <option v-bind:value="3">
                                                Минимальное
                                            </option>
                                        </select>
                                    </div>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <div class="text-muted">Где ставить запятую</div>
                                    <div>
                                        @*<p class="cursor-pointer" v-on:click="column.placeAfterCommon = 3" v-show="column.placeAfterCommon == 4">
                                                <i class="fa fa-terminal"></i>
                                                0,0000
                                            </p>
                                            <p class="cursor-pointer" v-on:click="column.placeAfterCommon = 2" v-show="column.placeAfterCommon == 3">
                                                <i class="fa fa-terminal"></i>
                                                0,000
                                            </p>*@
                                        <p class="cursor-pointer" v-on:click="column.placeAfterCommon = 0" v-show="column.placeAfterCommon == 2">
                                            <i class="fa fa-terminal"></i>
                                            0,00
                                        </p>
                                        <p class="cursor-pointer" v-on:click="column.placeAfterCommon = 2" v-show="column.placeAfterCommon == 1">
                                            <i class="fa fa-terminal"></i>
                                            0,0
                                        </p>
                                        <p class="cursor-pointer" v-on:click="column.placeAfterCommon = 1" v-show="column.placeAfterCommon == 0">
                                            <i class="fa fa-terminal"></i>
                                            0
                                        </p>
                                    </div>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <div class="text-muted">Показывать колонку?</div>
                                    <div>
                                        <label class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" v-model="column.isShow">
                                            <span class="custom-control-label"></span>
                                        </label>
                                    </div>
                                </li>
                                <li class="list-group-item cursor-pointer" v-on:click="openFormula(column.id)">
                                    <div class="text-muted small">Формула</div>
                                    <div class="d-flex flex-wrap">
                                        <span class="badge badge-outline-secondary mr-1 mb-1" v-for="formula in column.formula">{{ formula.value }}</span>
                                    </div>
                                </li>
                            </ul>
                            <div class="card-footer text-center py-2 add-section">
                                <a href="javascript:void(0)" v-on:click="addColumnOption_step1(column)"><i class="ion ion-md-add"></i>&nbsp; Добавить категорию</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card border-secondary mb-3" v-if="isDaysForMonth(column.templateColumnType)">
                    <div>
                        <ul class="nav nav-sm nav-tabs tabs-alt" style="overflow: hidden;">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" v-bind:href="'#general'+column.id">
                                    Основное
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" v-bind:href="'#settings'+column.id">
                                    Настройки колонки
                                </a>
                            </li>
                            <li style="padding-top: 14px; padding-left: 7px;">
                                <a class="text-lighter text-bigteam-actions ignore-dnd" href="javascript:void(0)" title="Удалить колонку"
                                   v-on:click="template.columns.splice(indexColumn, 1)">
                                    <span class="ion ion-md-trash"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div class="card-body tab-pane pb-0 pt-2 pr-2 pl-2 active" v-bind:id="'general'+column.id">
                            <div class="d-flex justify-content-between align-items-start">
                                <input type="text" class="form-control " placeholder="Name column" v-model="column.name">
                            </div>
                            <div class="mt-3">
                                @*Aliquam sem elit, semper sed ante ut, aliquam molestie risus.*@
                            </div>

                            <hr class="m-0" />
                            <div class=" px-2 pt-2">
                                <div class="ui-bordered p-2 mb-2 badge-secondary">
                                    Дни
                                </div>
                            </div>
                            <i class="kanban-box ion ion-ios-move float-right text-large pb-2 pr-2" style="cursor: all-scroll"
                               title="Изменить положение колонки"></i>
                        </div>
                        <div class="card-body tab-pane pb-0 pt-2 pr-2 pl-2" v-bind:id="'settings'+column.id">
                            <ul class="list-group list-group-flush" style="overflow-y: unset;">
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <div class="text-muted">Формат отображения даты</div>
                                    <select class="form-control" v-model="column.format">
                                        <option v-bind:value="''">Не выбрано</option>
                                        <option v-bind:value="'dd'">1,2,3</option>
                                        <option v-bind:value="'dd.MM'">1.03</option>
                                        @*<option v-bind:value="'dd.MM.yyyy'">1.03.2020</option>*@
                                    </select>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <div class="text-muted">Показывать колонку?</div>
                                    <div>
                                        <label class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" v-model="column.isShow">
                                            <span class="custom-control-label"></span>
                                        </label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card border-secondary mb-3" v-if="isMonthsForYear(column.templateColumnType)">
                    <div>
                        <ul class="nav nav-sm nav-tabs tabs-alt" style="overflow: hidden;">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" v-bind:href="'#general'+column.id">
                                    Основное
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" v-bind:href="'#settings'+column.id">
                                    Настройки колонки
                                </a>
                            </li>
                            <li style="padding-top: 14px; padding-left: 7px;">
                                <a class="text-lighter text-bigteam-actions ignore-dnd" href="javascript:void(0)" title="Удалить колонку"
                                   v-on:click="template.columns.splice(indexColumn, 1)">
                                    <span class="ion ion-md-trash"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div class="card-body tab-pane pb-0 pt-2 pr-2 pl-2 active" v-bind:id="'general'+column.id">
                            <div class="d-flex justify-content-between align-items-start">
                                <input type="text" class="form-control " placeholder="Name column" v-model="column.name">
                            </div>
                            <div class="mt-3">
                                @*Aliquam sem elit, semper sed ante ut, aliquam molestie risus.*@
                            </div>

                            <hr class="m-0" />
                            <div class="px-2 pt-2">
                                <div class="ui-bordered p-2 mb-2 badge-secondary">
                                    Месяц
                                </div>
                            </div>
                            <i class="kanban-box ion ion-ios-move float-right text-large pb-2 pr-2" style="cursor: all-scroll"
                               title="Изменить положение колонки"></i>
                        </div>
                        <div class="card-body tab-pane pb-0 pt-2 pr-2 pl-2" v-bind:id="'settings'+column.id">

                            <ul class="list-group list-group-flush" style="overflow-y: unset;">
                                @*<li class="list-group-item d-flex justify-content-between align-items-center">
                                        <div class="text-muted">Формат отображение даты</div>
                                        <select class="form-control" v-model="column.format">
                                            <option v-bind:value="''">Не выбрано</option>
                                            <option v-bind:value="'dd'">1,2,3</option>
                                            <option v-bind:value="'dd.MM'">1.03</option>
                                            <option v-bind:value="'dd.MM.yyyy'">1.03.2020</option>
                                        </select>
                                    </li>*@
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <div class="text-muted">Показывать колонку ?</div>
                                    <div>
                                        <label class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" v-model="column.isShow">
                                            <span class="custom-control-label"></span>
                                        </label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="list ignore-dnd">
                <div class="card mb-3">
                    <button id="add-column" type="button" class="btn btn-outline-primary"
                            v-on:click="addColumn"
                            v-show="template.periodTypeID > 0">
                        Добавить колонку
                    </button>
                </div>
            </div>
        </div>

        <!-- Choose data type column modal -->
        <div class="modal modal-slide fade" id="modalDataTypeColumn">
            <div class="modal-dialog">
                <form class="modal-content">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">×</button>
                    <div class="modal-body">
                        <nav class="navbar navbar-expand-lg bg-navbar-theme mb-4">
                            <div class="container">
                                <a href="javascript:void(0);" class="navbar-brand text-large line-height-1 py-3">Выберите тип колонки</a>
                            </div>
                        </nav>
                        <div class="row">
                            <div class="col-md cursor-pointer" v-on:click="column.templateColumnType = 1; addColumn_Complete();">
                                <div id="template-sections" class="card shadow-none bg-transparent border-primary card-hover bg-primary text-white mb-3" style="border: 1px solid var(--blue) !important;">
                                    <div class="card-body">
                                        <h4 class="card-title">Категории</h4>
                                        <p class="card-text">В одну колонку можно добавлять неограниченное число категорий.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md cursor-pointer" v-on:click="column.templateColumnType = 2; addColumn_Complete();" v-show="!(template.periodTypeID != 1)">
                                <div id="template-days" class="card shadow-none bg-transparent border-primary card-hover bg-primary text-white mb-3" style="border: 1px solid var(--blue) !important;">
                                    <div class="card-body">
                                        <h4 class="card-title">Дни</h4>
                                        <p class="card-text">Нажмите, чтобы добавить колонку с днями месяца.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md cursor-pointer" v-on:click="column.templateColumnType = 3; addColumn_Complete();" v-show="!(template.periodTypeID != 3)">
                                <div class="card shadow-none bg-transparent border-primary card-hover bg-primary text-white mb-3" style="border: 1px solid var(--blue) !important;">
                                    <div class="card-body">
                                        <h4 class="card-title">Месяцы</h4>
                                        <p class="card-text">Нажмите, чтобы добавить колонку с месяцами.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md cursor-pointer" v-on:click="column.templateColumnType = 7; addColumn_Complete();" v-show="!(template.periodTypeID != 2)">
                                <div class="card shadow-none bg-transparent border-primary card-hover bg-primary text-white mb-3" style="border: 1px solid var(--blue) !important;">
                                    <div class="card-body">
                                        <h4 class="card-title">По неделям</h4>
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md cursor-pointer" v-on:click="column.templateColumnType = 4; addColumn_Complete();" v-show="!(template.periodTypeID != 4)">
                                <div class="card shadow-none bg-transparent border-primary card-hover bg-primary text-white mb-3" style="border: 1px solid var(--blue) !important;">
                                    <div class="card-body">
                                        <h4 class="card-title">По 10 лет</h4>
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <!-- templateBudgetSection modal -->
        <div class="modal modal-slide fade" id="section-modal">
            <div class="modal-dialog modal-xl">
                <form class="modal-content">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">×</button>
                    <div class="modal-body">
                        <vue-section-component id="test2"
                                               name="test"
                                               data-search-id="searchSection"
                                               data-class="cards-big"
                                               v-bind:is-show-filter="true"
                                               v-on:onchoose="addColumnOption_step2"
                                               v-bind:data-selected-items="selectedSelections"></vue-section-component>

                    </div>
                </form>
            </div>
        </div>
    </article>

</section>


<!-- Formula -->
<div class="modal modal-top fade" id="modal-formula">
    <div class="modal-dialog">
        <form class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    Операции с категориями
                    @*<span class="font-weight-light">Information</span>
                        <br>
                        <small class="text-muted">We need payment information to process your order.</small>*@
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">×</button>
            </div>
            <div class="modal-body">
                <div class="form-row" style="min-height: 100px;">
                    <input type="text" class="form-control" id="formula" disabled>
                    <span class="text-muted small">Примеры: [ Доходы ] - [ Расходы ] или [ Общие расходы ] + [ Коммунальные платежи ] т.д.</span>
                </div>
                <hr class="my-4">
                <div class="form-row">
                    <div class="form-group col-6">
                        <ul class="list-group" style="list-style: none;">
                            <li v-for="field in fields" v-on:click="addField(field)" class="mb-2 cursor-pointer">
                                <span class="badge badge-outline-secondary formula-section-item border-danger">[ {{ field.name }} ]</span>
                                <span class="is-not-using-section ml-2" title="Эта категория не используется. Добавьте ее в формулу." v-show="!isUsing(field)">!</span>
                            </li>
                        </ul>
                        @*<hr />*@
                        @*<span class="badge badge-outline-secondary formula-day-section-item cursor-pointer" v-on:click="addPeriod(5)">[ День ]</span>*@
                    </div>
                    <div class="form-group col-6">

                        <div class="calculator-keys">

                            <button type="button" class="operator btn btn-info" v-on:click="removeLast"><i class="fas fa-backspace"></i></button>
                            <button type="button" class="operator btn btn-info" v-on:click="removeAll">AC</button>
                            <button type="button" value="(" class="operator btn btn-info" v-on:click="add($event, 4)">(</button>
                            <button type="button" value=")" class="operator btn btn-info" v-on:click="add($event, 4)">)</button>

                            <button type="button" value="*" class="operator btn btn-info" v-on:click="add($event, 3)">*</button>
                            <button type="button" value="/" class="operator btn btn-info" v-on:click="add($event, 3)">/</button>
                            <button type="button" value="+" class="operator btn btn-info" v-on:click="add($event, 3)">+</button>
                            <button type="button" value="-" class="operator btn btn-info" v-on:click="add($event, 3)">-</button>


                            @*<button type="button" class="operator btn btn-info" v-on:click="removeLast"><i class="fas fa-backspace"></i></button>
                                <button type="button" class="operator btn btn-info" v-on:click="removeAll">AC</button>
                                <button type="button" class="operator btn btn-info" v-on:click="add($event, FormulaFieldTypeEnum.Parentheses)">(</button>
                                <button type="button" class="operator btn btn-info" v-on:click="add($event, FormulaFieldTypeEnum.Parentheses)">)</button>

                                <button type="button" value="7" class="btn btn-light waves-effect" v-on:click="add($event, FormulaFieldTypeEnum.Number)">7</button>
                                <button type="button" value="8" class="btn btn-light waves-effect" v-on:click="add($event, FormulaFieldTypeEnum.Number)">8</button>
                                <button type="button" value="9" class="btn btn-light waves-effect" v-on:click="add($event, FormulaFieldTypeEnum.Number)">9</button>
                                <button type="button" value="*" class="operator btn btn-info" v-on:click="add($event, FormulaFieldTypeEnum.Mark)">&times;</button>

                                <button type="button" value="4" class="btn btn-light waves-effect" v-on:click="add($event, FormulaFieldTypeEnum.Number)">4</button>
                                <button type="button" value="5" class="btn btn-light waves-effect" v-on:click="add($event, FormulaFieldTypeEnum.Number)">5</button>
                                <button type="button" value="6" class="btn btn-light waves-effect" v-on:click="add($event, FormulaFieldTypeEnum.Number)">6</button>
                                <button type="button" value="/" class="operator btn btn-info" v-on:click="add($event, FormulaFieldTypeEnum.Mark)">&divide;</button>

                                <button type="button" value="1" class="btn btn-light waves-effect" v-on:click="add($event, FormulaFieldTypeEnum.Number)">1</button>
                                <button type="button" value="2" class="btn btn-light waves-effect" v-on:click="add($event, FormulaFieldTypeEnum.Number)">2</button>
                                <button type="button" value="3" class="btn btn-light waves-effect" v-on:click="add($event, FormulaFieldTypeEnum.Number)">3</button>
                                <button type="button" value="+" class="operator btn btn-info" v-on:click="add($event, FormulaFieldTypeEnum.Mark)">+</button>

                                <button type="button" value="0" class="btn btn-light waves-effect" v-on:click="add($event, FormulaFieldTypeEnum.Number)">0</button>
                                <button type="button" value="." class="btn btn-light waves-effect">.</button>
                                <button type="button" value="" class="btn btn-light waves-effect" style="visibility:hidden;">.</button>
                                <button type="button" value="-" class="operator btn btn-info" v-on:click="add($event, FormulaFieldTypeEnum.Mark)">-</button>*@
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" v-on:click="save">Сохранить</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
            </div>
        </form>
    </div>
</div>
