@{
	ViewData["Title"] = "Kanban board - Pages";
}

@section Styles {
	<link rel="stylesheet" href="~/vendor/libs/dragula/dragula.css">
	<link rel="stylesheet" href="~/vendor/libs/bootstrap-select/bootstrap-select.css">
	<link rel="stylesheet" href="~/vendor/libs/bootstrap-tagsinput/bootstrap-tagsinput.css">
	<link rel="stylesheet" href="~/vendor/libs/dragula/dragula.css">

	<link href="~/app_css/template.css" rel="stylesheet" />
}

@section Scripts {
	<!-- Dependencies -->
	<script src="~/vendor/libs/dragula/dragula.js"></script>
	<script src="~/vendor/libs/bootstrap-select/bootstrap-select.js"></script>
	<script src="~/vendor/libs/bootstrap-tagsinput/bootstrap-tagsinput.js"></script>
	<link rel="stylesheet" href="~/vendor/libs/dragula/dragula.js">

	<script src="~/js/pages_kanban-board.js"></script>

	<script src="~/app_js/template.js"></script>

}

<section id="template-columns" class="">
	<!-- Header -->
	<article class="container-m-nx container-m-ny bg-white mb-2 pl-4 py-5">
		<div class="row">
			<div class="col-3">
				<input type="hidden" name="templateID" id="templateID" value="@ViewBag.TemplateID" />
				<input id="templateName" type="text" class="form-control " oninput="console.log(this.value); TemplateVue.template.name = this.value;">
				<div class="dropdown">
					<button type="button" class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown" v-text="template.periodName"></button>
					<div class="dropdown-menu">
						@foreach (MyProfile.Entity.Model.PeriodType periodType in ViewBag.PeriodTypes)
						{
							<a class="dropdown-item"
							   v-on:click="template.periodTypeID = @periodType.ID; template.periodName = '@periodType.Name'">@periodType.Name</a>
						}
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-6">
				<small class="text-muted font-weight-normal">Date create: <strong>{{ GetDateByFormat(template.dateCreate, 'DD.MM.YYYY hh:mm:ss') }}</strong></small>
				<br /><small class="text-muted font-weight-normal">Last edit: <strong>{{ GetDateByFormat(template.dateEdit, 'DD.MM.YYYY hh:mm:ss') }}</strong></small>
			</div>
			<div class="col-3">

			</div>
			<div class="col-3">
				<a class="text-danger" href="/Template/Delete/@ViewBag.TemplateID">Remove template</a>
			</div>
			<hr class="m-0">
		</div>
	</article>
	<!--Columns-->
	<article class="ui">
		<div class="lists">
			<div class="list" v-for="(column, index) in template.columns" v-bind:columnid="column.id">
				<div class="card mb-3" v-if="isBudgetSection(column.templateColumnType)">
					<div>
						<ul class="nav nav-sm nav-tabs tabs-alt" style="overflow: hidden;">
							<li class="nav-item">
								<a class="nav-link active" data-toggle="tab" v-bind:href="'#general'+column.id">
									General
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" data-toggle="tab" v-bind:href="'#settings'+column.id">
									Settings
								</a>
							</li>
						</ul>
					</div>
					<div class="tab-content">
						<div class="card-body tab-pane pb-0 pt-2 pr-2 pl-2 active" v-bind:id="'general'+column.id">
							<div class="d-flex justify-content-between align-items-start">
								@*<div>*@
								<input type="text" class="form-control " placeholder="Name column" v-model="column.name">@*style="border:none;"*@
								@*<a href="javascript:void(0)" class="text-body text-big font-weight-semibold">Backend</a>
									<span class="badge badge-danger align-text-bottom ml-1">Busy</span>*@
								@*</div>*@
								<div class="btn-group team-actions">
									<button type="button" class="btn btn-sm btn-default icon-btn borderless rounded-pill md-btn-flat dropdown-toggle hide-arrow" data-toggle="dropdown" aria-expanded="false">
										<i class="ion ion-ios-more"></i>
									</button>
									<div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; top: 26px; left: -134px; will-change: top, left;">
										<a class="dropdown-item" href="javascript:void(0)">View</a>
										<a class="dropdown-item" href="javascript:void(0)">Edit</a>
										<a class="dropdown-item" href="javascript:void(0)" v-on:click="removeColumn(column.id)">Remove</a>
									</div>
								</div>
							</div>
							<div class="mt-3">
								@*Aliquam sem elit, semper sed ante ut, aliquam molestie risus.*@
							</div>

							<hr class="m-0" />
							<div class="kanban-box px-2 pt-2">
								<div class="ui-bordered p-2 mb-2 badge-default" v-for="templateBudgetSection in column.templateBudgetSections">
									<div class="kanban-board-actions btn-group float-right ml-2">
										<button type="button" class="btn btn-default btn-xs rounded-pill icon-btn borderless md-btn-flat hide-arrow dropdown-toggle" data-toggle="dropdown"><i class="ion ion-ios-more"></i></button>
										<div class="dropdown-menu dropdown-menu-right">
											<a class="dropdown-item" href="javascript:void(0)">Edit</a>
											<a class="dropdown-item" href="javascript:void(0)">Remove</a>
										</div>
									</div>
									{{ templateBudgetSection.sectionName }}
								</div>

							</div>
							<div class="card-footer text-center py-2">
								<a href="javascript:void(0)" v-on:click="addColumnOption_step1(column)"><i class="ion ion-md-add"></i>&nbsp; Add option</a>
							</div>
						</div>
						<div class="card-body tab-pane pb-0 pt-2 pr-2 pl-2" v-bind:id="'settings'+column.id">
							<div class="ml-1" v-on:click="openFormula(column.id)">
								<span class="badge badge-outline-secondary mr-1" v-for="formula in column.formula">{{ formula.value }}</span>
							</div>
							<div>
								<!-- Custom checkbox -->
								<label class="custom-control custom-checkbox">
									<input type="checkbox" class="custom-control-input" v-model="column.isShow">
									<span class="custom-control-label">Is show column</span>
								</label>
							</div>
							@*https://www.pigno.se/barn/PIGNOSE-Formula/*@

							<div class="m-1">
								<select class="" data-style="btn-default" v-model="column.totalAction">
									<!--FooterActionTypeEnum.Undefined-->
									<option v-bind:value="0">
										Not selected
									</option>
									<!--FooterActionTypeEnum.Sum-->
									<option v-bind:value="1">
										Sum
									</option>
									<!--FooterActionTypeEnum.Avr-->
									<option v-bind:value="2">
										Avr
									</option>
									<!--FooterActionTypeEnum.Max-->
									<option v-bind:value="4">
										Max
									</option>
									<!--FooterActionTypeEnum.Min-->
									<option v-bind:value="3">
										Min
									</option>
								</select>
							</div>
							<div class="m-1">
								<p class="cursor-pointer" v-on:click="column.placeAfterCommon = 3" v-show="column.placeAfterCommon == 4">
									<i class="fa fa-terminal"></i>
									0,0000
								</p>
								<p class="cursor-pointer" v-on:click="column.placeAfterCommon = 2" v-show="column.placeAfterCommon == 3">
									<i class="fa fa-terminal"></i>
									0,000
								</p>
								<p class="cursor-pointer" v-on:click="column.placeAfterCommon = 1" v-show="column.placeAfterCommon == 2">
									<i class="fa fa-terminal"></i>
									0,00
								</p>
								<p class="cursor-pointer" v-on:click="column.placeAfterCommon = 0" v-show="column.placeAfterCommon == 1">
									<i class="fa fa-terminal"></i>
									0,0
								</p>
								<p class="cursor-pointer" v-on:click="column.placeAfterCommon = 4" v-show="column.placeAfterCommon == 0">
									<i class="fa fa-terminal"></i>
									0
								</p>
							</div>
							<div class="card-footer text-center py-2">
								<a href="javascript:void(0)" v-on:click="addColumnOption_step1(column)"><i class="ion ion-md-add"></i>&nbsp; Add option</a>
							</div>
						</div>
					</div>
				</div>
				<div class="card mb-3" v-if="isDaysForMonth(column.templateColumnType)">
					<div>
						<ul class="nav nav-sm nav-tabs tabs-alt" style="overflow: hidden;">
							<li class="nav-item">
								<a class="nav-link active" data-toggle="tab" v-bind:href="'#general'+column.id">
									Active
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" data-toggle="tab" v-bind:href="'#settings'+column.id">
									Link
								</a>
							</li>
						</ul>
					</div>
					<div class="tab-content">
						<div class="card-body tab-pane pb-0 pt-2 pr-2 pl-2 active" v-bind:id="'general'+column.id">
							<div class="d-flex justify-content-between align-items-start">
								<div>
									<input type="text" class="form-control " placeholder="Name column" v-model="column.name">@*style="border:none;"*@
									@*<a href="javascript:void(0)" class="text-body text-big font-weight-semibold">Backend</a>
										<span class="badge badge-danger align-text-bottom ml-1">Busy</span>*@
								</div>
								<div class="btn-group team-actions">
									<button type="button" class="btn btn-sm btn-default icon-btn borderless rounded-pill md-btn-flat dropdown-toggle hide-arrow" data-toggle="dropdown" aria-expanded="false">
										<i class="ion ion-ios-more"></i>
									</button>
									<div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; top: 26px; left: -134px; will-change: top, left;">
										<a class="dropdown-item" href="javascript:void(0)">View</a>
										<a class="dropdown-item" href="javascript:void(0)">Edit</a>
										<a class="dropdown-item" href="javascript:void(0)" v-on:click="removeColumn(column.id)">Remove</a>
									</div>
								</div>
							</div>
							<div class="mt-3">
								@*Aliquam sem elit, semper sed ante ut, aliquam molestie risus.*@
							</div>

							<hr class="m-0" />
							<div class="kanban-box px-2 pt-2">
								<div class="ui-bordered p-2 mb-2 badge-secondary">
									DAYS
								</div>
							</div>
						</div>
						<div class="card-body tab-pane pb-0 pt-2 pr-2 pl-2" v-bind:id="'settings'+column.id">

							<div>
								<!-- Custom checkbox -->
								<label class="custom-control custom-checkbox">
									<input type="checkbox" class="custom-control-input" v-model="column.isShow">
									<span class="custom-control-label">Is show column</span>
								</label>
							</div>
							<div>
								<select v-model="column.format">
									<option v-bind:value="''">Not selected</option>
									<option v-bind:value="'dd'">1,2,3</option>
									<option v-bind:value="'dd.MM'">1.03</option>
									<option v-bind:value="'dd.MM.yyyy'">1.03.2020</option>
								</select>
							</div>

							<div class="card-footer text-center py-2">
								<a href="javascript:void(0)" v-on:click="addColumnOption_step1(column)"><i class="ion ion-md-add"></i>&nbsp; Add option</a>
							</div>
						</div>
					</div>
				</div>
				<div class="card mb-3" v-if="isMonthsForYear(column.templateColumnType)">
					<div>
						<ul class="nav nav-sm nav-tabs tabs-alt" style="overflow: hidden;">
							<li class="nav-item">
								<a class="nav-link active" data-toggle="tab" v-bind:href="'#general'+column.id">
									Active
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" data-toggle="tab" v-bind:href="'#settings'+column.id">
									Link
								</a>
							</li>
						</ul>
					</div>
					<div class="tab-content">
						<div class="card-body tab-pane pb-0 pt-2 pr-2 pl-2 active" v-bind:id="'general'+column.id">
							<div class="d-flex justify-content-between align-items-start">
								<div>
									<input type="text" class="form-control " placeholder="Name column" v-model="column.name">@*style="border:none;"*@
									@*<a href="javascript:void(0)" class="text-body text-big font-weight-semibold">Backend</a>
										<span class="badge badge-danger align-text-bottom ml-1">Busy</span>*@
								</div>
								<div class="btn-group team-actions">
									<button type="button" class="btn btn-sm btn-default icon-btn borderless rounded-pill md-btn-flat dropdown-toggle hide-arrow" data-toggle="dropdown" aria-expanded="false">
										<i class="ion ion-ios-more"></i>
									</button>
									<div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; top: 26px; left: -134px; will-change: top, left;">
										<a class="dropdown-item" href="javascript:void(0)">View</a>
										<a class="dropdown-item" href="javascript:void(0)">Edit</a>
										<a class="dropdown-item" href="javascript:void(0)" v-on:click="removeColumn(column.id)">Remove</a>
									</div>
								</div>
							</div>
							<div class="mt-3">
								@*Aliquam sem elit, semper sed ante ut, aliquam molestie risus.*@
							</div>

							<hr class="m-0" />
							<div class="kanban-box px-2 pt-2">
								<div class="ui-bordered p-2 mb-2 badge-secondary">
									Months
								</div>
							</div>
						</div>
						<div class="card-body tab-pane pb-0 pt-2 pr-2 pl-2" v-bind:id="'settings'+column.id">

							<div>
								<!-- Custom checkbox -->
								<label class="custom-control custom-checkbox">
									<input type="checkbox" class="custom-control-input" v-model="column.isShow">
									<span class="custom-control-label">Is show column</span>
								</label>
							</div>

							<div class="card-footer text-center py-2">
								<a href="javascript:void(0)" v-on:click="addColumnOption_step1(column)"><i class="ion ion-md-add"></i>&nbsp; Add option</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="list ignore-dnd">
				<div class="card mb-3">
					<button type="button" class="btn btn-outline-primary" v-on:click="addColumn">Add column</button>
				</div>
			</div>
		</div>

		<!-- Choose data type column modal -->
		<div class="modal modal-slide fade" id="modalDataTypeColumn">
			<div class="modal-dialog">
				<form class="modal-content">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">×</button>
					<div class="modal-body">
						<label class="custom-control custom-radio">
							<input name="data-column-type" v-model="column.templateColumnType" value="2" type="radio" class="custom-control-input" v-bind:disabled="template.periodTypeID != 1">
							<span class="custom-control-label">Days</span>
						</label>
						<label class="custom-control custom-radio">
							<input name="data-column-type" v-model="column.templateColumnType" value="1" type="radio" class="custom-control-input">
							<span class="custom-control-label">Money</span>
						</label>
						<label class="custom-control custom-radio">
							<input name="data-column-type" v-model="column.templateColumnType" value="3" type="radio" class="custom-control-input" v-bind:disabled="template.periodTypeID != 3">
							<span class="custom-control-label">Months for Year</span>
						</label>
						<label class="custom-control custom-radio">
							<input name="data-column-type" v-model="column.templateColumnType" value="7" type="radio" class="custom-control-input" v-bind:disabled="template.periodTypeID != 2">
							<span class="custom-control-label">Weeks for Month</span>
						</label>
						<label class="custom-control custom-radio">
							<input name="data-column-type" v-model="column.templateColumnType" value="4" type="radio" class="custom-control-input" v-bind:disabled="template.periodTypeID != 4">
							<span class="custom-control-label">Years for 10 Year</span>
						</label>
						<button id="buttonSelectTemplateColumnType" type="button" v-on:click="addColumn_Complete">ok</button>
						@*<button type="button" class="btn btn-primary btn-block" v-on:click="addColumnOption_step2">Save</button>
							<button type="button" class="btn btn-default btn-block" data-dismiss="modal">Cancel</button>*@
					</div>
				</form>
			</div>
		</div>

		<!-- templateBudgetSection modal -->
		<div class="modal modal-slide fade" id="modals-slide">
			<div class="modal-dialog modal-xl">
				<form class="modal-content">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">×</button>
					<div class="modal-body">
						<select id="budgetArea" class="selectpicker" data-style="btn-default">
							<optgroup v-for="section in sections" v-bind:label="section.name" v-bind:value="section.id">
								<option v-for="budgetSection in section.budgetSections" v-bind:value="budgetSection.id">{{ budgetSection.name }}</option>
							</optgroup>
						</select>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary btn-block" v-on:click="addColumnOption_step2">Save</button>
						<button type="button" class="btn btn-default btn-block" data-dismiss="modal">Cancel</button>
					</div>
				</form>
			</div>
		</div>
	</article>

	<button class="btn btn-primary" type="button" disabled v-show="isSaveTemplate">
		<span class="spinner-border" role="status" aria-hidden="true"></span>
		Save
	</button>

	<button type="button" class="btn btn-primary" v-on:click="saveTemplate" v-show="!isSaveTemplate">Save</button>
</section>


<!-- Modal template -->
<div class="modal modal-top fade" id="modal-formula">
	<div class="modal-dialog">
		<form class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">
					Formula
					@*<span class="font-weight-light">Information</span>
						<br>
						<small class="text-muted">We need payment information to process your order.</small>*@
				</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">×</button>
			</div>
			<div class="modal-body">
				<div class="form-row">
					<input type="text" class="form-control" id="formula">
				</div>
				<div class="form-row">
					<div class="form-group col-8">
						<ul class="list-group">
							<li v-for="field in fields" v-on:click="addField(field)"> <span class="badge badge-outline-secondary">{{ field.name }}</span></li>
						</ul>
						<hr />
						<span class="badge badge-outline-secondary" v-on:click="addPeriod(FormulaFieldTypeEnum.Days)">Days</span>
					</div>
					<div class="form-group col-4">
						<div class="row">
							<button type="button" class="btn btn-sm btn-primary mr-2" v-on:click="removeLast"><</button>
							<button type="button" class="btn btn-sm btn-primary mr-2" v-on:click="add($event, FormulaFieldTypeEnum.Parentheses)">(</button>
							<button type="button" class="btn btn-sm btn-primary mr-2" v-on:click="add($event, FormulaFieldTypeEnum.Parentheses)">)</button>
							<button type="button" class="btn btn-sm btn-primary mr-2" disabled>%</button>
						</div>
						<div class="row">
							<button type="button" class="btn btn-sm btn-primary mr-2" v-on:click="add($event, FormulaFieldTypeEnum.Number)">7</button>
							<button type="button" class="btn btn-sm btn-primary mr-2" v-on:click="add($event, FormulaFieldTypeEnum.Number)">8</button>
							<button type="button" class="btn btn-sm btn-primary mr-2" v-on:click="add($event, FormulaFieldTypeEnum.Number)">9</button>
							<button type="button" class="btn btn-sm btn-primary mr-2" v-on:click="add($event, FormulaFieldTypeEnum.Mark)">/</button>
						</div>
						<div class="row">
							<button type="button" class="btn btn-sm btn-primary mr-2" v-on:click="add($event, FormulaFieldTypeEnum.Number)">4</button>
							<button type="button" class="btn btn-sm btn-primary mr-2" v-on:click="add($event, FormulaFieldTypeEnum.Number)">5</button>
							<button type="button" class="btn btn-sm btn-primary mr-2" v-on:click="add($event, FormulaFieldTypeEnum.Number)">6</button>
							<button type="button" class="btn btn-sm btn-primary mr-2" v-on:click="add($event, FormulaFieldTypeEnum.Mark)">*</button>
						</div>
						<div class="row">
							<button type="button" class="btn btn-sm btn-primary mr-2" v-on:click="add($event, FormulaFieldTypeEnum.Number)">1</button>
							<button type="button" class="btn btn-sm btn-primary mr-2" v-on:click="add($event, FormulaFieldTypeEnum.Number)">2</button>
							<button type="button" class="btn btn-sm btn-primary mr-2" v-on:click="add($event, FormulaFieldTypeEnum.Number)">3</button>
							<button type="button" class="btn btn-sm btn-primary mr-2" v-on:click="add($event, FormulaFieldTypeEnum.Mark)">-</button>
						</div>
						<div class="row">
							<button type="button" class="btn btn-sm btn-primary mr-2" v-on:click="add($event, FormulaFieldTypeEnum.Number)"></button>
							<button type="button" class="btn btn-sm btn-primary mr-2" v-on:click="add($event, FormulaFieldTypeEnum.Number)">0</button>
							<button type="button" class="btn btn-sm btn-primary mr-2" v-on:click="add($event, FormulaFieldTypeEnum.Number)">.</button>
							<button type="button" class="btn btn-sm btn-primary mr-2" v-on:click="add($event, FormulaFieldTypeEnum.Mark)">+</button>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary" v-on:click="save">Save</button>
			</div>
		</form>
	</div>
</div>


<div class="form-row" style="display:none;">
	<div class="col-md">

		<div class="card mb-3">
			<h6 class="card-header text-center">New</h6>
			<div class="kanban-box px-2 pt-2">
				<div class="ui-bordered p-2 mb-2">
					<div class="kanban-board-actions btn-group float-right ml-2">
						<button type="button" class="btn btn-default btn-xs rounded-pill icon-btn borderless md-btn-flat hide-arrow dropdown-toggle" data-toggle="dropdown"><i class="ion ion-ios-more"></i></button>
						<div class="dropdown-menu dropdown-menu-right">
							<a class="dropdown-item" href="javascript:void(0)">Edit</a>
							<a class="dropdown-item" href="javascript:void(0)">Remove</a>
						</div>
					</div>
					New blog layout
				</div>
				<div class="ui-bordered p-2 mb-2">
					<div class="kanban-board-actions btn-group float-right ml-2">
						<button type="button" class="btn btn-default btn-xs rounded-pill icon-btn borderless md-btn-flat hide-arrow dropdown-toggle" data-toggle="dropdown"><i class="ion ion-ios-more"></i></button>
						<div class="dropdown-menu dropdown-menu-right">
							<a class="dropdown-item" href="javascript:void(0)">Edit</a>
							<a class="dropdown-item" href="javascript:void(0)">Remove</a>
						</div>
					</div>
					Create UI design model
					<span class="badge badge-success ml-1">Clients</span>
				</div>
				<div class="ui-bordered p-2 mb-2">
					<div class="kanban-board-actions btn-group float-right ml-2">
						<button type="button" class="btn btn-default btn-xs rounded-pill icon-btn borderless md-btn-flat hide-arrow dropdown-toggle" data-toggle="dropdown"><i class="ion ion-ios-more"></i></button>
						<div class="dropdown-menu dropdown-menu-right">
							<a class="dropdown-item" href="javascript:void(0)">Edit</a>
							<a class="dropdown-item" href="javascript:void(0)">Remove</a>
						</div>
					</div>
					Another icon set
				</div>
				<div class="ui-bordered p-2 mb-2">
					<div class="kanban-board-actions btn-group float-right ml-2">
						<button type="button" class="btn btn-default btn-xs rounded-pill icon-btn borderless md-btn-flat hide-arrow dropdown-toggle" data-toggle="dropdown"><i class="ion ion-ios-more"></i></button>
						<div class="dropdown-menu dropdown-menu-right">
							<a class="dropdown-item" href="javascript:void(0)">Edit</a>
							<a class="dropdown-item" href="javascript:void(0)">Remove</a>
						</div>
					</div>
					iOS application design mockups
				</div>
			</div>
			<div class="card-footer text-center py-2">
				<a href="javascript:void(0)"><i class="ion ion-md-add"></i>&nbsp; Add task</a>
			</div>
		</div>

	</div>
	<div class="col-md">

		<div class="card border-info mb-3">
			<h6 class="card-header text-center text-info">In progress</h6>
			<div class="kanban-box px-2 pt-2">
				<div class="ui-bordered p-2 mb-2">
					<div class="kanban-board-actions btn-group float-right ml-2">
						<button type="button" class="btn btn-default btn-xs rounded-pill icon-btn borderless md-btn-flat hide-arrow dropdown-toggle" data-toggle="dropdown"><i class="ion ion-ios-more"></i></button>
						<div class="dropdown-menu dropdown-menu-right">
							<a class="dropdown-item" href="javascript:void(0)">Edit</a>
							<a class="dropdown-item" href="javascript:void(0)">Remove</a>
						</div>
					</div>
					New icons set for an iOS app
					<span class="badge badge-warning ml-1">Other</span>
				</div>
				<div class="ui-bordered p-2 mb-2">
					<div class="kanban-board-actions btn-group float-right ml-2">
						<button type="button" class="btn btn-default btn-xs rounded-pill icon-btn borderless md-btn-flat hide-arrow dropdown-toggle" data-toggle="dropdown"><i class="ion ion-ios-more"></i></button>
						<div class="dropdown-menu dropdown-menu-right">
							<a class="dropdown-item" href="javascript:void(0)">Edit</a>
							<a class="dropdown-item" href="javascript:void(0)">Remove</a>
						</div>
					</div>
					Create ad campaign banners set
				</div>
			</div>
		</div>

	</div>
	<div class="col-md">

		<div class="card border-warning mb-3">
			<h6 class="card-header text-center text-warning">Test</h6>
			<div class="kanban-box px-2 pt-2">
				<div class="ui-bordered p-2 mb-2">
					<div class="kanban-board-actions btn-group float-right ml-2">
						<button type="button" class="btn btn-default btn-xs rounded-pill icon-btn borderless md-btn-flat hide-arrow dropdown-toggle" data-toggle="dropdown"><i class="ion ion-ios-more"></i></button>
						<div class="dropdown-menu dropdown-menu-right">
							<a class="dropdown-item" href="javascript:void(0)">Edit</a>
							<a class="dropdown-item" href="javascript:void(0)">Remove</a>
						</div>
					</div>
					Help Web devs with HTML integration
				</div>
				<div class="ui-bordered p-2 mb-2">
					<div class="kanban-board-actions btn-group float-right ml-2">
						<button type="button" class="btn btn-default btn-xs rounded-pill icon-btn borderless md-btn-flat hide-arrow dropdown-toggle" data-toggle="dropdown"><i class="ion ion-ios-more"></i></button>
						<div class="dropdown-menu dropdown-menu-right">
							<a class="dropdown-item" href="javascript:void(0)">Edit</a>
							<a class="dropdown-item" href="javascript:void(0)">Remove</a>
						</div>
					</div>
					UI/UX design review
					<span class="badge badge-danger ml-1">Important</span>
				</div>
				<div class="ui-bordered p-2 mb-2">
					<div class="kanban-board-actions btn-group float-right ml-2">
						<button type="button" class="btn btn-default btn-xs rounded-pill icon-btn borderless md-btn-flat hide-arrow dropdown-toggle" data-toggle="dropdown"><i class="ion ion-ios-more"></i></button>
						<div class="dropdown-menu dropdown-menu-right">
							<a class="dropdown-item" href="javascript:void(0)">Edit</a>
							<a class="dropdown-item" href="javascript:void(0)">Remove</a>
						</div>
					</div>
					Marketing campaign review
				</div>
				<div class="ui-bordered p-2 mb-2">
					<div class="kanban-board-actions btn-group float-right ml-2">
						<button type="button" class="btn btn-default btn-xs rounded-pill icon-btn borderless md-btn-flat hide-arrow dropdown-toggle" data-toggle="dropdown"><i class="ion ion-ios-more"></i></button>
						<div class="dropdown-menu dropdown-menu-right">
							<a class="dropdown-item" href="javascript:void(0)">Edit</a>
							<a class="dropdown-item" href="javascript:void(0)">Remove</a>
						</div>
					</div>
					Fix website issues on mobile
				</div>
				<div class="ui-bordered p-2 mb-2">
					<div class="kanban-board-actions btn-group float-right ml-2">
						<button type="button" class="btn btn-default btn-xs rounded-pill icon-btn borderless md-btn-flat hide-arrow dropdown-toggle" data-toggle="dropdown"><i class="ion ion-ios-more"></i></button>
						<div class="dropdown-menu dropdown-menu-right">
							<a class="dropdown-item" href="javascript:void(0)">Edit</a>
							<a class="dropdown-item" href="javascript:void(0)">Remove</a>
						</div>
					</div>
					Create landing page for a new app
					<span class="badge badge-info ml-1">Social</span>
				</div>
			</div>
		</div>

	</div>
	<div class="col-md">

		<div class="card border-success mb-3">
			<h6 class="card-header text-center text-success">Done</h6>
			<div class="kanban-box px-2 pt-2">
				<div class="ui-bordered p-2 mb-2">
					<div class="kanban-board-actions btn-group float-right ml-2">
						<button type="button" class="btn btn-default btn-xs rounded-pill icon-btn borderless md-btn-flat hide-arrow dropdown-toggle" data-toggle="dropdown"><i class="ion ion-ios-more"></i></button>
						<div class="dropdown-menu dropdown-menu-right">
							<a class="dropdown-item" href="javascript:void(0)">Edit</a>
							<a class="dropdown-item" href="javascript:void(0)">Remove</a>
						</div>
					</div>
					Edit the draft for the icons
					<span class="badge badge-danger ml-1">Important</span>
				</div>
				<div class="ui-bordered p-2 mb-2">
					<div class="kanban-board-actions btn-group float-right ml-2">
						<button type="button" class="btn btn-default btn-xs rounded-pill icon-btn borderless md-btn-flat hide-arrow dropdown-toggle" data-toggle="dropdown"><i class="ion ion-ios-more"></i></button>
						<div class="dropdown-menu dropdown-menu-right">
							<a class="dropdown-item" href="javascript:void(0)">Edit</a>
							<a class="dropdown-item" href="javascript:void(0)">Remove</a>
						</div>
					</div>
					Edit the draft for the icons
				</div>
				<div class="ui-bordered p-2 mb-2">
					<div class="kanban-board-actions btn-group float-right ml-2">
						<button type="button" class="btn btn-default btn-xs rounded-pill icon-btn borderless md-btn-flat hide-arrow dropdown-toggle" data-toggle="dropdown"><i class="ion ion-ios-more"></i></button>
						<div class="dropdown-menu dropdown-menu-right">
							<a class="dropdown-item" href="javascript:void(0)">Edit</a>
							<a class="dropdown-item" href="javascript:void(0)">Remove</a>
						</div>
					</div>
					Edit the draft for the icons
				</div>
			</div>
			<div class="card-footer text-center py-2">
				<a href="javascript:void(0)"><i class="ion ion-md-close"></i>&nbsp; Clear completed tasks</a>
			</div>
		</div>

	</div>
</div>
