@{
	ViewData["Title"] = "DataTables - Tables";
}

@section Styles {
	<link rel="stylesheet" href="~/vendor/libs/select2/select2.css">
	<link href="~/vendor/libs/tagify/dist/tagify.css" rel="stylesheet" />
}

@section Scripts {
	<!-- Dependencies -->
	<script src="~/vendor/libs/select2/select2.js"></script>
	<script src="~/js/vue-components/vue-section-component.js"></script>
	<script src="~/vendor/libs/tagify/dist/tagify.min.js"></script>
	<script src="~/vendor/libs/filtrex/src/filtrex.js"></script>

	<script src="~/js/record.js"></script>
}
<div class="row">
	<div class="col-6">
		<div class="card mb-4" id="record">
			<h6 class="card-header with-elements">
				<div class="card-header-title">Record</div>
				<div class="card-header-elements ml-auto">
					<button type="button" class="btn btn-default btn-xs md-btn-flat">Show more</button>
				</div>
			</h6>
			<div id="tasks-inner" class="ps ps--active-y">
				<div class="card-body">
					<div class="form-row">
						<div class="form-group col">
							<label class="form-label">Date</label>
							<input type="text" class="form-control" id="record-date" v-model="dateTimeOfPayment">
						</div>
					</div>

					<div class="form-row">
						<div class="form-group col">
							<label class="form-label">Money</label>
							<div class="input-group">
								<input type="text" class="form-control" v-model="money" id="money" data-role="tagsinput">
								<div class="input-group-prepend">
									<span v-on:click="" class="input-group-text cursor-pointer"><i class="fa fa-ruble-sign"></i></span>
								</div>
								<div class="input-group-prepend">
									<span class="input-group-text cursor-pointer text-muted"><i class="fa fa-dollar-sign"></i></span>
								</div>
								<div class="input-group-prepend">
									<span class="input-group-text cursor-pointer text-muted"><i class="fa fa-euro-sign"></i></span>
								</div>
							</div>
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-6">
							<div class="row" v-for="record in records" v-show="record.isCorrect">
								<div class="col-6 mb-3">
									{{ record.tag }}
									{{ record.tag != record.money ? getMoney(record.money) : '' }}
									<span class="text-muted"></span>
								</div>
								<div class="col-6 mb-3 ">
									<span class="text-muted">{{ record.sectionName }} </span>
									<span class="fa fa-trash remove-section-icon cursor-pointer ml-1"
										  v-on:click="record.sectionID = -1; record.sectionName = '';"
										  v-show="record.sectionName"></span>
								</div>
							</div>
							@*
								<hr />
									<div class="row">
									<div class="col-6 mb-3">{{ total }}</div>
									<div class="col-6 mb-3">
										<span class="text-muted">Total</span>
									</div>
								</div>*@
						</div>
						<div class="form-group col-6">
							@*<label class="form-label">Choose section</label>*@
							<vue-section-component id="test2"
												   name="test"
												   data-search-id="searchSection"
												   data-search-style="max-width: 300px;"
												   v-on:onchoose="onChooseSection"></vue-section-component>
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col">
							<label class="form-label">Description</label>
							<div class="input-group">

								<textarea v-model="description" class="form-control"></textarea>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="card-footer">
				<button class="btn btn-primary" type="button" disabled v-show="isSaving">
					<span class="spinner-border" role="status" aria-hidden="true"></span>
					Add
				</button>
				<button type="button" class="btn btn-primary" v-on:click="save" v-show="!isSaving">Add</button>
			</div>
		</div>
	</div>
</div>