@model MyProfile.Entity.ModelView.Limit.EditLimitModel

<div class="modal modal-top fade" id="modal-limit">
    <div class="modal-dialog">
        <form class="modal-content" method="post">
            <div class="modal-header">
                <h5 class="modal-title">
                    {{ limit.id && limit.id > 0 ? 'Редактирование лимита' : 'Создание лимита'  }}
                    <div class="dropdown ml-4" style="display:inline;">
                        <button type="button" class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown">{{ limit.periodName }}</button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" v-for="periodType in periodTypes"
                               v-on:click="limit.periodTypeID = periodType.id; limit.periodName = periodType.name">{{ periodType.name }}</a>
                        </div>
                    </div>
                    @*<span class="font-weight-light">Information</span>
                        <br>
                        <small class="text-muted">We need payment information to process your order.</small>*@
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">×</button>
            </div>
            <div class="modal-body">

                <input type="hidden" name="periodTypeID" v-model="limit.periodTypeID" />

                <div class="form-row">
                    <div class="form-group col">
                        <label class="form-label">Название лимита</label>
                        <span class="text-danger">*</span>
                        <input id="limit-name" type="text"
                               class="form-control"
                               placeholder="Продукты"
                               name="name"
                               v-model="limit.name"
                               required>
                        <small class="invalid-feedback">Обязательное поле</small>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col">
                        <label class="form-label">Категории</label>
                        <span class="text-danger">*</span>
                        <select multiple class="form-control" id="limitSections" required style="width:100%">
                            <option v-for="_section in sections"
                                    v-bind:value="_section.id">
                                {{ _section.name }}
                            </option>
                        </select>
                        <small class="invalid-feedback">Обязательное поле</small>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col">
                        <label class="form-label">Сумма лимита</label>
                        <span class="text-danger">*</span>
                        <input type="number" class="form-control" placeholder="35 000" v-model="limit.limitMoney" name="limitMoney"
                               required>
                        <small class="invalid-feedback">Обязательное поле</small>
                        <div class="text-muted small mt-1" v-show="limit.limitMoney">
                            {{ new Intl.NumberFormat('ru-RU', { style: 'currency', currency: 'RUB' }).format(limit.limitMoney) }}
                        </div>
                    </div>
                </div>

                <div id="limit-comment" class="form-row">
                    <div class="form-group col mb-0">
                        <label class="form-label">Комментарий</label>
                        <textarea class="form-control" v-model="limit.description" placeholder="" name="description"></textarea>
                    </div>
                </div>
                <div id="show-on-the-main-page" class="form-group mt-4">
                    <label class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="isShowOnDashboard" v-model="limit.isShowOnDashboard" name="isShowOnDashboard">
                        <span class="custom-control-label">Показывать на главной странице</span>
                    </label>
                </div>
                @if (MyProfile.Identity.UserInfo.Current.IsAllowCollectiveBudget)
                {
                    <div class="form-group mt-4">
                        <label class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="isShowInCollective" v-model="limit.isShowInCollective" name="isShowInCollective">
                            <span class="custom-control-label">Показывать в общей группе</span>
                        </label>
                    </div>
                }

                @if (Model.IsShowNotifications)
                {
                    <div class="">
                        <div v-for="notification in limit.notifications"
                             v-show="notification.isDeleted == false">
                            <span class="badge badge-warning indicator"
                                  v-show="notification.id < 0">New</span>
                            <div class="d-flex flex-wrap justify-content-between align-items-center ui-bordered py-3 px-4 mt-3 bg-white"
                                 v-bind:id="'errorborder_' + notification.id">
                                <div>
                                    Уведомить меня
                                    <a href="javascript:void(0)" class="badge badge-primary ml-2" v-show="notification.isSite">На сайте</a>
                                    <a href="javascript:void(0)" class="badge badge-primary ml-2" v-show="notification.isMail">Почте</a>
                                    <a href="javascript:void(0)" class="badge badge-primary ml-2" v-show="notification.isTelegram">Телеграм</a>
                                    <br>
                                    <small class="text-muted">Когда сумма достигнет: {{ new Intl.NumberFormat("ru-RU", { style: 'currency', currency: "RUB" }).format(notification.price) }}</small>
                                    <br />
                                    <small v-bind:id="'texterror_' + notification.id" class="text-danger" style="display: none">Должен быть выбран хотя бы один вариант и сумма должна быть больше 0.</small>
                                </div>
                                <div class="d-flex align-items-center">
                                    <a data-toggle="collapse" class="d-block ml-3 collapsed" aria-expanded="false"
                                       v-bind:href="'#notification-'+ notification.id">
                                        <i class="collapse-icon"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="card collapse" v-bind:id="'notification-'+ notification.id" style="border-color: rgb(238, 238, 238);">
                                <div class="card-body">
                                    <label class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" v-model="notification.isSite">
                                        <span class="custom-control-label">На сайте</span>
                                    </label>
                                    <label class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" v-model="notification.isMail">
                                        <span class="custom-control-label">Почта</span>
                                    </label>
                                    <label class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" v-model="notification.isTelegram">
                                        <span class="custom-control-label">
                                            Телеграм
                                            <i class="fas fa-info-circle cursor-help text-muted text-tiny" data-toggle="tooltip" data-html="true"
                                               title="Для получении уведомлений в телеграм, напишите боту @@Budgetto_bot ваш код @MyProfile.Identity.UserInfo.Current.UserConnect.TelegramLogin"></i>
                                        </span>
                                    </label>

                                    <div class="form-group">
                                        <label class="form-label">Когда сумма достигнет</label>
                                        <input type="number" class="form-control" v-model="notification.price">
                                    </div>
                                    <div class="form-group text-right">
                                        <button type="button" class="btn btn-outline-danger btn-xs"
                                                v-on:click="removeNotification(notification)">
                                            Удалить
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-xs btn-outline-primary mt-3"
                                v-on:click="addNotification">
                            <span class="ion ion-md-add"></span>Добавить уведомление
                        </button>
                    </div>
                }

            </div>
            <div class="modal-footer">
                @*<div class="form-group" style=" margin-left: 0px; margin-right: auto;" v-show="limit.id">
                        <label class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="isFinished" v-model="limit.isFinished" name="isFinished">
                            <span class="custom-control-label">Завершить лимит</span>
                        </label>
                    </div>*@
                <button class="btn btn-primary" type="button"
                        v-bind:disabled="isSaving"
                        v-on:click="saveLimit">
                    <span class="spinner-border" role="status" aria-hidden="true" v-show="isSaving"></span>
                    Сохранить
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
            </div>
        </form>
    </div>
</div>