@model MyProfile.Entity.ModelView.Counter.CounterViewModel
@{
    ViewData["Title"] = "Лимиты";
}

@section Styles {
    <link href="~/vendor/libs/select2/select2.css" rel="stylesheet" asp-append-version="true" />
}

@section Scripts {
    <script src="~/vendor/libs/select2/select2.js" asp-append-version="true"></script>
    <script src="~/vendor/libs/masonry/masonry.js" asp-append-version="true"></script>

    <environment names="Development">
        <script src="~/pages/limit/limit-list.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/pages/limit/limit-list.min.js" asp-append-version="true"></script>
    </environment>
}

<section id="limit-list-vue" v-cloak data-current-count="@Model.CurrentCount" data-limit-count="@Model.CanBeCount">

    <h4 class="d-flex flex-wrap w-100 font-weight-bold">
        <span class="lnr lnr-frame-expand display-4 text-primary mr-2"></span>
        <span class="px-0 pb-2 pt-2">
            Лимиты
        </span>
        <a href="javascript:void(0)" data-toggle="tooltip" data-placement="bottom"
           title="Лимиты позволяют контролировать траты по выбранным категориям. В одном лимите можно совмещать несколько категорий.
           Например, поставьте себе лимит на фастфуд или продукты и отслеживайте его на страницах 'Финансы на месяц' и 'Финансы на год'.">
            <i class="pe-7s-info d-block text-primary"></i>
        </a>
        <span class="px-0 pb-2 ml-4">
            <a class="btn btn-outline-primary rounded-pill" href="javascript:void(0)"
               v-on:click="edit()"
               v-bind:class="currentCount >= limitCount ? 'disabled' : ''">Добавить новый лимит</a>
            <span class="badge align-text-bottom ml-1"
                  v-show="(limitCount - currentCount) < 10"
                  v-bind:class="currentCount >= limitCount ? 'badge-danger' : (limitCount - currentCount) <= 3 ? 'badge-warning' : 'badge-success'">Доступно {{ limitCount - currentCount }} </span>
        </span>
    </h4>

    <ul class="nav container-m-nx bg-lighter container-p-x py-1 mb-4">
        <li class="nav-item">
            <a v-bind:class="['nav-link', activeLimitPeriodTypeID == -1 ? 'font-weight-bold pl-0 text-body':'text-muted']" href="javascript:void(0)"
               v-on:click="activeLimitPeriodTypeID = -1; reloadView()">Все лимиты</a>
        </li>
        <li class="nav-item">
            <a v-bind:class="['nav-link', activeLimitPeriodTypeID == 1 ? 'font-weight-bold pl-0 text-body':'text-muted']" href="javascript:void(0)"
               v-on:click="activeLimitPeriodTypeID = 1; reloadView()">По месяцам</a>
        </li>
        <li class="nav-item">
            <a v-bind:class="['nav-link', activeLimitPeriodTypeID == 3 ? 'font-weight-bold pl-0 text-body':'text-muted']" href="javascript:void(0)"
               v-on:click="activeLimitPeriodTypeID = 3; reloadView()">По годам</a>
        </li>
    </ul>
    <div class="row" id="limits">
        <div class="col-sm-6 col-xl-4 pt-5 masonry-item-sizer position-absolute"></div>
        <div class=" col-sm-6 col-xl-4 masonry-item "
             v-for="limit in limits"
             v-bind:class="limit.isShow && (activeLimitPeriodTypeID == -1 || limit.periodTypeID == activeLimitPeriodTypeID) ? '' : 'd-none'">
            <div class="card mb-4 custom-card-hover" v-bind:class="limit.isOwner ? 'border-primary' : 'border-secondary'"
                 v-bind:id="'limit_' + limit.id" v-if="limit.isDeleted == false">
                <div class="card-body d-flex justify-content-between align-items-start pb-0">
                    <div style="max-width: 63%">
                        <a href="javascript:void(0)" class="text-body text-big font-weight-semibold" v-on:click="edit(limit)" title="Редактировать" v-if="limit.isOwner">{{ limit.name }}</a>
                        <a href="javascript:void(0)" class="text-body text-big font-weight-semibold" title="Редактировать" v-else="!limit.isOwner">{{ limit.name }}</a>
                    </div>
                    <div class="btn-group project-actions">
                        <span class="badge badge-success align-text-bottom ml-1" v-show="limit.periodTypeID == 1">{{ limit.periodName }}</span>
                        <span class="badge badge-info align-text-bottom ml-1" v-show="limit.periodTypeID == 3">{{ limit.periodName }}</span>
                    </div>
                    <div class="mt-3" v-show="limit.description">
                        {{ limit.description }}
                    </div>
                </div>
                <div class="card-body py-2">
                    <div class="text-muted small mb-2">Категории</div>
                    <div class="d-flex flex-wrap">
                        <vue-section-component data-class="cards-medium"
                                               v-bind:is-show-filter="false"
                                               data-section-classes=""
                                               v-bind:is-hide-more-then-one-sections="true"
                                               v-bind:data-items="limit.sections"
                                               v-on:on-update-view="reloadView"></vue-section-component>
                    </div>
                </div>
                <hr class="m-0">
                <div class="card-body pb-2 pt-1 row">
                    <div class="col-12">
                        <div class="text-muted small display-inline">Сумма лимита</div>
                        <h6 class="mt-1">{{ new Intl.NumberFormat('ru-RU', { style: 'currency', currency: 'RUB' }).format(limit.limitMoney) }}</h6>
                    </div>
                    @*<div class="col-3">
                            <div class="text-muted small display-inline">Начало</div>
                            <h6 class="mt-1">{{  getDateByFormat(limit.dateStart, 'MM.YYYY') }}</h6>
                        </div>
                        <div class="col-5">
                            <div class="text-muted small display-inline">Конец</div>
                            <span class="badge badge-outline-danger ml-1" v-show="limit.isFinished">Завершен</span>
                            <h6 class="mt-1" v-show="limit.dateEnd">{{  getDateByFormat(limit.dateEnd, 'MM.YYYY') }}</h6>
                        </div>*@
                    @*<div class="col-4">
                            <div class="text-muted small display-inline">Сумма лимита</div>
                            <h6 class="mt-1">{{ new Intl.NumberFormat('ru-RU', { style: 'currency', currency: 'RUB' }).format(limit.limitMoney) }}</h6>
                        </div>*@
                </div>
                <hr class="m-0">
                <div class="card-footer">
                    <button class="btn btn-primary btn-sm" v-on:click="edit(limit)" v-if="limit.isOwner">
                        <i class="far fa-edit pr-2"></i>Редактировать
                    </button>
                    @*<a href="/Budget/Month?templateID=8" title="Посмотреть" class="btn icon-btn btn-sm btn-outline-secondary">
                            <i class="far fa-eye"></i>
                        </a>*@
                    <a href="javascript:void(0)" title="Удалить" class="btn icon-btn btn-sm btn-outline-secondary"
                       v-if="limit.isOwner"
                       v-on:click="remove(limit)">
                        <span class="ion ion-md-trash"></span>
                    </a>
                    <div class="d-inline-flex align-items-center align-middle float-right ml-1">
                        <span class="px-1 ml-2 ml-lg-0">
                            <span class="fas fa-eye text-primary cursor-pointer" title="Показывать на главной странице" data-toggle="tooltip"
                                  v-show="limit.isShowOnDashboard"
                                  v-on:click="toggleLimit(limit.id)"></span>
                            <span class="fas fa-eye-slash text-secondary cursor-pointer" title="Не показывать на главной странице" data-toggle="tooltip"
                                  v-show="limit.isShowOnDashboard == false"
                                  v-on:click="toggleLimit(limit.id)"></span>
                            @*<span class="fas fa-users text-primary" title="Эту группу выдят все" v-show="area.isShowInCollective"></span>
                                <span class="fas fa-users-slash text-secondary" title="Эту группу выдите только вы" v-show="area.isShowInCollective == false"> </span>*@
                        </span>
                    </div>
                    @if (MyProfile.Identity.UserInfo.Current.IsAllowCollectiveBudget)
                    {
                        <div class="d-inline-flex align-items-center align-middle float-right" v-if="!limit.isOwner">
                            <span class="px-1 ml-2 ml-lg-0">{{ limit.userName }}</span>
                            <img v-bind:src="limit.imageLink" alt="User image" class="d-block ui-w-30 rounded-circle">
                        </div>
                        <div class="d-inline-flex pt-2 float-right text-secondary" v-else-if="limit.isShowInCollective">
                            <i class="fas fa-users" title="Этот лимит видят все в группе."></i>
                        </div>
                    }
                </div>
            </div>
            <div class="card mb-4 custom-card-hover border-secondary" v-bind:id="'limit_' + limit.id" v-else-if="limit.isDeleted">
                <div class="card-body card-body pb-0 deleted-item">
                    <div class="d-flex justify-content-between align-items-start " style="max-width: 63%">
                        <a href="javascript:void(0)" class="text-body text-big font-weight-semibold ">{{ limit.name }}</a>
                        <span class="badge badge-success align-text-bottom ml-1" v-show="limit.periodTypeID == 1">{{ limit.periodName }}</span>
                        <span class="badge badge-info align-text-bottom ml-1" v-show="limit.periodTypeID == 3">{{ limit.periodName }}</span>
                    </div>
                    <div class="mt-3" v-show="limit.description">
                        {{ limit.description }}
                    </div>
                </div>
                <div class="card-body py-2 deleted-item">
                    <div class="text-muted small mb-2">Категории</div>
                    <div class="d-flex flex-wrap">
                        <vue-section-component data-class="cards-medium"
                                               v-bind:is-show-filter="false"
                                               v-bind:data-items="limit.sections"></vue-section-component>
                    </div>
                </div>
                <hr class="m-0">
                <div class="card-body pb-2 pt-1 row deleted-item">
                    <div class="col-4">
                        <div class="text-muted small display-inline">Сумма лимита</div>
                        <h6 class="mt-1">{{ new Intl.NumberFormat('ru-RU', { style: 'currency', currency: 'RUB' }).format(limit.limitMoney) }}</h6>
                    </div>
                    <div class="col-3">
                        <div class="text-muted small display-inline">Начало</div>
                        <h6 class="mt-1">{{  getDateByFormat(limit.dateStart, 'MM.YYYY') }}</h6>
                    </div>
                    <div class="col-5">
                        <div class="text-muted small display-inline">Конец</div>
                        <span class="badge badge-outline-danger ml-1" v-show="limit.isFinished">Завершен</span>
                        <h6 class="mt-1" v-show="limit.dateEnd">{{  getDateByFormat(limit.dateEnd, 'MM.YYYY') }}</h6>
                    </div>
                </div>
                <hr class="m-0">
                <div class="card-footer">
                    <a href="javascript:void(0)" class="btn btn-success btn-sm" v-on:click="recovery(limit)">
                        <i class="fa fa-undo pr-2"></i>Восстановить
                    </a>
                </div>
            </div>
        </div>
    </div>
    <hr class="border-light mt-2 mb-4">
    @await Html.PartialAsync("_EditLimit", new MyProfile.Entity.ModelView.Limit.EditLimitModel { IsShowNotifications = true })
</section>

@*@await Html.PartialAsync(@"../Settings/Settings.cshtml", "Limit/List")*@