@{
	var UserInfo = MyProfile.Identity.UserInfo.Current;
}

@if (UserInfo.IsAllowCollectiveBudget)
{
	<label class="m-0 px-4 pb-3 d-flex media align-items-middle">
		<div class="media-body">
			<span class="theme-settings-t-rtl_switcher">Учитывать траты всех</span>
		</div>
		<div class="switcher switcher-sm d-block m-0">
			<input class="switcher-input" type="checkbox" checked="@UserInfo.UserSettings.BudgetPages_WithCollective" name="user_settings" data-prop="BudgetPages_WithCollective" v-on:change="change">
			<span class="switcher-indicator">
				<span class="switcher-yes"></span>
				<span class="switcher-no"></span>
			</span>
		</div>
	</label>
	<hr class="m-0 border-light">
}