<div class="blog-article-content font-secondary">
    <p class="mb-4">
        <b>Графики/диаграммы</b> помогут вам отслеживать динамику по вашим расходам, доходам, инвестициям или любым категориям. 
        
        Графики отображаются на страницах <b>Финансы на месяц</b> и <b>Финансы на год</b>.
    </p>
    <p class="mb-4">
        <h4><strong>Как создать график?</strong></h4>
    </p>
    <ol>
        <li>Перейдите на страницу <a href="/Chart/List" target="_blank">Графики</a><p> </p></li>
        <li>
            Нажмите кнопку <b>Добавить новый график</b><br />
            <img src="~/resources/help/4/chart_1.png" alt="" class="img-fluid">
            <p> </p>
        </li>
        <li>
            Шаг первый. Выберите <b>Тип графика</b>
            <br />
            <img src="~/resources/help/4/chart_2.png" alt="" class="img-fluid">
            <p> </p>
        </li>
        <li>
            Шаг второй. Добавление секторов.
            <br />
            <img src="~/resources/help/4/chart_3.png" alt="" class="img-fluid">
            <p> </p>
        </li>
        <li>
            Для первого сектора заполните обязательные поля: <b>Название столбца/сектора</b>, <b>Цвет</b> и <b>Категории</b>.
            <br />
            Для удобства можете нажать на кнопку <b>Выбрать только расходы/доходы/все категории</b> - и поле "категории" заполнится автоматически. 
            <br />
            Далее нажмите кнопку <b>Добавить столбец/сектор</b>
            <img src="~/resources/help/4/chart_4.png" alt="" class="img-fluid">
            <p> </p>
        </li>
        <li>
            Добавился новый сектор
            <img src="~/resources/help/4/chart_5.png" alt="" class="img-fluid">
            <p> </p>
        </li>
        <li>
            Заполните <b>обязательные поля</b> и нажмите кнопку <b>вперед</b>
            <img src="~/resources/help/4/chart_6.png" alt="" class="img-fluid">
            <p> </p>
        </li>
        <li>
            Шаг 3. Дополнительные настройки.
            <img src="~/resources/help/4/chart_7.png" alt="" class="img-fluid">
            <p> </p>
        </li>
        <li>
            Заполните <b>Название графика</b>, выберите страницу <b>для отображения графика</b> и нажмите
            кнопку <b>Сохранить</b>
            <img src="~/resources/help/4/chart_8.png" alt="" class="img-fluid">
            <p> </p>
        </li>
        <li>
            Готово.
            <br />
            При переходе на страницу <a href="/Budget/Year" target="_blank">Финансы на год</a>
            в виджетах вы увидите только что созданный график.
            <br />
            <img src="~/resources/help/4/chart_9.png" alt="" class="img-fluid">
            <p> </p>
        </li>
    </ol>
</div>
