<div class="blog-article-content font-secondary">
    <p class="mb-4">
        Вы можете добавлять записи в представленной валюте. 
        (Если вам нужны дополнительные валюты, напишите нам через <a href="/Feedback/Create" target="_blank" >Обратную связь <i class="fas fa-external-link-alt" style="font-size: small;"></i></a>)
    </p>
    <p class="mb-4">
        <h4><strong>Как создать запись в валюте?</strong></h4>
    </p>
    <ol>
        <li>
            На любой странице сайта в правом верхнем углу нажмите на значок
            <a class="nav-link cursor-pointer" title="Добавить запись">
                <i class="ion ion-md-add navbar-icon align-middle text-large" style="color:var(--success);" title="Добавить запись"></i>
            </a>
            <br />
            <img src="~/resources/help/10/record_1.png" alt="" class="img-fluid">
            <p> </p>
        </li>
        <li>
            Выберите дату
            <br />
            <img src="~/resources/help/10/record_2.png" alt="" class="img-fluid">
            <p> </p>
        </li>
        <li>
            Введите вашу сумму
            <br />
            <img src="~/resources/help/10/record_3.png" alt="" class="img-fluid">
            <p> </p>
        </li>
        <li>
            Нажмите на значек <b>₽</b> и в выпадающем списке выберите нужную валюту
            <br />
            <img src="~/resources/help/10/record_4.png" alt="" class="img-fluid">
            <p> </p>
        </li>
        <li>
            Снизу от поля ввода суммы, появилось дополнительная строчка, в которой по умолчанию стоит чек-бокс
            <b>Конвертировать по курсу ЦБ на текущую дату </b> - это означает, что сумма валюты будет браться с сайт ЦБ на день который указан у вас выше
            <br />
            <img src="~/resources/help/10/record_5.png" alt="" class="img-fluid">
            <p> </p>
        </li>
        <li>
            Так же, вы можете ввести свою сумму конвертации валюты, нажав на чев-бокс <b>Конвертировать по курсу ЦБ на текущую дату </b>
            и введя нужную сумму в поле справа от чек-бокса
            <br />
            <img src="~/resources/help/10/record_6.png" alt="" class="img-fluid">
            <p> </p>
        </li>
        <li>
            Осталось выбрать <b>Категорию</b> и нажать кнопку <b>Сохранить</b>
            <br />
            <img src="~/resources/help/10/record_7.png" alt="" class="img-fluid">
            <p> </p>
        </li>
        <li>
            Готово.
            <br />
            Запись добавлена
            <br />
            <img src="~/resources/help/10/record_8.png" alt="" class="img-fluid">
            <p> </p>
        </li>
    </ol>
</div>
