<div class="blog-article-content font-secondary">
    <p class="mb-4">
        Вы можете добавлять записи в валютах, представленных на сайте (рубли, доллары, евро, фунт стерлингв) 
        (Если вам нужны дополнительные валюты, напишите нам через <a href="/Feedback/Create" target="_blank" >Обратную связь <i class="fas fa-external-link-alt" style="font-size: small;"></i></a>)
    </p>
    <p class="mb-4">
        <h4><strong>Как создать запись в валюте?</strong></h4>
    </p>
    <ol>
        <li>
            На любой странице сайта в правом верхнем углу нажмите на значок
            <a class="nav-link cursor-pointer" title="Добавить запись">
                <i class="ion ion-md-add navbar-icon align-middle text-large" style="color:var(--success);" title="Добавить запись"></i>
            </a>
            <br />
            <img src="~/resources/help/10/record_1.png" alt="" class="img-fluid">
            <p> </p>
        </li>
        <li>
            Выберите дату
            <br />
            <img src="~/resources/help/10/record_2.png" alt="" class="img-fluid">
            <p> </p>
        </li>
        <li>
            Введите вашу сумму
            <br />
            <img src="~/resources/help/10/record_3.png" alt="" class="img-fluid">
            <p> </p>
        </li>
        <li>
            Нажмите на значок <b>₽</b> и в выпадающем списке выберите нужную валюту
            <br />
            <img src="~/resources/help/10/record_4.png" alt="" class="img-fluid">
            <p> </p>
        </li>
        <li>
            При выборе валюты, отличной от основной, вниу появится чек-бокс <b>Конвертировать по курсу ЦБ на текущую дату </b>. Это означает, что сумма будет автоматически конвертироваться в рубли покурсу ЦБ на выбранную дату.
            <br />
            <img src="~/resources/help/10/record_5.png" alt="" class="img-fluid">
            <p> </p>
        </li>
        <li>
            Вы можете сами указать курс для конвертации. Для этого снимите галочку с чек-бокса <b>Конвертировать по курсу ЦБ на текущую дату </b>, нажав на неё.
            Затем введите курс конвертации в поле справа от чек-бокса.
            <br />
            <img src="~/resources/help/10/record_6.png" alt="" class="img-fluid">
            <p> </p>
        </li>
        <li>
           Выберите <b>Категорию</b> и нажмите кнопку <b>Сохранить</b>
            <br />
            <img src="~/resources/help/10/record_7.png" alt="" class="img-fluid">
            <p> </p>
        </li>
        <li>
            Готово!
            <br />
            Вы добавили запись в валюте.
            <br />
            <img src="~/resources/help/10/record_8.png" alt="" class="img-fluid">
            <p> </p>
        </li>
    </ol>
</div>
