<div class="blog-article-content font-secondary">
    <p class="mb-4">
        <b>Группа категорий</b> поможет вам объединить связанные по смыслу категории.
        Например, <b>продукты</b>, <b>фастфуд</b> и <b>рестораны</b> можно отнесть к группе <b>Еда</b>
    </p>
    <p class="mb-4">
        <h4><strong>Как создать группу категорий?</strong></h4>
    </p>
    <ol>
        <li>Перейдите на страницу <a href="/Section/Edit" target="_blank" >Категории <i class="fas fa-external-link-alt" style="font-size: small;"></i></a><p> </p></li>
        <li>
            Нажмите кнопку <b>Создать группу категорий</b><br />
            <img src="~/resources/help/5/folder_1.png" alt="" class="img-fluid">
            <p> </p>
        </li>
        <li>
           Заполните обязательное поле <b>Название группы</b> и нажмите кнопку <b>Сохранить</b>
            <br />
            <img src="~/resources/help/5/folder_2.png" alt="" class="img-fluid">
            <p> </p>
        </li>
        
        <li>
            Готово!
            <br />
            Группа категорий создана
            <br />
            <img src="~/resources/help/5/folder_3.png" alt="" class="img-fluid">
            <p> </p>
        </li>
    </ol>
</div>
