<div class="blog-article-content font-secondary">
    <p class="mb-4">
        <b>Папки</b> помогут вам объединить связанные по смыслу категории.
        Например, <b>продукты</b>, <b>фастфуд</b> и <b>рестораны</b> можно отнесть к папке <b>Еда</b>
    </p>
    <p class="mb-4">
        <h4><strong>Как создать папку?</strong></h4>
    </p>
    <ol>
        <li>Перейдите на страницу <a href="/Section/Edit" target="_blank">Категории</a><p> </p></li>
        <li>
            Нажмите кнопку <b>Создать папку</b><br />
            <img src="~/resources/help/5/folder_1.png" alt="" class="img-fluid">
            <p> </p>
        </li>
        <li>
           Заполняем обязательное поле <b>Название папки</b> и нажимаем кнопку <b>Сохранить</b>
            <br />
            <img src="~/resources/help/5/folder_2.png" alt="" class="img-fluid">
            <p> </p>
        </li>
        
        <li>
            Готово.
            <br />
            Папка создана
            <br />
            <img src="~/resources/help/5/folder_3.png" alt="" class="img-fluid">
            <p> </p>
        </li>
    </ol>
</div>
