<div class="blog-article-content font-secondary">
    <p class="mb-4">
        <b>Лимиты</b> позволяют контролировать траты по выбранным категориям. В одном лимите можно совмещать <b>несколько категорий</b>.
        Например, поставьте себе лимит на фастфуд или продукты и отслеживайте его на страницах "Финансы на месяц" или "Финансы на год".
    </p>
    <p class="mb-4">
        <h4><strong>Как создать лимит?</strong></h4>
    </p>
    <ol>
        <li>Перейдите на страницу <a href="/Limit/List" target="_blank">Лимиты</a></li>
        <li>
            Нажмите кнопку <b>"Добавить новый лимит"</b><br />
            <img src="~/resources/help/1/Limit_1.PNG" alt="" class="img-fluid">
        </li>
        <li>

            Выберите страницу, на которой будет отображаться лимит (<b>Финансы на месяц</b> или <b>Финансы н год</b>)
            <br />
            <img src="~/resources/help/1/Limit_2.PNG" alt="" class="img-fluid">
        </li>
        <li>
            Заполните <b>обязательные поля</b>
            <br />
            <img src="~/resources/help/1/Limit_3.PNG" alt="" class="img-fluid">
        </li>
        <li>
            Выберите <b>"Показывать на главной странице"</b>, если хотите, чтобы лимит отображался на выбранной ранее странице.
            <br />
            И нажимаем кнопку <b>Сохранить</b>
            <br />
            <img src="~/resources/help/1/Limit_4.PNG" alt="" class="img-fluid">
        </li>
        <li>
            Готово.
            <br /><i class="fas fa-eye text-primary"></i> На странице <b>Лимиты</b> данный символ означает, что это лимит будет отображаться на странице "Финансы на месяц" или "Финансы на год".
            <br /><i class="fas fa-eye-slash text-secondary"></i> - зачеркнутый символ означает, что лимит будет виден только на странице <b>Лимиты</b>.
            <br />
            <img src="~/resources/help/1/Limit_5.PNG" alt="" class="img-fluid">
        </li>
        <li>
            При переходе на страницу <a href="/Budget/Month" target="_blank">Финансы на месяц</a> в виджетах вы видите только
            что созданный лимит.
            <br />
            <img src="~/resources/help/1/Limit_6.PNG" alt="" class="img-fluid">
            <br />
            В данном случае <b>466,00 ₽</b> потраченная в этом месяце сумма по конкретному лимиту.
        </li>
    </ol>
</div>