<div class="blog-article-content font-secondary">
    <p class="mb-4">
        <b>Записи</b> это одно из ключевых элементов системы, по ним строится вся работа/аналитика сайта.
    </p>
    <p class="mb-4">
        <h4><strong>Как создать запись?</strong></h4>
    </p>
    <ol>
        <li>
            На любой странице сайта в правом верхнем углу нажмите на значок
            <a class="nav-link cursor-pointer" title="Добавить запись">
                <i class="ion ion-md-add navbar-icon align-middle text-large" style="color:var(--success);" title="Добавить запись"></i>
            </a>
            <br />
            <img src="~/resources/help/9/record_1.png" alt="" class="img-fluid">
            <p> </p>
        </li>
        <li>
            Выберите дату
            <br />
            <img src="~/resources/help/9/record_2.png" alt="" class="img-fluid">
            <p> </p>
        </li>
        <li>
            Начинайте заполнять ваши суммы, все возможные примеры показаны на картинке
            <br />
            <img src="~/resources/help/9/record_3.png" alt="" class="img-fluid">
            <p> </p>
        </li>
        <li>
            Начиная с первой записи выберайте категории, которые соответствуют вашим записям
            <br />
            <img src="~/resources/help/9/record_4.png" alt="" class="img-fluid">
            <p> </p>
        </li>
        <li>
            Если вам нужно добавить комментарий к записи, нажмите на сумму и в нижнем поле <b>Комментарий для ...</b> вводите ваше описание
            <br />
            <img src="~/resources/help/9/record_5.png" alt="" class="img-fluid">
            <p> </p>
        </li>
        <li>
            После всех нужных действий нажимйте на кнопку <b>Добавить</b>.
            <br />
            <img src="~/resources/help/9/record_6.png" alt="" class="img-fluid">
            <p> </p>
        </li>
        <li>
            Готово.
            <br />
            Записи добавлены
            <br />
            <img src="~/resources/help/9/record_7.png" alt="" class="img-fluid">
            <p> </p>
        </li>
        <li>
            Так же, вы можете добавлять записи прям через таблицу наведя на нужную ячейку в колонке <b>Дни</b> и нажав на значок
            <i class="ion ion-md-add add-cell-action" title="Добавить запись" style=" color: var(--success);"></i>
            <br />
            <img src="~/resources/help/9/record_8.png" alt="" class="img-fluid">
            <p> </p>
        </li>
    </ol>
</div>
