<div class="blog-article-content font-secondary">
    <p class="mb-4">
        <b>Запись</b> - один из ключевых элементов системы. По ним строится вся работа/аналитика сайта.
    </p>
    <p class="mb-4">
        <h4><strong>Как создать запись?</strong></h4>
    </p>
    <ol>
        <li>
            На любой странице сайта в правом верхнем углу нажмите на значок
            <a class="nav-link cursor-pointer" title="Добавить запись">
                <i class="ion ion-md-add navbar-icon align-middle text-large" style="color:var(--success);" title="Добавить запись"></i>
            </a>
            <br />
            <img src="~/resources/help/9/record_1.png" alt="" class="img-fluid">
            <p> </p>
        </li>
        <li>
            Выберите дату
            <br />
            <img src="~/resources/help/9/record_2.png" alt="" class="img-fluid">
            <p> </p>
        </li>
        <li>
            Добавьте записи чере клавишу "Enter". Все возможные примеры показаны на картинке:
            <br />
            <ul>
                <li>
                    <div title="550" class="tagify__tag " id="-99" style="--tag-bg: #02BC77" __isvalid="true" value="550">
                        <div>
                            550
                        </div>
                    </div>

                </li>
                <li>
                    <div title="100+430" contenteditable="false" spellcheck="false" tabindex="-1" class="tagify__tag " id="-98" style="--tag-bg: #02BC77" __isvalid="true" value="100+430">
                        <div>
                            <span class="tagify__tag-text">100+430</span>
                        </div>
                    </div>
                </li>
                <li>
                    <div title="155.50" contenteditable="false" spellcheck="false" tabindex="-1" class="tagify__tag " id="-97" style="--tag-bg: #02BC77" __isvalid="true" value="155.50">
                        <div>
                            <span class="tagify__tag-text">155.50</span>
                        </div>
                    </div>
                </li>
            </ul>

            <br />
            <img src="~/resources/help/9/record_3.png" alt="" class="img-fluid">
            <p> </p>
        </li>
        <li>
            Выберите категории для каждой записи. Для этого просто нажмите на категорию - она автоматически присвоится первой внесённой записи (либо первой по порядку записи без категории).
            Вы можете добавлять записи из разных типов категорий (доходы, расходы, инвестиции).
            <br />
            <img src="~/resources/help/9/record_4.png" alt="" class="img-fluid">
            <p> </p>
        </li>
        <li>
            Если вам нужно добавить комментарий к записи, нажмите на сумму и в нижнем поле <b>Комментарий для ...</b> введите описание.
            <br />
            <img src="~/resources/help/9/record_5.png" alt="" class="img-fluid">
            <p> </p>
        </li>
        <li>
            Закончив добавление записей, нажимйте на кнопку <b>Добавить</b>.
            <br />
            <img src="~/resources/help/9/record_6.png" alt="" class="img-fluid">
            <p> </p>
        </li>
        <li>
            Готово!
            <br />
            Вы добавили записи.
            <br />
            <img src="~/resources/help/9/record_7.png" alt="" class="img-fluid">
            <p> </p>
        </li>
        <li>
            Запись также можно добавить прямо через таблицу. Для этого наведите курсор на нужную ячейку в колонке <b>Дни</b> и нажмите на значок
            <i class="ion ion-md-add add-cell-action" title="Добавить запись" style=" color: var(--success);"></i>
            <br />
            <img src="~/resources/help/9/record_8.png" alt="" class="img-fluid">
            <p> </p>
        </li>
    </ol>
</div>
