<div class="blog-article-content font-secondary">
    <p class="mb-4">
        <b>Напоминания</b> помогут вам не забыть о важном действии (например, оплатить счет за квартиру, связь или поздравить родственника с днем рождения).
        Напоминания находятся в таблице на странице <b>Финансы на месяц</b>.
    </p>
    <p class="mb-4">
        <h4><strong>Как создать напоминание ?</strong></h4>
    </p>
    <ol>
        <li>Перейдите на страницу <a href="/Budget/Month" target="_blank" >Финансы на месяц <i class="fas fa-external-link-alt" style="font-size: small;"></i></a><p> </p></li>
        <li>
            Наведите курсор на нужную ячейку в колонке <b>Дни</b> и нажмите на значок
            <br />
            <i class="remind-cell-action" style="color: var(--orange);">+<i class="ion ion-ios-alarm text-big" title="Добавить напоминание"></i></i>
            <br />
            <br />
            <img src="~/resources/help/8/reminder_1.png" alt="" class="img-fluid">
            <p> </p>
        </li>
        <li>
            Заполните обязательные поля <b>Название</b>, <b>Иконка</b>, <b>Дата</b>.
            Если нужно повторение, нажмите на чек-бокс <b>Повторять</b> и выберите нужный период,
            По завершении нажмите кнопку <b>Сохранить</b>.
            <br />
            <br />
            <img src="~/resources/help/8/reminder_2.png" alt="" class="img-fluid">
            <p> </p>
        </li>

        <li>
            Готово!
            <br />
            Напоминание создано
            <br />
            <br />
            <img src="~/resources/help/8/reminder_3.png" alt="" class="img-fluid">
            <p> </p>
        </li>
    </ol>
</div>
