<div class="blog-article-content font-secondary">
    <p class="mb-4">
        <b>Категории</b> один из ключевых элементов системы.
        По ним вы добавляете записи, строите шаблоны, лимиты и тд
    </p>
    <p class="mb-4">
        <h4><strong>Как создать категорию?</strong></h4>
    </p>
    <ol>
        <li>Перейдите на страницу <a href="https://localhost:44394/Section/Edit" target="_blank">Категории</a><p> </p></li>
        <li>
            Выберте нужную папку и нажмите кнопку
            <button title="Добавить категорию" class="btn btn-outline-primary btn-sm" type="button">
                <i class="ion ion-ios-add"></i>
            </button>
            <br />
            <br />
            <img src="~/resources/help/6/section_1.png" alt="" class="img-fluid">
            <p> </p>
        </li>
        <li>
            Выберите <b>Тип категории</b>, это нужно, чтобы на страницах <b>Финансы на месяц</b> и <b>Финансы на год</b>
            в виджетах <b>итого</b> считались правильно, также это необходимо в других местах.
            <br />
            <img src="~/resources/help/6/section_2.png" alt="" class="img-fluid">
            <p> </p>
        </li>
        <li>
            Заполните обязательные поля <b>Название категории</b>, <b>Цвет</b> и <b>Выбор иконки</b>
            и нажимаем кнопку <b>Сохранить</b>
            <br />
            <img src="~/resources/help/6/section_3.png" alt="" class="img-fluid">
            <p> </p>
        </li>

        <li>
            Готово.
            <br />
            Категория создана
            <br />
            <img src="~/resources/help/6/section_4.png" alt="" class="img-fluid">
            <p> </p>
        </li>
    </ol>
</div>
