<div class="blog-article-content font-secondary">
    <p class="mb-4">
        <b>Шаблон</b> позволяет отображать таблицу на страницах <b>Финансы на месяц</b> и <b>Финансы на год</b> по заданному макету.
    </p>
    <p class="mb-4">
        <h4><strong>Как создать шаблон?</strong></h4>
    </p>
    <ol>
        <li>Перейдите на страницу <a href="/Template/List" target="_blank">Шаблоны <i class="fas fa-external-link-alt" style="font-size: small;"></i></a></li>
        <li>
            Нажмите кнопку <b>"Добавить новый шаблон"</b><br />
            <img src="~/resources/help/3/template_1.PNG" alt="" class="img-fluid">
        </li>
        <li>
            Заполните обязательные поля: <b>Название шаблона</b> 
            <br />
            <img src="~/resources/help/3/template_2.png" alt="" class="img-fluid">
            <br />
            <b>Тип шаблона</b> - страница, на которой будет отбражаться наш шаблон ("Финансы на месяц" или "Финансы на год")
            <img src="~/resources/help/3/template_3.png" alt="" class="img-fluid">
            <p> </p>
        </li>
        <li>
            Далее создайте колонки. Нажмите <b>Добавить колонку</b>
            <br />
            <img src="~/resources/help/3/template_4.png" alt="" class="img-fluid">
            <p> </p>
        </li>
        <li>
            Выберите тип колонки <b>Дни</b>
            <br />
            <img src="~/resources/help/3/template_5.png" alt="" class="img-fluid">
            <p> </p>
        </li>
        <li>
            Первая колонка будет содержать список дней
            <br />
            <img src="~/resources/help/3/template_6.png" alt="" class="img-fluid">
            <p> </p>
        </li>
        <li>
            Нажмите на вкладку <b>Настройки колонки</b>.
            Здесь можно поменять <b>Формат отображения даты</b> и <b>скрыть/показать колонку</b>.
            <br />
            <img src="~/resources/help/3/template_7.png" alt="" class="img-fluid">
            <p> </p>
        </li>
        <li>
            Добавьте вторую колонку, нажав на вкладку <b>Добавить колонку</b>.
            <br />
            <img src="~/resources/help/3/template_8.png" alt="" class="img-fluid">
            <p> </p>
        </li>
        <li>
            Выберите тип колонки <b>Категории</b>
            <br />
            <img src="~/resources/help/3/template_9.png" alt="" class="img-fluid">
            <p> </p>
        </li>
        <li>
            Из списка <b>ваших категорий</b> выберите те, которые вы хотите отобразить в этой колонке.
            <br />
            <img src="~/resources/help/3/template_10.png" alt="" class="img-fluid">
            <p> </p>
        </li>
        <li>
            После выбора категория отображается в колонке.
            <br />
            <img src="~/resources/help/3/template_11.png" alt="" class="img-fluid">
            <p> </p>
        </li>
        <li>
            При желании добавьте еще одну категорию для этой колонки. Для этого нажмите на кнопку <b>Добавить категорию</b>
            <br />
            <img src="~/resources/help/3/template_12.png" alt="" class="img-fluid">
            <p> </p>
        </li>
        <li>
            Выберите нужную категорию
            <br />
            <img src="~/resources/help/3/template_13.png" alt="" class="img-fluid">
            <p> </p>
        </li>
        <li>
            Категория отобразится в колонке.
            <br />
            Далее перейдите на вкладку <b>Настройки колонки</b>
            <br />
            <img src="~/resources/help/3/template_14.png" alt="" class="img-fluid">
            <p> </p>
        </li>
        <li>
            В настройках колонки можно выбрать: <b>Итоговую сумму</b>, <b>Позицию запятой</b>, <b>Скрывать\показывать колонку</b> и <b>Задать формулу</b>
            <br />
            При нажатии на <b>Формулу</b>
            <img src="~/resources/help/3/template_15.png" alt="" class="img-fluid">
            <p> </p>
        </li>
        <li>
            Открывается диалоговое окно с возможностью изменения формулы подсчета (По умолчанию, [Категория 1] + [Категория 2] + ...)
            <br />
            <img src="~/resources/help/3/template_16.png" alt="" class="img-fluid">
            <p> </p>
        </li>
        <li>
            Также вы можете менять колонки местами, нажимая и удерживая на символ в правом нижнем углу и перетаскивая колонку.
            <br />
            <img src="~/resources/help/3/template_18.png" alt="" class="img-fluid">
            <p> </p>
            <br />
            <img src="~/resources/help/3/template_19.png" alt="" class="img-fluid">
            <p> </p>
        </li>
        <li>
            Вы можете сделать шаблон <b>Шаблоном по умолчанию</b> - то есть, этот шаблон будет всегда отображаться первым при переходе на страницу "Финансы на месяц" или "Финансы на год".
            <br />
            <img src="~/resources/help/3/template_19_2.png" alt="" class="img-fluid">
            <p> </p>
        </li>
        <li>
            После формирования всех остальных колонок и настроек, нажмите на кнопку  <b>Сохранить</b>
            <br />
            <img src="~/resources/help/3/template_20.png" alt="" class="img-fluid">
            <p> </p>
        </li>
        <li>
            Готово!
            <br />
            Теперь, при переходе на страницу <a href="/Budget/Month" target="_blank">Финансы на месяц</a>
            вы увидите только что созданный шаблон
            <br />
            <img src="~/resources/help/3/template_21.png" alt="" class="img-fluid">
        </li>
    </ol>
</div>