<div class="blog-article-content font-secondary">
    <p class="mb-4">
        <b>Папки</b> помогут вам объединить связанные по смыслу категории.
        Например, <b>продукты</b>, <b>фастфуд</b> и <b>рестораны</b> можно отнесть к папке <b>Еда</b>
    </p>
    <p class="mb-4">
        <h4><strong>Как переместить категорию в другую папку?</strong></h4>
    </p>
    <ol>
        <li>Перейдите на страницу <a href="/Section/Edit" target="_blank">Категории <i class="fas fa-external-link-alt" style="font-size: small;"></i></a><p> </p></li>
        <li>
            Найдите категорию которую, хотите переместить, и нажите на нее
            <br />
            <img src="~/resources/help/7/change_folder_1.png" alt="" class="img-fluid">
            <p> </p>
        </li>
        <li>
            В поле <b>Папка</b> выберите желаемую папку для перемещения и нажмите кнопку <b>Сохранить</b>
            <br />
            <img src="~/resources/help/7/change_folder_2.png" alt="" class="img-fluid">
            <p> </p>
        </li>

        <li>
            Готово!
            <br />
            Вы переместили категорию.
            <br />
            <img src="~/resources/help/7/change_folder_3.png" alt="" class="img-fluid">
            <p> </p>
        </li>
    </ol>
</div>
