<div class="blog-article-content font-secondary">
    <p class="mb-4">
        <b>Дополнительные настройки</b>
        <a href="javascript:void(0)" tabindex="-1" style=" display: inline-block; width: 40px; height: 40px; border-top-left-radius: 50%; border-bottom-left-radius: 50%; background: #444; color: #fff !important; text-align: center; font-size: 20px !important; line-height: 40px;"><i class="fas fa-cogs"></i></a>
        присутствуют на некоторых страницах. Они являются вспомогательным функционалом к странице.
    </p>
    <p class="mb-4">
        <h4><strong>Как работать с настройками?</strong></h4>
    </p>
    <ol>
        <li>
            Для примера возьмом страницу <b>Финансы на месяц</b>.
            Нажмите на <b>Настройки страницы</b> ("шестерёнки" справа).
            <br />
            <img src="~/resources/help/12/page_settings_1.png" alt="" class="img-fluid">
            <p> </p>
        </li>
        <li>
            На данной странице с помощью кнопки происходит управление виджетами (скрыть/показать)<br />
            1 - виджет <b>доходов</b> за месяц/год (суммируются все категории с типом "доходы" за месяц/год)<br />
            2 - виджет <b>расходов</b> за месяц/год (суммируются все категории с типом "расходы" за месяц/год)<br />
            3 - виджет <b>инвестиции</b> за месяц/год (суммируются все категории с типом "инвестиции" за месяц/год)<br />
            4 - виджеты <b>лимиты</b> для месяца/года<br />
            5 - виджеты <b>цели</b> для месяца/года<br />
            6 - <b>графики</b> для месяца/года
            <br />
            <br />
            <img src="~/resources/help/12/page_settings_2.png" alt="" class="img-fluid">
            <p> </p>
        </li>
    </ol>
</div>
