<div class="blog-article-content font-secondary">
    <p class="mb-4">
        Вы можете найти запись несколькими способами:
    </p>
    <ol>
        <li>
            Через диалоговое окно <b>Добавление записей</b>
            <ul>
                <li>
                    На любой странице нажмите
                    <a class="cursor-pointer" title="Добавить запись">
                        <i class="ion ion-md-add navbar-icon align-middle text-large" style="color:var(--success);" title="Добавить запись"></i>
                    </a>
                    <br />
                    <img src="~/resources/help/13/search._record_1.png" alt="" class="img-fluid">
                    <p> </p>
                </li>
                <li>
                    Нажмите на кнопку <b>История</b>
                    <br />
                    <img src="~/resources/help/13/search._record_2.png" alt="" class="img-fluid">
                    <p> </p>
                </li>
                <li>
                    Выберите нужную дату, и данные подгрузятся автоматически.
                    <br />
                    <img src="~/resources/help/13/search._record_3.png" alt="" class="img-fluid">
                    <p> </p>
                </li>
            </ul>
        </li>
        <li>
            Через <b>таблицу</b>
            <br />
            <ul>
                <li>
                    Перейдите на страницу <a href="/Budget/Month" target="_blank">Финансы на месяц <i class="fas fa-external-link-alt" style="font-size: small;"></i></a> или <a href="/Budget/Year" target="_blank">Финансы на год <i class="fas fa-external-link-alt" style="font-size: small;"></i></a>.
                    В таблице наведите курсор на любую ячейку и нажмите кнопку "показать историю" <i class="fas fa-history show-history-cell-action" style=" color: var(--blue);" title="Посмотреть историю"></i>
                    <br />
                    <img src="~/resources/help/13/search._record_5.png" alt="" class="img-fluid">
                </li>
                <li>
                    В открывшемся диалоговом окне нажмите на значок фильтра
                    <a style="color: black;"><i class="fas fa-filter"></i></a>
                    <br />
                    <img src="~/resources/help/13/search._record_6.png" alt="" class="img-fluid">
                    <p> </p>
                </li>
                <li>
                    В открывшейся панели выберите нужные категории для поиска, а также нужный диапазон дат. Нажмите кнопку <b>Поиск</b>
                    <br />
                    <img src="~/resources/help/13/search._record_7.png" alt="" class="img-fluid">
                    <p> </p>
                </li>
            </ul>
            <p> </p>
        </li>
        <li>
            Через страницу <b>Календарь</b>
            <ul>
                <li>
                    Перейдите на страницу <a href="/Budget/TimeLine" target="_blank">Календарь <i class="fas fa-external-link-alt" style="font-size: small;"></i></a>
                </li>
                <li>
                    На открывшейся странице выберите нужные категории и нажмите на нужный день в году
                    <br />
                    <img src="~/resources/help/13/search._record_8.png" alt="" class="img-fluid">
                </li>
                <li>
                    Под календарём подгрузятся записи по заданным параметрам.
                    <br />
                    <img src="~/resources/help/13/search._record_9.png" alt="" class="img-fluid">
                </li>
            </ul>
        </li>
    </ol>
</div>
