<div class="blog-article-content font-secondary">
    <p class="mb-4">
        Есть несколько вариантов найти запись.
    </p>
    <ol>
        <li>
            Через диалоговое окно <b>Добавление записей</b>
            <ul>
                <li>
                    На любой странице нажимаем
                    <a class="cursor-pointer" title="Добавить запись">
                        <i class="ion ion-md-add navbar-icon align-middle text-large" style="color:var(--success);" title="Добавить запись"></i>
                    </a>
                    <br />
                    <img src="~/resources/help/13/search._record_1.png" alt="" class="img-fluid">
                    <p> </p>
                </li>
                <li>
                    Нажимаем кнопку <b>История</b>
                    <br />
                    <img src="~/resources/help/13/search._record_2.png" alt="" class="img-fluid">
                    <p> </p>
                </li>
                <li>
                    Выбераем нужную нам дату и данные подгружаются
                    <br />
                    <img src="~/resources/help/13/search._record_3.png" alt="" class="img-fluid">
                    <p> </p>
                </li>
            </ul>
        </li>
        <li>
            Через <b>таблицу</b>
            <br />
            <ul>
                <li>
                    Переходим на страницу <a href="/Budget/Month" target="_blank">Финансы на месяц <i class="fas fa-external-link-alt" style="font-size: small;"></i></a> или <a href="/Budget/Year" target="_blank">Финансы на год <i class="fas fa-external-link-alt" style="font-size: small;"></i></a>.
                    В таблице наводим на любую ячейку и нажимаем кнопку показать историю <i class="fas fa-history show-history-cell-action" style=" color: var(--blue);" title="Посмотреть историю"></i>
                    <br />
                    <img src="~/resources/help/13/search._record_5.png" alt="" class="img-fluid">
                </li>
                <li>
                    В открывшемся диалоговом окне нажимаем на значек фильтра
                    <a style="color: black;"><i class="fas fa-filter"></i></a>
                    <br />
                    <img src="~/resources/help/13/search._record_6.png" alt="" class="img-fluid">
                    <p> </p>
                </li>
                <li>
                    В открывшейся панеле выбераем нужные категории для поиска, выставляем дату и нажимам кнопку <b>Поиск</b>
                    <br />
                    <img src="~/resources/help/13/search._record_7.png" alt="" class="img-fluid">
                    <p> </p>
                </li>
            </ul>
            <p> </p>
        </li>
        <li>
            Через страницу <b>Календарь</b>
            <ul>
                <li>
                    Переходим на страницу <a href="/Budget/TimeLine" target="_blank">Календарь</a>
                </li>
                <li>
                    На открывшейся странице выбреаем нужные категории и нажимаем на нужный день в году
                    <br />
                    <img src="~/resources/help/13/search._record_8.png" alt="" class="img-fluid">
                </li>
                <li>
                    Ниже календаря подгружается записи по выбранным параметрам
                    <br />
                    <img src="~/resources/help/13/search._record_9.png" alt="" class="img-fluid">
                </li>
            </ul>
        </li>
    </ol>
</div>
