<div class="blog-article-content font-secondary">
    <p class="mb-4">
        <b>Таблица</b> это ключевой механизм отслеживания и аналитики ваших доходов, расходов и инвестиций.
        Таблица располагается на 2 страницах: <a href="/Budget/Month" target="_blank">Финансы на месяц <i class="fas fa-external-link-alt" style="font-size: small;"></i></a> и <a href="/Budget/Year" target="_blank">Финансы на год <i class="fas fa-external-link-alt" style="font-size: small;"></i></a>
    </p>
    <p class="mb-4">
        <h4><strong>Ознакомьтесь с основными функциями таблицы:</strong></h4>
    </p>
    <ol>
        <li>
            Таблица состоит из:
            <ol>
                <li>Выбранного шаблона</li>
                <li>
                    Ссылки на страницу редактрования выбранного шаблона
                    @*Нажимая кнопку
                        <a title="Редактировать шаблон" href="#" class="ml-2 btn btn-outline-primary btn-xs icon-btn md-btn-flat" style="">
                            <i class="ion ion-md-create"></i>
                        </a> вы попадете в редактироване этого шаблона*@
                </li>
                <li>Доступа к дополнительному функционалу таблицы</li>
                <li>Функции выгрузки в Excel</li>
                <li>Функции изменения размера ячеек</li>
                <li><u style="text-decoration-color: orangered;">Красным цветом</u>-отображаются колонки, в которых содержится больше категорий с типом <b>расходы</b></li>
                <li><u style="text-decoration-color: lightgreen;">Зеленым цветом</u>-отображаются колонки, в которых содержится больше категрий с типом <b>доходы</b></li>
                <li><u style="text-decoration-color: antiquewhite;">Белым цветом</u>-отображаются колонки, в которых содержится больше категорий с типом <b>инвестиции</b>, а также колонки <b>Дни</b> и <b>Месяцы</b></li>
            </ol>
            <br />
            <img src="~/resources/help/11/table_10.png" alt="" class="img-fluid">
            <p> </p>
        </li>
        <li>
            Сама таблица состоит из <b>шапки с наванием колонок</b>, <b>самих колонок</b> и <b> строки "итого"</b>.
            При наведении на шапку конкретной колонки будет появляться список категорий в данной колонке. При нажтии на шапку в выбранной колонке производится сортировка данных.
            <br />
            <img src="~/resources/help/11/table_11.png" alt="" class="img-fluid">
            <p> </p>
        </li>
        <li>
            При наведедении на любую ячейку в колонке <b>Дни</b> всплывают дополнительные действия:
            <br />
            <i class="ion ion-md-add add-cell-action" style=" color: var(--success);" title="Добавить запись"></i> - <b>добавить запись</b>  на конкретный день
            <br />
            <i class="fas fa-history show-history-cell-action" style=" color: var(--blue);" title="Посмотреть историю"></i> - <b>показать историю</b> записей за конкретный день (по категориям, включенным в этот шаблон)
            <br />
            <i class="remind-cell-action" style=" color: var(--orange); margin-left: -10px;">+<i class="fas fa-bell" title="Добавить напоминание"></i></i> - <b>добавить/посмотреть напоминания</b> за этот день
            <br />
            <img src="~/resources/help/11/table_12.png" alt="" class="img-fluid">
            <p> </p>
            При нажатии на <i class="fas fa-history show-history-cell-action" style=" color: var(--blue);" title="Посмотреть историю"></i>
            "посмотреть историю" всплывает диалоговое окно.
            <br />
            1 - фильтр
            <br />
            2 - сами записи за этот период
            <br />
            3 - итого за этот период
            <br />
            <br />
            <img src="~/resources/help/11/table_12_1.png" alt="" class="img-fluid">
            <p> </p>
        </li>
        <li>
            При наведедении на любую ячейку в строке <b>Итого</b> всплывает дополнительное действие:
            <br />
            <i class="fas fa-history show-history-cell-action" style=" color: var(--blue);" title="Посмотреть историю"></i>
            - показать историю записей за конкретный месяц/год, по категориям которые включены в эту колонку
            <br />
            <img src="~/resources/help/11/table_13.png" alt="" class="img-fluid">
            <p> </p>
        </li>
        <li>
            При наведедении на любую ячейку в таблице, кроме строк <b>Шапка</b> и <b>Итого</b> и кроме стобца <b>Дни</b> всплывает дополнительное действие:
            <br />
            <i class="fas fa-history show-history-cell-action" style=" color: var(--blue);" title="Посмотреть историю"></i>
            - показать историю записей за конкретный день/месяц, по категориям которые включены в эту колонку:
            <br />
            <br />
            <img src="~/resources/help/11/table_14.png" alt="" class="img-fluid">
            <p> </p>
        </li>
        <li>
            Вы можете менять колонки местами, перетянув любую клоноку за её шапку.
            <br />
            <br />
            <img src="~/resources/help/11/table_15.png" alt="" class="img-fluid">
            <p> </p>
        </li>
    </ol>
</div>
