<div class="blog-article-content font-secondary">
    <p class="mb-4">
        <b>Таблица</b> это ключевой механизм отслеживания и аналитики ваших доходов, расходов и инвестиций.
        Таблица распологается на 2 страницах <a href="/Budget/Month" target="_blank">Финансы на месяц</a> и <a href="/Budget/Year" target="_blank">Финансы на год</a>
    </p>
    <p class="mb-4">
        <h4><strong>Ключевые моменты которые вы можете делать с таблице</strong></h4>
    </p>
    <ol>
        <li>
            Окружение таблицы состоит из :
            <ol>
                <li>Выбор шаблона</li>
                <li>
                    Ссылка на страницу редактрования выбранного шаблона
                    @*Нажимая кнопку
                    <a title="Редактировать шаблон" href="#" class="ml-2 btn btn-outline-primary btn-xs icon-btn md-btn-flat" style="">
                        <i class="ion ion-md-create"></i>
                    </a> вы попадете в редактироване этого шаблона*@
                </li>
                <li>Открыть дополнительный функционал таблицы</li>
                <li>Выгрузк в Excel</li>
                <li>Сделать ячейки больше/меньше</li>
            </ol>
            <br />
            <img src="~/resources/help/11/table_10.png" alt="" class="img-fluid">
            <p> </p>
        </li>
        <li>
            Сама таблица состоит из <b>шапки</b>, <b>колонок</b> и <b> строка "итого"</b>.
            При наведении на конкретную колонку в шапке - будет появляться список категории для данной колонки, также если нажать возможно отсортировать таблицу по выбраннй колонки нажав на шапку.
            <br />
            <img src="~/resources/help/11/table_11.png" alt="" class="img-fluid">
            <p> </p>
        </li>
        <li>
            При наведедении на любую ячейку в колонке <b>Дни</b> всплывают дополнительные действия:
            <br />
            <i class="ion ion-md-add add-cell-action" style=" color: var(--success);" title="Добавить запись"></i> - <b>добавить запись</b>  на конкретный день
            <br />
            <i class="fas fa-history show-history-cell-action" style=" color: var(--blue);" title="Посмотреть историю"></i> - <b>показать историю</b> записей за конкретный день, по категориям который включены в этот шаблон
            <br />
            <i class="remind-cell-action" style=" color: var(--orange); margin-left: -10px;">+<i class="fas fa-bell" title="Добавить напоминание"></i></i> - <b>добавить/посмотреть напоминание</b> за этот день
            <br />
            <img src="~/resources/help/11/table_12.png" alt="" class="img-fluid">
            <p> </p>
            Так выглядит диалогово окно, если нажать на <i class="fas fa-history show-history-cell-action" style=" color: var(--blue);" title="Посмотреть историю"></i>
            "показать историю", где
            <br />
            1 - фильтр
            <br />
            2 - сами записи за этот период
            <br />
            3 - итого за этот период
            <img src="~/resources/help/11/table_12_1.png" alt="" class="img-fluid">
        </li>
        <li>
            При наведедении на любую ячейку в стрке <b>Итого</b> всплывает дополнительное действие:
            <br />
            <i class="fas fa-history show-history-cell-action" style=" color: var(--blue);" title="Посмотреть историю"></i>
            - показать историю записей за конкретный месяц/год, по категориям которые включены в эту колонку
            <br />
            <img src="~/resources/help/11/table_13.png" alt="" class="img-fluid">
            <p> </p>
        </li>
        <li>
            При наведедении на любую ячейку в таблице, кроме строк "Шапка" и "Итого" и кроме стобца "Дни" всплывает дополнительное действие:
            <br />
            <i class="fas fa-history show-history-cell-action" style=" color: var(--blue);" title="Посмотреть историю"></i>
            - показать историю записей за конкретный день/месяц, по категориям которые включены в эту колонку
            <br />
            <img src="~/resources/help/11/table_14.png" alt="" class="img-fluid">
            <p> </p>
        </li>
        <li>
            Вы можете перетаскивать колонки местами, взяв за любую клоноку в шапке и перетаскивая в нужное место.
           <br />
            <img src="~/resources/help/11/table_15.png" alt="" class="img-fluid">
            <p> </p>
        </li>
    </ol>
</div>
