
@{
    ViewData["Title"] = "Обратная связь";
}

@section Styles {
    <link href="~/vendor/css/pages/tickets.css" rel="stylesheet" asp-append-version="true" />
    <style>

        .feeling i {
            opacity: 0.75;
            font-size: 35px;
            -webkit-transition: all .08s linear .05s;
            -o-transition: all .08s linear .05s;
            transition: all .08s linear .05s;
        }

        .feeling .fa-sad-cry:hover,
        .fa-sad-cry.active {
            color: var(--red);
            opacity: 1;
        }

        .feeling .fa-frown:hover,
        .fa-frown.active {
            color: var(--orange);
            opacity: 1;
        }

        .feeling .fa-meh:hover,
        .fa-meh.active {
            color: black;
            opacity: 1;
        }

        .feeling .fa-smile:hover,
        .fa-smile.active {
            color: var(--info);
            opacity: 1;
        }

        .feeling .fa-grin-beam:hover,
        .fa-grin-beam.active {
            color: var(--green);
            opacity: 1;
        }
    </style>
}

@section Scripts {

    <environment names="Development">
        <script src="~/pages/feedback/feedback.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/pages/feedback/feedback.min.js" asp-append-version="true"></script>
    </environment>
}


<article id="feedback-vue">

    <h4 class="d-flex flex-wrap w-100 font-weight-bold">
        <span class="lnr lnr-smile display-4 text-primary mr-2"></span>
        <span class="lnr lnr-neutral display-4 text-primary mr-2"></span>
        <span class="lnr lnr-sad display-4 text-primary mr-2"></span>
        <span class="px-0 pb-2 pt-2">
            Обратная связь
        </span>
        <a href="javascript:void(0)" data-toggle="tooltip" data-placement="right"
           title="На этой странце напишите нам все, что вы думаете о программе, важи предложения, если нашли недочеты с радостью все обсудим.">
            <i class="pe-7s-info d-block text-primary"></i>
        </a>
    </h4>
    <div class="card">

        <div class="card-body" v-show="viewOne">

            <div row="row">
                <div class="col-6 pl-0">
                    <div class="form-group">
                        <label class="form-label">Тип обращения</label>
                        <select class="custom-select" v-model="feedback.topic">
                            <option value="Want" selected>Пожелания</option>
                            <option value="Remark">Замечание</option>
                            <option value="Error">Ошибка</option>
                            <option value="Heed help">Нужна помощь</option>
                            <option value="Other">Другое</option>
                        </select>
                    </div>
                </div>
                <div class="col-6 pl-0">
                    <div class="form-group">
                        <label class="form-label">Срочность</label>
                        <select class="custom-select" v-model="feedback.priority">
                            <option value="5">Очень важно и срочно</option>
                            <option value="4">Срочно</option>
                            <option value="3" selected>Средней срочности</option>
                            <option value="2">Почти не срочно</option>
                            <option value="1">Не срочно</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12">
                    <div class="form-group">
                        <label class="form-label">Как вы сейчас себя чувствуете ?</label>
                        <span class="text-large ml-4 feeling">
                            <i class="cursor-pointer far fa-sad-cry" v-on:click="choosedMood($event, 1)"></i>
                            <i class="cursor-pointer far fa-frown" v-on:click="choosedMood($event, 2)"></i>
                            <i class="cursor-pointer far fa-meh" v-on:click="choosedMood($event, 3)"></i>
                            <i class="cursor-pointer far fa-smile" v-on:click="choosedMood($event, 4)"></i>
                            <i class="cursor-pointer far fa-grin-beam" v-on:click="choosedMood($event, 5)"></i>
                        </span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-8 order-2 order-md-1">
                    <div class="form-group">
                        <label class="form-label">Ваш комментарий</label>
                        <textarea class="form-control" rows="3"
                                  v-model="feedback.text"></textarea>
                    </div>
                </div>
            </div>
            <div class="ui-bordered px-3 pt-3">
                <label class="form-label">Прикрепите файлы</label>
                <div class="clearfix">
                    <div class="ui-feed-icon-container float-left pt-2 mr-3 mb-3" v-for="img in feedback.images">
                        <a href="javascript:void(0)" class="ui-icon ui-feed-icon ion ion-md-close bg-secondary text-white"
                           v-on:click="removeImage(img)"></a>
                        <a href="javascript:void(0)" class="ticket-file-img" v-bind:style='"background-image: url(" + img.imageBase64 + ")"'></a>
                    </div>
                    <label class="ticket-file-add float-left bg-lighter text-muted mt-2 mb-3">
                        <span class="ion ion-md-add"></span>
                        <input type="file" class="account-settings-fileinput" v-on:change="encodeImageFileAsURL" accept="image/*" style="display: none;">
                    </label>
                </div>
                <div class="text-light small mt-1">@*Максимальный размер ...*@ Формат изображений png, jpg</div>
            </div>
        </div>
        <div class="card-footer"  v-show="viewOne">
            <button class="btn btn-primary" type="button"
                    v-bind:disabled="isSaving"
                    v-on:click="save">
                <span class="spinner-border" role="status" aria-hidden="true" v-show="isSaving"></span>
                Сохранить
            </button>
        </div>
        <div v-show="!viewOne">
            <h4 class="media align-items-center font-weight-bold py-3 mb-2">
                <span class="lnr lnr-hourglass display-4 text-primary mr-2 ml-4"></span>
                <div class="media-body ml-3">
                    Спасибо за обращение!
                    <div class="text-muted text-tiny mt-1">
                        <small class="font-weight-normal">Техподдержка уже читает ваше сообщение</small>
                    </div>
                </div>
            </h4>
        </div>
    </div>
</article>
