<!DOCTYPE html>

<!-- Add landing-1 to html element -->
<html lang="ru" class="landing-1 light-style">
<head>
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

    @*<link rel="icon" type="image/png" href="/favicon.png">
        <link rel="shortcut icon" href="/favicon.png" type="image/png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="apple-touch-icon" href="/favicon.png">*@
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#000000">

    <meta property="og:type" content="website" />
    <meta property="og:title" content="Budgetto.org - Контролируй свои финансы" />
    <meta property="og:description" content="budgetto.org - cервис, по ведению личных финансов, основанный на таблицах. Отслеживайте свои раходы, доходы и инвестиции. Ставьте цели и лимиты." />
    <meta property="og:image" content="https://app.budgetto.org/img/Logo-min.png" />
    <meta property="og:site_name" content="Budgetto.org | Контролируй свои финансы" />
    <meta property="og:locale" content="ru_RU">
    <meta property="og:url" content="https://budgetto.org">
    <meta property="og:updated_time" content="2020-12-11T09:59:35-05:00">

    @*<meta name="keywords" content="где деньги, учет расходов, семейный бюджет, финансовая грамотность, личные финансы, учет доходов и расходов, планирование расходов, планирование бюджета">
        <meta name="keywords" content="Учет расходов,семейный бюджет,домашняя бухгалтерия,учёт личных финансов,учет долгов">
        <meta name="keywords" content="Intuit, Intuit Quicken, Quicken, MS Money, Money, Mint, Cash Organizer, Personal Finance, Finance, Credit, Debit, Mint, Coinkeeper, Финансы, Деньги, Кредиты, Заемы, Домашние финансы, Домашняя бухгалтерия, Семейный бюджет, Учет, Управленческий учет, Битрикс">*@
    <meta name="description" content="Сервис по ведению личных финансов, основанный на таблицах.">
    <title>
        Budgetto.org - Контролируй свои финансы
    </title>
    @*<meta name="keywords" content="таблица финансов, таблица бюджета, бюджет в Excel, финансы в Excel, ведение финансов в Excel, ведение бюджета в Excel,
        учет расходов в Excel, учет расходов, учет доходов и расходов, книга учетов доходов и расходов, счет учета расходов,
        бюджет, финансы, личные финансы, контроль финансов, домашняя бухгалтерия, семейный бюджет, доход,
        учет расходов ип, цель учета расходов, учет основных расходов, учет расходов периода, методы учета расходов, как вести учет расходов,
        таблица учета расходов, доход расход, учет доход, финансовый excel, семейный бюджет excel, бюджет семьи excel,
        таблица excel бюджет , таблица excel финансы, таблица учета финансов, таблица контроля финансов, таблицы личных финансов, таблица расходов бюджета,
        доходы бюджета таблица, семейный бюджет таблица, бюджет семьи таблица" />*@

    <meta name="keywords" content="таблица финансов, таблица бюджета, бюджет в Excel, финансы в Excel,
          учет расходов в Excel, учет доходов и расходов, таблица доход, личные финансы, контроль финансов, домашняя бухгалтерия, семейный бюджет,
          цель учета расходов, учет основных расходов,
          таблица учета расходов,  таблица финансы, доходы бюджета таблица, семейный бюджет таблица, год бюджет, семья бюджет" />

    <link rel="canonical" href="https://budgetto.org/">
    <link rel="shortlink" href="https://budgetto.org/">

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Icon fonts -->
    <link rel="stylesheet" href="vendor/fonts/linearicons.css">

    <!-- Core stylesheets -->
    <link rel="stylesheet" href="vendor/css/rtl/bootstrap.css" class="theme-settings-bootstrap-css">
    <link rel="stylesheet" href="vendor/css/rtl/appwork.css" class="theme-settings-appwork-css">
    <link rel="stylesheet" href="vendor/css/rtl/theme-corporate.css" class="theme-settings-theme-css">
    <link rel="stylesheet" href="vendor/css/rtl/colors.css" class="theme-settings-colors-css">
    <link rel="stylesheet" href="vendor/css/rtl/uikit.css">


    <!-- Core scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Page -->
    <link rel="stylesheet" href="css/landing.css">

    <!-- Libs -->
    <link rel="stylesheet" href="vendor/libs/swiper/swiper.css">
    <link rel="stylesheet" href="vendor/libs/plyr/plyr.css">
    <link href="~/vendor/libs/blueimp-gallery/gallery.css" rel="stylesheet" />
    @RenderSection("Styles", required: false)

</head>

<body>
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function (m, e, t, r, i, k, a) {
            m[i] = m[i] || function () { (m[i].a = m[i].a || []).push(arguments) };
            m[i].l = 1 * new Date(); k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
        })
            (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(69955153, "init", {
            clickmap: true,
            trackLinks: true,
            accurateTrackBounce: true,
            webvisor: true
        });</script>
    <noscript><div><img src="https://mc.yandex.ru/watch/69955153" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
    <div id="page-vue" class="theme-bg-white">

        <div class="page-loader">
            <div class="bg-primary"></div>
        </div>

        <!-- Navbar -->
        <nav class="landing-navbar navbar navbar-expand-lg navbar-light fixed-top pt-lg-4">
            <div class="container-fluid px-3">
                <a href="javascript:void(0)" class="navbar-brand text-big font-weight-bolder line-height-1 text-expanded py-3">
                    <img src="~/img/Logo-min.png" style="width: 180px;" />
                </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#landing-navbar-collapse">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="landing-navbar-collapse">
                    <div class="navbar-nav align-items-lg-center ml-auto">
                        <a class="nav-item nav-link" href="javascript:void(0)" v-on:click="go_to('#how-it-works')">Как работает сервис</a>
                        <a class="nav-item nav-link" href="javascript:void(0)" v-on:click="go_to('#pricing')">Цены</a>
                        <div class="nav-item py-3 py-lg-0 ml-lg-4">
                            <a href="javascript:void(0)" class="btn btn-primary rounded-pill text-expanded landing-btn"
                               onclick="PageVue.goToAppBudgetto('HeaderButton')">
                                <small>Войти</small>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <!-- / Navbar -->
        @RenderBody()

        <!-- Layout footer -->
        <nav class="layout-footer footer bg-footer-theme ui-company-text">
            <div class="container-fluid d-flex flex-wrap justify-content-between  container-p-x pt-3">
                <div>
                    Разработка сайта by
                    <img src="~/img/raynovgroup-logo.ico" class="ui-w-20" alt="RaynovGrou logo" />
                    <a href="https://www.raynovgroup.com" target="_blank" class="footer-text font-weight-bolder text-decoration-hover">RaynovGroup</a> ©
                </div>
                <div>
                    @*<a class="text-twitter text-big" href="javascript:void(0)">
                            <i class="ion ion-logo-twitter"></i>
                        </a>
                        &nbsp; &nbsp;
                        <a class="text-facebook text-big" href="javascript:void(0)">
                            <i class="ion ion-logo-facebook"></i>
                        </a>
                        &nbsp; &nbsp;*@
                    <a class="text-instagram text-big mr-4" href="https://www.instagram.com/app.budgetto/?igshid=jeffvsjuvvpp" target="_blank">
                        <img src="~/instagram.png" alt="Instagram " />
                    </a>
                    <a href="mailto:support@budgetto.org?subject=Предложение по сайту app.budgetto.org" target="_blank" class="footer-link">
                        support@budgetto.org
                    </a>
                </div>
            </div>
            <div class="container-fluid d-flex flex-wrap justify-content-between container-p-x pb-1">
                <div class="pt-1">
                    <a href="https://app.budgetto.org/documents/personal_data_processing_policy.pdf" target="_blank" class="footer-link mr-4"
                       v-on:click="showDocument('personal_data_processing_policy')">Политика конфиденциальности</a>
                    <a href="https://app.budgetto.org/documents/terms_of_use.pdf" target="_blank" class="footer-link mr-4"
                       v-on:click="showDocument('terms_of_use')">Пользовательское соглашение</a>
                </div>
                <div class="pt-1">© @DateTime.Now.Year Управление финансами Budgetto.org</div>
            </div>
        </nav>
    </div>
    <!-- Core scripts -->
    @*<script src="vendor/libs/popper/popper.js"></script>*@
    <script src="vendor/js/bootstrap.js"></script>

    <!-- Libs -->
    <script src="vendor/libs/swiper/swiper.js"></script>
    <script src="~/vendor/libs/blueimp-gallery/gallery.js"></script>
    <script src="~/vendor/libs/blueimp-gallery/gallery-fullscreen.js"></script>

    <!-- Page -->
    <script src="~/vendor/libs/vue/dist/vue.min.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
