@{
    Layout = "Layouts/_Application";
}

@section Styles { @RenderSection("Styles", required: false) }
@section Scripts { @RenderSection("Scripts", required: false) }

<div class="layout-wrapper layout-1">
    <div class="layout-inner">
        @await Html.PartialAsync("Layouts/Partials/_LayoutNavbar")

        <div class="layout-container">
            @await Html.PartialAsync("Layouts/Partials/_LayoutSidenav")
            <div class="layout-content">
                <div class="container-fluid flex-grow-1 container-p-y">
                    @RenderBody()
                </div>
                @await Html.PartialAsync("Layouts/Partials/_LayoutFooter")
            </div>
        </div>
    </div>
    <div class="layout-overlay layout-sidenav-toggle"></div>
</div>
