<div id="goal-edit-vue">

    <div class="modal modal-top fade" id="modal-goal">
        <div class="modal-dialog">
            <form class="modal-content" method="post">
                <div class="modal-header pb-0 mb-0">
                    <h5 class="modal-title">
                        {{ goal.id ? 'Редактирование цели' : 'Создание цели'  }}
                        @*<span class="font-weight-light">Information</span>
                            <br>
                            <small class="text-muted">We need payment information to process your order.</small>*@
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">×</button>
                </div>
                <div class="modal-body">
                    <div class="form-row">
                        <div class="form-group col">
                            <label class="form-label">Начало</label>
                            <span class="text-danger">*</span>
                            <input type="text" class="form-control" id="date-start" v-model="goal.dateStart" required>
                            <small class="invalid-feedback">Обязательное поле</small>
                        </div>
                        <div class="form-group col">
                            <label class="form-label">Окончание</label>
                            <input type="text" class="form-control" id="date-end" v-model="goal.dateEnd">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col">
                            <label class="form-label">Название цели</label>
                            <span class="text-danger">*</span>
                            <input id="goal-name" type="text" class="form-control" placeholder="" v-model="goal.name" required>
                            <small class="invalid-feedback">Обязательное поле</small>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col">
                            <label class="form-label">Сколько нужно накопить?</label>
                            <span class="text-danger">*</span>
                            <input id="goal-expectationMoney" type="number" class="form-control" placeholder="" v-model="goal.expectationMoney" required min="0">
                            <div class="text-muted small mt-1" v-show="goal.expectationMoney">
                                {{ new Intl.NumberFormat('ru-RU', { style: 'currency', currency: 'RUB' }).format(goal.expectationMoney) }}
                            </div>
                            <small class="invalid-feedback">Обязательное поле</small>
                        </div>
                    </div>
                    <div id="goal-comment" class="form-row">
                        <div class="form-group col mb-0">
                            <label class="form-label">Комментарии</label>
                            <textarea class="form-control" v-model="goal.description" placeholder=""></textarea>
                        </div>
                    </div>
                    <div class="form-row mt-3">
                        <div class="form-group mb-0" style=" margin-left: 0px; margin-right: auto;">
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" v-model="goal.isShow_BudgetMonth" checked>
                                <span class="custom-control-label">Показывать на странице "Финансы на месяц"</span>
                            </label>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group mb-0" style=" margin-left: 0px; margin-right: auto;">
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" v-model="goal.isShow_BudgetYear" checked>
                                <span class="custom-control-label">Показывать на странице "Финансы на год"</span>
                            </label>
                        </div>
                    </div>
                    @if (MyProfile.Identity.UserInfo.Current.IsAllowCollectiveBudget)
                    {
                        <div class="form-row">
                            <div class="form-group mb-0" style=" margin-left: 0px; margin-right: auto;">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" v-model="goal.isShowInCollective" checked>
                                    <span class="custom-control-label">Показывать всем</span>
                                </label>
                            </div>
                        </div>
                    }

                    <div id="gaol-is-finish" class="form-row">
                        <div class="form-group mb-0" style=" margin-left: 0px; margin-right: auto;" v-show="goal.id">
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" v-model="goal.isFinished">
                                <span class="custom-control-label">Завершить цель</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                    <button class="btn btn-primary" type="button"
                            v-bind:disabled="isSaving"
                            v-on:click="saveGoal">
                        <span class="spinner-border" role="status" aria-hidden="true" v-show="isSaving"></span>
                        Сохранить
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>