<div id="goal-edit-vue">

	<div class="modal modal-top fade" id="modal-goal">
		<div class="modal-dialog">
			<form class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">
						Goal
						@*<span class="font-weight-light">Information</span>
							<br>
							<small class="text-muted">We need payment information to process your order.</small>*@
					</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">×</button>
				</div>
				<div class="modal-body">
					<div class="form-row">
						<div class="form-group col">
							<label class="form-label">from</label>
							<input type="text" class="form-control" id="date-from" v-model="goal.dateStart">
						</div>
						<div class="form-group col">
							<label class="form-label">to</label>
							<input type="text" class="form-control" id="date-to" v-model="goal.dateEnd">
						</div>
					</div>

					<div class="form-row">
						<div class="form-group col">
							<label class="form-label">Сколько нужно накопить ?</label>
							<input type="number" class="form-control" placeholder="Money" v-model="goal.expectationMoney">
						</div>
					</div>

					<div class="form-row">
						<div class="form-group col">
							<label class="form-label">На что копим/Название цели</label>
							<input type="text" class="form-control" placeholder="Name" v-model="goal.name">
						</div>
					</div>

					<div class="form-row">
						<div class="form-group col mb-0">
							<label class="form-label">Описание</label>
							<textarea class="form-control" v-model="goal.description" placeholder="Description"></textarea>
						</div>
					</div>
					<div class="form-row">
						<div class="form-group" style=" margin-left: 0px; margin-right: auto;">
							<label class="custom-control custom-checkbox">
								<input type="checkbox" class="custom-control-input" v-model="goal.isShowOnDashBoard" checked>@*v-on:change="finishgoal"*@
								<span class="custom-control-label">Показывать на стринице дашборда</span>
							</label>
						</div>
					</div>
					@if (MyProfile.Identity.UserInfo.Current.IsAllowCollectiveBudget)
					{
						<div class="form-row">
							<div class="form-group" style=" margin-left: 0px; margin-right: auto;">
								<label class="custom-control custom-checkbox">
									<input type="checkbox" class="custom-control-input" v-model="goal.isShowInCollective">@*v-on:change="finishgoal"*@
									<span class="custom-control-label">Показывать всем</span>
								</label>
							</div>
						</div>
					}
					<div class="form-row">
						<div class="form-group" style=" margin-left: 0px; margin-right: auto;">
							<label class="custom-control custom-checkbox">
								<input type="checkbox" class="custom-control-input" v-model="goal.isFinished">@*v-on:change="finishgoal"*@
								<span class="custom-control-label">Завершить цель</span>
							</label>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
					<button class="btn btn-primary" type="button" disabled v-show="isSaving">
						<span class="spinner-border" role="status" aria-hidden="true"></span>
						Сохранить
					</button>

					<button type="button" class="btn btn-primary" v-on:click="save" v-show="!isSaving">Сохранить</button>
				</div>
			</form>
		</div>
	</div>

	<div class="modal modal-top fade" id="modal-goal-add-money">
		<div class="modal-dialog">
			<form class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">
						Goal
						@*<span class="font-weight-light">Information</span>
							<br>
							<small class="text-muted">We need payment information to process your order.</small>*@
					</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">×</button>
				</div>
				<div class="modal-body">
					<div class="form-row">
						<div class="form-group col">
							<label class="form-label">Дата</label>
							<input type="text" class="form-control" id="dateTimeOfPayment" v-model="record.dateTimeOfPayment">
						</div>
					</div>

					<div class="form-row">
						<div class="form-group col">
							<label class="form-label">Сумма внесения</label>
							<input type="number" class="form-control" placeholder="1000 или -1000" v-model="record.total">
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
					<button class="btn btn-primary" type="button" disabled v-show="isSaving">
						<span class="spinner-border" role="status" aria-hidden="true"></span>
						Сохранить
					</button>

					<button type="button" class="btn btn-primary" v-on:click="saveMoney" v-show="!isSaving">Сохранить</button>
				</div>
			</form>
		</div>
	</div>
</div>