<div id="account-transfer-modal-vue">

    <div id="modal-account-transfer" class="modal modal-top fade" aria-modal="true">
        <div class="modal-dialog modal-lg">
            <article class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        Перевод средств
                    </h5> <button type="button" data-dismiss="modal" aria-label="Close" class="close">×</button>
                </div>
                <div class="modal-body">
                    <div class="input-group" style=" margin-bottom: -15px;">
                        <label class="form-label">1 счет</label>
                        <select class="form-control" style="visibility:hidden;">
                            <option value="1">
                                Наличные
                            </option>
                        </select>
                        <span class="input-group-append" style="visibility:hidden;">
                            <span class=" btn btn-secondary ion ion-md-arrow-round-forward"></span>
                        </span>
                        <label class="form-label">2 счет</label>
                        <select class="form-control" style="visibility:hidden;">
                            <option value="1">
                                Наличные
                            </option>
                            <option value="2">
                                Тинькофф банк
                            </option>
                        </select>
                    </div>
                    <div class="input-group">
                        @*<span class="input-group-append" style="min-width: 50px;">
                                <span class=" btn btn-outline-default "
                                      v-show="accountFrom.accountType == 1 || (accountFrom.accountType != 1 && !accountFrom.bankImage)"
                                      v-bind:class="accountFrom.accountIcon"></span>
                                <img class="ui-payment-small cursor-pointer dropdown-toggle" style=" padding: 0px; padding-left: 10px; margin-top: 3px;"
                                     v-show="accountFrom.accountType != 1 && accountFrom.bankImage"
                                     v-bind:src="accountFrom.bankImage">
                            </span>*@
                        <select class="form-control" v-model="accountFrom">
                            <option v-for="account in accountsFrom"
                                    v-bind:value="account"
                                    v-bind:disabled="account.isDisabled"
                                    v-bind:style="account.isDisabled ? 'color:lightgray;' : '' ">
                                {{ account.name }}
                            </option>
                        </select>
                        <span class="input-group-append">
                            <span class=" btn btn-secondary ion ion-md-arrow-round-forward"></span>
                        </span>
                        <select class="form-control" v-model="accountTo">
                            <option value="-1" v-show="showEmpty"></option>
                            <option v-for="account in accountsTo"
                                    v-bind:value="account"
                                    v-bind:selected="account.isSelected"
                                    v-bind:disabled="account.isDisabled"
                                    v-bind:style=" account.isDisabled ? 'color:lightgray;' : '' ">
                                {{ account.name }}
                            </option>
                        </select>
                    </div>
                    <div class="form-row mt-2">
                        <div v-bind:class="accountTo.currencyID != accountFrom.currencyID ? 'col-md-5' : 'col-md-4'">
                            <label class="form-label">Баланс 1 счета</label>
                            <div class="input-group">
                                <input type="number" class="form-control" required disabled v-bind:value="accountFrom.balance" />
                                <span class="input-group-append">
                                    <span class="input-group-text" style="background: #f5f5f5;">{{ accountFrom.currencyIcon }}</span>
                                </span>
                            </div>
                            <small class="form-text text-muted" v-show="newValueFrom != null">
                                Новый баланс: {{ getCurrencyValue(accountFrom, newValueFrom) }}
                            </small>
                        </div>
                        <div class="col-md-4" v-show="accountTo.currencyID == accountFrom.currencyID">
                            <label class="form-label" v-show="accountTo.currencyID == accountFrom.currencyID">Сумма для перевода</label>
                            <label class="form-label" v-show="accountTo.currencyID != accountFrom.currencyID">Сумма для конвертации</label>
                            <input type="number" class="form-control" required min="0"
                                   v-bind:disabled="showEmpty"
                                   v-model="value" />
                            <span class="input-group-append"
                                  v-show="accountTo.currencyID != accountFrom.currencyID ">
                                <span class="input-group-text" style="background: #f5f5f5;">{{ accountFrom.currencyIcon }}</span>
                            </span>
                        </div>
                        <div class="col-md-2" v-show="accountTo.currencyID != accountFrom.currencyID">

                        </div>
                        @*<div class="col-md-2" v-show="accountTo.currencyID != accountFrom.currencyID">
                                <label class="form-label">Конвертировать по курсу</label>
                                <input type="number" class="form-control" min="0"
                                       v-bind:disabled="showEmpty"
                                       v-model="currencyValue" />
                            </div>
                            <div class="col-md-2" v-show="accountTo.currencyID != accountFrom.currencyID">
                                <label class="form-label">Сумма после конвертации</label>
                                <input type="number" class="form-control" min="0" disabled="disabled"
                                       v-model="endValue" />
                                <span class="input-group-append">
                                    <span class="input-group-text" style="background: #f5f5f5;">{{ accountTo.currencyIcon }}</span>
                                </span>
                            </div>*@

                        <div v-bind:class="accountTo.currencyID != accountFrom.currencyID ? 'col-md-5' : 'col-md-4'">
                            <label class="form-label">Баланс 2 счета</label>
                            <div class="input-group">
                                <input type="number" class="form-control" required disabled v-bind:value="accountTo.balance" />
                                <span class="input-group-append">
                                    <span class="input-group-text" style="background: #f5f5f5;">{{ accountTo.currencyIcon }}</span>
                                </span>
                            </div>
                            <small class="form-text text-muted float-right" v-show="newValueTo != null">
                                Новый баланс: {{ getCurrencyValue(accountTo, newValueTo) }}
                            </small>
                        </div>
                    </div>

                    <div class="form-row"
                         v-show="accountTo.currencyID != accountFrom.currencyID">
                        <div class="col-md-1">

                        </div>
                        <div class="col-md-4">
                            <label class="form-label">Сумма для конвертации</label>
                            <div class="input-group">
                                <input type="number" class="form-control" required min="0"
                                       v-bind:disabled="showEmpty"
                                       v-model="value" />
                                <span class="input-group-append"
                                      v-show="accountTo.currencyID != accountFrom.currencyID ">
                                    <span class="input-group-text" style="background: #f5f5f5;">{{ accountFrom.currencyIcon }}</span>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <label class="form-label">Курс</label>
                            <input type="number" class="form-control" min="0"
                                   v-bind:disabled="showEmpty"
                                   v-model="currencyValue" />
                            @*<small class="form-text text-muted float-right" >
                                Конвертировать по курсу
                            </small>*@
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">Сумма после конвертации</label>
                            <div class="input-group">
                                <input type="number" class="form-control" min="0" disabled="disabled"
                                       v-model="endValue" />
                                <span class="input-group-append">
                                    <span class="input-group-text" style="background: #f5f5f5;">{{ accountTo.currencyIcon }}</span>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-1">

                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col mb-0 mt-2">
                            <label class="form-label">Дополнительная информация</label>
                            <textarea class="form-control" v-model="comment" placeholder=""></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary"
                            v-bind:disabled="showEmpty || isSaving"
                            v-on:click="save">
                        <span role="status" aria-hidden="true" class="spinner-border"
                              v-show="isSaving"></span>
                        Перевести
                    </button>
                    <button type="button" data-dismiss="modal" class="btn btn-default button-close-record">Закрыть</button>
                </div>
            </article>
        </div>
    </div>
</div>