<div id="account-modal-vue">

    <div class="modal modal-top fade" id="modal-account">
        <div class="modal-dialog">
            <form class="modal-content" method="post">
                <div class="modal-header">
                    <h5 class="modal-title">
                        {{ account.id ? 'Редактирование счета' : 'Создание счета'  }}
                        @*<span class="font-weight-light">Information</span>
                            <br>
                            <small class="text-muted">We need payment information to process your order.</small>*@
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">×</button>
                </div>
                <div class="modal-body py-2">

                    <div class="media align-items-center">
                        <img class="ui-w-120" alt=""
                             v-bind:class="account.isSVG ? 'm-4' : 'mx-5'"
                             v-show="account.isCash == false && account.bankLogo"
                             v-bind:src="account.bankLogo"
                             v-bind:alt="account.name">
                        <span class="text-primary text-xlarge m-3"
                              v-show="account.accountType == 1 || (account.isCash == false && !account.bankLogo)"
                              v-bind:class="account.accountIcon"></span>
                        <div class="media-body">
                            <a href="javascript:void(0)" class="d-block text-body text-large">{{ account.bankName }}</a>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col">
                            <label class="form-label">Тип счета</label>
                            <select class="form-control" id="accountType-select"
                                    v-model="account.accountType"
                                    v-bind:disabled="account.id != undefined">
                                <option v-for="accountType in accountTypes"
                                        v-bind:value="accountType.id">
                                    {{ accountType.name }}
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col">
                            <label class="form-label">Название</label>
                            <span class="text-danger">*</span>
                            <input id="account-name" type="text" class="form-control" v-model="account.name" required
                                   v-bind:placeholder="account.bankTypeID == 1 ? 'Например, 4 последнии цифры номера карты' : account.bankTypeID == 2 ? 'Введите название счета или номер договора' : ''">
                            <small class="invalid-feedback">Обязательное поле</small>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col">
                            <label class="form-label">Баланс</label>
                            <div class="input-group input-money">
                                <input id="account-balance" type="number" class="form-control" placeholder="" v-model="account.balance" required>
                                <div class="input-group-prepend">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" v-bind:disabled="account.id != undefined">
                                        {{ account.currency.icon }}
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item"
                                           href="javascript:void(0)"
                                           v-for="currencyInfo in currencyInfos"
                                           v-bind:class="account.currentyID == currencyInfo.id ? 'active' : ''"
                                           v-on:click="changeCurrency(currencyInfo)">{{ currencyInfo.icon }}</a>

                                    </div>
                                </div>
                            </div>
                            <small class="text-muted" v-if="account.id > 0 && (account.accountType == 6 || account.accountType == 8)">
                                Внимание! Если вы вручную корректируете <b>Баланс</b>, это не будет отражаться в виджете <b>Инвестиции</b> и в истории "пополнение/вывод"
                                за предыдущий месяц/год. Пожалуйста, воспользуйтесь переводом со счета на счет "Перевести деньги".
                            </small>
                        </div>
                    </div>

                    <div class="form-row" v-show="account.isCash == false">
                        <div class="form-group col" v-show="[6,7,8].indexOf(account.accountType) >= 0">
                            <label class="form-label" v-show="account.accountType == 7">Открытие вклада</label>
                            <label class="form-label" v-show="account.accountType == 6 || account.accountType == 8">Открытие счета</label>
                            <input type="text" class="form-control" id="account-date-start" v-model="account.dateStart">
                        </div>
                        <div class="form-group col" v-show="[2,3,4,7,8].indexOf(account.accountType) >= 0">
                            <label class="form-label" v-show="[2,3,4].indexOf(account.accountType) >= 0">Конец срока действия карты</label>
                            <label class="form-label" v-show="account.accountType == 8">Окончание срока ИИС</label>
                            <label class="form-label" v-show="account.accountType == 7">Окончание срока вклада</label>
                            <input type="text" class="form-control" id="expirationDate" v-model="account.expirationDate">
                            <a class="small" href="javascript:void(0)"
                               v-show="account.dateStart"
                               v-on:click="setExpirationDate(3)">+3 года</a>
                        </div>
                    </div>
                    @*<div class="form-group" v-show="account.isCash == false">
            <label class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" v-model="account.isOverdraft" name="isOverdraft">
                <span class="custom-control-label">Подключен ли овердрафт</span>
            </label>
        </div>*@
                    <div class="card bg-light" v-show="account.isCash == false && account.accountType != 6 && account.accountType != 8">
                        <div class="card-header pb-0">
                            <div class="form-group">
                                <label class="custom-control custom-checkbox" style=" margin-bottom: 0px;">
                                    <input type="checkbox" class="custom-control-input" v-model="account.isCachback" name="isCachback">
                                    <span class="custom-control-label">Кешбек</span>
                                </label>
                                <small class="text-muted" v-show="account.isCash == false && account.isCachback">
                                    Обнуление кешбека происходит в начале каждого месяца
                                </small>
                            </div>
                        </div>
                        <div class="card-body"
                             v-show="account.isCash == false && account.isCachback">
                            @*<div class="form-group" v-show="account.isCash == false && account.isCachback">
                    <label class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" v-model="account.isCachBackMoney" name="isCachBackMoney">
                        <span class="custom-control-label">Кешбек конвертируется в рубли</span>
                    </label>
                </div>*@
                            <div class="form-row" v-show="account.isCash == false && account.isCachback">
                                <div class="form-group col">
                                    <label class="form-label">Баланс кешбека</label>
                                    <input type="number" class="form-control" placeholder="" v-model="account.cachBackBalance" required>
                                </div>
                            </div>
                            <div class="form-group" v-show="account.isCash == false && account.isCachback">
                                <label class="form-label">Процент кешбека на все покупки</label>
                                <div class="form-group input-group">
                                    <input type="number" class="form-control" placeholder="" v-model="account.cashBackForAllPercent"
                                           v-bind:min="0" v-bind:max="100">
                                    <div class="input-group-append">
                                        <span class="input-group-text">%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    @*<div class="form-row" v-show="account.isCash == false && account.isCachback">
            <div class="form-group col">
                <label class="form-label">Следующая дата зачисления кешбек</label>
                <input type="text" class="form-control" id="resetCashBackDate" v-model="account.resetCashBackDate" required>
            </div>
        </div>*@

                    <div class="form-row mt-3">
                        <div class="form-group col">
                            <label class="form-label">Система платежей</label>
                            <div class="text-center">
                                <img class="ui-payment cursor-pointer mr-1 payment-max-width" alt=""
                                     v-for="paymentSystem in paymentSystems"
                                     v-bind:src="paymentSystem.logo"
                                     v-bind:class="account.paymentSystemID == paymentSystem.id ? 'border-primary rounded ui-bordered' : ''"
                                     v-bind:data="paymentSystem.id"
                                     v-on:click="account.paymentSystemID != paymentSystem.id ? account.paymentSystemID = paymentSystem.id : account.paymentSystemID = null">
                            </div>
                        </div>
                    </div>

                    <div id="section-description" class="form-row mt-3">
                        <div class="form-group col mb-0">
                            <label class="form-label">Дополнительная информация</label>
                            <textarea class="form-control" v-model="account.description" placeholder=""></textarea>
                            <small class="text-muted">
                                Не записывайте сюда секретную информацию.
                            </small>
                        </div>
                    </div>

                    <div class="form-group mt-4"
                         v-show="account.bankTypeID != 2">
                        <label class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" v-model="account.isDefault" name="isDefault">
                            <span class="custom-control-label">Счет по умолчанию</span>
                        </label>
                    </div>

                    <div class="form-group mt-4">
                        <label class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" v-model="account.isHide" name="isHide">
                            <span class="custom-control-label">Скрывать в виджете</span>
                        </label>
                    </div>
                    <div class="form-group mt-4">
                        <label class="custom-control custom-checkbox" style=" margin-bottom: 0px;">
                            <input type="checkbox" class="custom-control-input" v-model="account.isCountTheBalance" name="isCountTheBalance">
                            <span class="custom-control-label">Учитывать в поле "Всего на всех счетах"</span>
                        </label>
                        @*<small class="text-muted">
                Для некоторых категорий банки не считают кешбек, например ЖКХ, налоги и тд.
            </small>*@
                    </div>
                    <div class="form-group mt-4">
                        <label class="custom-control custom-checkbox" style=" margin-bottom: 0px;">
                            <input type="checkbox" class="custom-control-input" v-model="account.isCountBalanceInMainAccount" name="isCountBalanceInMainAccount">
                            <span class="custom-control-label">Учитывать при подсчете общей суммы у организации/наличных</span>
                        </label>
                        @*<small class="text-muted">
                Для некоторых категорий банки не считают кешбек, например ЖКХ, налоги и тд.
            </small>*@
                    </div>
                    @*<div class="form-row">
            <div class="form-group col">
                <label class="form-label">Начало</label>
                <span class="text-danger">*</span>
                <input type="text" class="form-control" id="date-start" v-model="account.dateStart" required>
                <small class="invalid-feedback">Обязательное поле</small>
            </div>
            <div class="form-group col">
                <label class="form-label">Окончание</label>
                <input type="text" class="form-control" id="date-end" v-model="account.dateEnd">
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col">
                <label class="form-label">Сколько нужно накопить?</label>
                <span class="text-danger">*</span>
                <input id="account-expectationMoney" type="number" class="form-control" placeholder="" v-model="account.expectationMoney" required min="0">
                <div class="text-muted small mt-1" v-show="account.expectationMoney">
                    {{ new Intl.NumberFormat('ru-RU', { style: 'currency', currency: 'RUB' }).format(account.expectationMoney) }}
                </div>
                <small class="invalid-feedback">Обязательное поле</small>
            </div>
        </div>
        <div id="account-comment" class="form-row">
            <div class="form-group col mb-0">
                <label class="form-label">Комментарии</label>
                <textarea class="form-control" v-model="account.description" placeholder=""></textarea>
            </div>
        </div>
        <div class="form-row mt-3">
            <div class="form-group mb-0" style=" margin-left: 0px; margin-right: auto;">
                <label class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" v-model="account.isShow_BudgetMonth" checked>
                    <span class="custom-control-label">Показывать на странице "Финансы на месяц"</span>
                </label>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group mb-0" style=" margin-left: 0px; margin-right: auto;">
                <label class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" v-model="account.isShow_BudgetYear" checked>
                    <span class="custom-control-label">Показывать на странице "Финансы на год"</span>
                </label>
            </div>
        </div>
        <div id="gaol-is-finish" class="form-row">
            <div class="form-group mb-0" style=" margin-left: 0px; margin-right: auto;" v-show="account.id">
                <label class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" v-model="account.isFinished">
                    <span class="custom-control-label">Завершить цель</span>
                </label>
            </div>
        </div>*@
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="button"
                            v-bind:disabled="isSaving"
                            v-on:click="save">
                        <span class="spinner-border" role="status" aria-hidden="true" v-show="isSaving"></span>
                        Сохранить
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                </div>
            </form>
        </div>
    </div>
</div>