<div class="card-body">
    <div class="mt-2">
        <button class="btn btn-danger" type="button"
                v-bind:disabled="isSaving"
                v-on:click="generatedRecords">
            <span class="spinner-border" role="status" aria-hidden="true" v-show="isSaving"></span>
            Генерация записей за 2 последних года
        </button>&nbsp;
    </div>
    <div class="mt-2">
        <button class="btn btn-secondary" type="button"
                v-bind:disabled="isSaving"
                v-on:click="setFlagConstructor">
            <span class="spinner-border" role="status" aria-hidden="true" v-show="isSaving"></span>
            Сделать флаг конструктора - активным
        </button>&nbsp;
        <div class="text-danger small mt-1">При следующем входе на сайт будет доступен конструктор.</div>
    </div>
</div>
<div class="card-footer">
    <div class="text-left">
       
    </div>
</div>
