<div class="card-body pb-2">
    <div class="form-group">
        <label class="form-label">New password</label>
        <input type="password"
               class="form-control"
               v-model="newPassword"
               v-bind:class="validPasswords ? '' : 'is-invalid'">
    </div>

    <div class="form-group">
        <label class="form-label">Repeat new password</label>
        <input type="password"
               class="form-control"
               v-model="newPassword2"
               v-bind:class="validPasswords ? '' : 'is-invalid'">
    </div>
    <div class="alert alert-danger mt-3" v-show="!validPasswords">
        Пароль должен содержать больше 5 символов и поля должны совпадать.
    </div>
</div>
<div class="card-footer">
    <div class="text-right mt-3">
        <button type="button" class="btn btn-primary"
                v-on:click="saveNewPassword"
                v-show="!isSaving"
                v-bind:disabled="this.newPassword !== this.newPassword2 || !validPasswords">
            Сохранить
        </button>&nbsp;
        <button class="btn btn-primary" type="button" disabled v-show="user.email == oldEmail && isSaving">
            <span class="spinner-border" role="status" aria-hidden="true"></span>
            Сохранить
        </button>
    </div>
</div>
