<div class="card-body pb-2">

    <h6 class="mb-2">Настройки на сайте</h6>

    <div class="switchers-stacked">
        <label class="switcher">
            <input type="radio" class="switcher-input" name="switchers-stacked-radio"
                   v-bind:checked="user.userSettings.webSiteTheme == 'light'"
                   v-on:click="user.userSettings.webSiteTheme = 'light'">
            <span class="switcher-indicator">
                <span class="switcher-yes"></span>
                <span class="switcher-no"></span>
            </span>
            <span class="switcher-label">Светлая тема</span>
        </label>

        <label class="switcher">
            <input type="radio" class="switcher-input" name="switchers-stacked-radio"
                   v-bind:checked="user.userSettings.webSiteTheme == 'dark'"
                   v-on:click="user.userSettings.webSiteTheme = 'dark'">
            <span class="switcher-indicator">
                <span class="switcher-yes"></span>
                <span class="switcher-no"></span>
            </span>
            <span class="switcher-label">Темная тема</span>
        </label>
    </div>

    <h6 class="mb-2 mt-4">Рассылка</h6>

    <div class="switchers-stacked">
        <label class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input"  
                   v-bind:checked="user.userSettings.newsLetter"
                    v-on:click="user.userSettings.newsLetter = !user.userSettings.newsLetter">
            <span class="custom-control-label">Согласен получать новостную рассылку</span>
        </label>
    </div>

</div>
<div class="card-footer">
    <div class="text-right">
        <button type="button" class="btn btn-primary"
                v-on:click="saveUserSettings"
                v-bind:disabled="isSaving">
            <span class="spinner-border" role="status" aria-hidden="true" v-show="isSaving"></span>
            Сохранить
        </button>
    </div>
</div>