<div class="card-body pb-2">

    <h6 class="mb-4">Настройки на сайте</h6>

    <div class="switchers-stacked">
        <label class="switcher">
            <input type="radio" class="switcher-input" name="switchers-stacked-radio"
                   v-bind:checked="user.userSettings.webSiteTheme_CodeName == 'light'"
                   v-on:click="user.userSettings.webSiteTheme_CodeName = 'light'">
            <span class="switcher-indicator">
                <span class="switcher-yes"></span>
                <span class="switcher-no"></span>
            </span>
            <span class="switcher-label">Светлая тема</span>
        </label>

        <label class="switcher">
            <input type="radio" class="switcher-input" name="switchers-stacked-radio"
                   v-bind:checked="user.userSettings.webSiteTheme_CodeName == 'dark'"
                   v-on:click="user.userSettings.webSiteTheme_CodeName = 'dark'">
            <span class="switcher-indicator">
                <span class="switcher-yes"></span>
                <span class="switcher-no"></span>
            </span>
            <span class="switcher-label">Темная тема</span>
        </label>
    </div>
</div>
<div class="card-footer">
    <div class="text-right mt-3">
        <button type="button" class="btn btn-primary"
                v-on:click="saveUserSettings"
                v-bind:disabled="isSaving">
            <span class="spinner-border" role="status" aria-hidden="true" v-show="isSaving"></span>
            Сохранить
        </button>
    </div>
</div>