<div class="card-body pb-2">

    <h6 class="mb-2">Telegram</h6>
    <br />

    <div class="form-row">
        <div class="form-group col">
            <label class="form-label">Ваш код для получения уведомлений через телеграм</label>
            <input type="text" class="form-control" v-model="telegramLogin" disabled>
            <small class="form-text text-muted">
                Найдите в телеграме бота: @@Budgetto_bot и напишите ему ваш код.
            </small>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col">
            <label class="form-label">Подключенные аккаунты</label>
            <div class="d-flex flex-wrap justify-content-between align-items-center ui-bordered py-3 px-4 bg-lighter mt-2"
                 v-for="account in telegramAccounts">
                <div>
                    <img src="~/img/another-logo/telegram_logo.png" class="ui-w-40 rounded-circle mr-2" alt="">
                    <strong>{{ account.username }}</strong> &nbsp;
                    <small class="text-muted" style="display: block; margin-left: 51px; margin-top: -11px;">{{ account.telegramID }}</small>
                </div>
                <div class="d-flex flex-wrap align-items-center">
                    Статус:&nbsp;
                    <a href="javascript:void(0)" class="badge badge-success" v-show="account.statusID == 2">Подключен</a>
                    <a href="javascript:void(0)" class="badge badge-warning" v-show="account.statusID == 3">На паузе</a>
                    <a href="javascript:void(0)" class="badge badge-warning" v-show="account.statusID == 4">Удален</a>
                    <span class="spinner-border spinner-border-sm text-dark" role="status" aria-hidden="true" v-show="isSaving"></span>
                    <div class="btn-group ml-2">
                        <button type="button" class="btn icon-btn btn-xs btn-outline-secondary dropdown-toggle"
                                data-toggle="dropdown" aria-expanded="false">
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="javascript:void(0)" data-toggle="tooltip" data-html="true" data-placement="left"
                               title="Не высылать уведомления на этот телеграм аккаунт"
                               v-show="account.statusID == 2"
                               v-on:click="setTelegramStatus(account.id, 3)">Поставить на паузу</a>
                            <a class="dropdown-item" href="javascript:void(0)" data-toggle="tooltip" data-html="true" data-placement="left"
                               title="Этот телеграм-аккаунт снова начнет получать уведомления"
                               v-show="account.statusID == 3"
                               v-on:click="setTelegramStatus(account.id, 2)">Снять с паузы</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-danger" href="javascript:void(0)"
                               v-on:click="setTelegramStatus(account.id, 4)">Удалить из рассылки</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <small class="form-text text-muted">
        Если у вас остались какие-нибудь вопросы, напишите нам и мы с удавольствием вам ответим.
    </small>
    <br />
    <br />
    <br />
    <br />
    <br />
</div>
<div class="card-footer">
    <div class="text-left">
        @*<button type="button" class="btn btn-primary"
                    v-on:click="saveUserStatistics"
                    v-bind:disabled="isSaving">
                Сохранить
            </button>*@
    </div>
</div>