<div class="card-body media align-items-center">
    <img v-bind:src="user.imageBase64" alt="" class="d-block ui-w-80" v-if="user.imageBase64">
    <img v-bind:src="user.imageLink" alt="" class="d-block ui-w-80" v-else-if="!user.imageBase64">
    <div class="media-body ml-4">
        <label class="btn btn-outline-primary">
            Обновить фото профиля
            <input type="file" class="account-settings-fileinput" v-on:change="encodeImageFileAsURL"
                   accept=".jpg,.jpeg,.png">
        </label> &nbsp;
        @*<button type="button" class="btn btn-default md-btn-flat" v-on:click="user.imageBase64 = null; user.resourceID = null">Reset</button>*@

    <div class="text-light small mt-1">@*Максимальный размер ...*@ Формат изображений png, jpg</div>
    </div>
</div>
<hr class="border-light m-0">

<div class="card-body">
    <div class="form-group">
        <label class="form-label">Имя</label>
        <input type="text"
               class="form-control"
               v-model="user.name"
               v-bind:class="validName ? '' : 'is-invalid'">
        <small class="invalid-feedback">Обязательное поле</small>
        <div class="text-light small mt-1"> Имя должно содержать больше 2 символов</div>
    </div>
    <div class="form-group">
        <label class="form-label">Фамилия</label>
        <input type="text"
               class="form-control"
               v-model="user.lastName">
    </div>
    <label class="form-label">E-mail</label>
    <div class="input-group">
        <input type="text"
               class="form-control"
               v-model="user.email"
               v-bind:class="validEmail ? '' : 'is-invalid'">
        <div class="input-group-append" v-show="user.isConfirmEmail">
            <div class="input-group-text"><i class="fas fa-check" style="color: var(--green);font-size: larger;"></i></div>
        </div>
        <small class="invalid-feedback">Обязательное поле</small>
    </div>
    <div class="callout callout-danger mt-3" v-show="user.isConfirmEmail == false">
        Вы еще не подтвердили адрес электронной почты. Пожалуйста, проверьте свою почту.<br>
        <a href="javascript:void(0)" v-on:click="resendConfirmEmail"
           v-bind:class="validEmail ? '' : 'disabled'">Отправить код повторно</a>
        или
        <a href="javascript:void(0)" v-on:click="isShowCode = true"
           v-bind:class="validEmail ? '' : 'disabled'">проверить код.</a>
    </div>
    <div class="callout callout-danger mt-3" v-show="errorMessage">
        {{  errorMessage }}
    </div>
    <label class="form-label" v-show="isShowCode">Код из письма</label>
    <div class="input-group" v-show="isShowCode">
        <input type="number" class="form-control" min="" max="9999" maxlength="4"
               v-model="code"
               v-bind:class="isValidCode ? '' : 'is-invalid'">
        <span class="input-group-append" title="Отправить повторно">
            <button class="btn btn-outline-secondary" type="button" title="Проверить" style="border-radius: 0px 4px 4px 0px;"
                    v-on:click="checkCode"
                    v-bind:disabled="!(code != null && code.length == 4 && isSaving == false)">
                <span class="spinner-border" role="status" aria-hidden="true"
                      v-show="isSaving"></span>
                Проверить введеный код
            </button>
        </span>
        <small class="invalid-feedback">Введен неверный код.</small>
    </div>
    @*<div class="callout callout-danger mt-3" v-show="!user.isConfirmEmail && user.email != oldEmail">
            Нужно сохранить форму перед отправкой почты<br>
        </div>*@
    <label class="form-label mt-3">Подписка действительна до</label>
    <div class="input-group">
        <input type="text" class="form-control" disabled
               v-bind:value="getDateByFormat(user.payment.dateTo, 'DD.MM.YYYY')">
        @*<span class="input-group-append">
                <a class="btn btn-success" href="/Store/Index">Продлить</a>
            </span>*@
    </div>
</div>
<div class="card-footer">
    <div class="text-left">
        <button type="button" class="btn btn-primary"
                v-on:click="saveUserInfo"
                v-show="user.email == oldEmail && !isSaving">
            Сохранить
        </button>&nbsp;
        <button class="btn btn-primary" type="button" disabled v-show="user.email == oldEmail && isSaving">
            <span class="spinner-border" role="status" aria-hidden="true"></span>
            Сохранить
        </button>
        <button type="button" class="btn btn-primary"
                v-on:click="saveUserInfo"
                v-show="user.email != oldEmail && !isSaving">
            Сохранить и отправить подтверждение почты повторно
        </button>&nbsp;
        <button class="btn btn-primary" type="button" disabled v-show="user.email != oldEmail && isSaving">
            <span class="spinner-border" role="status" aria-hidden="true"></span>
            Сохранить и отправить подтверждение почты повторно
        </button>
    </div>
</div>
