@{
    ViewData["Title"] = "Account settings - Pages";
    Layout = "~/Views/Shared/Layouts/_Layout1.cshtml";
    var currentUser = MyProfile.Identity.UserInfo.Current;
}

@section Styles {
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
    <link rel="stylesheet" asp-append-version="true" href="~/vendor/libs/select2/select2.css">
    <link rel="stylesheet" asp-append-version="true" href="~/vendor/libs/bootstrap-tagsinput/bootstrap-tagsinput.css">

    <!-- Page -->
    <link rel="stylesheet" asp-append-version="true" href="~/vendor/css/pages/account.css">
}

@section Scripts {
    <!-- Dependencies -->
    <script src="~/vendor/libs/select2/select2.js" asp-append-version="true"></script>
    <script src="~/vendor/libs/bootstrap-tagsinput/bootstrap-tagsinput.js" asp-append-version="true"></script>

    <script src="~/pages/_areas/account/account-settings.js" asp-append-version="true"></script>
}



<h4 class="d-flex flex-wrap w-100 font-weight-bold pt-2 mb-4">
    <span class="lnr lnr-cog display-4 text-primary mr-2"></span>
    <span class="px-0 pb-2 pt-2">
        Настройки аккаунта
    </span>
</h4>

<div id="account-settings" class="card overflow-hidden" v-cloak>
    <div class="row no-gutters row-bordered row-border-light">
        <div class="col-md-3 pt-0">
            <div class="list-group list-group-flush account-settings-links">
                <a class="list-group-item list-group-item-action not-dark active" data-toggle="list" href="#account-general">Персональные данные</a>
                <a class="list-group-item list-group-item-action not-dark" data-toggle="list" href="#user-settings">Общие настройки</a>
                <a class="list-group-item list-group-item-action not-dark" data-toggle="list" href="#account-change-password">Смена пароля</a>
                @*<a class="list-group-item list-group-item-action not-dark" data-toggle="list" href="#collective-budget">Коллективные настройки</a>*@
                @if (currentUser.UserTypeID == (int)MyProfile.Entity.Model.UserTypeEnum.Admin
                || currentUser.UserTypeID == (int)MyProfile.Entity.Model.UserTypeEnum.Tester)
                {
                    <a class="list-group-item list-group-item-action not-dark" data-toggle="list" href="#admin-menu-budget">МЕНЮ АДМИНА</a>
                }
            </div>
        </div>
        <div class="col-md-9">
            <div class="tab-content">
                <div class="tab-pane fade show active" id="account-general">
                    @await Html.PartialAsync("_AccountSettings_UserData")
                </div>
                <div class="tab-pane fade" id="user-settings">
                    @await Html.PartialAsync("_AccountSettings_GeneralSettings")
                </div>
                <div class="tab-pane fade" id="account-change-password">
                    @await Html.PartialAsync("_AccountSettings_ChangePassword")
                </div>
                @*<div class="tab-pane fade" id="collective-budget">
                        @await Html.PartialAsync("_AccountSettings_CollectiveBudget")
                    </div>*@
                @if (currentUser.UserTypeID == (int)MyProfile.Entity.Model.UserTypeEnum.Admin
                  || currentUser.UserTypeID == (int)MyProfile.Entity.Model.UserTypeEnum.Tester)
                {
                    <div class="tab-pane fade" id="admin-menu-budget">
                        @await Html.PartialAsync("_AccountSettings_AdminSettings")
                    </div>
                }
            </div>
        </div>
    </div>
</div>
