@{
    ViewData["Title"] = "Регистрация аккаунта";
    Layout = "LayoutBlank";
}

@section Styles {
    <!-- Page -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="~/vendor/css/pages/authentication.css">
    <style>
        .error {
            border: 1px solid var(--red) !important;
        }
    </style>
}
@section Scripts {
    <script src="~/vendor/libs/vue/dist/vue.js"></script>
    <script src="~/pages/_areas/login/login.js"></script>
}
<div class="authentication-wrapper authentication-3" id="login-vue" data-user-session-id="@Model" v-cloak>
    <div class="authentication-inner">
        <div class="d-none d-lg-flex col-lg-8 align-items-center ui-bg-cover ui-bg-overlay-container p-5" style="background-image: url('/img/login-foto-min.jpg');">
            <div class="ui-bg-overlay bg-dark opacity-50"></div>
            <div class="w-100 text-white px-5">
                <h1 class="display-2 font-weight-bolder mb-4">JOIN OUR<br>COMMUNITY</h1>
                <div class="text-large font-weight-light">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vehicula ex eu gravida faucibus. Suspendisse viverra pharetra purus. Proin fringilla ac lorem at sagittis. Proin tincidunt dui et nunc ultricies dignissim.
                </div>
            </div>
        </div>
        <div class="d-flex col-lg-4 align-items-center bg-white p-5">
            <div class="d-flex col-sm-7 col-md-5 col-lg-12 px-0 px-xl-4 mx-auto">
                <div class="w-100">
                    <div class="d-flex justify-content-center align-items-center">
                        <div class="ui-w-60">
                            <div class="w-100 position-relative" style="padding-bottom: 54%">
                                <img src="~/img/Logo-verticale-min.png" style="width: 180px; margin-left: -59px;" />
                            </div>
                        </div>
                    </div>
                    <h4 class="text-center text-lighter font-weight-normal mt-1 mb-0" v-show="login.isShow">Авторизация</h4>
                    <h4 class="text-center text-lighter font-weight-normal mt-1 mb-0" v-show="registration.isShow">Создание аккаунта</h4>
                    <h4 class="text-center text-lighter font-weight-normal mt-1 mb-0" v-show="recoveryPassword.isShow || recoveryPassword2.isShow">Восстановление пароля</h4>
                    <h4 class="text-center text-lighter font-weight-normal mt-1 mb-0" v-show="enterCode.isShow">Ввод кода</h4>

                    <div class="callout callout-success mt-3" v-show="textMessage">
                        <button type="button" class="close" data-dismiss="alert" v-on:click="textMessage = null">×</button>
                        {{ textMessage }}
                    </div>
                    <div class="callout callout-danger mt-3" v-show="textError">
                        <button type="button" class="close" data-dismiss="alert" v-on:click="textError = null">×</button>
                        {{ textError }}
                    </div>

                    <form class="my-5" v-show="login.isShow">
                        <div class="form-group">
                            <label class="form-label">Почта</label>
                            <input type="text" class="form-control" v-model="email" tabindex="1"
                                   v-bind:class="isValidEmail ? '' : 'is-invalid'">
                            <small class="invalid-feedback">Пожалуйста, введите корректный адрес электронной почты.</small>
                        </div>
                        <div class="form-group">
                            <label class="form-label d-flex justify-content-between align-items-end">
                                <div>Пароль</div>
                                <a href="javascript:void(0)" class="d-block small" v-on:click="changeView(login.id, recoveryPassword.id)">Забыли пароль?</a>
                            </label>
                            <div class="input-group">
                                <input type="password" class="form-control" v-model="password" tabindex="2" name="password"
                                       v-bind:class="isValidPassword ? '' : 'is-invalid'"
                                       v-on:keypress="kaypress">
                                <span class="input-group-append">
                                    <button class="btn btn-outline-secondary" type="button" title="Показать пароль" style="border-radius: 0px 4px 4px 0px;"
                                            v-on:click="isHiddenPassword = !isHiddenPassword">
                                        <i class="fas fa-eye" v-show="isHiddenPassword"></i>
                                        <i class="fas fa-eye-slash" v-show="isHiddenPassword == false"></i>
                                    </button>
                                </span>
                                <small class="invalid-feedback">Пожалуйста, введите корректный пароль.</small>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between align-items-center m-0">
                            @*<label class="custom-control custom-checkbox m-0">
                                    <input type="checkbox" class="custom-control-input">
                                    <span class="custom-control-label">Запомнить меня</span>
                                </label>*@
                            <button class="btn btn-primary btn-block mt-4" type="button" tabindex="3" id="login-btn"
                                    v-bind:disabled="isSaving"
                                    v-on:click="loginSave">
                                <span class="spinner-border" role="status" aria-hidden="true" v-show="isSaving"></span>
                                Войти
                            </button>
                        </div>
                        <div class="text-center text-muted mt-4">
                            Еще не с нами? <a href="javascript:void(0)" v-on:click="changeView(login.id,registration.id)">Зарегистрируйтесь</a>
                        </div>
                    </form>
                    <!-- / login -->
                    <!-- registration -->
                    <form class="my-5" method="post" v-show="registration.isShow">
                        <div class="form-group">
                            <label class="form-label">Почта</label>
                            <input type="text" class="form-control" v-model="email" tabindex="1"
                                   v-bind:class="isValidEmail ? '' : 'is-invalid'">
                            <small class="invalid-feedback">Пожалуйста, введите корректный адрес электронной почты.</small>
                        </div>
                        <div class="form-group">
                            <label class="form-label d-flex justify-content-between align-items-end">
                                <div>Пароль</div>
                                @*<a href="javascript:void(0)" class="d-block small" v-on:click="changeView(login.id, recoveryPassword.id)">Забыли пароль?</a>*@
                            </label>
                            <div class="input-group">
                                <input type="password" class="form-control" v-model="password" tabindex="2" name="password"
                                       v-on:keypress="kaypress"
                                       v-bind:class="isValidPassword ? '' : 'is-invalid'">
                                <span class="input-group-append">
                                    <button class="btn btn-outline-secondary" type="button" title="Показать пароль" style="border-radius: 0px 4px 4px 0px;"
                                            v-on:click="isHiddenPassword = !isHiddenPassword">
                                        <i class="fas fa-eye" v-show="isHiddenPassword"></i>
                                        <i class="fas fa-eye-slash" v-show="isHiddenPassword == false"></i>
                                    </button>
                                </span>
                            </div>
                            <small class="form-text text-muted">
                                Пароль должен содержать более 5 символов
                            </small>
                            <small class="invalid-feedback">Пожалуйста, введите корректный пароль.</small>
                        </div>
                        <button type="button" class="btn btn-primary btn-block mt-4" id="registraion-btn"
                                v-bind:disabled="isSaving"
                                v-on:click="onRegistration">
                            <span class="spinner-border" role="status" aria-hidden="true" v-show="isSaving"></span>
                            Зарегистрироваться
                        </button>
                        <div class="text-center text-muted mt-4">
                            <a href="javascript:void(0)" v-on:click="changeView(registration.id,login.id)">Авторизуйтесь</a>, если у вас уже есть аккаунт
                        </div>
                        <div class="text-center text-muted mt-4">
                            Нажимая на кнопку "Зарегистрироваться", вы даете согласие на обработку своих персональных данных согласно
                            <a href="#">Политике обработки персональных данных</a> данного сервиса
                            и принимаете условия <a href="#">Пользовательского соглашения</a>
                        </div>
                    </form>
                    <!-- / registration -->
                    <!-- recoveryPassword -->
                    <form class="my-5" v-show="recoveryPassword.isShow">
                        <p>
                            Введите ваш email и мы вышлем вам на почту письмо с кодом восстановления
                        </p>
                        <div class="form-group">
                            <input type="text" class="form-control" v-model="email" tabindex="1"
                                   v-on:keypress="kaypress"
                                   v-bind:class="isValidEmail ? '' : 'is-invalid'">
                            <small class="invalid-feedback">Пожалуйста, введите корректный адрес электронной почты.</small>
                        </div>
                        <button type="button" class="btn btn-primary btn-block mt-4" id="recovery-btn"
                                v-bind:disabled="isSaving"
                                v-on:click="onRecoveryPassword">
                            <span class="spinner-border" role="status" aria-hidden="true" v-show="isSaving"></span>
                            Отправить письмо
                        </button>
                        <div class="text-center text-muted mt-4">
                            <a href="javascript:void(0)" v-on:click="changeView(recoveryPassword.id,login.id)">Авторизуйтесь</a>, если у вас уже есть аккаунт
                            <br />
                            Еще не с нами? <a href="javascript:void(0)" v-on:click="changeView(recoveryPassword.id,registration.id)">Зарегистрируйтесь</a>
                        </div>
                    </form>
                    <!-- / recoveryPassword -->
                    <!-- recoveryPassword2 -->
                    <form class="my-5" method="post" v-show="recoveryPassword2.isShow">
                        <p>
                            Введите новый пароль
                        </p>

                        <div class="form-group">
                            <div class="input-group">
                                <input type="password" class="form-control" v-model="password" tabindex="2" name="password"
                                       v-on:keypress="kaypress"
                                       v-bind:class="isValidPassword ? '' : 'is-invalid'">
                                <span class="input-group-append">
                                    <button class="btn btn-outline-secondary" type="button" title="Показать пароль" style="border-radius: 0px 4px 4px 0px;"
                                            v-on:click="isHiddenPassword = !isHiddenPassword">
                                        <i class="fas fa-eye" v-show="isHiddenPassword"></i>
                                        <i class="fas fa-eye-slash" v-show="isHiddenPassword == false"></i>
                                    </button>
                                </span>
                                <small class="form-text text-muted">
                                    Пароль должен содержать больше 5 символов
                                </small>
                                <small class="invalid-feedback">Пожалуйста, введите корректный пароль.</small>
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary btn-block mt-4" id="recovery2-btn"
                                v-bind:disabled="isSaving"
                                v-on:click="onSetNewPassword">
                            <span class="spinner-border" role="status" aria-hidden="true" v-show="isSaving"></span>
                            Обновить пароль
                        </button>
                        <div class="text-center text-muted mt-4">
                            <div class="text-center text-muted mt-4">
                                <a href="javascript:void(0)" v-on:click="changeView(recoveryPassword2.id,login.id)">Авторизуйтесь</a>, если у вас уже есть аккаунт
                                <br />
                                Еще не с нами? <a href="javascript:void(0)" v-on:click="changeView(recoveryPassword2.id,registration.id)">Зарегистрируйтесь</a>
                            </div>
                        </div>
                    </form>
                    <!-- / recoveryPassword -->
                    <!-- enterCode -->
                    <form class="my-5" method="post" v-show="enterCode.isShow">
                        <p>
                            На вашу почту было отправлено письмо с <b>кодом подтверждения</b>. Пожалуйста, введите этот код в строку ниже.
                        </p>
                        <div class="form-group">
                            <div class="input-group">
                                <input type="number" class="form-control" min="" max="9999" maxlength="4"
                                       v-model="enterCode.code"
                                       v-on:keypress="kaypress"
                                       v-bind:class="isValidCode ? '' : 'is-invalid'">
                                <span class="input-group-append" title="Отправить повторно">
                                    <button class="btn btn-outline-secondary" type="button" title="Отправить повторно" style="border-radius: 0px 4px 4px 0px;"
                                            v-on:click="resend"
                                            v-bind:disabled="enterCode.canResend == false">
                                        <i class="fas fa-undo "></i>
                                    </button>
                                </span>
                                <small class="invalid-feedback">Пожалуйста, введите корректный 4-х значный код.</small>
                            </div>
                            <small class="form-text text-muted" v-show="enterCode.canResend == false">
                                {{ enterCode.canResend ? '' : 'Отправить код повторно через : '+ enterCode.seconds}}
                            </small>
                        </div>
                        <button class="btn btn-primary btn-block" type="button" tabindex="3" id="checkCode-btn"
                                v-bind:disabled="isSaving"
                                v-on:click="checkCode">
                            <span class="spinner-border" role="status" aria-hidden="true" v-show="isSaving"></span>
                            Проверить
                        </button>
                        <div class="text-center text-muted mt-4">
                            <a href="javascript:void(0)" v-on:click="changeView(enterCode.id,login.id)">Авторизуйтесь</a>, если у вас уже есть аккаунт
                            <br />
                            Еще не с нами? <a href="javascript:void(0)" v-on:click="changeView(enterCode.id,registration.id)">Зарегистрируйтесь</a>
                        </div>
                    </form>
                    <!-- / enterCode -->

                </div>
            </div>
        </div>
        <!-- / Form container -->

    </div>
</div>