
@{
    ViewData["Title"] = "Графики";
}

@section Styles {

}

@section Scripts {
    <script src="~/vendor/libs/masonry/masonry.js" asp-append-version="true"></script>

    <environment names="Development">
        <script src="~/pages/chart/chart-list.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/pages/chart/chart-list.min.js" asp-append-version="true"></script>
    </environment>
}
@*https://tobiasahlin.com/blog/chartjs-charts-to-get-you-started/*@
@*https://localhost:44394/Pages/EducationCoursesV1*@

<section id="chart-list-vue" v-cloak>

    <h4 class="d-flex flex-wrap w-100 font-weight-bold pt-2 mb-4">
        <span class="lnr lnr-pie-chart display-4 text-primary mr-2"></span>
        <span class="px-0 pb-2 pt-2">
            Графики
        </span>
        <a href="" title="Иформация об этой странице" target="_blank">
            <i class="pe-7s-info d-block text-primary"></i>
        </a>
        <span class="px-0 pb-2 ml-4">
            <a class="btn btn-outline-primary rounded-pill" href="/Chart/Edit">Добавить новый график</a>
        </span>
    </h4>

    <ul class="nav container-m-nx bg-lighter container-p-x py-1 mb-4">
        <li class="nav-item">
            <a v-bind:class="['nav-link', activeChartPeriodTypeID == -1 ? 'font-weight-bold pl-0 text-body':'text-muted']" href="javascript:void(0)"
               v-on:click="activeChartPeriodTypeID = -1; reloadView()">Все графики</a>
        </li>
        <li class="nav-item">
            <a v-bind:class="['nav-link', activeChartPeriodTypeID == 1 ? 'font-weight-bold pl-0 text-body':'text-muted']" href="javascript:void(0)"
               v-on:click="activeChartPeriodTypeID = 1; reloadView()">По месяцам</a>
        </li>
        <li class="nav-item">
            <a v-bind:class="['nav-link', activeChartPeriodTypeID == 3 ? 'font-weight-bold pl-0 text-body':'text-muted']" href="javascript:void(0)"
               v-on:click="activeChartPeriodTypeID = 3; reloadView()">По годам</a>
        </li>
    </ul>
    <div class="row" id="charts">
        <div class="col-sm-6 col-xl-4 pt-5 masonry-item-sizer position-absolute"></div>
        <div class="col-sm-6 col-xl-4 masonry-item "
             v-for="chart in charts"
             v-show="activeChartPeriodTypeID == -1 ? true : chart.isShowBudgetMonth && activeChartPeriodTypeID == 1 || chart.isShowBudgetYear && activeChartPeriodTypeID == 3">
            <div class="card mb-4 custom-card-hover border-primary" v-if="chart.isDeleted == false" v-bind:id="'chart_' + chart.id">
                <div class="w-100">
                    <div class="card-img-top d-block ui-rect-60 ui-bg-cover chart" v-bind:class="'card-chart_'+chart.chartTypeID">
                        <div class="d-flex justify-content-between align-items-end ui-rect-content p-3">
                            <div class="flex-shrink-1">
                                <span class="badge badge-primary">{{ chart.chartTypeName }}</span>
                            </div>
                            <div class="text-big">

                                <span v-show="!chart.isShowBudgetMonth" class="badge badge-secondary" title="Показывать на ...." style="opacity: .3;">Месяц</span>
                                <span v-show="chart.isShowBudgetMonth" class="badge badge-success">Месяц</span>
                                <span v-show="!chart.isShowBudgetYear" class="badge badge-secondary" style="opacity: .3;">Год</span>
                                <span v-show="chart.isShowBudgetYear" class="badge badge-success">Год</span>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="m-0">
                <div class="card-body">
                    <h5 class="mb-3 display-inline"><a href="javascript:void(0)" class="text-body ">{{ chart.name }}</a></h5>
                    <p class="text-muted mb-3">{{ chart.description }}</p>
                </div>
                <hr class="m-0">
                <div class="card-footer p-3">
                    <a v-bind:href="'/Chart/Edit/' + chart.id" class="btn btn-primary btn-sm">
                        <i class="far fa-edit pr-2"></i>Редактировать
                    </a>
                    <a href="javascript:void(0)" title="Удалить" class="btn icon-btn btn-sm btn-outline-secondary" v-on:click="remove(chart)">
                        <span class="ion ion-md-trash"></span>
                    </a>
                    <div class="d-inline-flex align-items-center align-middle float-right ml-1">
                        <span class="px-1 ml-2 ml-lg-0" title="Последний раз редактировалось">{{ getDateByFormat(chart.lastDateEdit, 'DD.MM.YYYY') }}</span>
                    </div>
                </div>
            </div>
            <div class="card mb-4 custom-card-hover border-secondary" v-else-if="chart.isDeleted" v-bind:id="'chart_' + chart.id">
                <div class="w-100 deleted-item">
                    <div class="card-img-top d-block ui-rect-60 ui-bg-cover chart" v-bind:class="'card-chart_'+chart.chartTypeID">
                        <div class="d-flex justify-content-between align-items-end ui-rect-content p-3">
                            <div class="flex-shrink-1">
                                <span class="badge badge-primary">{{ chart.chartTypeName }}</span>
                            </div>
                            <div class="text-big">

                                <span v-show="!chart.isShowBudgetMonth" class="badge badge-secondary" title="Показывать на ...." style="opacity: .3;">Месяц</span>
                                <span v-show="chart.isShowBudgetMonth" class="badge badge-success">Месяц</span>
                                <span v-show="!chart.isShowBudgetYear" class="badge badge-secondary" style="opacity: .3;">Год</span>
                                <span v-show="chart.isShowBudgetYear" class="badge badge-success">Год</span>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="m-0">
                <div class="card-body deleted-item">
                    <h5 class="mb-3 display-inline"><a href="javascript:void(0)" class="text-body ">{{ chart.name }}</a></h5>
                    <p class="text-muted mb-3">{{ chart.description }}</p>
                </div>
                <hr class="m-0">
                <div class="card-footer p-3">
                    <a href="javascript:void(0)" class="btn btn-success btn-sm" v-on:click="recovery(chart)">
                        <i class="fa fa-undo pr-2"></i>Восстановить
                    </a>
                    <div class="d-inline-flex align-items-center align-middle float-right ml-1 deleted-item">
                        <span class="px-1 ml-2 ml-lg-0" title="Последний раз редактировалось">{{ getDateByFormat(chart.lastDateEdit, 'DD.MM.YYYY') }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>