@{
    ViewData["Title"] = "Project list - Pages";
}

@section Styles {
    <link href="~/vendor/css/pages/messages.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/vendor/libs/select2/select2.css" rel="stylesheet" asp-append-version="true" />

    <link rel="stylesheet" asp-append-version="true" href="~/vendor/libs/dragula/dragula.css">

    <style>
        [v-cloak] {
            display: none;
        }
    </style>
}

@section Scripts {
    <script src="~/vendor/libs/masonry/masonry.js" asp-append-version="true"></script>
    <script src="~/vendor/libs/dragula/dragula.js" asp-append-version="true"></script>
    <script src="~/vendor/libs/select2/select2.js" asp-append-version="true"></script>

    <script src="~/pages/list/todo-list.js" asp-append-version="true"></script>
}

<h4 class="d-flex flex-wrap w-100 font-weight-bold">
    <span class="lnr lnr-list display-4 text-primary mr-2"></span>
    <span class="px-0 pb-2 pt-2">
        Списки
    </span>
    <a href="javascript:void(0)" data-toggle="tooltip" data-placement="right" title="Иформация об этой странице">
        <i class="pe-7s-info d-block text-primary"></i>
    </a>
</h4>

<div class="card messages-card" id="todo-list-vue" v-cloak>
    <div class="row no-gutters" style=" min-height: 350px;">

        <!-- Messages sidebox -->
        <div class="messages-sidebox messages-scroll col">

            <div class="card-body py-3">
                <h4 class="mb-0 text-muted" style="display:inline;">
                    Группы списков
                </h4>
                <a href="javascript:void(0)" class="messages-sidebox-toggler text-muted text-large font-weight-light pl-4">&times;</a>
            </div>
            <hr class="border-light m-0">

            <div class="card-body pt-3">
                <span class="cursor-pointer" data-placement="top" data-toggle="tooltip" title="Добавить группу списков"
                      v-on:click="editFolder">
                    +  <i class="ion ion-md-folder-open d-block1"></i>
                </span>
                <input type="text" class="form-control form-control-sm mb-4" placeholder="Поиск..." style="display: inline; width: 80%; padding-left: 3px;"
                       v-model="searchFolderText">

                <a href="javascript:void(0)" class="text-body d-flex justify-content-between align-items-center py-2 folder-text"
                   v-for="_folder in folders"
                   v-bind:class="_folder.id == folder.id ? 'font-weight-bold' : ''"
                   v-on:click="selecteFolder(_folder)"
                   v-bind:style="_folder.isShow ? '' : 'display: none !important;'">
                    <div>
                        <i class="text-center" style="width: 12px;"
                           v-bind:class="[_folder.cssIcon, _folder.id == folder.id ? 'font-weight-bold' : '']"></i> &nbsp; {{ _folder.title }}
                    </div>
                    <i class="ion ion-ios-construct folder-edit-button"
                       v-on:click="editFolder(true, _folder.id)"></i>
                    @*<div class="badge badge-primary">15</div>*@
                </a>

                <hr class="border-light my-4">
            </div>

        </div>
        <!-- / Messages sidebox -->
        <!-- Messages list -->
        <div class="col" v-show="isEdit == false" id="listOfLists">

            <!-- Controls -->
            <div class="media flex-wrap align-items-center py-2 px-2">
                <div class="media-body d-flex flex-wrap flex-basis-100 flex-basis-sm-auto">
                    <button type="button" class="btn btn-default borderless md-btn-flat icon-btn messages-sidebox-toggler d-lg-none d-block text-muted text-large mr-2">
                        <i class="ion ion-md-more"></i>
                    </button>
                    <button type="button" class="btn btn-default borderless md-btn-flat icon-btn messages-tooltip text-muted" title="Добавить новый список" data-placement="top" data-toggle="tooltip"
                            v-on:click="edit()">
                        <i class="ion ion-md-add"></i>
                    </button>
                    <button type="button" class="btn btn-default borderless md-btn-flat icon-btn messages-tooltip text-muted" title="Обновить папку" data-placement="top" data-toggle="tooltip"
                            v-on:click="load">
                        <i class="ion ion-md-refresh"></i>
                    </button>
                    <button type="button" class="btn btn-default borderless md-btn-flat icon-btn messages-tooltip text-muted" title="Удалить выбранные списки" data-placement="top" data-toggle="tooltip"
                            v-show="anySelected"
                            v-on:click="removeLists">
                        <i class="ion ion-md-trash"></i>
                    </button>

                </div>
                <input type="text" class="form-control form-control-sm float-right" style="width: 200px" placeholder="Поиск..."
                       v-model="searchListText">

            </div>
            <hr class="border-light m-0">
            <!-- / Controls -->

            <ul class="list-group messages-list">

                <li class="list-group-item px-4"
                    v-for="_list in folder.lists"
                    v-show="_list.isShow"
                    v-bind:id="'list_'+_list.id">
                    <div class="message-checkbox mr-1"
                         v-show="_list.isDeleted == false">
                        <label class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input"
                                   v-model="_list.selected"
                                   v-on:change="selectedList">
                            <span class="custom-control-label"></span>
                        </label>
                    </div>
                    <a href="javascript:void(0)" class="ion d-block text-big mr-3"
                       v-bind:title="_list.isFavorite ? 'Поместить в начало списка' : 'Поместить в начало списка'"
                       v-bind:class="_list.isFavorite ? 'ion-md-star text-warning' : 'ion-md-star-outline text-lighter'"
                       v-if="_list.isDeleted == false"
                       v-on:click="toggleFavorite(_list)"></a>
                    <a href="javascript:void(0)" class="text-body mr-4"
                       v-on:click="selecteList(_list)"
                       v-if="_list.isDeleted == false">
                        {{ _list.title }}
                    </a>
                    <a href="javascript:void(0)" class="text-body text-muted mr-4"
                       v-else-if="_list.isDeleted == true">
                        {{ _list.title }}
                    </a>
                    <span class="badge badge-pill badge-default" v-show="_list.items.length > 0 && _list.items.length != _list.isDoneCount">
                        {{ _list.items.length+"/"+ _list.isDoneCount  }}
                    </span>
                    <span class="badge badge-pill badge-secondary" v-show="_list.items.length > 0 && _list.items.length == _list.isDoneCount">
                        {{ _list.items.length+"/"+_list.isDoneCount  }}
                    </span>
                    <span class="badge badge-pill py-1 badge-success"
                          v-show="_list.isNewToday"
                          v-bind:style="_list.isDeleted ? 'opacity: .5;' : ''">Новый</span>
                    <span class="badge badge-pill py-1 badge-warning ml-2" v-show="_list.isEditToday">Отредактирован</span>
                    <span class="badge badge-pill py-1 badge-danger ml-2" v-show="_list.isDeleted">Удалено</span>
                    <span class="badge badge-pill py-1 badge-outline-success ml-2" v-show="_list.periodTypeIDs.indexOf(1) > -1">Финансы на месяц</span>
                    <span class="badge badge-pill py-1 badge-outline-success ml-2" v-show="_list.periodTypeIDs.indexOf(3) > -1">Финансы на год</span>
                    <div class="message-date text-muted display-inline float-right">
                        {{ getDateByFormat(_list.dateEdit, 'DD.MM.YYYY') }}
                        <i class="fa fa-undo pl-2 cursor-pointer text-success" v-show="_list.isDeleted" v-on:click="recovery(_list)"></i>
                    </div>
                </li>

            </ul>

        </div>
        <div class="col" v-show="isEdit">
            <!-- Controls -->
            <div class="media flex-wrap align-items-center py-2 px-3">
                <button type="button" class="btn btn-default borderless md-btn-flat icon-btn messages-tooltip text-muted" title="Назад" data-placement="top" data-toggle="tooltip"
                        v-on:click="isEdit = false">
                    <i class="ion ion-ios-undo"></i>
                </button>
                <button type="button" class="btn btn-default borderless md-btn-flat icon-btn messages-tooltip text-muted mr-4" title="Сохранить список" data-placement="top" data-toggle="tooltip"
                        v-bind:disabled="isSaving"
                        v-on:click="saveList(true)">
                    <span class="spinner-border" role="status" aria-hidden="true" v-show="isSaving"></span>
                    <i class="ion ion-ios-save" v-show="isSaving == false"></i>
                </button>
                <h4 class="m-0 margin-right text-muted" v-show="list.id <= 0">
                    Создание нового списока
                </h4>
                <h4 class="m-0 margin-right text-muted" v-show="list.id > 0">
                    Редактирование списка
                </h4>
            </div>
            <hr class="border-light m-0">
            <!-- / Controls -->
            <div class="card-body">

                <!-- Header -->
                @*<h4 class="m-0" v-show="list.id <= 0">
                        Создание нового списока
                    </h4>
                    <h4 class="m-0" v-show="list.id > 0">
                        Редактирование списка
                    </h4>
                    <hr class="my-4">*@
                @*<a href="javascript:void(0)" class="messages-sidebox-toggler d-lg-none text-muted align-middle pr-3 mr-1"><i class="ion ion-md-more"></i></a>*@
                @*<a href="javascript:void(0)" class="messages-sidebox-toggler d-lg-none text-muted align-middle pr-3 mr-1"><i class="ion ion-md-more"></i></a>*@
                <!-- / Header -->

                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label class="form-label text-muted">Название списка</label>
                        <input type="text" class="form-control" id="listTitle"
                               v-on:change="saveList(true)"
                               v-model="list.title">
                    </div>
                    <div class="form-group col-md-4">
                        <label class="form-label text-muted">Навзвание группы</label>
                        <select class="form-control"
                                v-model="list.folderID"
                                v-on:change="saveList(true)">
                            <option v-bind:value="_folder.id" v-for="_folder in folders">{{ _folder.title }}</option>
                        </select>
                        <span class="text-muted m-b block cursor-pointer link-orange-hover text-decoration"
                              v-on:click="editFolder(false)">Создать новую группу</span>
                        @*<span class="text-muted m-b block cursor-pointer link-green-hover text-decoration float-right"
                            v-on:click="editFolder(true, _folder.id)">Редактировать папку</span>*@
                    </div>
                    <div class="form-group col-md-4">
                        <label class="form-label text-muted">Показывать на странице</label>
                        <br />
                        <select class="form-control" multiple id="periodTypeIDs" style="width: 100%">
                            <option value="@((int)MyProfile.Entity.Model.PeriodTypesEnum.Month)">Финансы на месяц</option>
                            <option value="@((int)MyProfile.Entity.Model.PeriodTypesEnum.Year)">Финансы на год</option>
                        </select>
                        @*<span class="text-muted m-b block cursor-pointer link-green-hover text-decoration float-right"
                            v-on:click="editFolder(true, _folder.id)">Редактировать папку</span>*@
                    </div>
                </div>

                <div id="tasks-inner">
                    <div class="card-body py-2">
                        <div class="custom-controls-stacked list-items"
                             v-if="reRender">
                            <div class="pb-2 todo-item"
                                 v-for="(_item, index) in items"
                                 v-bind:key="index"
                                 v-bind:order="_item.order"
                                 v-bind:item-id="_item.id"
                                 v-show="_item.isDeleted == false">
                                <label class="ui-todo-item custom-control custom-checkbox display-inline">
                                    <input type="checkbox" class="custom-control-input"
                                           v-bind:checked="_item.isDone"
                                           v-on:click="_item.isDone = !_item.isDone; saveList(true);">
                                    <span class="custom-control-label"></span>
                                    <span class="custom-control-label" v-bind:class="_item.isDone ? 'todolist-checked' : ''">{{ _item.text }}</span>
                                </label>
                                @*<span class="ui-todo-badge badge badge-outline-default font-weight-normal ml-2">58 mins left</span>*@
                                <span class="todo-item-actions ml-4 pl-4 float-right">
                                    <span class="ion ion-ios-move small mr-2 cursor-pointer link-orange-hover item-handle"></span>
                                    <span class="ion ion-md-create link-green-hover cursor-pointer mr-2" title="Редактировать запись"
                                          v-bind:class="item != null && _item.id == item.id ? 'link-green': ''"
                                          v-on:click="editItem(_item)"></span>
                                    <span class="ion ion-md-trash link-red-hover cursor-pointer " title="Удалить"
                                          v-on:click="_item.isDeleted = true; saveList(true);"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group">
                        <input type="text" class="form-control border-primary" id="input-text"
                               v-on:keypress="keyPress"
                               v-model="text">
                        <div class="input-group-append" v-show="text && text.length > 0">
                            <button type="button" class="btn btn-default border-primary" v-on:click="clearItem">
                                <i class="ion ion-ios-close"></i>
                            </button>
                        </div>
                        <div class="input-group-append">
                            <button type="button" class="btn btn-primary" v-on:click="addItem">
                                {{item == null ? "Добавить" : "Сохранить"}}
                            </button>
                        </div>
                        <small class="invalid-feedback">Это поле не должно быть пустым</small>
                    </div>
                </div>
                <!-- Footer -->
                @*<div class="text-right mt-4">
                        <button type="button" class="btn btn-primary ml-2"
                                v-bind:disabled="isSaving"
                                v-on:click="saveList(true)">
                            <span class="spinner-border" role="status" aria-hidden="true" v-show="isSaving"></span>
                            Сохранить и продолжить
                        </button>
                        <button type="button" class="btn btn-primary ml-2"
                                v-bind:disabled="isSaving"
                                v-on:click="saveList(false)">
                            <span class="spinner-border" role="status" aria-hidden="true" v-show="isSaving"></span>
                            Сохранить и уйти
                        </button>
                        <button type="button" class="btn btn-default ml-2"
                                v-on:click="isEdit = false">
                            Закрыть
                        </button>
                    </div>*@
                <!-- / Footer -->

            </div>
        </div>
        <!-- / Messages list -->

    </div><!-- / .row -->

    <div class="modal modal-top fade" id="modal-folder">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-muted" v-show="!folder.id">
                        Содание группы
                    </h5>
                    <h5 class="modal-title text-muted" v-show="folder.id">
                        Редактирование группы
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
                </div>
                <div class="modal-body pt-0">
                    <div class="form-group">
                        <label class="form-label text-muted">Название</label>
                        <span class="text-danger">*</span>
                        <input type="text"
                               class="form-control"
                               placeholder="Продукты"
                               id="folderTitle"
                               v-model="folder.title">
                        <small class="invalid-feedback">Обязательное поле</small>
                    </div>

                    <div class="form-group">
                        <label class="form-label text-muted">Выберите иконку</label>
                        <br />
                        <span class="text-large mx-4 folder-icons">
                            <i v-on:click="chooseFolderIcon('ion ion-ios-albums')" class="cursor-pointer ion ion-ios-albums"></i>
                            <i v-on:click="chooseFolderIcon('ion ion-ios-alert')" class="cursor-pointer ion ion-ios-alert"></i>
                            <i v-on:click="chooseFolderIcon('ion ion-ios-attach')" class="cursor-pointer ion ion-ios-attach"></i>
                            <i v-on:click="chooseFolderIcon('ion ion-md-basket')" class="cursor-pointer ion ion-md-basket"></i>
                            <i v-on:click="chooseFolderIcon('ion ion-md-cart')" class="cursor-pointer ion ion-md-cart"></i>
                            <i v-on:click="chooseFolderIcon('ion ion-ios-airplane')" class="cursor-pointer ion ion-ios-airplane"></i>
                            <i v-on:click="chooseFolderIcon('ion ion-ios-beer')" class="cursor-pointer ion ion-ios-beer"></i>
                            <i v-on:click="chooseFolderIcon('ion ion-ios-wine')" class="cursor-pointer ion ion-ios-wine"></i>
                            <i v-on:click="chooseFolderIcon('ion ion-md-boat')" class="cursor-pointer ion ion-md-boat"></i>
                            <i v-on:click="chooseFolderIcon('ion ion-ios-bicycle')" class="cursor-pointer ion ion-ios-bicycle"></i>
                            <i v-on:click="chooseFolderIcon('ion ion-ios-body')" class="cursor-pointer ion ion-ios-body"></i>
                            <i v-on:click="chooseFolderIcon('ion ion-ios-book')" class="cursor-pointer ion ion-ios-book"></i>
                            <i v-on:click="chooseFolderIcon('ion ion-md-bus')" class="cursor-pointer ion ion-md-bus"></i>
                            <i v-on:click="chooseFolderIcon('ion ion-md-calendar')" class="cursor-pointer ion ion-md-calendar"></i>
                            <i v-on:click="chooseFolderIcon('ion ion-ios-call')" class="cursor-pointer ion ion-ios-call"></i>
                            <i v-on:click="chooseFolderIcon('ion ion-md-car')" class="cursor-pointer ion ion-md-car"></i>
                            <i v-on:click="chooseFolderIcon('ion ion-md-checkbox-outline')" class="cursor-pointer ion ion-md-checkbox-outline"></i>
                            <i v-on:click="chooseFolderIcon('ion ion-md-happy')" class="cursor-pointer ion ion-md-happy"></i>
                            <i v-on:click="chooseFolderIcon('ion ion-ios-home')" class="cursor-pointer ion ion-ios-home"></i>
                            <i v-on:click="chooseFolderIcon('ion ion-ios-mail')" class="cursor-pointer ion ion-ios-mail"></i>
                            <i v-on:click="chooseFolderIcon('ion ion-md-people')" class="cursor-pointer ion ion-md-people"></i>
                            <i v-on:click="chooseFolderIcon('ion ion-md-pricetag')" class="cursor-pointer ion ion-md-pricetag"></i>
                            <i v-on:click="chooseFolderIcon('ion ion-md-pricetags')" class="cursor-pointer ion ion-md-pricetags"></i>
                        </span>
                    </div>
                </div>
                <div class="card-footer">
                    <i class="ion ion-md-trash text-danger cursor-pointer mt-2" title="Удалить папку"
                       v-show="folder.id != 0 && !(folder.lists != undefined && folder.lists.length > 0)"
                       v-on:click="removeFolder"
                       v-bind:dsabled="isFolderSaving"></i>
                    <button type="button" class="btn btn-default float-right " data-dismiss="modal">Закрыть</button>
                    <button class="btn btn-primary float-right mr-2" type="button"
                            v-bind:disabled="isFolderSaving"
                            v-on:click="saveFolder">
                        <span class="spinner-border" role="status" aria-hidden="true" v-show="isFolderSaving"></span>
                        Сохранить
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>

@*@await Html.PartialAsync(@"../Settings/Settings.cshtml", "Goal/List")*@
