@*@model MyProfile.Entity.ModelView.Chart.ChartEditViewModel*@

@{
    ViewData["Title"] = "Начало работы";
    var currentUser = MyProfile.Identity.UserInfo.Current;
    Layout = "~/Views/Shared/Layouts/_LayoutStart.cshtml";
}

@section Styles {
    <link href="~/vendor/libs/colorPick-custom/colorPick.css" rel="stylesheet" asp-append-version="true" />
    <link rel="stylesheet" asp-append-version="true" href="~/vendor/libs/smartwizard/smartwizard.css">
    <link href="~/vendor/libs/select2/select2.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/sections-list.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/template.css" rel="stylesheet" asp-append-version="true" />
}
@section Scripts {
    <!-- Dependencies -->
    <script src="~/vendor/libs/smartwizard/smartwizard.js" asp-append-version="true"></script>
    <script src="~/vendor/libs/select2/select2.js" asp-append-version="true"></script>

    <environment names="Development">
        <script src="~/pages/start/start-index.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/pages/start/start-index.min.js" asp-append-version="true"></script>
    </environment>
}
@*<h4 class="d-flex flex-wrap w-100 font-weight-bold">
        <span class="ion ion-md-settings display-4 text-primary mr-2"></span>
        <span class="py-2" style=" margin-top: -3px;">
            Настройка рабочей области
        </span>
    </h4>*@
<h4 class="text-center w-100 font-weight-bold">
    Настройка рабочей области
</h4>
<hr class="container-m-nx border-light mt-0 mb-5">

<div id="start-vue" class="smartwizard" v-cloak>
    <ul>
        <li>
            <a href="#smartwizard-1-step-1" class="mb-3" style="cursor: default;">
                <span class="sw-icon ion ion-ios-person" style=" font-size: 22px;"></span>
                <div class="text-muted small">Шаг 1</div>
                Информация о себе
            </a>
        </li>
        <li>
            <a href="#smartwizard-1-step-2" class="mb-3" style="cursor: default;">
                <span class="sw-icon pe-7s-albums" style=" font-size: 22px;"></span>
                <div class="text-muted small">Шаг 2</div>
                Выбор категорий
            </a>
        </li>
        <li>
            <a href="#smartwizard-1-step-3" class="mb-3" style="cursor: default;">
                <span class="sw-icon lnr lnr-layers" style=" font-size: 22px;"></span>
                <div class="text-muted small">Шаг 3</div>
                Добавление шаблона
            </a>
        </li>
        <li>
            <a href="#smartwizard-1-step-4" class="mb-3" style="cursor: default;">
                <span class="sw-icon lnr lnr-frame-expand" style=" font-size: 22px;"></span>
                <div class="text-muted small">Шаг 4</div>
                Добавление лимитов
            </a>
        </li>
        <li>
            <a href="#smartwizard-1-step-5" class="mb-3" style="cursor: default;">
                <span class="sw-icon lnr lnr-rocket" style="padding-left: 2px;font-size: 22px;"></span>
                <div class="text-muted small">Шаг 5</div>
                Добавление целей
            </a>
        </li>
        <li>
            <a href="#smartwizard-1-step-6" class="mb-3" style="cursor: default;">
                <span class="sw-icon ion ion-md-trophy" style=" font-size: 22px;"></span>
                <div class="text-muted small">Шаг 6</div>
                Завершение
            </a>
        </li>
    </ul>
    <div class="mb-3">
        <div id="smartwizard-1-step-1" class="card animated fadeIn">
            <div class="card-body">
                <div class="form-row">
                    <div class="form-group ml-3">
                        <h4 class="">
                            <strong>Давайте знакомиться!</strong>
                        </h4>
                    </div>
                </div>
                <div class="form-row col-12 col-sm-12 col-md-4">
                    <label class="form-label">Ваше имя</label>
                    <span class="text-danger">*</span>
                    <input type="text" class="form-control" v-model="userInfo.name" id="userInfoName">
                    <small class="invalid-feedback">Обязательное поле</small>
                    <div class="text-light small mt-1"> Имя должно содержать больше 2 символов</div>
                </div>
                <br />
                <div class="form-row col-12 col-sm-12 col-md-4 ">
                    <label class="form-label">Количество рабочих дней в месяце (не обязательно)</label>
                    @*<span class="text-danger">*</span>*@
                    <input id="work-days" type="number" class="form-control" min="0" max="31"
                           v-model="userInfo.allWorkDays" required
                           data-placement="right" data-toggle="tooltip" data-html="true"
                           title="При 5-дневной рабочей неделе ≈ 21 день <br />При графике 2/2 ≈ 15 дней">
                    <small class="invalid-feedback">Обязательное поле</small>
                    <small class="form-text text-muted">Нужно, чтобы посчитать ваш доход в день.</small>
                </div>
                <div class="form-row col-12 col-sm-12 col-md-4 mt-2">
                    <label class="form-label">Количество рабочих часов в месяц (не обязательно)</label>
                    @*<span class="text-danger">*</span>*@
                    <input id="work-hours" type="number" class="form-control" min="0" max="744"
                           v-model="userInfo.allWorkHours" required
                           data-placement="right" data-toggle="tooltip" data-html="true"
                           title="При 5-дневной рабочей неделе по 8 рабочих часов ≈ 168 часов <br />При графике 2/2 и 12 рабочих часах ≈ 180 часов">
                    <small class="invalid-feedback">Обязательное поле</small>
                    <small class="form-text text-muted">Нужно, чтобы посчитать ваш доход в час.</small>
                </div>

            </div>
        </div>
        <div id="smartwizard-1-step-2" class="card animated fadeIn" style="display: none;">
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-6">
                        <h4 class="ml-3 mb-1">Категории</h4>
                        <h5 class="text-muted small ml-3">
                            Выберите категории, по которым вы ведете учет финансов или добавьте свои:
                        </h5>

                        <div class="mt-4" data-placement="right" data-toggle="tooltip" data-html="true"
                             title="Чтобы добавить категорию, нажмите на нее. Чтобы убрать категорию, нажмите на нее еще раз">
                            <vue-section-component data-class="cards-medium"
                                                   data-records-style="margin-left: 15px;"
                                                   v-bind:is-show-filter="false"
                                                   v-bind:data-is-selection="true"
                                                   v-bind:data-items="sectionSource"
                                                   v-on:onchoose="onChooseSection"></vue-section-component>
                            <a href="javascript:void(0)" class="small show-sections ml-3" v-on:click="selectAllSections">Выбрать все категории</a>
                        </div>
                        <br />
                        <h4 class="ml-3" v-show="userSectionSource && userSectionSource.length > 0">
                            Мои категории
                        </h4>
                        <vue-section-component data-class="cards-medium"
                                               data-records-style="margin-left: 15px;"
                                               v-bind:is-show-filter="false"
                                               v-bind:data-items="userSectionSource"
                                               v-on:onchoose="onEditSection"></vue-section-component>
                        <br>
                        <button class="btn btn-primary ml-3" v-on:click="addSection">
                            <i class="ion ion-md-add  pr-2"></i>Добавить свою категорию
                        </button>
                        <br />
                        <div class="callout callout-danger mt-3" v-show="errorMessage">
                            <button type="button" class="close" data-dismiss="alert" v-on:click="errorMessage = null">×</button>
                            {{ errorMessage }}
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6">
                        <h4 class="mb-1">Папки</h4>
                        <h5 class="text-muted small mb-0">
                            Нужны, чтобы группировать ваши категории по смыслу - например, папка "Еда" может содержать категории "Продукты", "Фастфуд", "Рестораны" и тд.
                        </h5>
                        <h5 class="text-muted small mb-0">
                            Для начала, для вашего удобства категории распределяются по 2-м папкам - "Расходы" и "Доходы".
                        </h5>
                        <h5 class="text-muted small">
                            В дальнйшем вы сможете добавлять, изменять и удалять папки.
                        </h5>

                        <div class="card ui-bordered mt-3 area-item custom-card-hover"
                             v-for="area in areas">
                            <div class="d-flex flex-wrap justify-content-between align-items-center p-3">
                                <strong>{{ area.name }}</strong> &nbsp;
                            </div>
                            <vue-section-component data-class="cards-medium"
                                                   data-records-style="margin-left: 15px;"
                                                   v-bind:data-id="'areaid_'+area.id"
                                                   data-section-classes=""
                                                   v-bind:is-show-filter="false"
                                                   v-bind:data-items="area.sections"></vue-section-component>
                        </div>
                    </div>
                </div>
                @await Html.PartialAsync("~/Views/Section/_ModelSection.cshtml")
            </div>
        </div>
        <div id="smartwizard-1-step-3" class="card animated fadeIn">
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-6">
                        <h4 class="ml-3 mb-1">Ваши категории</h4>
                        <h5 class="text-muted small ml-3 mb-1">
                            Ведение финансов осуществляется в формате таблицы.
                        </h5>
                        <h5 class="text-muted small ml-3">
                            Нажмите "Добавить колонку" и выберите подходящие категории (от одной до всех):
                        </h5>
                        <div class="mt-4">
                            <vue-section-component data-class="cards-medium"
                                                   data-records-style="margin-left: 15px;"
                                                   v-bind:is-show-filter="false"
                                                   v-bind:data-items="sections"
                                                   v-on:onchoose="templateOnSelectedSection"></vue-section-component>
                        </div>
                        <br />
                        <article class="card ui p-3 ml-3">
                            <div class="lists">
                                <div class="list"
                                     v-for="(templateColumn, indexColumn) in template.columns"
                                     v-show="templateColumn.isShow"
                                     v-bind:columnid="templateColumn.id"
                                     v-on:click="selectColumn(templateColumn)">
                                    <div class="card mb-3" v-bind:class="templateColumn.id == column.id ? 'border-primary' : 'opacity-column' ">
                                        <h6 class="card-header text-center"> Колонка № {{ indexColumn + 1 }}</h6>
                                        <a class="text-lighter text-bigteam-actions ignore-dnd" href="javascript:void(0)" title="Удалить колонку" style=" position: absolute; right: 15px; top: 15px;"
                                           v-on:click="template.columns.splice(indexColumn, 1)">
                                            <span class="ion ion-md-trash"></span>
                                        </a>
                                        <div class="tab-content">
                                            <div class="card-body tab-pane pb-0 pt-2 pr-2 pl-2 active">
                                                <div class="d-flex justify-content-between align-items-start ignore-dnd">
                                                    <input type="text" class="form-control ignore-dnd" placeholder="Название колонки" 
                                                           v-model="templateColumn.name"
                                                           v-on:click="removeColumnName(templateColumn)">
                                                </div>
                                                <hr class="m-0 mt-3" />
                                                <div class="kanban-box px-2 pt-2">
                                                    <div class="ui-bordered p-2 mb-2 badge-default" v-for="(templateBudgetSection, indexSection) in templateColumn.templateBudgetSections">
                                                        <div class="kanban-board-actions btn-group float-right ml-2">
                                                            <span class="ion ion-ios-close cursor-pointer remove-section-item"
                                                                  v-on:click="removeSectionInColumn(templateBudgetSection, indexSection, indexColumn)"></span>
                                                        </div>
                                                        {{ templateBudgetSection.sectionName }}
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <button id="add-column" type="button" class="btn btn-primary"
                                            v-on:click="addColumn">
                                        Добавить колонку
                                    </button>
                                </div>
                            </div>

                        </article>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6">
                        <h4 class="mb-1">Ваша таблица</h4>
                        <h5 class="text-muted small mb-1">
                            Ваша основная таблица сейчас выглядит так:
                        </h5>
                        <table class="table table-bordered dataTable table-hover mt-4">
                            <thead>
                                <tr>
                                    <th data-toggle="popover" v-bind:title="index == 0 ? '' : 'В этой колонке будут суммироваться выбранные категории'" data-placement="top"
                                        v-bind:data-content="getTitleCell(templateColumn)"
                                        v-for="(templateColumn, index) in  template.columns">{{ templateColumn.name }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="val in ['01','02', '03', '...']">
                                    <td v-for="(templateColumns ,index) in  template.columns">
                                        {{ index == 0 ? val : '0 ₽' }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <small class="text-muted">
                            Вы всегда можете поменять наполнение колонок в разделе "Шаблоны" или создать новые шаблоны
                        </small>
                        <br />
                        <div class="callout callout-danger mt-3" v-show="errorMessage">
                            <button type="button" class="close" data-dismiss="alert" v-on:click="errorMessage = null">×</button>
                            {{ errorMessage }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="smartwizard-1-step-4" class="card animated fadeIn">
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-6">
                        <h4 class="ml-3 mb-1">Создание лимитов</h4>
                        <h5 class="text-muted small ml-3 mb-1">
                            Лимиты позволяют контролировать траты по выбранным категориям.
                        </h5>
                        <br />
                        <button type="button" class="btn btn-primary mt-4 ml-3 "
                                v-on:click="editLimit(null)">
                            Добавить лимит
                        </button>
                        @await Html.PartialAsync("~/Views/Limit/_EditLimit.cshtml", new MyProfile.Entity.ModelView.Limit.EditLimitModel { IsShowNotifications = false })
                        <div class="callout callout-danger mt-3" v-show="errorMessage">
                            <button type="button" class="close" data-dismiss="alert" v-on:click="errorMessage = null">×</button>
                            {{ errorMessage }}
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6">
                        <h4 class=" mb-1" v-show="limits.length > 0">Ваши лимиты:</h4>
                        @*<strong v-show="limits.length > 0">Ваши лимиты:</strong>*@
                        <div class="row mt-4" id="limits">
                            <div class=" col-12"
                                 v-for="limit in limits">
                                <div class="card mb-4 custom-card-hover border-primary"
                                     v-bind:id="'limit_' + limit.id">
                                    <div class="card-body card-body pb-0">
                                        <div class="d-flex justify-content-between align-items-start">
                                            <a href="javascript:void(0)" class="text-body text-big font-weight-semibold max-width-200" v-on:click="editLimit(limit)">{{ limit.name }}</a>
                                            <span class="badge badge-success align-text-bottom ml-1" v-show="limit.periodTypeID == 1">{{ limit.periodName }}</span>
                                            <span class="badge badge-info align-text-bottom ml-1" v-show="limit.periodTypeID == 3">{{ limit.periodName }}</span>
                                        </div>
                                    </div>
                                    <div class="card-body py-2">
                                        <div class="text-muted small mb-2">Категории</div>
                                        <div class="d-flex flex-wrap">
                                            <vue-section-component data-class="cards-medium"
                                                                   v-bind:is-show-filter="false"
                                                                   v-bind:data-items="limit.sections"></vue-section-component>
                                        </div>
                                    </div>
                                    <hr class="m-0">
                                    <div class="card-body pb-2 pt-1 row">
                                        <div class="col-12">
                                            <div class="text-muted small display-inline">Сумма лимита</div>
                                            <h6 class="mt-1">{{ new Intl.NumberFormat('ru-RU', { style: 'currency', currency: 'RUB' }).format(limit.limitMoney) }}</h6>
                                        </div>
                                    </div>
                                    <hr class="m-0">
                                    <div class="card-footer p-3">
                                        <button class="btn btn-primary btn-sm" v-on:click="editLimit(limit)">
                                            <i class="far fa-edit pr-2"></i>Редактировать
                                        </button>
                                        <a href="javascript:void(0)" title="Удалить" class="btn icon-btn btn-sm btn-outline-secondary"
                                           v-on:click="removeLimit(limit)">
                                            <span class="ion ion-md-trash"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <small class="text-muted">*Вы всегда можете добавить, изменить и удалить лимиты в разделе "Лимиты"</small>
                    </div>
                </div>
            </div>
        </div>
        <div id="smartwizard-1-step-5" class="card animated fadeIn">
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-6">
                        <h4 class="ml-3 mb-1">Создание целей</h4>
                        <h5 class="text-muted small mb-1">
                            Создавайте цели и отслеживайте их достижение.
                        </h5>
                        <br />
                        <button type="button" class="btn btn-primary mt-4"
                                v-on:click="editGoal(null)">
                            Добавить цель
                        </button>
                        @await Html.PartialAsync("~/Views/Goal/_EditGoal.cshtml")
                        <div class="callout callout-danger mt-3" v-show="errorMessage">
                            <button type="button" class="close" data-dismiss="alert" v-on:click="errorMessage = null">×</button>
                            {{ errorMessage }}
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6">
                        <h4 class=" mb-1" v-show="goals.length > 0">
                            Ваши текущие цели:
                        </h4>
                        <div class="row mt-4" id="goals">
                            <div class=" col-12"
                                 v-for="goal in goals">
                                <div class="card mb-4 custom-card-hover border-primary"
                                     v-bind:id="'goal_' + goal.id">
                                    <div class="card-body card-body pb-0">
                                        <div class="d-flex justify-content-between align-items-start">
                                            <a href="javascript:void(0)" class="text-body text-big font-weight-semibold max-width-200" title="Редактировать"
                                               v-on:click="edit(goal)">{{ goal.name }}</a>
                                        </div>
                                    </div>
                                    <hr class="m-0">
                                    <div class="card-body pb-2 pt-1 row">
                                        <div class="col-5 p-0 pl-2">
                                            <div class="text-muted small display-inline">Цель</div>
                                            <h6 class="mt-1">{{ new Intl.NumberFormat('ru-RU', { style: 'currency', currency: 'RUB' }).format(goal.expectationMoney) }}</h6>
                                        </div>
                                        <div class="col-4 p-0">
                                            <div class="text-muted small display-inline">Начало</div>
                                            <h6 class="mt-1">{{  getDateByFormat(goal.dateStart, 'DD.MM.YYYY') }}</h6>
                                        </div>
                                        <div class="col-3 p-0">
                                            <div class="text-muted small display-inline">Окончание</div>
                                            @*<span class="badge badge-outline-danger ml-1" v-show="goal.isFinished">Завершен</span>*@
                                            <h6 class="mt-1" v-show="goal.dateEnd">{{  getDateByFormat(goal.dateEnd, 'DD.MM.YYYY') }}</h6>
                                        </div>
                                    </div>
                                    <hr class="m-0">
                                    <div class="card-footer p-3">
                                        <a href="javascript:void(0)" class="btn btn-primary btn-sm" v-on:click="editGoal(goal)">
                                            <i class="far fa-edit pr-2"></i>Редактировать
                                        </a>
                                        <a href="javascript:void(0)" title="Удалить" class="btn icon-btn btn-sm btn-outline-secondary"
                                           v-on:click="removeGoal(goal)">
                                            <span class="ion ion-md-trash"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <small class="text-muted">Вы всегда можете добавить, изменить или удалить цели в разделе "Цели"</small>
                    </div>
                </div>
            </div>
        </div>
        <div id="smartwizard-1-step-6" class="card animated fadeIn">
            <div class="card-body">
                <i class="ion ion-md-trophy d-block display-4 text-primary text-center" style=" font-size: 6rem; font-weight: 300; line-height: 1.1;"></i>
                <h2 class="text-center"> Ура! Всё готово к работе.</h2>
                <h2 class="text-center">Ваш бесплатный период начинается сегодня.</h2>
                <h2 class="text-center">Нажмите на кнопку ниже, чтобы приступить к работе.</h2>
            </div>
        </div>
    </div>
    <a id="button-skip" href="javascript:void(0)" class="small mr-4"
       v-show="isShowButtonSkip"
       v-on:click="skip">Пропустить</a>
    <button id="button-finish" class="btn btn-primary" type="button" style="display: none;"
            v-on:click="finish"
            v-bind:disabled="isSaving">
        Перейти в рабочую область
    </button>
</div>
