<div class="modal modal-slide fade" id="modalReminderTimeLine">
    <div class="modal-dialog">
        <form class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">×</button>
            <div class="modal-body" style="flex:auto">
                <nav class="navbar navbar-expand-lg bg-navbar-theme mb-4">
                    <div class="container">

                        <a href="javascript:void(0);" class="navbar-brand text-large line-height-1 py-3">
                            Напоминания
                        </a>
                        <a href="javascript:void(0)" data-toggle="tooltip" data-placement="right"
                           title="Устанавливайте напоминания для ондократных и повторяющихся событий"
                           style="display: inline-block;"
                           class="pr-4">
                            <i class="pe-7s-info d-block text-primary"></i>
                        </a>
                        <a class="nav-link cursor-pointer" v-on:click="edit()" v-show="isNew == false || reminder.id == undefined "
                           title="Добавить новое уведомление на эту дату">
                            <i class="ion ion-md-add navbar-icon align-middle" style="color:var(--success);"></i>
                        </a>

                        {{ GetDateByFormat(dateTime, 'DD.MM.YYYY') }}
                        @*<div class="navbar-collapse collapse" id="header-11">
                                <div class="navbar-nav align-items-lg-center ml-auto">
                                    <div class="input-group w-100">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text ion ion-ios-search"></div>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Поиск" v-model="searchText">
                                    </div>
                                </div>
                            </div>*@
                    </div>
                </nav>

                @await Html.PartialAsync("../Reminder/_ReminderEditPart.cshtml")

                <div class=" card pl-0">
                    <ul class="list-group list-group-flush" style=" margin-left: -5px;">
                        @await Html.PartialAsync("../Reminder/_Reminders.cshtml")
                    </ul>
                </div>
            </div>
        </form>
    </div>
</div>