<div class="card reminder-edit mb-4" v-show="isShowModal">
    <div class="card-header">
        <h5 class="mb-0" v-show="isNew">
            Создание напоминания
        </h5>
        <h5 class="mb-0" v-show="isNew == false">
            Редактирование напоминания
        </h5>
    </div>
    <div class="card-body">
        <div class="form-group">
            <label class="form-label">Название напоминания</label>
            <span class="text-danger">*</span>
            <input type="text"
                   class="form-control"
                   placeholder="День рождение Василия"
                   id="reminderTitle"
                   v-model="reminder.title">
            <small class="invalid-feedback">Обязательное поле</small>
        </div>

        <div class="form-group">
            <label class="form-label">Выберите иконку</label>
            <span class="text-danger">*</span>
            <br />
            <span class="text-large mx-4 reminder-icons">
                <i v-on:click="chooseReminderIcon('pe-7s-car')" class="cursor-pointer pe-7s-car"></i>
                <i v-on:click="chooseReminderIcon('pe-7s-piggy')" class="cursor-pointer pe-7s-piggy"></i>
                <i v-on:click="chooseReminderIcon('pe-7s-world')" class="cursor-pointer pe-7s-world"></i>
                <i v-on:click="chooseReminderIcon('pe-7s-study')" class="cursor-pointer pe-7s-study"></i>
                <i v-on:click="chooseReminderIcon('pe-7s-shopbag')" class="cursor-pointer pe-7s-shopbag "></i>
                <i v-on:click="chooseReminderIcon('pe-7s-phone')" class="cursor-pointer pe-7s-phone "></i>
                <i v-on:click="chooseReminderIcon('pe-7s-plane')" class="cursor-pointer pe-7s-plane "></i>
                <i v-on:click="chooseReminderIcon('pe-7s-mail')" class="cursor-pointer pe-7s-mail "></i>
                <i v-on:click="chooseReminderIcon('pe-7s-light')" class="cursor-pointer pe-7s-light "></i>
                <i v-on:click="chooseReminderIcon('pe-7s-home')" class="cursor-pointer pe-7s-home "></i>
                <i v-on:click="chooseReminderIcon('pe-7s-gift')" class="cursor-pointer pe-7s-gift "></i>
                <i v-on:click="chooseReminderIcon('pe-7s-alarm')" class="cursor-pointer pe-7s-alarm "></i>
                <i v-on:click="chooseReminderIcon('pe-7s-chat')" class="cursor-pointer pe-7s-chat "></i>
                <i v-on:click="chooseReminderIcon('pe-7s-bell')" class="cursor-pointer pe-7s-bell "></i>
                <i v-on:click="chooseReminderIcon('pe-7s-cart')" class="cursor-pointer pe-7s-cart "></i>
                <i v-on:click="chooseReminderIcon('pe-7s-call')" class="cursor-pointer pe-7s-call "></i>
                <i v-on:click="chooseReminderIcon('pe-7s-alarm')" class="cursor-pointer pe-7s-alarm "></i>
            </span>
            <br />
            <small class="invalid-feedback" id="reminderIcons">Обязательное поле</small>
        </div>

        <div class="form-group">
            <label class="form-label">Начало</label>
            <span class="text-danger">*</span>
            <input type="text" class="form-control" id="reminderDateReminder" v-model="reminder.dateReminder">
            <small class="invalid-feedback">Обязательное поле</small>
        </div>
        <div class="form-group">
            <label class="form-label">Описание</label>
            <textarea class="form-control" v-model="reminder.description" placeholder="" name="description"></textarea>
        </div>
        <div class="form-group mt-4">
            <label class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" v-model="reminder.isRepeat" name="isRepeat">
                <span class="custom-control-label">Повторять</span>
            </label>
        </div>
        <div class="form-group" v-show="reminder.isRepeat">
            <label class="form-label">Повторять каждый</label>
            <select class="form-control" v-model="reminder.repeatEvery">
                <option value="Day">День</option>
                <option value="Week">Неделю</option>
                <option value="Month">Месяц</option>
                <option value="Year">Год</option>
            </select>
        </div>

    </div>
    <div class="card-footer">
        <button class="btn btn-primary" type="button"
                v-bind:disabled="isSaving"
                v-on:click="save">
            <span class="spinner-border" role="status" aria-hidden="true" v-show="isSaving"></span>
            Сохранить
        </button>
        <button type="button" class="btn btn-default" v-on:click="close">Закрыть</button>
    </div>
</div>

