<div class="card reminder-edit mb-4" v-show="isShowModal">
    <div class="card-header">
        <h5 class="mb-0" v-show="isNew">
            Создание напоминания
        </h5>
        <h5 class="mb-0" v-show="isNew == false">
            Редактирование напоминания
        </h5>
    </div>
    <div class="card-body">
        <div class="form-group">
            <label class="form-label">Название</label>
            <span class="text-danger">*</span>
            <input type="text"
                   class="form-control"
                   placeholder="День рождения Василия"
                   id="reminderTitle"
                   v-model="reminder.title">
            <small class="invalid-feedback">Обязательное поле</small>
        </div>

        <div class="form-group">
            <label class="form-label">Выберите иконку</label>
            <span class="text-danger">*</span>
            <br />
            <div class="icons-container reminder-icons">
                <div class="card d-inline-flex justify-content-center align-items-center m-1"><i v-on:click="chooseReminderIcon('pe-7s-car')" class="cursor-pointer pe-7s-car"></i></div>
                <div class="card d-inline-flex justify-content-center align-items-center m-1"><i v-on:click="chooseReminderIcon('pe-7s-bicycle')" class="cursor-pointer pe-7s-bicycle "></i></div>
                <div class="card d-inline-flex justify-content-center align-items-center m-1"><i v-on:click="chooseReminderIcon('pe-7s-plane')" class="cursor-pointer pe-7s-plane "></i></div>
                <div class="card d-inline-flex justify-content-center align-items-center m-1"><i v-on:click="chooseReminderIcon('pe-7s-anchor')" class="cursor-pointer pe-7s-anchor "></i></div>
                <div class="card d-inline-flex justify-content-center align-items-center m-1"><i v-on:click="chooseReminderIcon('pe-7s-rocket')" class="cursor-pointer pe-7s-rocket "></i></div>
                <div class="card d-inline-flex justify-content-center align-items-center m-1"><i v-on:click="chooseReminderIcon('pe-7s-map-2')" class="cursor-pointer pe-7s-map-2 "></i></div>
                <div class="card d-inline-flex justify-content-center align-items-center m-1"><i v-on:click="chooseReminderIcon('pe-7s-map-marker')" class="cursor-pointer pe-7s-map-marker "></i></div>
                <div class="card d-inline-flex justify-content-center align-items-center m-1"><i v-on:click="chooseReminderIcon('pe-7s-paint-bucket')" class="cursor-pointer pe-7s-paint-bucket "></i></div>
                <div class="card d-inline-flex justify-content-center align-items-center m-1"><i v-on:click="chooseReminderIcon('pe-7s-call')" class="cursor-pointer pe-7s-call "></i></div>
                <div class="card d-inline-flex justify-content-center align-items-center m-1"><i v-on:click="chooseReminderIcon('pe-7s-phone')" class="cursor-pointer pe-7s-phone "></i></div>
                <div class="card d-inline-flex justify-content-center align-items-center m-1"><i v-on:click="chooseReminderIcon('pe-7s-light')" class="cursor-pointer pe-7s-light "></i></div>
                <div class="card d-inline-flex justify-content-center align-items-center m-1"><i v-on:click="chooseReminderIcon('pe-7s-home')" class="cursor-pointer pe-7s-home "></i></div>
                <div class="card d-inline-flex justify-content-center align-items-center m-1"><i v-on:click="chooseReminderIcon('pe-7s-culture')" class="cursor-pointer pe-7s-culture"></i></div>
                <div class="card d-inline-flex justify-content-center align-items-center m-1"><i v-on:click="chooseReminderIcon('pe-7s-cart')" class="cursor-pointer pe-7s-cart "></i></div>
                <div class="card d-inline-flex justify-content-center align-items-center m-1"><i v-on:click="chooseReminderIcon('pe-7s-world')" class="cursor-pointer pe-7s-world"></i></div>
                <div class="card d-inline-flex justify-content-center align-items-center m-1"><i v-on:click="chooseReminderIcon('pe-7s-study')" class="cursor-pointer pe-7s-study"></i></div>
                <div class="card d-inline-flex justify-content-center align-items-center m-1"><i v-on:click="chooseReminderIcon('pe-7s-shopbag')" class="cursor-pointer pe-7s-shopbag "></i></div>
                <div class="card d-inline-flex justify-content-center align-items-center m-1"><i v-on:click="chooseReminderIcon('pe-7s-gift')" class="cursor-pointer pe-7s-gift "></i></div>
                <div class="card d-inline-flex justify-content-center align-items-center m-1"><i v-on:click="chooseReminderIcon('pe-7s-alarm')" class="cursor-pointer pe-7s-alarm "></i></div>
                <div class="card d-inline-flex justify-content-center align-items-center m-1"><i v-on:click="chooseReminderIcon('pe-7s-wristwatch')" class="cursor-pointer pe-7s-wristwatch "></i></div>
                <div class="card d-inline-flex justify-content-center align-items-center m-1"><i v-on:click="chooseReminderIcon('pe-7s-chat')" class="cursor-pointer pe-7s-chat "></i></div>
                <div class="card d-inline-flex justify-content-center align-items-center m-1"><i v-on:click="chooseReminderIcon('pe-7s-bell')" class="cursor-pointer pe-7s-bell "></i></div>
                <div class="card d-inline-flex justify-content-center align-items-center m-1"><i v-on:click="chooseReminderIcon('pe-7s-date')" class="cursor-pointer pe-7s-date "></i></div>
                <div class="card d-inline-flex justify-content-center align-items-center m-1"><i v-on:click="chooseReminderIcon('pe-7s-gym')" class="cursor-pointer pe-7s-gym "></i></div>
                <div class="card d-inline-flex justify-content-center align-items-center m-1"><i v-on:click="chooseReminderIcon('pe-7s-tools')" class="cursor-pointer pe-7s-tools "></i></div>
                <div class="card d-inline-flex justify-content-center align-items-center m-1"><i v-on:click="chooseReminderIcon('pe-7s-calculator')" class="cursor-pointer pe-7s-calculator "></i></div>
                <div class="card d-inline-flex justify-content-center align-items-center m-1"><i v-on:click="chooseReminderIcon('pe-7s-credit')" class="cursor-pointer pe-7s-credit"></i></div>
                <div class="card d-inline-flex justify-content-center align-items-center m-1"><i v-on:click="chooseReminderIcon('pe-7s-cash')" class="cursor-pointer pe-7s-cash"></i></div>
                <div class="card d-inline-flex justify-content-center align-items-center m-1"><i v-on:click="chooseReminderIcon('pe-7s-wallet')" class="cursor-pointer pe-7s-wallet"></i></div>
                <div class="card d-inline-flex justify-content-center align-items-center m-1"><i v-on:click="chooseReminderIcon('pe-7s-safe')" class="cursor-pointer pe-7s-safe"></i></div>
                <div class="card d-inline-flex justify-content-center align-items-center m-1"><i v-on:click="chooseReminderIcon('pe-7s-piggy')" class="cursor-pointer pe-7s-piggy"></i></div>
                <div class="card d-inline-flex justify-content-center align-items-center m-1"><i v-on:click="chooseReminderIcon('pe-7s-mail')" class="cursor-pointer pe-7s-mail "></i></div>
                <div class="card d-inline-flex justify-content-center align-items-center m-1"><i v-on:click="chooseReminderIcon('pe-7s-mail-open')" class="cursor-pointer pe-7s-mail-open"></i></div>
                <div class="card d-inline-flex justify-content-center align-items-center m-1"><i v-on:click="chooseReminderIcon('pe-7s-mail-open-file')" class="cursor-pointer pe-7s-mail-open-file"></i></div>
                <div class="card d-inline-flex justify-content-center align-items-center m-1"><i v-on:click="chooseReminderIcon('pe-7s-file')" class="cursor-pointer pe-7s-file "></i></div>
                <div class="card d-inline-flex justify-content-center align-items-center m-1"><i v-on:click="chooseReminderIcon('pe-7s-print')" class="cursor-pointer pe-7s-print "></i></div>
                <div class="card d-inline-flex justify-content-center align-items-center m-1"><i v-on:click="chooseReminderIcon('pe-7s-coffee')" class="cursor-pointer pe-7s-coffee "></i></div>
                <div class="card d-inline-flex justify-content-center align-items-center m-1"><i v-on:click="chooseReminderIcon('pe-7s-wine')" class="cursor-pointer pe-7s-wine "></i></div>
                <div class="card d-inline-flex justify-content-center align-items-center m-1"><i v-on:click="chooseReminderIcon('pe-7s-junk')" class="cursor-pointer pe-7s-junk "></i></div>
                <div class="card d-inline-flex justify-content-center align-items-center m-1"><i v-on:click="chooseReminderIcon('pe-7s-users')" class="cursor-pointer pe-7s-users "></i></div>
                <div class="card d-inline-flex justify-content-center align-items-center m-1"><i v-on:click="chooseReminderIcon('pe-7s-film')" class="cursor-pointer pe-7s-film "></i></div>
                <div class="card d-inline-flex justify-content-center align-items-center m-1"><i v-on:click="chooseReminderIcon('pe-7s-joy')" class="cursor-pointer pe-7s-joy "></i></div>
                <div class="card d-inline-flex justify-content-center align-items-center m-1"><i v-on:click="chooseReminderIcon('pe-7s-paint')" class="cursor-pointer pe-7s-paint "></i></div>
                <div class="card d-inline-flex justify-content-center align-items-center m-1"><i v-on:click="chooseReminderIcon('pe-7s-info')" class="cursor-pointer pe-7s-info "></i></div>
                <div class="card d-inline-flex justify-content-center align-items-center m-1"><i v-on:click="chooseReminderIcon('pe-7s-help1')" class="cursor-pointer pe-7s-help1 "></i></div>
                <div class="card d-inline-flex justify-content-center align-items-center m-1"><i v-on:click="chooseReminderIcon('pe-7s-like')" class="cursor-pointer pe-7s-like"></i></div>
                <div class="card d-inline-flex justify-content-center align-items-center m-1"><i v-on:click="chooseReminderIcon('lnr lnr-heart-pulse')" class="cursor-pointer lnr lnr-heart-pulse"></i></div>
            </div>
            <br />
            <small class="invalid-feedback" id="reminderIcons">Обязательное поле</small>
        </div>

        <div class="form-group">
            <label class="form-label">Дата</label>
            <span class="text-danger">*</span>
            <input type="text" class="form-control" id="reminderDateReminder" v-model="reminder.dateReminder">
            <small class="invalid-feedback">Обязательное поле</small>
        </div>
        <div class="form-group">
            <label class="form-label">Описание</label>
            <textarea class="form-control" v-model="reminder.description" placeholder="" name="description"></textarea>
        </div>
        <div class="form-group mt-4">
            <label class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" v-model="reminder.isRepeat" name="isRepeat">
                <span class="custom-control-label">Повторять</span>
            </label>
        </div>
        <div class="form-group" v-show="reminder.isRepeat">
            <label class="form-label">Повторять каждый</label>
            <select class="form-control" id="repeatType" v-model="reminder.repeatEvery">
                <option value="Day">День</option>
                <option value="Week">Неделю</option>
                <option value="Month">Месяц</option>
                <option value="Year">Год</option>
            </select>
        </div>

    </div>
    <div class="card-footer">
        <button class="btn btn-primary" type="button"
                v-bind:disabled="isSaving"
                v-on:click="save">
            <span class="spinner-border" role="status" aria-hidden="true" v-show="isSaving"></span>
            Сохранить
        </button>
        <button type="button" class="btn btn-default" v-on:click="close">Закрыть</button>
    </div>
</div>

